<!-- content container -->
<div class="flex-grow-1 position-relative d-flex flex-column-reverse content-container">

  <div class="h-100" [ngClass]="{'d-none': visibleTab !== 'hierarchy'}">
    <mat-card class="h-100 pe-all d-flex flex-column">
      <mat-card-header class="flex-grow-0 d-flex flex-row justify-content-between">
        <mat-card-title>
          <span>
            Region hierarchy
          </span>
        </mat-card-title>

        <ng-container *ngTemplateOutlet="closeBtn">
        </ng-container>
      </mat-card-header>

      <mat-card-content class="flex-grow-1">
        <region-hierarchy
          [selectedRegions]="regionsSelected$ | async"
          (singleClickRegion)="handleRegionClick({ mode: 'single', region: $event })"
          (doubleClickRegion)="handleRegionClick({ mode: 'double', region: $event })"
          *ngIf="visibleTab === 'hierarchy'"
          class="h-100"
          [parcellationSelected]="parcellationOfInterest$ | async">

        </region-hierarchy>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="h-100" [ngClass]="{'d-none': visibleTab !== 'connectivity'}">
    <mat-card class="h-100 pe-all d-flex flex-column">
      <mat-card-header class="flex-grow-0 d-flex flex-row justify-content-between">
        <mat-card-title>
          Connectivity
        </mat-card-title>

        <ng-container *ngTemplateOutlet="closeBtn">
        </ng-container>
      </mat-card-header>
      <mat-card-content class="flex-grow-1">
        <connectivity-browser (closeConnectivity)="visibleTab = null; connectedRegionsNumber = null"
                              (connectedAreaCount)="connectedRegionsNumber = $event"
                              class="pe-all flex-grow-5 flex-shrink-1">
        </connectivity-browser>
      </mat-card-content>
    </mat-card>
  </div>

  <data-browser
    [ngClass]="{'d-none': visibleTab !== 'dataset'}"
    [showList]="visibleTab === 'dataset'"
    class="position-absolute w-100 h-100 pe-all"
    [template]="templateSelected$ | async"
    [parcellation]="parcellationOfInterest$ | async"
    (dataentriesUpdated)="availableDatasets = $event.length">

    <div card-header>
      <mat-card-header class="d-flex flex-row justify-content-between">
        <mat-card-title>
          Datasets
        </mat-card-title>

        <ng-container *ngTemplateOutlet="closeBtn">
        </ng-container>
      </mat-card-header>
    </div>

    <!-- footer content -->
    <div class="d-flex flex-row justify-content-center" card-footer>
    </div>
  </data-browser>
</div>

<!-- tab btn container -->
<div class="flex-grow-0 widget-container d-flex pe-none position-relative">

  <mat-chip-list class="poi-name-tag" *ngIf="parcellationOfInterest$ | async as poi">
    <mat-chip class="pe-all"
      [color]="!poiIsBaseLayer ? 'primary' : 'basic'"
      [selected]="!poiIsBaseLayer">
      <span>
        {{ poi.name }}
      </span>
      <mat-icon *ngFor="let oDataset of poi.originDatasets"
        fontSet="fas"
        fontIcon="fa-info-circle"
        iav-dataset-show-dataset-dialog
        [iav-dataset-show-dataset-dialog-kgschema]="oDataset.kgSchema"
        [iav-dataset-show-dataset-dialog-kgid]="oDataset.kgId">
      </mat-icon>
      <mat-icon
        *ngIf="!poiIsBaseLayer"
        (click)="removeNonBaseLayer(poi)"
        matChipRemove
        fontSet="fas"
        fontIcon="fa-times-circle">
      </mat-icon>
      <!-- <i matChipRemove class="fas fa-times-circle"></i> -->
    </mat-chip>
  </mat-chip-list>

  <ng-container *ngTemplateOutlet="btnTmpl; context: { tab: 'hierarchy', iconClass: 'fas fa-sitemap' }">
  </ng-container>

  <ng-container *ngTemplateOutlet="btnTmpl; context: { tab: 'connectivity', iconClass: 'fas fa-braille',
   badge: visibleTab === 'connectivity' && (connectivityRegion$ | async).length ? null : connectedRegionsNumber,
   tooltipText: !(connectivityRegion$ | async).length? 'Select connectivity region' : null, matBtnDisabled: !(connectivityRegion$ | async).length} ">
  </ng-container>

  <ng-container *ngTemplateOutlet="btnTmpl; context: { tab: 'dataset', iconClass: 'fas fa-database', badge: visibleTab === 'dataset' ? null : availableDatasets }">
  </ng-container>
</div>

<!-- icon for layer widget -->
<ng-template
  #btnTmpl
  let-matBtnDisabled="matBtnDisabled"
  let-tab="tab"
  let-badge="badge"
  let-iconClass="iconClass"
  let-tooltipText="tooltipText">
  <!-- delay event emit needs to be used. otherwise, iav-dynamic-mat-button will replace the clicked btn with a new btn (via ngSwitch directive)
  this results in outsideClick being a false positive -->
  <iav-dynamic-mat-button
    class="pe-all"
    [matBadge]="badge"
    [matTooltip]="tooltipText"
    matTooltipPosition="after"
    matBadgeColor="accent"
    iav-delay-event="click"
    (iav-delay-event-emit)="!matBtnDisabled && handleClickWidget(tab)"
    [iav-dynamic-mat-button-disabled]="matBtnDisabled"
    iav-dynamic-mat-button-color="primary"
    [iav-dynamic-mat-button-style]="tab === visibleTab ? 'mat-mini-fab' : 'mat-icon-button'">
    <i [class]="iconClass"></i>
  </iav-dynamic-mat-button>
</ng-template>

<!-- close btn for atlas layer widget -->
<ng-template #closeBtn>
  <button mat-icon-button
    (click)="visibleTab = null">
    <mat-icon fontSet="fas" fontIcon="fa-times">
    </mat-icon>
  </button>
</ng-template>