:host
{
  position:relative;
  display:block;
}

span[dropdownToggle]:hover
{
  cursor:default;
}
span[dropdownToggle]
{
  display:block;
  text-align:left;
}
span[dropdownToggle]
{
  padding:0.5em 0.8em;
  border-radius:0px;
  cursor:default;
  white-space: nowrap;
}

:host-context([darktheme="false"]) span[dropdownToggle]
{
  border:none;
  box-shadow: 0 4px 6px 0 rgba(30,30,30,0.05);
  background-color:rgba(255,255,255,0.8);
}

:host-context([darktheme="false"]) span[dropdownToggle]:hover
{
  box-shadow:rgba(30,30,30,0.1);
  background-color:rgba(250,250,250,0.99);
}


:host-context([darktheme="true"]) span[dropdownToggle]
{
  border:none;
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.05);
  background-color:rgba(30,30,30,0.8);
  color:rgba(255,255,255,0.8);
}

:host-context([darktheme="true"]) span[dropdownToggle]:hover
{
  box-shadow:rgba(0,0,0,0.1);
  background-color:rgba(30,30,30,0.99);
}

radio-list
{
  width:100%;
  height:0;
  overflow-x:hidden;
  display:block;
}

.drop-down-open-dark {
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: white
}
.drop-down-open-light {
  border-width: 1px 1px 0 1px solid black;
  border-style: solid;
  border-color: black;
}
.drop-down-closed-dark {
  border-width: 1px;
  border-style: solid;
  border-color: white
}
.drop-down-closed-light {
  border: 1px;
  border-style: solid;
  border-color: black
}