<span
  class = "btn btn-default"
  [innerHTML] = "activeDisplay(selectedItem)"
  hoverable
  #dropdownToggle
  dropdownToggle>
</span>

<!-- needed to ensure dropdown width matches  -->
<ul class="m-0 h-0 o-h">
  <li *ngFor="let item of inputArray">
    {{ listDisplay(item) }}
  </li>
</ul>
<radio-list
  [ulClass]="'dropdown-menu'"
  (itemSelected)="itemSelected.emit($event)"
  [listDisplay]="listDisplay"
  [selectedItem]="selectedItem"
  [inputArray]="inputArray"
  [@showState]="openState ? 'show' : 'hide'">

</radio-list>
