small#captions
{
  display:inline-block;
  margin:0 1em;
}

div[emptyRow]
{
  margin-bottom:-1em;
}

img
{
  width: 100%;
}

[citationContainer]
{
  display:inline-block;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

kg-entry-viewer
{
  padding: 1em;
  display: block;
}

div[anchorContainer]
{
  padding:0.2em 1em;
}