<mat-card>
  <mat-card-title>
    {{ region.name }}
  </mat-card-title>
  <mat-card-subtitle>
    <i class="fas fa-brain"></i>
    <span>
      Brain region
    </span>
  </mat-card-subtitle>
  <mat-card-content>
    {{ region.description }}
  </mat-card-content>
  <div class="d-flex flex-row flex-wrap" #actionCard>
    <button mat-button
      (click)="toggleRegionSelected()"
      [color]="isSelected ? 'primary': 'basic'">
      <i class="far" [ngClass]="{'fa-check-square': isSelected, 'fa-square': !isSelected}"></i>
      <span>
        {{isSelected? 'Deselect' : 'Select'}}
      </span>
    </button>
    <button mat-button (click)="navigateToRegion()">
      <i class="fas fa-map-marked-alt"></i>
      <span>
        Navigate
      </span>
    </button>
    <button *ngIf="hasConnectivity"
            mat-button
            [matMenuTriggerFor]="connectivitySourceDatasets"
            #connectivityMenuButton="matMenuTrigger">
      <i class="fab fa-connectdevelop"></i>
      <span>
        Connectivity
      </span>
      <i class="fas fa-angle-right"></i>
    </button>

    <!-- ToDo make dynamic with AVAILABLE CONNECTIVITY DATASETS data - get info from atlas viewer core -->
    <mat-menu #connectivitySourceDatasets="matMenu" xPosition="before" (click)="$event.stopPropagation()" hasBackdrop="false">
      <div>
        <button mat-menu-item
                (click)="showConnectivity(region.name)">
          <span>1000 Brain Study - DTI connectivity</span>
        </button>
      </div>
    </mat-menu>


    <!-- Menu to navigate between template spaces to explore same region -->
    <div #additionalActions>
      <button mat-button
              *ngIf="sameRegionTemplate.length"
              [matMenuTriggerFor]="additionalActions"
              #additionalActionsMenuButton="matMenuTrigger">
        <i class="fas fa-brain"></i>
        <span>
          Explore in
        </span>
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

    <mat-menu #additionalActions="matMenu" xPosition="before" (click)="$event.stopPropagation()" hasBackdrop="false">
      <div>
        <button mat-menu-item *ngFor="let templateName of sameRegionTemplate" (click)="selectTemplate(templateName)">
          <span>
            {{templateName}}
          </span>
        </button>
      </div>
    </mat-menu>

  </div>
</mat-card>