mat-icon
{
  transform: scale(0.75);
}

.action-list
{
  margin-left: -16px;
  margin-right: -16px;
}

.action-list mat-icon
{
  padding-left: 0px;
}

.region-name
{
  display: inherit;
  font-size: 95%;
  line-height: normal;
}

.header-container
{
  padding: 16px;
  margin: -16px -16px 0 -16px;
  padding-top: 6rem;
}
