<mat-card>
  <mat-card-title>
    <div class="position-relative">
      <span class="mr-8">
        {{ region.name }}
      </span>

      <!-- only show speed dial if originDatasets exists and are greater than 0 -->
      <div *ngIf="((region && region.originDatasets) || []).length > 0"
        class="speed-dial position-absolute d-flex flex-row-reverse align-items-center"
        (iav-onclick-outside)="fab.close()"
        #fab="iavFabSpeedDialContainer"
        iav-fab-speed-dial-scale-origin="right"
        iav-fab-speed-dial-container>

        <!-- main btn -->
        <button mat-fab class="ml-3"
          iav-fab-speed-dial-trigger
          [color]="fab.isOpen ? 'default' : 'accent'">

          <!-- TODO add test to ensure this does not happen -->
          <!-- nb pe-none is essential for iav-onclick-outside directive to work properly -->
          <ng-container *ngIf="fab.isOpen; else closedTmpl">
            <i class="pe-none fas fa-times"></i>
          </ng-container>
          <ng-template #closedTmpl>
            <i class="pe-none fas fa-ellipsis-v"></i>
          </ng-template>
        </button>

        <!-- action btns -->
        <!-- originDatasets -->
        <ng-container *ngFor="let originDataset of (region.originDatasets || []); let index = index">

          <!-- preview file -->
          <button *ngIf="originDataset.kgSchema && originDataset.kgId && originDataset.filename"
            mat-mini-fab
            iav-dataset-preview-dataset-file
            [iav-dataset-preview-dataset-file-kgid]="originDataset.kgId"
            [iav-dataset-preview-dataset-file-filename]="originDataset.filename"
            class="m-1"
            [iav-fab-speed-dial-child-index]="index * 2"
            matTooltip="Preview file"
            iav-fab-speed-dial-child>
            <i class="far fa-eye"></i>
          </button>

          <!-- show dataset -->
          <button *ngIf="originDataset.kgSchema && originDataset.kgId"
            mat-mini-fab
            class="m-1"
            (click)="fab.close()"
            matTooltip="More detail on dataset"
            [iav-dataset-show-dataset-dialog-kgid]="originDataset.kgId"
            iav-dataset-show-dataset-dialog
            [iav-fab-speed-dial-child-index]="index * 2 + 1"
            iav-fab-speed-dial-child>
            <i class="fas fa-info"></i>
          </button>
        </ng-container>

      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle>
    <i class="fas fa-brain"></i>
    <span>
      Brain region
    </span>
  </mat-card-subtitle>
  <mat-card-content>
    {{ region.description }}
  </mat-card-content>
  <div class="d-flex flex-row flex-wrap">
    <button mat-button
      (click)="toggleRegionSelected()"
      [color]="isSelected ? 'primary': 'basic'">
      <i class="far" [ngClass]="{'fa-check-square': isSelected, 'fa-square': !isSelected}"></i>
      <span>
        {{isSelected? 'Deselect' : 'Select'}}
      </span>
    </button>
    <button mat-button (click)="navigateToRegion()">
      <i class="fas fa-map-marked-alt"></i>
      <span>
        Navigate
      </span>
    </button>
    <button *ngIf="hasConnectivity"
      mat-button
      [matMenuTriggerFor]="connectivitySourceDatasets"
      #connectivityMenuButton="matMenuTrigger"
      iav-captureClickListenerDirective
      [iav-captureClickListenerDirective-captureDocument]="true"
      (iav-captureClickListenerDirective-onMousedown)="connectivityMenuButton.closeMenu()">
      <i class="fab fa-connectdevelop"></i>
      <span>
        Connectivity
      </span>
      <i class="fas fa-angle-right"></i>
    </button>



    <!-- Menu to navigate between template spaces to explore same region -->
    <div>
      <button mat-button
        aria-label="Show availability in other reference spaces"
        *ngIf="sameRegionTemplate.length"
        [matMenuTriggerFor]="additionalActions"
        #changeTmplTrigger="matMenuTrigger"
        iav-captureClickListenerDirective
        [iav-captureClickListenerDirective-captureDocument]="true"
        (iav-captureClickListenerDirective-onMousedown)="changeTmplTrigger.closeMenu()">
        <i class="fas fa-brain"></i>
        <span>
          Change template
        </span>
        <i class="fas fa-angle-right"></i>
      </button>
    </div>

  </div>
</mat-card>


<!-- ToDo make dynamic with AVAILABLE CONNECTIVITY DATASETS data - get info from atlas viewer core -->
<mat-menu
  #connectivitySourceDatasets="matMenu"
  xPosition="before"
  hasBackdrop="false">
  <div>
    <button mat-menu-item (mousedown)="showConnectivity(region.name)">
      <span>1000 Brain Study - DTI connectivity</span>
    </button>
  </div>
</mat-menu>


<mat-menu
  [aria-label]="'Availability in other reference spaces'"
  #additionalActions="matMenu"
  xPosition="before"
  hasBackdrop="false">
  <div>
    <button mat-menu-item *ngFor="let sameRegion of sameRegionTemplate; let i = index" (mousedown)="changeView(i)" class="d-flex">
      <span class="overflow-x-hidden text-truncate"> {{sameRegion.template.name}} </span>
      <span *ngIf="sameRegion.hemisphere"> - {{sameRegion.hemisphere}}</span>
    </button>
  </div>
</mat-menu>
