<div class = "pagination-container">
  <div class = "btn-group">

    <div 
      class = "default-control btn btn-default btn-sm" 
      (click)="gotoFirst()"
      >

      <i class = "fas fa-fast-backward"></i>
    </div>

    <div 
      class = "btn btn-default btn-sm" 
      (click)="goto(currentPage - 1)"
      >
      <i class = "fas fa-step-backward"></i>
    </div>

    <div 
      (click)="goto(pageNum)"
      [ngClass]="{'btn-primary':currentPage == pageNum}"
      *ngFor = "let pageNum of getPagination"
      class = "pagination-control btn btn-default btn-sm"
      >
      {{ pageNum + 1 }}
    </div>

    <div 
      class = "btn btn-default btn-sm" 
      (click)="goto(currentPage + 1)"
      >
      <i class = "fas fa-step-forward"></i>
    </div>
    <div 
      class = "btn btn-default btn-sm" 
      (click)="gotoLast()"
      >
      <i class = "fas fa-fast-forward"></i>
    </div>

  </div>
  <div *ngIf = "total > 0" class = "pagination-summary">
    showing {{ getPageLowerBound }} - {{ getPageUpperBound }} out of {{ total }}
  </div>
  <div *ngIf = "total == 0" class = "pagination-summary">
    no results
  </div>
</div>