div.pagination-container
{
  padding:0.5em 0;
  display:flex;
  flex-direction: column;
  align-items: center;
}

:host-context([darktheme="true"]) div.pagination-container
{
  background-color:rgba(30,30,30,0.9);
  color:rgba(240,240,240,0.9);
}

div.btn
{
  border:none;
  position : relative;
  cursor:default;
  transition : transform 0.1s ease;
}

div.btn:hover
{
  transform: translateY(-2%);
}

div.btn:before
{
  content : ' ';
  position : absolute;
  top:0;
  left:0;
  width : 100%;
  height : 100%;
  pointer-events: none;
  background-color : rgba(128,128,128,1);
  opacity: 0.0;
  transition : opacity 0.1s ease;
}

div.btn:hover:before
{
  opacity : 0.3;
}

:host-context([darktheme="true"]) div.btn.btn-default
{
  background-color:rgba(128,128,128,0.5);
  color:rgba(240,240,240,0.9);
}

div.btn.btn-primary
{
  transform:translateY(3%);
  position : relative;
}

div.btn.btn-primary:before
{
  position : absolute;
  content : ' ';
  left:0;
  top:0;

  width:100%;
  height:100%;

  background-color : black;
  opacity : 0.1;

  pointer-events: none;
}

.pagination-control
{
  font-size:80%;
}