:host
{
  font-size:92%;
  overflow:hidden;
  box-shadow: 0px 4px 16px -4px rgba(0,0,0,0.2);
  border-radius : 0;
  border:none;
  margin:0;
  background:none;
}

[bodyFooterContainer]
{
  overflow:hidden;
}

:host > .panel-heading
{
  border-radius : 0;
  padding: 0;
  margin:0;
  border:none;
}

:host > [bodyFooterContainer] > .panel-body,
:host > [bodyFooterContainer] > .panel-footer
{
  margin-top:0px;
  padding: 0px;
  border:none;
}

div.panel-body
{
  background-color:rgba(245,245,245,0.8);
}

:host-context([darktheme="true"]).panel-default div.panel-heading
{
  background-color:rgba(45,45,45,0.9);
  color:rgba(250,250,250,0.9);
}

:host-context([darktheme="true"]).panel-success div.panel-heading
{
  background-color:rgba(60,118,61,0.9);
  color:rgba(223,240,216  ,0.9);
}

:host-context([darktheme="true"]) div.l-card-body
{
  color:rgba(255,255,255,0.9);
  background-color:rgba(45,45,45,0.8);
}