<div class="l-card">
  <div class="l-card-body">
    <div
      *ngIf="showHeading"
      class="l-card-title"
      (click)="toggleCollapseBody($event)"
      [hoverable]="{disable:!bodyCollapsable}">
      <ng-content select="[heading]">
      </ng-content>
    </div>
    <!-- While wrapping body and footer in a diffrent div adds a lot of overhead, it enables nice transition effects -->
    <div 
      bodyFooterContainer>
      <div
        *ngIf="showBody"
        class="l-card-text"
        #panelBody>

        <ng-content select="[body]">
        </ng-content>

      </div>
    </div>
  </div>
</div>