.selected-regions-panel-container {
    width: 300px;
}

.selectedRegionsList {
    max-height: 250px;
}

.dot {
    height: 10px;
    width: 10px;
    min-height: 10px;
    min-width: 10px;
    border-radius: 50%;
    display: inline-block;
}
