<div *ngIf="dataset" container>

  <!-- description -->
  <readmore-component>
    {{ dataset.description }}
  </readmore-component>

  <!-- other data -->

  <panel-component *ngIf = "false"  [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      Contributor(s)
    </div>
    <div body>
      <!-- TODO maybe object instead of array -->
      <div *ngFor = "let contributor of dataset.contributors">
        {{ contributor.value }}
      </div>
    </div>
  </panel-component>

  <panel-component [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      Custodian(s)
    </div>
    <div body>
      <!-- TODO Maybe array -->
      <div *ngFor="let custodian of dataset.custodians">
        {{ custodian }}
      </div>
    </div>
  </panel-component>

  <panel-component *ngIf = "dataset.publications" [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      Related Publication(s)
    </div>
    <div body>
      <div *ngFor="let publication of dataset.publications">
        <a target="_blank" link [href]="'https://doi.org/' + publication.doi">
          {{ publication.cite }}
          <i class = "glyphicon glyphicon-new-window"></i>
        </a>
      </div>
    </div>
  </panel-component>

  <panel-component *ngIf = "dataset.licenseInfo || dataset.license" [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      License
    </div>
    <div body>
      <div *ngFor="let l of dataset.licence">
        {{ l }}
      </div>
      <div *ngFor="let l of dataset.licenseInfo">
        {{ l }}
      </div>
    </div>
  </panel-component>

  <panel-component *ngIf = "dataset.files" [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      Files
    </div>
    <div body>
      <div *ngFor="let file of dataset.files">
        <a link target="_blank" [href]="file.absolutePath">
          {{ file.name }}
          <i class="glyphicon glyphicon-download-alt"></i>
        </a>
      </div>
    </div>
  </panel-component>

  <a
    *ngFor="let ref of dataset.kgReference"
    [href]="'https://doi.org/' + ref"
    target="_blank">
    Open in Knowledge Graph
    <i class = "glyphicon glyphicon-new-window"></i>
  </a>

</div>