<div *ngIf = "kgData; else showDefault">

  <readmore-component>

    <panel-component *ngIf = "false" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Description
      </div>
      <div body>
        {{ kgData.description.value }}
      </div>
    </panel-component>

    <panel-component *ngIf = "false"  [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Project
      </div>
      <div body>
        {{ kgData.component.value }}
      </div>
    </panel-component>

    <panel-component *ngIf = "false"  [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Contributor(s)
      </div>
      <div body>
        <!-- TODO maybe object instead of array -->
        <div *ngFor = "let contributor of kgData.contributors">
          {{ contributor.value }}
        </div>
      </div>
    </panel-component>

    <panel-component *ngIf = "false"  [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Custodian(s)
      </div>
      <div body>
        <!-- TODO Maybe array -->
        {{ kgData.owners.value }}
      </div>
    </panel-component>

    <panel-component *ngIf = "kgData.publications" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Related Publication(s)
      </div>
      <div body>
        <div *ngIf = "isArray(kgData.publications); else singlePublicationTemplate">
          <div publicationContainer *ngFor = "let publication of kgData.publications">
            {{ publication.value.split('\n')[0] }}
          </div>
        </div>
        <ng-template #singlePublicationTemplate>
          <div publicationContainer>
            {{ kgData.publications.value.split('\n')[0] }}
          </div>
        </ng-template>
      </div>
    </panel-component>

    <panel-component *ngIf = "false"  [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Brain atlas
      </div>
      <div body>
        {{ kgData.atlas.value }}
      </div>
    </panel-component>

    <panel-component *ngIf = "kgData.preparation" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Preparation
      </div>
      <div body>
        {{ kgData.preparation.value }}
      </div>
    </panel-component>

    <panel-component *ngIf = "kgData.methods" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Methods
      </div>
      <div body>
        <div *ngFor = "let method of kgData.methods">
          {{ method.value }}
        </div>
      </div>
    </panel-component>

    <panel-component *ngIf = "kgData.license_info" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        License
      </div>
      <div body>
        {{ kgData.license_info.value }}
      </div>
    </panel-component>

    <panel-component *ngIf = "kgData.files" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Files
      </div>
      <div body>
        <div *ngFor = "let file of kgData.files">
          {{ file.value }}
        </div>
      </div>
    </panel-component>

    <panel-component *ngIf = "kgData.subjects" [collapseBody] = "true" [bodyCollapsable] = "true">
      <div heading>
        Subjects
      </div>
      <div body>
        <kg-entry-viewer-subject-viewer
          [subjects] = "kgData.subjects">

        </kg-entry-viewer-subject-viewer>
      </div>
    </panel-component>

  </readmore-component>
  <a target = "_blank" [href] = "kgHref">
    See this dataset in the Knowledge Graph <i class = "glyphicon glyphicon-new-window"></i>
  </a>

</div>
<ng-template #showDefault>
  <div reportError *ngIf = "kgError">
    Fetching metadata from the Knowledge Graph failed - {{ kgError }}
  </div>
  <div *ngIf = "!kgError">
    Fetching KG Data 

    <span class = "homeAnimationDots loadingAnimationDots">&bull;</span>
    <span class = "homeAnimationDots loadingAnimationDots">&bull;</span>
    <span class = "homeAnimationDots loadingAnimationDots">&bull;</span>
  </div>
</ng-template>