<div class = "moreInfo">
  
  <!-- associated regions -->
  <div *ngIf = "hasRelatedRegion">
    Associated regions:
    <small class = "associatedRegions" *ngFor = "let regionname of searchResultFile.parentDataset.regionName">
      {{ transformRegionNameToRegionDescriptor(regionname) ? transformRegionNameToRegionDescriptor(regionname).name : 'Could not find region' }}
      <property-widget
        *ngIf = "transformRegionNameToRegionDescriptor(regionname)"
        [inputComponent]="transformRegionNameToRegionDescriptor(regionname)">

      </property-widget>
    </small>
  </div>
  <div *ngIf = "!hasRelatedRegion">
    Not associated with any regions.
  </div>

  <hr />
  
  <!-- More info panel -->
  <div *ngIf = "searchResultFile.parentDataset">
    <span>
      This is part of the dataset {{ searchResultFile.parentDataset.name }}
    </span>
    <property-widget
      *ngIf = "false"
      [inputComponent]="searchResultFile.parentDataset"
      [title]="'More information on ' + searchResultFile.parentDataset.name">
  
    </property-widget>
  </div>
  
  <hr />

  <!-- More info panel -->
  <div *ngIf = "false">
    <span>
      More information about this data:
    </span>
    <property-widget
      [inputComponent] = "searchResultFile"
      [title]="'More information on ' + searchResultFile.name ">
  
    </property-widget>
  </div>
  
</div>

<!-- file viewer -->
<div 
  *ngIf = "searchResultFile"
  [ngSwitch]="searchResultFile.mimetype">
  <div *ngSwitchCase="'image/jpeg'" >
    <!-- TODO figure out a more elegant way of dealing with draggable img -->
    <img draggable = "false" [src] = "searchResultFile.url" />
  </div>

  <!-- data container -->
  <div [ngSwitch]="searchResultFile.data.chartType" *ngSwitchCase="'application/json'">
    <radar-chart
      #childChart
      [colors] = "searchResultFile.data.colors"
      [options] = "searchResultFile.data.chartOptions"
      [labels]="searchResultFile.data.labels"
      [radarDatasets]="searchResultFile.data.datasets"
      *ngSwitchCase="'radar'">

    </radar-chart>
    <line-chart
      #childChart
      [colors] = "searchResultFile.data.colors"
      [options] = "searchResultFile.data.chartOptions"
      [lineDatasets] = "searchResultFile.data.datasets"
      *ngSwitchCase = "'line'">

    </line-chart>
    <div *ngSwitchDefault>
      The json file is not a chart. I mean, we could dump the json, but would it really help?
    </div>
  </div>
  <div *ngSwitchCase = "'application/nifti'">
    <dedicated-view-controller
      [dedicatedViewString]="'nifti://'+searchResultFile.url">

    </dedicated-view-controller>
  </div>
  <div *ngSwitchDefault>
    The selected file with the mimetype {{ searchResultFile.mimetype }} could not be displayed.
  </div>
</div>

<!-- caption -->
<readmoreComponent *ngIf = "searchResultFile.properties.description">
  <small id = "captions">
    {{ searchResultFile.properties.description }}
  </small>
</readmoreComponent>

<div *ngIf = "downloadUrl">
  <a [href]="downloadUrl" target = "_blank" class = "btn btn-link">Download File</a>
</div>

<div *ngIf = "downloadPng">
  <a [href] = "downloadPng" target = "_blank" class = "btn btn-link">Download Chart as Image</a>
</div>