<div [ngClass]="{darktheme : darktheme}" bannerContainer >
  <img 
    [src] = "darktheme ? hbpimgdark : hbpimg" 
    hbplogo/>
  <div  textContainer>
    <div 
      container = "body"
      dropdown
      containerClass="dropdownMenu">

      <span 
        (click)="showTemplateSelection = !showTemplateSelection" 
        class = "btn btn-default" 
        btnCustom
        dropdownToggle>

        <small>Template</small>
        <small class="text-muted" *ngIf="mainController.selectedTemplate">({{mainController.selectedTemplate.name}})</small>
        <span class="caret"></span>
        
      </span>

      <ul 
        [ngClass]="{'darktheme':mainController.darktheme}"
        [@animationFadeInOut]
        class="dropdown-menu"
        role="menu"
        *dropdownMenu>
        <li 
          [ngClass]="{'selected':template == mainController.selectedTemplate}" 
          *ngFor="let template of mainController.loadedTemplates" 
          role="menuitem">
          
          <a class="dropdown-item" 
            (click)="loadTemplate(template)" 
            href="#">
            
            {{template.name}}</a>
        </li>
      </ul>
    </div>
    
    <div 
      *ngIf = "mainController.selectedTemplate"
      container = "body"
      [isDisabled]="!mainController.selectedTemplate"
      dropdown
      containerClass="dropdownMenu">

      <span 
        [ngClass]="{'disabled' : !mainController.selectedTemplate}" 
        class = "btn btn-default" 
        btnCustom 
        dropdownToggle>
        <span>
          <small>Parcellation</small>
          <small class="text-muted">({{ !mainController.selectedTemplate ? 'select a template' : mainController.selectedParcellation ?  mainController.selectedParcellation.name : 'select a parcellation'}})</small>
          <span *ngIf="mainController.selectedTemplate" class="caret"></span>
        </span>
      </span>

      <ul 
        [ngClass]="{'darktheme':mainController.darktheme}"
        [@animationFadeInOut]
        class="dropdown-menu"
        role="menu"
        *dropdownMenu>
        <li 
          [ngClass]="{'selected':parcellation == mainController.selectedParcellation}" 
          *ngFor="let parcellation of mainController.selectedTemplate.parcellations" 
          role="menuitem">
          
          <a class="dropdown-item" 
            (click)="mainController.loadParcellation(parcellation)" 
            href="#">
            
            {{parcellation.name}}</a>
        </li>
      </ul>
    </div>

    <div 
      *ngIf = "mainController.selectedTemplate"
      [outsideClick] = "true"
      containerClass = "inputModeSearchContainer"
      placement = "bottom"
      triggers = "focus"
      #inputSearchActivitiesPopover = "bs-popover"
      [popover] = "searchMode"
      inputSearchRegion>

      <div 
        class = "app-input-group" 
        modeSelector>

        <span 
          *ngIf = "searchActivityTerm==''" 
          class = "app-input-placeholder" 
          [ngStyle]="{'z-index':focusModeSelector ? 0 : 2}">
          <small>Mode</small>
          <small class = "text-muted">{{mainController.viewingMode ? mainController.viewingMode : 'Select atlas regions' }}</small>
        </span>
        <input 
          type = "text"
          (click) = "inputSearchActivitiesPopover.show()"
          (focus) = "inputSearchActivitiesPopover.show()"
          [(ngModel)]="searchActivityTerm"
          class = "form-control" 
          (keydown.esc) = "inputSearchActivitiesPopover.hide();clearSearchActivityTerm();$event.target.blur()"
          (keydown.enter) = "inputSearchActivitiesPopover.hide();selectViewingMode();$event.target.blur()" />
      </div>
        
    </div>

    <div 
      *ngIf = "mainController.selectedTemplate && !widgetiseSearchRegion"
      class = "input-group" 
      placement = "bottom"
      [outsideClick] = "true"
      containerClass = "inputSearchContainer"
      triggers = ""
      #inputSearchRegionPopover = "bs-popover"
      [popover] = "searchRegion"
      inputSearchRegion>

      <input 
        (keydown.esc)="inputSearchRegionPopover.hide();$event.target.blur();searchTerm=''"
        [(ngModel)]="searchTerm"
        class = "form-control" 
        (click)="inputSearchRegionPopover.show()"
        type="text" 
        placeholder="Regions"/>

        <div *ngIf = "false" (click)="widgetiseSearchRegionComponent()" editBtn>
          <i class = "helpbtn glyphicon glyphicon-new-window"></i>
        </div>
    </div>

    <span 
      class = "btn btn-default"
      btnCustom
      placement = "bottom"
      [tooltip]="labcomponent.name.split('.')[2]"
      (click) = "widgitServices.loadWidgetFromLabComponent(labcomponent)"
      *ngFor = "let labcomponent of mainController.loadedPlugins">
      {{ labcomponent.name.split('.')[2][0] }}
    </span>

    <span 
      glyphiconShowHelp 
      (click)="showhelp()" 
      [ngClass]="{darktheme : darktheme}" 
      class = "helpbtn glyphicon glyphicon-question-sign">
    </span>
  </div>
</div>

<ng-template #searchRegion>
  <div 
    id = "atlascontrolContainer" 
    [@animationFadeInOut]>

    <atlascontrol 
      id = "atlascontrolElement"
      [searchTerm] = "searchTerm" 
      [regions]= "regions"
      #atlascontrol>

    </atlascontrol>
  </div>
</ng-template>

<ng-template #searchMode>
  <ul
    [@animationFadeInOut]
    id = "modeSelector"
    [ngClass] = "{'darktheme':mainController.darktheme}"
    listOfActivities>
    <li 
      [ngClass] = "{'selected':mainController.viewingMode == activity || (!mainController.viewingMode && activity == 'Select atlas regions')}"
      role = "menuitem"
      *ngFor = "let activity of mainController.regionsLabelIndexMap | mapToValuePipe | concatFlattenArrayPipe | uniquefyPipe | prependNavigatePipe : mainController.selectedTemplate  | searchPipe : searchActivityTerm">
      
      <a class = "dropdown-item"
        (mousedown) = "selectViewingMode(activity)"
        [innerHTML] = "activity | searchHighlight : searchActivityTerm ">
      
      </a>
      <i
        (mousedown) = "modalDataset = mainController.selectedTemplate[activity];showModeInfo(activity)"
        *ngIf = "mainController.selectedTemplate[activity]" 
        class = "info">
        <i class = "glyphicon glyphicon-info-sign"></i>
      </i>
    </li>
  </ul>
</ng-template>

<ng-template #modeInfo>
  <datasetBlurb [style.marginBottom] = "'2em'" [dataset] = "modalDataset"  #modeInfoUnit>

  </datasetBlurb>
</ng-template>