<div iav-auth-auth-state
  #authState="iavAuthAuthState">

<!-- Logged in. Explain that links will not expire, offer to logout -->
<ng-container *ngIf="authState.user$ | async as user; else otherTmpl">
  <span>
    Logged in as {{ user.name }}
  </span>
  <button mat-button
    color="warn"
    tabindex="-1">
    <i class="fas fa-sign-in-alt"></i>
    <span>
      Logout
    </span>
  </button>
</ng-container>

<!-- Not logged in. Offer to login -->
<ng-template #otherTmpl>
  <span>
    Not logged in
  </span>
  <signin-modal></signin-modal>
</ng-template>
</div>

<!-- explain links expiration -->
<div class="text-muted mat-small">
{{ (authState.user$ | async) ? 'Links you generate will not expire' : 'Links you generate will expire after 72 hours' }}
</div>


<mat-form-field class="mr-2">
  <span matPrefix class="text-muted">
    {{ saneUrlRoot }}
  </span>

  <input type="text"
    autocomplete="off"
    placeholder="my_custom_url"
    matInput
    aria-label="Custom link"
    (keyup.enter)="submitBtn.disabled ? null : saveLink()"
    [formControl]="customUrl"
    [errorStateMatcher]="matcher">

  <button mat-icon-button
    matSuffix
    aria-label="Copy created custom URL to clipboard"
    matTooltip="Copy created custom URL to clipboard."
    (click)="copyLinkToClipboard()"
    *ngIf="saved$ | async"
    color="primary">
    <i class="fas fa-copy"></i>
  </button>

  <mat-error *ngIf="customUrl.invalid">
    Error: {{ customUrl.errors?.message || 'Unknown error' }}
  </mat-error>

  <mat-hint>
    {{ btnHintTxt$ | async }} 
  </mat-hint>

</mat-form-field>

<ng-template sxplrExperimentalFlag [experimental]="true">
<button mat-icon-button
  [iav-clipboard-copy]="stateTobeSaved | json">
  <i class="fas fa-bug"></i>
</button>
</ng-template>

<button mat-flat-button
  (click)="saveLink()"
  color="primary"
  aria-label="Create custom link"
  [disabled]="createBtnDisabled$ | async"
  #submitBtn="matButton">

  <i [class]="iconClass$ | async"></i>
  <span>
    {{ (saved$ | async) ? 'Created!' : 'Create' }}
  </span>
</button>
