<!-- actions -->
<div class="d-flex">

  <!-- show more -->
  <button mat-icon-button (click)="showMoreFlag = !showMoreFlag">
    <i [ngClass]="showMoreFlag ? 'r-90' :  ''"
      class="t-a-ease-200 transform-origin-center fas fa-chevron-right">
    </i>
  </button>

  <!-- spacer -->
  <div class="flex-grow-1"></div>

  <!-- go to -->
  <button mat-icon-button
    [attr.aria-label]="ARIA_LABELS.GOTO_ANNOTATION_ROI"
    [matTooltip]="ARIA_LABELS.GOTO_ANNOTATION_ROI"
    (click)="gotoRoi()">
    <i class="fas fa-map-marked-alt"></i>
  </button>

  <!-- export -->
  <button mat-icon-button
    [attr.aria-label]="ARIA_LABELS.USER_ANNOTATION_EXPORT_SINGLE"
    [matTooltip]="ARIA_LABELS.USER_ANNOTATION_EXPORT_SINGLE"
    [matMenuTriggerFor]="exportMenu">
    <i class="fas fa-file-export"></i>
  </button>
</div>

<mat-menu #exportMenu="matMenu" xPosition="before">
  <div class="iv-custom-comp card text"
    iav-stop="click">

    <div class="d-flex">
      <button *ngFor="let format of viableFormats"
        (click)="setFormat(format)"
        mat-flat-button
        [color]="useFormat === format ? 'primary' : ''">
        {{ format }}
      </button>
    </div>

    <div class="iv-custom-comp text">
      <mat-form-field>
        <mat-label>
          {{ useFormat }}
        </mat-label>
        <textarea
          disabled="true"
          matInput
          #exportTarget>{{ updateAnnotation.updateSignal$ | async | toFormattedStringPipe : updateAnnotation : useFormat }}</textarea>

        <button mat-icon-button
          matSuffix
          iav-stop="click"
          aria-label="Copy to clipboard"
          matTooltip="Copy to clipboard."
          (click)="copyToClipboard(exportTarget.value)"
          color="basic">
          <i class="fas fa-copy"></i>
        </button>
      </mat-form-field>
    </div>
  </div>
</mat-menu>

<!-- detail pane -->
<ng-template [ngIf]="showMoreFlag">
  
  <h2 class="mat-h4">
    Points connecting the line
  </h2>
  
  <!-- points detail -->
  <mat-tab-group animationDuration="0ms">
  
    <!-- summary -->
    <mat-tab label="Summary">
      <div class="m-2">
        <mat-chip-list>
          <mat-chip *ngFor="let point of (updateAnnotation?.points || []) ; let i = index"
            (click)="gotoPoint(point)">
            {{ i }}
          </mat-chip>
        </mat-chip-list>
      </div>
    </mat-tab>
  
    <!-- detail -->
    <mat-tab label="Detail">
      <ng-template matTabContent>
        <point-update-cmp
          *ngFor="let point of (updateAnnotation?.points || []) ; let i = index"
          class="pl-4"
          [annotation-label]="'Point ' + ( i + 1 )"
          [update-annotation]="point">
        </point-update-cmp>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  
</ng-template>