<div class="text-nowrap text-truncate mt-2 ml-2 mr-2 overflow-hidden" [matTooltip]="region.name"
     matTooltipShowDelay="1000">{{region.name}}</div>
<!-- ToDo implement it with Descriptions-->
<!--              <div > &lt;!&ndash;*ngIf="!region.description && !region.description.length"&ndash;&gt;-->
<!--                <div class="row m-2 position-relative overflow-hidden"-->
<!--                     [class.regionDescriptionTextOpened] = "collapsedRegionDescription"-->
<!--                     [class.overflow-y-auto] = "collapsedRegionDescription"-->
<!--                     [class.regionDescriptionTextClass] = "!collapsedRegionDescription"-->
<!--                     [class.linear-gradient-fade] = "(+regionDescriptionText.scrollHeight > +regionDescriptionText.clientHeight) && !collapsedRegionDescription"-->
<!--                     #regionDescriptionText>-->
<!--                    {{region.description}}-->
<!--                </div>-->
<!--                <div (click)="collapsedRegionDescription = true"-->
<!--                     *ngIf="+regionDescriptionText.scrollHeight > +regionDescriptionText.clientHeight && !collapsedRegionDescription"-->
<!--                     class="w-100 d-flex justify-content-center align-items-center mt-n2 cursorPointer"><i-->
<!--                        class="fas fa-angle-down m-1"></i> Read More-->
<!--                </div>-->
<!--                <div (click)="collapsedRegionDescription = false"-->
<!--                     *ngIf="collapsedRegionDescription"-->
<!--                     class="w-100 d-flex justify-content-center align-items-center mt-n2 cursorPointer"><i-->
<!--                        class="fas fa-angle-up m-1"></i> Collapse-->
<!--                </div>-->
<!--              </div>-->
<div class="d-flex align-items-center justify-content-between">
    <button mat-button
            style="font-size: 12px"
            class="p-0 w-100"
            *ngIf="(selectedRegions$ | async) as selectedRegions"
            (click)="toggleRegionWithId(region.ngId, region.labelIndex, regionIsSelected(selectedRegions, region.ngId, region.labelIndex)); regionToolsMenuVisible = false; collapsedRegionDescription = false">
                  <span class="fa-stack fa-1x">
                    <i class="fas fa-hand-pointer fa-stack-1x"></i>
                    <i class="fas fa-slash fa-stack-1x fa-inverse"
                       *ngIf="regionIsSelected(selectedRegions, region.ngId, region.labelIndex)"></i>
                  </span>
        <span [innerText]="regionIsSelected(selectedRegions, region.ngId, region.labelIndex)? 'Deselect' : 'Select'"></span>
    </button>
    <button mat-button
            style="font-size: 12px"
            class="p-0 w-100"
            (click)="navigateTo(region.position); regionToolsMenuVisible = false; collapsedRegionDescription = false">
        <i class="fas fa-crosshairs"></i> Navigate
    </button>

    <!-- ToDo Change other buttons font size to 10 if this button is available and remove w-100 classes-->
    <!--                <button mat-button-->
    <!--                        style="font-size: 10px"-->
    <!--                        class="p-0 mr-1">-->
    <!--                  <i class="fab fa-connectdevelop"></i> Connectivity-->
    <!--                </button>-->
</div>