<div *ngIf="user; else notLoggedIn">
  Logged in as {{ user && user.name || 'Unnamed User' }}.
  <a
    (click)="loginBtnOnclick()"
    [href]="logoutHref">
    <button
      mat-button
      color="warn">
      <i class="fas fa-sign-out-alt"></i> Logout
    </button>
  </a>
</div>

<ng-template #notLoggedIn>
  <span>
    Login via
  </span>
  <a *ngFor="let m of loginMethods"
    [href]="m.href">
    <button 
      (click)="loginBtnOnclick()"
      mat-raised-button
      color="primary">
      <i class="fas fa-sign-in-alt"></i> {{ m.name }}
    </button> 
  </a>
</ng-template>