language: node_js

os: linux
dist: xenial
node_js:
- 12

git:
  depth: 3

script: 'echo Running ${TEST_SUITE} against $(node -v)'

jobs:
  include:

    - stage: Unit test frontend
      name: frontend unit test

      # env(TEST_SUITE) = 'unit-frontend' - for parallel runs in TravisCI
      # NOT type = pull_request - only run on branch, so it is not run on PR (duplicated runs)
      # NOT branch in (master, staging, dev) - all changes done to these branches should go through PR, so do not run unit tests
      if: (env(TEST_SUITE) = 'unit-frontend') AND (NOT type = pull_request) AND (NOT branch in (master, staging, dev))
      install:
      - npm i
      script:
      - npm run lint
      - npm test
      env:
      - NODE_ENV=test

    - stage: Unit test backend
      name: backend unit test

      # env(TEST_SUITE) = 'unit-backend' - for parallel runs in TravisCI
      # NOT type = pull_request - only run on branch, so it is not run on PR (duplicated runs)
      # NOT branch in (master, staging, dev) - all changes done to these branches should go through PR, so do not run unit tests
      if: (env(TEST_SUITE) = 'unit-backend') AND (NOT type = pull_request) AND (NOT branch in (master, staging, dev))
      before_install:
      - cd deploy
      install:
      - npm i
      script:
      - npm test
      env:
      - NODE_ENV=test
      - PORT=12234

    - stage: local e2e
      # type = api - should only be activated by API
      # when send API, ensure to set env TEST_SUITE=e2e-local to explicitly trigger this build
      if: env(TEST_SUITE) =~ /^https/
      name: e2e (local)
      install:
      - npm i
      - npm run wd -- update --versions.chrome=${CHROMIUM_VERSION}
      - npm i --no-save puppeteer@${PPTR_VERSION}
      script:
      - ATLAS_URL=$TEST_SUITE
      - echo Running test against $ATLAS_URL
      - npm run e2e
      env:
      - CHROMIUM_VERSION=80.0.3987.106
      - PPTR_VERSION=2.1.0
      - PROTRACTOR_SPECS=./src/navigating/*.e2e-spec.js


    # Temporarily disabling browserstack e2e tests. They seem to fail without any reason

    # - stage: browserstack e2e
    #   # only triggered via API, where env can be overwritten
    #   if: NOT env(LOCAL_TEST_E2E) = 1
    #   name: e2e (with browserstack)
    #   install:
    #   - npm i
    #   script:
    #   - PROTRACTOR_SPECS=./src/navigating/*.e2e-spec.js BROWSERSTACK_TEST_NAME=e2e_navigating npm run e2e
    #   env:
    #   - ATLAS_URL=https://interactive-viewer-next.apps-dev.hbp.eu/
    #   - BROWSERSTACK_USERNAME=xiao33
    #   - secure: "YD2hDBnWzcMs9mTJCsKkJimd+mYKP8V1lTaCnxNvspJUxTuBWFmr8cvryIs9G9DhwgxkC3YL7hugsGkwMg6OIq27vLlo8mgoKS7/qrkWAJApGvDW4jc4CHpI2iE/ryrwG1bI3u9TuG0kSw+2sN/786LBgArlf5NbmwB9zmW4zyzjXXzSME34cwYdfEP96L2cob/uGiIj9YdaA1k3zfBhQQlp328i/xzYbIAcwfIia1AKYh/wgCzj+yfWDQ0Rtg9VcI2JiNfcbzMCgvDEBzshgeXuubFd9GPqPsc8zJhYqAi/15ge+WiB8R50MnZsYHO39JJihQzKz6WxIZQDeOQ2xd600NhFFLg6WPdE3jxAyENouTAd+0zJgXEeUU71YBDBl6RViagf8k7eOe9oMPW5ZlevdD3vcI8BC/qUL6Evye8QDDNi0s8gbIvcnJl5QMRBpeYcm/QaRUow1YeJobpccj/3tb7qTbc7T4Rha/NRBNhbhp/WzDSO/BUSEtpgJ3YwSEPTiEeSocTRT8ylnhEtBB70h4vQSClV73lW4vn7WjdZUTRACdxFNJ1MteQJ+3bgzyWMhDtdQo6BSz2UxF0mQFayAu2p9j0+MbB7x2zW9tksSw+6B6EjzPhQw6eOs2K0+syxWg09MTW1Fy6n0Zgchn0RWSnEPqPvss6kB2pkAR4="

# addons:
#   browserstack:
#     username: "xiao33"
#     access_key:
#       secure: "j0NdVLyNwm1gDclEeE/xYrXAYiYAlx3HQxNRHMFhJyFml5R22spEMTwrTRl/vzyhv1FwfJAKfh4qbOn99cZ5Dzm7fWc8+Kq1zpp/1PRTzbFaLluJkV1wCwoODZkzmSVPj43M6070FhCJvOfe5VRUV440CgZH8IWRm7xaxRnN/MVyFMErMV/GIczEBB7D7E4mMhe6c9pBxjmojDDP4rGvKLGOYU7oVQKgZtbHtP/BxjQ7uzMysdTHZGZ/2c/XW/2bKVSADi4vFzge5PMVF3nSH+vzA09ro180Q5aoaek4XQPoIza0s0cqtqkbvkbJ+lWRE+Q7wJDhQLM4WNx5GX3fegJiqJRT7272EgGAUy6C+e2F+D5nPucf3w6Uov9vBn5zZjbfXdNah3GZEXOTRNAVzstySiwiZe7/f4bk0vWIiEhHC+iutjn8skMxFnuw2eM3SJ5ayjxskHOdRux+1fuDya32ctx8y9a3XLhuFcuGTaeMSAn5Dw5qOlI5Qoc+xRSARoRWKmlEuxTUudD0e+b8xqfZgmOP7D3GZ6QX2W4yFrOLGqUzEySHr8hxxzhIlfwSvVdJ15AtN2AtPFQYQXb7M+XX1L7fr39Z/5ctr7DDgljSE3F2U5ofyWV2hh54aGMBQe76cZfVzF4bi98X3r6u0b3Knyti2pvx5jIoxP46nOA="


# Parallelising tests in Travis

env:
  jobs:
  - TEST_SUITE=unit-frontend
  - TEST_SUITE=unit-backend
