:host
{
    height: 0px;
    display: flex;
    align-items: center;
    
    padding: 0 0.5rem;
}

.positioner
{
    width: 0;
    height: 0;
    overflow: visible;
    display: flex;
    flex-direction: row;
    align-items: center;
}