<div *ngIf="chartDataset.datasets.length > 0 && chartDataset.labels.length > 0"
  class="position-relative col-12">

  <!-- baseChart directive is needed by ng2-chart -->
  <canvas baseChart
    (mousewheel)="mousescroll($event)"
    class="h-100 w-100"
    height="500"
    width="500"
    chartType="radar"
    [options]="chartOption"
    [colors]="colors"
    [datasets]="chartDataset.datasets"
    [labels]="chartDataset.labels"
    #canvas>
  </canvas>
</div>

<span
*ngIf="chartDataset.datasets.length === 0 || chartDataset.labels.length === 0">
datasets and labels are required to display radar
</span>