:host
{
    overflow: hidden;
    
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
    > .nav-bar
    {
        flex: 0 0 auto;
        
    }
    > .content
    {
        flex: 1 1 auto;
        overflow-y: auto;

    }
}

.content
{
    position: relative;
    transition: all ease-in-out 160ms;
    margin-right: 2rem;
    overflow-x: hidden;

    &.collapsed
    {
        transform: translateX(-95%);
    }
}

.nav-bar
{
    position: relative;
    

    > .collapser
    {
        position: absolute;
        bottom: -3.5rem;
        z-index: 0;


        mat-icon
        {
            transform: translateX(1.5rem);
        }

        
        transition: all ease-in-out 160ms;
        &.collapsed
        {
            transform: translateX(-90%);
        }

        width: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
}


.my-card
{
    margin: 0.5rem 0.25rem;
    border-radius: 4px;
    > h5
    {
        margin: 0 1rem;
        display: flex;
        align-items: center;

        > span
        {
            flex: 1 1 auto;
        }
    }
}

.section-find-body
{
    display: flex;
    flex-direction: column;
    align-items: stretch;

    tpbr-viewer
    {
        margin: 0.5rem 1.5rem 1rem;
        padding: 0.2rem;

        opacity: 0.8;
        display: block;
        overflow: hidden;
    }


    button.full-width
    {
        justify-content: flex-start;
        
        margin: 0 1rem 0.5rem 2rem;
        flex: 0 0 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        span
        {
            display: block;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;

            &.button-subtitle
            {
                opacity: 0.4;
                font-size: 75%;
                margin-top: -0.25rem;
            }
        }
    }
}

// both to provide margin, as well as to tank the stretch from parent
.back-btn-container
{
    margin: 1rem;
}

button.close-panel
{
    margin-right: -1rem;
}

.section-content
{
    .text
    {
        margin: 1rem 2rem;
    }
    .panel-header
    {
        font-size: 125%;
    }
    .panel-content
    {
        margin: 0 0.5rem 0.5rem 2rem;
    }
}

.align-items-center
{
    display: flex;
    align-items: center;
}

sxplr-features-connectivity-browser
{
    overflow-x: hidden;
    margin: 0.5rem 1rem;
}

sxplr-feature-entry
{
    display: block;
    // we can change the mat-expansion-panel background appearance here
    // ::ng-deep mat-expansion-panel {
    //     background: none;
    // }
}
