:host
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

mat-divider.statsbar-vert-divider
{
    height: 2em;
    margin: auto 1rem;
}

button
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.region-list-search-row
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

sxplr-sapiviews-core-rich-regionshierarchy
{
    height: calc(100% - 52px);
    width: 100%;
    padding: 0 0 0.4rem 0;
}

.spacer
{
    flex: 1 1 0;
}

section.versioned-parc-ctl
{
    display: flex;
    width: 100%;

    & > .versioned-parc-ctl-btn
    {
        flex: 0 0 auto;
    }

    & > mat-slider
    {
        flex: 0 1 auto;
    }
}