<!-- listing results grouped by regions -->

<div *ngIf = "false">
  <div
    *ngFor = "let groupedRegionResultObj of searchResultObjects | groupDatasetByRegion : filterSearchResultbyType : allLabelledRegions">
    {{ groupedRegionResultObj.region ? groupedRegionResultObj.region.name : 'null' }}
  </div>
</div>

<div>
  <collapsable-panel 
    *ngFor = "let groupedRegionResultObj of searchResultObjects | groupDatasetByRegion : filterSearchResultbyType : allLabelledRegions | searchResultPagination : currentPage : hitsPerPage"
    [title] = "renderRegionName(groupedRegionResultObj)"
    [propertyWidget] = "groupedRegionResultObj">
    
    <nehubaui-searchresult-ui
      *ngFor = "let searchResults of groupedRegionResultObj.searchResult"
      [showLinkedRegion] = "false"
      [searchResult]="searchResults">
    </nehubaui-searchresult-ui>
  </collapsable-panel>
</div>

<!-- listing all search results -->
<div *ngIf = "false">  
  <div 
    *ngFor = "let searchResults of searchResultObjects | filterDatasetSearchResult : filterSearchResultbyType | searchResultPagination : currentPage : hitsPerPage">

    <nehubaui-searchresult-ui 
      [searchResult]="searchResults">

    </nehubaui-searchresult-ui>

  </div>
</div>

<pagination-component
  [hitsPerPage]="hitsPerPage"
  [total] = "total"
  [currentPage]="currentPage"
  (paginationChange)="paginationChange($event)">

</pagination-component>