.pill-container
{
  padding: 0.2em 1em;
  margin-left: 0.2em;
  border-radius: 1em;
  display: flex;
  align-items: center;
}

.pill-title
{
  flex: 0 0 auto;
}

.pill-close
{
  flex: 0 0 auto;
  box-sizing: border-box;

  line-height: 1;
  margin-left: 0.4em;
  margin-right: -0.6em;
}

:host
{
  display: inline-block;
}