:host
{
  width: 100%;
  height: 100%;
  display: block;
}

.finger
{
  left: 10%;
  top: 30%;
}

@keyframes pointer
{
  0% {
    opacity: 0.0;
    transform: translateX(-100px);
  }
  10% {
    opacity: 1.0;
    transform: translateX(-100px);
  }
  30% {
    transform: translateX(100px);
    opacity: 1.0;
  }
  40%, 100% {
    opacity: 0.0;
    transform: translateX(100px);
  }
}

.tmp
{
  animation: pointer 10s ease-in-out infinite both;
}
