<button mat-menu-item [mat-menu-trigger-for]="perspectiveOrientationMenu">
    Change orientation to
</button>

<mat-menu #perspectiveOrientationMenu="matMenu">

    <div class="d-flex align-items-center iv-custom-comp text">
        <button mat-button color="basic" class="flex-grow-1 text-left font-weight-normal"
                (click)="poService.set3DViewPoint('coronal', 'first')">
            Coronal view
        </button>
        <button class="flex-grow-0" mat-button
                (click)="poService.set3DViewPoint('coronal', 'second')">
            <i class="fas fa-arrows-alt-h"></i>
        </button>
    </div>


    <div class="d-flex align-items-center iv-custom-comp text"> <!--mat-menu-item-->
        <button mat-button color="basic" class="flex-grow-1 text-left font-weight-normal"
                (click)="poService.set3DViewPoint('sagittal', 'first')">
            Sagittal view
        </button>
        <button class="flex-grow-0" mat-button
                (click)="poService.set3DViewPoint('sagittal', 'second')">
            <i class="fas fa-arrows-alt-h"></i>
        </button>
    </div>

    <div class="d-flex align-items-center iv-custom-comp text"> <!--mat-menu-item-->
        <button mat-button color="basic" class="flex-grow-1 text-left font-weight-normal"
                (click)="poService.set3DViewPoint('axial', 'first')">
            Axial view
        </button>
        <button class="flex-grow-0" mat-button
                (click)="poService.set3DViewPoint('axial', 'second')">
            <i class="fas fa-arrows-alt-h"></i>
        </button>
    </div>

</mat-menu>
