:host
{
  display:block;
  display:flex;
  flex-direction: row;
  flex-wrap : wrap;
  min-height: 2.8em;
  padding-left: 1em;
}

:host > *
{
  margin-right:0.5em;
}

i
{
  font-size: 150%;
  margin:auto 0;
}

citations-component
{
  width: 500px;
  max-width: 100%;
  display:block;
}

.help-container
{
  margin:1em;
}
