<div class="range-container"
  [ngClass]="{
    'r-270': rangeControlIsVertical$ | async
  }">
  <img *ngIf="previewImageUrl$ | async as url"
    [ngClass]="{
      'r-90': rangeControlIsVertical$ | async
    }"
    [src]="url">

  <input type="range"
    *ngIf="rangeControlMinMaxValue$ | async as minMaxValue"
    iav-window-resize
    (iav-window-resize-event)="recalcViewportSize$.next($event)"
    [min]="minMaxValue.min"
    [max]="minMaxValue.max"
    [value]="minMaxValue.value"
    [formControl]="minimapControl"
    class="anchored perspective-slider-range-input custom-slider-3d1"
    >

  <div *ngIf="scrubberPosition$ | async as transform"
    [style.transform]="transform"
    class="anchored scrubber">
    <div *ngIf="scrubberHighlighter$ | async as highlighter"
      [style.transform]="highlighter" class="scrubber-highlight">
    </div>
  </div>
</div>

<div class="position-absolute range-value" *ngIf="textToDisplay$ | async as textToDisplay">
  {{ textToDisplay }}
</div>