<label for="fingerprint-cmp" class="d-block mat-h4 mt-4 text-muted">
  Fingerprint
</label>

<ng-container *ngFor="let datum of (data$ | async | filterReceptorByType : '_fp_')">

  <ng-container *ngTemplateOutlet="labelTmpl; context: {
    for: 'fingerprint-cmp',
    label: RECEPTOR_FP_CAPTION
  }">
  </ng-container>

  <ng-container *ngTemplateOutlet="datasetPreviewTmpl; context: {
    id: 'fingerprint-cmp',
    kgId: (feature['@id'] | getId),
    filename: datum['@id'],
    datum: datum
  }">
  </ng-container>

</ng-container>

<mat-divider></mat-divider>

<ng-container *ngIf="data$ | async | getAllReceptors as allReceptors; else selectPlaceHolderTmpl">

  <mat-form-field class="mt-2 w-100" *ngIf="allReceptors.length > 0; else selectPlaceHolderTmpl">
    <mat-label>
      Select a receptor
    </mat-label>
    <mat-select [(value)]="selectedReceptor">
      <mat-option
        *ngFor="let receptor of allReceptors"
        [value]="receptor">
        {{ receptor }}
      </mat-option>
    </mat-select>
  </mat-form-field>

</ng-container>

<ng-template #selectPlaceHolderTmpl>
  <span class="text-muted">No profile or autoradiographs available.</span>
</ng-template>

<ng-template [ngIf]="selectedReceptor">
  <ng-container *ngTemplateOutlet="prArTmpl; context: { filter: '_pr_', label: 'Profile' }">
  </ng-container>
  <ng-container *ngTemplateOutlet="prArTmpl; context: { filter: '_ar_', label: 'Autoradiograph' }">
  </ng-container>
</ng-template>

<!-- ar/pr template -->
<ng-template #prArTmpl let-label="label" let-filter="filter">
  <ng-container *ngFor="let datum of (data$ | async | filterReceptorByType : selectedReceptor | filterReceptorByType : filter); let first = first">
    <ng-template [ngIf]="first">
      <label [attr.for]="label + '-cmp'" class="d-block mat-h4 mt-4 text-muted">
        {{ label }}
      </label>
    </ng-template>

    <ng-container *ngTemplateOutlet="labelTmpl; context: {
      for: label + '-cmp',
      label: 'Autoradiograph' ? RECEPTOR_AR_CAPTION : RECEPTOR_PR_CAPTION
    }">
    </ng-container>

    <ng-container *ngTemplateOutlet="datasetPreviewTmpl; context: {
      id: label + '-cmp',
      kgId: (feature['@id'] | getId),
      filename: datum['@id'],
      datum: datum
    }">
    </ng-container>

  </ng-container>
</ng-template>


<!-- display preview tmpl -->
<ng-template #datasetPreviewTmpl
  let-id="id"
  let-kgId="kgId"
  let-filename="filename"
  let-datum="datum">

  <!-- download btns -->
  <ng-container *ngFor="let urlObj of datum | getUrls">
    <ng-container *ngTemplateOutlet="downloadBtnTmpl; context: {
      url: urlObj.url,
      filename: urlObj.filename,
      tooltip: 'download ' + urlObj.filename
    }">
    </ng-container>
  </ng-container>

  <!-- render preview -->
  <kg-ds-prv-regional-feature-view
    *ngIf="depScriptLoaded$ | async; else fallbackTmpl"
    [attr.id]="id"
    [darkmode]="darktheme$ | async"
    (renderEvent)="viewChanged.emit()"
    [backendUrl]="DS_PREVIEW_URL"
    [kgId]="kgId"
    [filename]="filename">
  </kg-ds-prv-regional-feature-view>

  <ng-template #fallbackTmpl>
    <kg-dataset-previewer
      [attr.id]="id"
      (renderEvent)="viewChanged.emit()"
      [backendUrl]="DS_PREVIEW_URL"
      [kgId]="kgId"
      [filename]="filename">
    </kg-dataset-previewer>
  </ng-template>
</ng-template>

<ng-template #downloadBtnTmpl
  let-url="url"
  let-filename="filename"
  let-tooltip="tooltip">
  <a [href]="url"
    [download]="filename"
    [matTooltip]="tooltip">
    <button mat-icon-button>
      <i class="fas fa-download"></i>
    </button>
  </a>
</ng-template>

<ng-template #labelTmpl let-label="label" let-for="for">
  <label [attr.for]="for" class="text-muted">
    <span>
      {{ label }}
    </span>
  </label>
</ng-template>