<label for="fingerprint-cmp" class="d-block mat-h4 mt-4 text-muted">
  Fingerprint
</label>

<ng-container *ngFor="let datum of (data$ | async | filterReceptorByType : '_fp_')">
  <ng-container *ngTemplateOutlet="datasetPreviewTmpl; context: {
    id: 'fingerprint-cmp',
    kgId: (feature['@id'] | getId),
    filename: datum['@id']
  }">
  
  </ng-container>
</ng-container>

<mat-form-field class="mt-2">
  <mat-label>
    Select a receptor
  </mat-label>
  <mat-select [(value)]="selectedReceptor">
    <mat-option
      *ngFor="let receptor of (data$ | async | getAllReceptors)"
      [value]="receptor">
      {{ receptor }}
    </mat-option>
  </mat-select>
</mat-form-field>

<ng-template [ngIf]="selectedReceptor">
  <ng-container *ngTemplateOutlet="prArTmpl; context: { filter: '_pr_', label: 'Profile' }">
  </ng-container>
  <ng-container *ngTemplateOutlet="prArTmpl; context: { filter: '_ar_', label: 'Autoradiograph' }">
  </ng-container>
</ng-template>

<!-- ar/pr template -->
<ng-template #prArTmpl let-label="label" let-filter="filter">
  <ng-container *ngFor="let datum of (data$ | async | filterReceptorByType : selectedReceptor | filterReceptorByType : filter); let first = first">
    <ng-template [ngIf]="first">
      <label [attr.for]="label + '-cmp'" class="d-block mat-h4 mt-4 text-muted">
        {{ label }}
      </label>
    </ng-template>

    <ng-container *ngTemplateOutlet="datasetPreviewTmpl; context: {
      id: label + '-cmp',
      kgId: (feature['@id'] | getId),
      filename: datum['@id']
    }">
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #datasetPreviewTmpl let-id="id" let-kgId="kgId" let-filename="filename">
  <kg-ds-prv-regional-feature-view
    *ngIf="depScriptLoaded$ | async; else fallbackTmpl"
    [attr.id]="id"
    [darkmode]="darktheme$ | async"
    (renderEvent)="viewChanged.emit()"
    [backendUrl]="DS_PREVIEW_URL"
    [kgId]="kgId"
    [filename]="filename">
  </kg-ds-prv-regional-feature-view>

  <ng-template #fallbackTmpl>
    <kg-dataset-previewer
      [attr.id]="id"
      (renderEvent)="viewChanged.emit()"
      [backendUrl]="DS_PREVIEW_URL"
      [kgId]="kgId"
      [filename]="filename">
    </kg-dataset-previewer>
  </ng-template>
</ng-template>