.inactive-filter {
    color: #bababa;
}

:host-context([darktheme="true"]) .hovering-header {
    background-color: #737373;
}
:host-context([darktheme="false"]) .hovering-header {
    background-color: rgb(245, 245, 245);
}

.single-annotation-grid-container
{
    display: grid; 
    grid-template-columns: 3em auto; 
    gap: 0px 0px; 
    grid-template-areas: ". ."; 
}
