<mat-card class="mat-elevantion-z4 h-100">
    <div class="sidenav-cover-header-container bg-50-grey-20">

        <!-- title -->
        <mat-card-header>

            <mat-card-title>
                My Annotations
            </mat-card-title>
    
            <!-- actions -->
            <mat-card-subtitle>
                <!-- import -->
                <ng-template #importMessageTmpl>
                    Please select a annotation file to import.
                </ng-template>
    
                <button mat-icon-button
                    (file-input-directive)="handleImportEvent($event)"
                    [file-input-directive-title]="ARIA_LABELS.USER_ANNOTATION_IMPORT"
                    [file-input-directive-text]="true"
                    [file-input-directive-file]="true"
                    [file-input-directive-message]="importMessageTmpl"
                    [attr.aria-label]="ARIA_LABELS.USER_ANNOTATION_IMPORT"
                    [matTooltip]="ARIA_LABELS.USER_ANNOTATION_IMPORT">
                    <i class="fas fa-folder-open"></i>
                </button>
    
                <!-- export -->
                <button mat-icon-button
                    [zip-files-output]="filesExport$"
                    zip-files-output-zip-filename="exported_annotations.zip"
                    [attr.aria-label]="ARIA_LABELS.USER_ANNOTATION_EXPORT"
                    [matTooltip]="ARIA_LABELS.USER_ANNOTATION_EXPORT"
                    [disabled]="!(manAnnExists$ | async)">
                    <i class="fas fa-download"></i>
                </button>
    
                <!-- share -->
                <button mat-icon-button
                    [matTooltip]="ARIA_LABELS.SHARE_CUSTOM_URL"
                    (click)="openDialog(saneUrlTmpl)"
                    iav-state-aggregator
                    #stateAggregator="iavStateAggregator">
                    <i class="fas fa-share-square"></i>
                </button>
    
                <!-- delete all annotations -->
                <button mat-icon-button
                    color="warn"
                    (click)="deleteAllAnnotation()"
                    [matTooltip]="ARIA_LABELS.BULK_DELETE_ANNOTATIONS"
                    [disabled]="!(manAnnExists$ | async)">
                    <i class="fas fa-trash"></i>
                </button>
            </mat-card-subtitle>
        </mat-card-header>
    </div>

    <!-- content -->
    <mat-card-content class="mt-4 ml-15px-n mr-15px-n sxplr-pb-4">
        <!-- list of annotations -->
        <ng-template [ngIf]="managedAnnotations$ | async" [ngIfElse]="placeholderTmpl" let-managedAnnotations>

            <mat-accordion *ngIf="managedAnnotations.length > 0; else placeholderTmpl"
                [attr.aria-label]="ARIA_LABELS.USER_ANNOTATION_LIST"
                class="h-100 d-flex flex-column overflow-auto">

                <!-- expansion panel -->
                <mat-expansion-panel *ngFor="let managedAnnotation of managedAnnotations"
                    hideToggle>

                    <mat-expansion-panel-header [ngClass]="{'highlight': managedAnnotation.highlighted }">
                        <mat-panel-title class="d-flex align-items-center">

                            <!-- toggle visibility -->
                            <button
                                mat-icon-button
                                iav-stop="click"
                                (click)="toggleManagedAnnotationVisibility(managedAnnotation.id)">
                                <i [ngClass]="(hiddenAnnotations$ | async | annotationVisiblePipe : managedAnnotation) ?  'fa-eye' : 'fa-eye-slash'" class="fas"></i>
                            </button>
                            <span class="flex-shrink-1 flex-grow-1" [ngClass]="{ 'text-muted': !managedAnnotation.name }">
                                {{ managedAnnotation | singleAnnotationNamePipe : managedAnnotation.name }}
                            </span>    
                            <i class="flex-shrink-0 flex-grow-0" [ngClass]="managedAnnotation | singleannotationClsIconPipe"></i>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <!-- single annotation edit body -->
                    <ng-template matExpansionPanelContent>
                        <div class="single-annotation-grid-container">
                            <!-- spacer for inset single-annotation-unit -->
                            <div></div>
                            <single-annotation-unit [single-annotation-unit-annotation]="managedAnnotation">
                            </single-annotation-unit>
                        </div>
                    </ng-template>
                </mat-expansion-panel>
            </mat-accordion>
        </ng-template>

        <ng-template [ngIf]="annotationInOtherSpaces$ | async" let-annsInOtherSpace>
            <div *ngIf="annsInOtherSpace.length > 0" class="sxplr-p-4 text-muted">
                {{ annsInOtherSpace.length }} annotations found in other reference spaces, and not shown here.
            </div>
        </ng-template>

        <!-- place holder when no annotations exist -->
        <ng-template #placeholderTmpl>
            <div class="sxplr-p-4 text-muted">
                <p>Start by adding an annotation, or import existing annotations.</p>
            </div>
        </ng-template>
    </mat-card-content>
</mat-card>


<!-- sane url template -->
<ng-template #saneUrlTmpl>
    <h2 mat-dialog-title>
        Create custom URL
    </h2>
    <div mat-dialog-content>
        <span class="sxplr-text-muted">
            {{ descText$ | async }}
        </span>
        <mat-divider></mat-divider>
        <iav-sane-url [stateTobeSaved]="stateAggregator.jsonifiedState$ | async | mergeObj : userAnnRoute">
        </iav-sane-url>
    </div>

    <div mat-dialog-actions
        class="d-flex justify-content-center">
        <button mat-button
            mat-dialog-close>
            close
        </button>
    </div>
</ng-template>
