.inactive-filter {
    color: #bababa;
}

input, textarea {
  background: none;
  border: none;
}

input:focus, textarea:focus {
  border-bottom: 2px solid;
}

:host-context([darktheme="true"]) .hovering-header {
    background-color: #737373;
}
:host-context([darktheme="false"]) .hovering-header {
    background-color: rgb(245, 245, 245);
}
