.annotation-content {
    max-width: 300px;
    min-width: 300px;
}

.inactive-filter {
    color: #bababa;
}

.selecting-height {
    max-height: 100px;
}

input, textarea {
  background: none;
  border: none;
}

input:focus, textarea:focus {
  border-bottom: 2px solid;
}

.annotation-name-input {
  width: 180px;
}

:host-context([darktheme="true"]) .hovering-header {
    background-color: #737373;
}
:host-context([darktheme="false"]) .hovering-header {
    background-color: rgb(245, 245, 245);
}
