<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-stretch">
  <div class="d-flex flex-row flex-grow-1 flex-shrink-1">
    <div class="d-flex flex-row four-panel-cell border align-items-center justify-content-center">
      <ng-content select="[cell-i]"></ng-content>
    </div>
    <div class="d-flex flex-row four-panel-cell border align-items-center justify-content-center">
      <ng-content select="[cell-ii]"></ng-content>
    </div>
  </div>
  <div class="d-flex flex-row flex-grow-1 flex-shrink-1">
    <div class="d-flex flex-row four-panel-cell border align-items-center justify-content-center">
      <ng-content select="[cell-iii]"></ng-content>
    </div>
    <div class="d-flex flex-row four-panel-cell border align-items-center justify-content-center">
      <ng-content select="[cell-iv]"></ng-content>
    </div>
  </div>
</div>
