:host
{
    display: block;
    width: 100%;
    height:100%;
}

.feature-name
{
    white-space: nowrap;
}

.feature-name:hover
{
    cursor: default;
}

.virtual-scroll-viewport
{
    height: 100%;
}

.virtual-scroll-item
{
    height:36px;
}
