.singleLayerImageContainer img {
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}


.selectedTemplateDefaultContainer {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}
.selectedTemplateDefaultContainer img {
    border-radius: 10px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

.selectedLayerBorder {
    border: 2px solid #FED363;
}

.folder-container
{
    margin-right:0.5rem;
    margin-bottom:-0.5rem;
}

.info-container
{
    margin-right:-0.5rem;
    margin-top:-0.25rem;
}

.selector-container
{
    width: 21rem;
    bottom: 4rem;
    z-index: 5;
}

.single-column-tile
{
    width: calc((28rem - 32px)/3);
}

.infoButton {
    height: 18px;
    width: 18px;
    margin-top: 10px;
    margin-right: 12px;
    border-radius: 50%;
}
