<!-- selector panel when expanded -->

<mat-card class="selector-container m-2 position-absolute"
    [ngClass]="{'pe-all': selectorExpanded}"
    [@toggleAtlasLayerSelector]="selectorExpanded"
    (@toggleAtlasLayerSelector.done)="atlasSelectorTour?.attachTo(selectorExpanded ? selectorPanelTemplateRef : null)"
    #selectorPanelTmpl>
    <mat-card-content>

        <!-- templates -->
        <mat-card-subtitle>
            {{ CONST.ATLAS_SELECTOR_LABEL_SPACES }}
        </mat-card-subtitle>

        <!-- template grid and tiles -->
        <mat-grid-list cols="3"
            rowHeight="2:3"
            gutterSize="16">

            <mat-grid-tile *ngFor="let template of availableTemplates$ | async; trackBy: trackbyAtId"
                [attr.aria-checked]="(selectedTemplate$ | async | getProperty : '@id')  === template['@id']">
                
                <div [hidden]
                    iav-dataset-show-dataset-dialog
                    [iav-dataset-show-dataset-dialog-name]="template.originDatainfos[0]?.name"
                    [iav-dataset-show-dataset-dialog-description]="template.originDatainfos[0]?.description"
                    [iav-dataset-show-dataset-dialog-urls]="template.originDatainfos[0]?.urls"
                    #kgInfo="iavDatasetShowDatasetDialog">
                </div>
                <tile-cmp [tile-image-src]="template | getPreviewUrlPipe"
                    class="cursor-pointer pe-all"
                    tile-image-alt="Preview of this tile"
                    [tile-text]="template.displayName || template.name"
                    [tile-show-info]="template.originDatainfos?.length > 0"
                    [tile-disabled]="!(selectedParcellation$ | async | currParcSupportsTmpl : template)"
                    [tile-image-darktheme]="template.darktheme"
                    [tile-selected]="(selectedTemplate$ | async | getProperty : '@id')  === template['@id']"
                    (tile-on-click)="selectTemplatewithId(template['@id'])"
                    (tile-on-info-click)="kgInfo && kgInfo.onClick()">
                </tile-cmp>
            </mat-grid-tile>
        </mat-grid-list>

        <mat-divider></mat-divider>

        <!-- parcellations -->
        <mat-card-subtitle class="mt-2">
            {{ CONST.ATLAS_SELECTOR_LABEL_PARC_MAPS }}
        </mat-card-subtitle>

        <mat-grid-list cols="3"
            rowHeight="2:3"
            gutterSize="16">

            <!-- non grouped layers -->
            <mat-grid-tile *ngFor="let layer of (atlasLayersLatest$ | async | getNonbaseParc | getIndividualParc); trackBy: trackbyAtId"
                [attr.aria-checked]="selectedParcellation$ | async | groupParcSelected : layer">

                <div [hidden]
                    iav-dataset-show-dataset-dialog
                    [iav-dataset-show-dataset-dialog-name]="layer.originDatainfos[0]?.name"
                    [iav-dataset-show-dataset-dialog-description]="layer.originDatainfos[0]?.description"
                    [iav-dataset-show-dataset-dialog-urls]="layer.originDatainfos[0]?.urls"
                    #kgInfo="iavDatasetShowDatasetDialog">
                </div>
                <tile-cmp [tile-image-src]="layer | getPreviewUrlPipe"
                    class="cursor-pointer pe-all"
                    tile-image-alt="Preview of this tile"
                    [tile-text]="layer.displayName || layer.name"
                    [tile-show-info]="layer.originDatainfos?.length > 0"
                    [tile-disabled]="!(selectedTemplate$ | async | currentTemplateSupportsParcellation : layer)"
                    [tile-image-darktheme]="layer.darktheme"

                    [tile-selected]="selectedParcellation$ | async | groupParcSelected : layer"

                    (tile-on-click)="selectParcellationWithName(layer)"
                    (tile-on-info-click)="kgInfo && kgInfo.onClick()">
                </tile-cmp>

            </mat-grid-tile>

            <!-- grouped layers -->
            <mat-grid-tile *ngFor="let groupKeyVal of (atlasLayersLatest$ | async | getNonbaseParc | getGroupedParc | keyvalue); trackBy: trackKeyVal"
                [attr.aria-checked]="false">

                <!-- prevent click bubbling to document is necessary -->
                <!-- or else, the outsideclick directive will fire immediately -->
                <!-- resulting in immediate opening and closing of mat menu -->
                <tile-cmp [tile-image-src]="groupKeyVal['value'][0] | getPreviewUrlPipe"
                    class="cursor-pointer pe-all"
                    tile-image-alt="Preview of this tile"
                    [tile-text]="groupKeyVal['key']"
                    [tile-show-info]="false"
                    [tile-disabled]="!(selectedTemplate$ | async | currentTemplateSupportsParcellation : groupKeyVal['value'])"
                    [tile-image-darktheme]="groupKeyVal['value'][0].darktheme"
                    [tile-is-dir]="true"
                    [matMenuTriggerFor]=layerGroupMenu
                    [matMenuTriggerData]="{
                        layerGroupItems: groupKeyVal['value']
                    }"
                    [tile-selected]="selectedParcellation$ | async | groupParcSelected : groupKeyVal['value']"
                    iav-stop="click">
                </tile-cmp>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>

<!-- place holder when not expanded -->
<div class="position-relative m-2 cursor-pointer scale-up-bl pe-all"
    quick-tour
    [quick-tour-description]="quickTourData.description"
    [quick-tour-order]="quickTourData.order"
    #atlasSelectorTour="quickTour">
    <!-- TODO check when do we disable atlas selector -->
    <button color="primary"
        *ngIf="true"
        matTooltip="Select layer"
        mat-mini-fab
        [attr.aria-label]="ARIA_LABELS.TOGGLE_ATLAS_LAYER_SELECTOR"
        (click)="toggleSelector()">
        <i class="fas fa-layer-group"></i>
    </button>
</div>

<!-- mat menu for grouped layer -->
<mat-menu
    #layerGroupMenu="matMenu"
    hasBackdrop="false">

    <ng-template matMenuContent let-layerGroupItems="layerGroupItems">
        <mat-grid-list cols="1"
            rowHeight="6:7"
            gutterSize="8"
            iav-stop="click"
            (iav-outsideClick)="collapseExpandedGroup()">
            <mat-grid-tile *ngFor="let layer of layerGroupItems"
                [attr.aria-checked]="selectedParcellation$ | async | groupParcSelected : layer">

                <div [hidden]
                    iav-dataset-show-dataset-dialog
                    [iav-dataset-show-dataset-dialog-name]="layer.originDatainfos[0]?.name"
                    [iav-dataset-show-dataset-dialog-description]="layer.originDatainfos[0]?.description"
                    [iav-dataset-show-dataset-dialog-urls]="layer.originDatainfos[0]?.urls"
                    #kgInfo="iavDatasetShowDatasetDialog">
                </div>

                <tile-cmp [tile-image-src]="layer | getPreviewUrlPipe"
                    class="iv-custom-comp text m-3 cursor-pointer pe-all"
                    tile-image-alt="Preview of this tile"
                    [tile-text]="layer.displayName || layer.name"
                    [tile-show-info]="layer.originDatainfos?.length > 0"
                    [tile-disabled]="!(selectedTemplate$ | async | currentTemplateSupportsParcellation : layer)"
                    [tile-image-darktheme]="layer.darktheme"

                    [tile-selected]="selectedParcellation$ | async | groupParcSelected : layer"

                    (tile-on-click)="selectParcellationWithName(layer)"
                    (tile-on-info-click)="kgInfo && kgInfo.onClick()">
                </tile-cmp>

            </mat-grid-tile>
        </mat-grid-list>

    </ng-template>
</mat-menu>
