<!-- selected template and parcellation -->
<div *ngIf="templateSelected$ | async as templateSelected">
  {{ templateSelected.name }}
</div>
<div *ngIf="parcellationSelected$ | async as parcellationSelected">
  {{ parcellationSelected.displayName || parcellationSelected.name }}
</div>

<!-- selected parcellation regions -->
<ng-container *ngIf="regionsSelected$ | async as regionsSelected">
  <ng-container *ngIf="regionsSelected.length > 0">
    <div class="mt-2">
      {{ regionsSelected.length }} region{{ regionsSelected.length > 1 ? 's' : '' }} selected
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="standaloneVolumes$ | async as standaloneVolumes">
  <div *ngFor="let vol of standaloneVolumes">
    {{ vol }}
  </div>
</ng-container>