kg-dataset-previewer
{
  height: 20em;
  width: 30em;
}
.scroll-snap-container
{
  scroll-snap-type: x mandatory;
  scroll-padding-left: 1em;
  scroll-padding-right: 1em;
}

.scroll-snap-container > .scroll-snap-child
{
  scroll-snap-align: center;
}

.w-30em
{
  width:30em!important;
}