<div (mouseenter) = "hover = true" (mouseleave)="hover = false" container>
  <div message>
    <ng-template #messageContainer>

    </ng-template>
  </div>
  <div message
    [innerHTML]="htmlMessage"
    *ngIf = "htmlMessage">
  </div>
  <div
    message
    *ngIf="message && !htmlMessage">
    {{ message }}
  </div>
  <div
    (click)="dismiss($event)"
    class="ml-2"
    *ngIf="dismissable" close>
    <i class="fas fa-times"></i>
  </div>
  <timer-component
    *ngIf="timeout > 0"
    (timerEnd)="dismissed.emit(false)"
    [pause]="hover"
    [timeout]="timeout"
    timer>
  </timer-component>
</div>