:host {
    /*z-index: 9999;*/
    display: block;
    width: 100%;
    height: 100%;
}

::ng-deep .cdk-global-overlay-wrapper {
    z-index: 900;
}

::ng-deep .mat-stroked-button[disabled] {
    color: rgba(128, 128, 128, 0.41) !important;
}

::ng-deep .mat-stroked-button:not([disabled]) {
    border-color: #222529 !important;
}

.stokeColor {
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: rgba(0, 0, 0, 0);
}
:host-context([darktheme="true"]) .stokeColor {
    stroke: rgb(255, 255, 255);
}
:host-context([darktheme="false"]) .stokeColor {
    stroke: rgb(66,66,66);
}

/*::ng-deep .mat-stroked-button:not([disabled]) {*/
/* color: #1a1a1a;*/
/*}*/

.tour-help {
    /*background-color: #efefef;*/
    z-index: 901;
}


.tipCard {
    border-radius: 10px;
    max-width: 300px;
    text-align: left;
}

:host-context([darktheme="true"]) .tipCard {
    background-color: #424242;
    color: white;
}
:host-context([darktheme="false"]) .tipCard {
    background-color: #FFFFFF;
    border: 1px solid rgba(66, 66, 66, 0.26);
    color: #424242;
}

.cover {
    background-color: rgba(0,0,0, 0.5);
    width: 100vw;
    height: 100vh;
    z-index: 899;
    /*display: block;*/

    top: 0;
    left: 0;
}

.box {
    box-sizing: content-box;
    width: 0;
    height: 0;
    transform-origin: top left;
    border: 10000px solid rgba(0, 0, 0, 0.5);
}

.inner-box {
    border: 1px white solid;
}

.stepCircle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

/*.cover {*/
/*    pointer-events: none; z-index: 900;*/
/*}*/
