div[splashScreenContainer]
{
  height:100%;
}

div[templateCardContainer]
{
  height:100%;
  display:flex;
  flex-direction: row;
  flex-wrap:nowrap;
  align-items: center;

  overflow-x:auto;
}

div[templateCard]
{

  position:relative;
  flex: 0 1 25em;
  min-width: 20em;
  padding: 0em 1em;
  margin : 0em 1em;
  box-sizing: border-box;

  background-color:rgb(242,242,242);
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.12);
}

div[templateCard]:hover
{
  background-color:rgba(242,242,242,0.8);
}