<div splashScreenContainer>
  <div splashScreenHeader *ngIf="!isMobile">
    <div class="splashScreenHeaderLogoContainer"><img class="splashScreenHeaderLogo " src="./res/image/HBP_Primary_RGB_BlackText.png"> </div>
    <div class="spaceForFill">
    </div>
    <signin-banner >
    </signin-banner>
  </div>

  <div splashScreenTemplate>
    <div *ngFor="let template of loadedTemplate$ | async | filterNull" splashScreenTemplateItem>
      <div class="template-card" (click) = "selectTemplate(template)">
        <div splashScreenTemplateHeader>
          {{template.properties.name}}
        </div>
        <div splashScreenTemplateBody>
          <div splashScreenTemplateBodyImage>
            <img class="template-image" [src]="'./res/image/' + correctString(template.properties.name) + '.png'">
          </div>
          <div splashScreenTemplateBodyDescription>
            {{template.properties.description}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>