div[splashScreenContainer]
{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y:auto;
}

div[splashScreenHeader] {
  max-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.splashScreenHeaderTitle {
  font-size: 45px;
}


.splashScreenHeaderLogoContainer {
  flex: 1;
  padding-top: 20px;
}
.splashScreenHeaderLogo {
  margin-left: 50px;
  width: 100px;
  height: auto;
}

.spaceForFill {
  flex: 1;
}

div[splashScreenTemplate] {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

div[splashScreenTemplateItem] {
  max-width: 600px;
  width: 400px;
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

div[splashScreenTemplateHeader] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  align-self: center;
  text-align: center;
  font-size: 30px;
  margin: 5px 0;

}

div[splashScreenTemplateBody] {
  display: flex;
  flex-direction: column;
}

div[splashScreenTemplateBodyDescription] {
  flex: 1;
  text-align: justify;
  margin: 0 10px 10px 10px;
}
div[splashScreenTemplateBodyImage] {
  flex: 1;
}

.template-image {
  width: 100%;
  height: auto;
}

.template-card {
  width: 100%;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.template-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

@media screen and (max-width: 670px) {
  .splashScreenHeaderTitle {
    visibility: hidden;
  }
  div[splashScreenTemplate] {
    margin: 20px 20px;
  }
  div[splashScreenTemplateBody] {
    flex-direction: column;
  }
}