.appendMargin
{
  padding-top:10em;
}

.splashScreenHeaderTitle {
  font-size: 45px;
}

div[splashScreenTemplateItem] {
  max-width: 600px;
  width: 400px;
  margin: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

div[splashScreenTemplateHeader] {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  align-self: center;
  text-align: center;
  font-size: 30px;
  margin: 5px 0;

}

.template-image {
  width: 100%;
  height: auto;
}

.template-card {
  width: 100%;
  cursor: pointer;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.template-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

@media screen and (max-width: 670px) {
  .splashScreenHeaderTitle {
    visibility: hidden;
  }
  div[splashScreenTemplate] {
    margin: 20px 20px;
  }
  div[splashScreenTemplateBody] {
    flex-direction: column;
  }
}