<div>
    <div [hidden]="selectorExpanded"
         class="muted-7 m-2 selectedLayerBorder cursorPointer selectedTemplateDefaultContainer"
         (click)="selectorExpanded = true">
        <img [src]="selectedTemplatePreviewUrl" draggable="false"/>
    </div>


    <small *ngIf="selectorExpanded" class="position-relative">
        <mat-card class="scale-up-bl">
            <div class="position-absolute cursorPointer" style="top: 10px; right: 10px;" (click)="selectorExpanded = false">
                <i class="fas fa-times-circle"></i>
            </div>
            <mat-card-subtitle class="mb-1">Templates</mat-card-subtitle>


            <div class="d-flex flex-wrap w-100">
                <div class="d-flex flex-column justify-content-start w-100 mb-1 mt-1 overflow-hidden cursorPointer singleLayerImageContainer"
                     *ngFor="let template of (selectedAtlas$ | async)?.templateSpaces; let i = index"
                     [matTooltip]="template.name"
                     matTooltipPosition="above"
                    (click)="selectTemplateWithName(template)">
                    <img class="layer-image align-self-center"
                         [ngClass]="selectedTemplateSpaceIndex === i? 'selectedLayerBorder': null "
                         [src]="template.previewUrl"
                         draggable="false"/> <!--[ngStyle]="{opacity: hover? '1' : '0.2'}" (mouseenter)="hover = true" (mouseleave)="hover = false"-->
                    <small class="ml-1 mr-1 mt-2 text-truncate">{{template.name}}</small>
                </div>
            </div>

            <mat-card-subtitle class="mb-1 mt-2">Layers</mat-card-subtitle>




            <div class="d-flex flex-wrap w-100">
                <div class="d-flex flex-column justify-content-start w-100 mb-1 mt-1 overflow-hidden cursorPointer singleLayerImageContainer"
                     *ngFor="let layer of notGroupedParcellations((selectedAtlas$ | async)?.parcellations); let i = index;"
                     [matTooltip]="layer.name"
                     matTooltipPosition="above"
                     (click)="templateIncludesLayer(layer, atlas?.templateSpaces[selectedTemplateSpaceIndex]) && selectParcellationWithName(layer)"
                     [ngStyle]="{opacity: templateIncludesLayer(layer, atlas?.templateSpaces[selectedTemplateSpaceIndex])? '1' : '0.2'}">
                    <img class="layer-image align-self-center"
                         [ngClass]="selectedLayersIncludes(layer['@id'])? 'selectedLayerBorder' : null"
                         [src]="layer.previewUrl"
                         draggable="false"/>
                    <small class="ml-1 mr-1 mt-2 mb-2 text-truncate">{{layer.name}}</small>
                </div>

                <div class="d-flex flex-column justify-content-start w-100 mb-1 mt-1 overflow-hidden cursorPointer singleLayerImageContainer"
                     [matMenuTriggerFor]="layerGroupMenu"
                     iav-stop="click"
                     *ngFor="let group of groupedLayers; let i = index;"
                     [matTooltip]="group[0]"
                     matTooltipPosition="above"
                     (click)="layerGroupMenuItems = group[1]"
                     [ngStyle]="{opacity: templateIncludesGroup(group, atlas?.templateSpaces[selectedTemplateSpaceIndex])? '1' : '0.2'}"
                     #groupedMenuTrigger="matMenuTrigger">
                     <img class="layer-image align-self-center"
                         [ngClass]="selectedOneOfTheLayers(group[1])? 'selectedLayerBorder' : null"
                         [src]="group[1][0].previewUrl"
                         draggable="false"/>
                     <div class="d-flex flex-row-reverse align-items-end w-100 h-0">
                        <i class="fas fa-folder folder-container fa-2x"></i>
                     </div>
                    <small class="ml-1 mr-1 mt-2 mb-2 text-truncate">{{group[0]}}</small>
                </div>

                <mat-menu
                    #layerGroupMenu="matMenu"
                    class="layerGroupMenu"
                    hasBackdrop="false">

                    <ng-template matMenuContent>
                        <div iav-stop="click"
                            class="d-flex flex-column align-items-center"
                            (iav-outsideClick)="collapseExpandedGroup()">
                            <div class="d-flex flex-column justify-content-center w-100 mb-1 mt-1 overflow-hidden cursorPointer singleLayerImageContainer"
                                *ngFor="let layer of layerGroupMenuItems; let i = index;"
                                [matTooltip]="layer.name"
                                matTooltipPosition="above"
                                (click)="templateIncludesLayer(layer, atlas?.templateSpaces[selectedTemplateSpaceIndex]) && selectParcellationWithName(layer)"
                                [ngStyle]="{opacity: templateIncludesLayer(layer, atlas?.templateSpaces[selectedTemplateSpaceIndex])? '1' : '0.2'}">
                                <img class="layer-image align-self-center"
                                    [ngClass]="selectedLayersIncludes(layer['@id'])? 'selectedLayerBorder' : null"
                                    [src]="layer.previewUrl"
                                    draggable="false"/>
                                <small class="iv-custom-comp text ml-1 mr-1 mt-2 mb-2 text-truncate">{{layer.name}}</small>
                            </div>
                        </div>
                    </ng-template>
                </mat-menu>
            </div>
        </mat-card>
    </small>
</div>
