<div class="w-100 h-100 d-block d-flex flex-column sxplr-pb-2">
    <hbp-connectivity-matrix-row
            #connectivityComponent
            *ngIf="regionName"
            [region]="regionName + (regionHemisphere? ' - ' + regionHemisphere : '')"
            [connections]="connectionsString"
            [dataIsLoading]="fetching"
            theme="dark"
            show-export="true"
            show-source="false"
            show-title="false"
            show-toolbar="false"
            show-description="false"
            show-dataset-name="false"
            custom-dataset-selector="true"
            tools_showlog="true"
            [tools_custom]='[{"name": "exportslot", "type": "slot"}]'
            hide-export-view="true">

        <div slot="dataset">
            <div *ngIf="types && types.length && selectedType" class="flex-grow-0 flex-shrink-0 d-flex flex-row flex-nowrap">
                <mat-form-field class="flex-grow-1 flex-shrink-1 w-0">
                    <mat-label>
                        Modality
                    </mat-label>

                    <mat-select
                            [value]="selectedType"
                            (selectionChange)="selectType($event.value)">
                        <mat-option
                                *ngFor="let type of types"
                                [matTooltip]="type.name"
                                [value]="type.name">
                            {{ type.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div *ngIf="datasetList.length && selectedDataset"  class="flex-grow-0 flex-shrink-0 d-flex flex-row flex-nowrap">
                    <mat-form-field class="flex-grow-1 flex-shrink-1 w-0">
                        <mat-label>
                            Dataset
                        </mat-label>

                        <mat-select
                                [value]="selectedDataset"
                                (selectionChange)="selectDataset($event.value)">
                            <mat-option
                                   [matTooltip]="dataset.data.name"
                                    *ngFor="let dataset of datasetList"
                                    [value]="dataset['@id']">
                                {{ dataset.data.name }}
                            </mat-option>
                            <mat-divider></mat-divider>

                            <mat-progress-bar *ngIf="loadingDatasets" mode="indeterminate"></mat-progress-bar>

                            <div class="d-flex justify-content-center" *ngIf="!loadingDatasets">
                                <button mat-button color="primary" (click)="loadMoreDatasets()">Load more</button>
                            </div>

                        </mat-select>
                    </mat-form-field>
                <ng-container *ngIf="selectedDataset && (selectedDatasetDescription || selectedDatasetKgId)" >
<!--                    TODO please reimplmenent button to explore KG dataset-->
                    <button class="flex-grow-0 flex-shrink-0"
                            mat-icon-button
                            (click)="exportFullConnectivity()"
                            matTooltip="Export full connectivity profile">
                        <i class="fas fa-download"></i>
                    </button>
                </ng-container>
            </div>
            <div>
                Connectivity Profile
            </div>
        </div>

        <div slot="exportslot">
            <button mat-icon-button
                    [disabled]="noDataReceived"
                    (click)="exportConnectivityProfile()"
                    matTooltip="Export connectivity profile">
                <i class="fas fa-download mb-2"></i>
            </button>
        </div>
    </hbp-connectivity-matrix-row>
    <full-connectivity-grid #fullConnectivityGrid
                            [matrix]="matrixString"
                            [datasetName]="selectedDatasetName"
                            [datasetDescription]="selectedDatasetDescription"
                            only-export="true">
    </full-connectivity-grid>
</div>
