<div class="w-100 h-100 d-block d-flex flex-column sxplr-pb-2">
    <div>
        <div *ngIf="types && types.length"
             class="flex-grow-0 flex-shrink-0 d-flex flex-row flex-nowrap d-flex flex-column">
            <mat-form-field class="flex-grow-1 flex-shrink-1 w-100">
                <mat-label>
                    Modality
                </mat-label>

                <mat-select
                        [value]="selectedType"
                        (selectionChange)="selectType($event.value)">
                    <mat-option
                            *ngFor="let type of types"
                            [value]="type.name">
                        {{ type.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field *ngIf="!fetching && selectedType" class="flex-grow-1 flex-shrink-1 w-100">
                <mat-label>
                    Cohort
                </mat-label>

                <mat-select
                        [value]="selectedCohort"
                        (selectionChange)="selectCohort($event.value)">
                    <mat-option
                            *ngFor="let cohort of cohorts"
                            [value]="cohort">
                        {{ cohort }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <mat-radio-group *ngIf="selectedCohort" [(ngModel)]="selectedView">
            <mat-radio-button value="average" class="m-2" [disabled]="averageDisabled" color="primary">
                Average
            </mat-radio-button>
            <mat-radio-button value="subject" class="m-2" [disabled]="subjectsDisabled"  color="primary">
                Subject
            </mat-radio-button>
        </mat-radio-group>

        <div *ngIf="selectedView !== 'average' && selectedCohort && cohortSubjects"
             class="flex-grow-0 flex-shrink-0 d-flex flex-column">
            <div class="flex-grow-1 flex-shrink-1 w-100">
                <mat-label>
                    Subject
                </mat-label>
                <mat-slider [min]="0"
                            [max]="cohortSubjects.length - 1"
                            (change)="subjectSliderChanged($event.value)"
                            [value]="selectedSubjectIndex"
                            thumbLabel
                            step="1"
                            class="w-100">
                </mat-slider>
            </div>

            <div *ngIf="selectedSubjectsDatasets && selectedSubjectsDatasets.length > 1"
                 class="flex-grow-0 flex-shrink-0 d-flex flex-nowrap align-items-center">
                <div class="flex-grow-1 flex-shrink-1 w-100">
                    <mat-label>
                        Dataset
                    </mat-label>
                    <mat-slider [min]="0"
                                [max]="selectedSubjectsDatasets.length - 1"
                                (change)="subjectDatasetSliderChanged($event.value)"
                                [value]="selectedSubjectDatasetIndex"
                                thumbLabel
                                step="1"
                                class="w-100">
                    </mat-slider>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-center">
        <mat-spinner *ngIf="fetching"></mat-spinner>
    </div>

    <div *ngIf="regionName && !fetching"
         [style.visibility]="selectedCohort && (selectedSubjectDatasetIndex >= 0 || !averageDisabled)? 'visible' : 'hidden'"
         class="d-flex align-items-center">
        <mat-checkbox class="mr-2"
                      [checked]="logChecked"
                      (change)="changeLog($event.checked)"
                      [disabled]="logDisabled || noConnectivityForRegion">Log 10</mat-checkbox>
        <button mat-button [matMenuTriggerFor]="exportMenu"
                [disabled]="!connectedAreas.value">
            <i class="fas fa-download mb-2 mr-2"></i>
            <label>Export</label>
        </button>
        <button mat-button (click)="infoExpanded = !infoExpanded">
            <i class="fas fa-info mb-2 mr-2"></i>
            <i class="fas mb-2 ml-2" [ngClass]="infoExpanded? 'fa-chevron-up' : 'fa-chevron-down'"></i>
        </button>
        <a *ngIf="selectedDataset" [href]="'https://search.kg.ebrains.eu/instances/' + selectedDataset['dataset_id']" target="_blank">
            <button mat-icon-button><i class="fas fa-external-link-alt mb-2"></i></button>
        </a>    
    </div>

    <div *ngIf="infoExpanded">
        <p>{{selectedDataset.description}}</p>
        <p>{{selectedDataset.authors.join()}}</p>
    </div>

    <hbp-connectivity-matrix-row
        #connectivityComponent
        [style.visibility]="selectedCohort && (selectedSubjectDatasetIndex >= 0 || !averageDisabled)? 'visible' : 'hidden'"
        *ngIf="regionName && !fetching && !noConnectivityForRegion"
        [region]="regionName + (regionHemisphere? ' - ' + regionHemisphere : '')"
        [connections]="connectionsString"
        show-export="true" hide-export-view="true"
        theme="dark">
    </hbp-connectivity-matrix-row>
    <div *ngIf="noConnectivityForRegion">No connectivity for the region.</div>

    <full-connectivity-grid #fullConnectivityGrid
                            [matrix]="matrixString"
                            [datasetName]="selectedDataset?.name"
                            [datasetDescription]="selectedDataset?.description"
                            only-export="true">
    </full-connectivity-grid>

    <mat-menu #exportMenu="matMenu">
        <button mat-menu-item [disabled]="noConnectivityForRegion" (click)="exportConnectivityProfile()">Regional</button>
        <button mat-menu-item (click)="exportFullConnectivity()">Dataset</button>
    </mat-menu>
</div>
