<mat-accordion>

    <!-- show everything except for connectivity and dataset -->
    <ng-template ngFor [ngForOf]="cateogryCollections$ | async | keyvalue | filterCategory : ['dataset', 'other'] : false"  let-keyvalue>
        <ng-template [ngTemplateOutlet]="featureCategoryFeatureTmpl"
        [ngTemplateOutletContext]="{
            $implicit: keyvalue
        }">
        </ng-template>
    </ng-template>

    <!-- show dataset/other at the very bottom -->
    <ng-template ngFor [ngForOf]="cateogryCollections$ | async | keyvalue | filterCategory : ['dataset', 'other']"  let-keyvalue>
        <ng-template [ngTemplateOutlet]="featureCategoryFeatureTmpl"
        [ngTemplateOutletContext]="{
            $implicit: keyvalue
        }">
        </ng-template>
    </ng-template>
</mat-accordion>

<!-- template for collected category -->
<ng-template #featureCategoryFeatureTmpl let-keyvalue>
    <mat-expansion-panel
        sxplrCategoryAcc
        [unchecked]="filterFeatureCls.unchecked$ | async"
        #categoryAcc="categoryAcc"
        [ngClass]="{
            'sxplr-d-none': !(categoryAcc.isBusy$ | async) && (categoryAcc.total$ | async) === 0
        }">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{ keyvalue.key }}
            </mat-panel-title>
            <mat-panel-description>
                <ng-template [ngIf]="categoryAcc.total$ | async" let-total>
                    <span>
                        {{ total }}
                    </span>
                </ng-template>
                <spinner-cmp class="sxplr-ml-2 sxplr-d-block" *ngIf="categoryAcc.isBusy$ | async"></spinner-cmp>
            </mat-panel-description>
        </mat-expansion-panel-header>


        <!-- <button mat-button>Show all</button> -->
        <div class="mat-chip-container"
            feature-filter-directive
            [initValue]="true"
            [items]="categoryAcc.featureMetadata$ | async "
            #filterFeatureCls="featureFilterDirective">

            <div class="mat-chip-inner-container">
                <button mat-stroked-button
                    matTooltip="Filters"
                    [color]="(filterFeatureCls.unchecked$ | async).length > 0 ? 'primary' : 'default'"
                    (click)="openDialog(filterDialog)">
                    <i class="fas fa-filter"></i>
                    <span class="sxplr-ml-1">Filter</span>
                    <ng-template [ngIf]="(filterFeatureCls.unchecked$ | async).length > 0">
                        ({{ (filterFeatureCls.unchecked$ | async).length }})
                    </ng-template>
                </button>

                <div class="text-muted">
                    <ng-template [ngTemplateOutlet]="filterTallyTmpl">
                    </ng-template>
                </div>
                
                <ng-template #filterDialog>
                    <h1 mat-dialog-title>
                        Filter data features
                    </h1>
                    <div mat-dialog-content>
                        <ng-template [ngIf]="!(filterFeatureCls.items) || !(filterFeatureCls.checked$)">
                            No items to filter
                        </ng-template>

                        <!-- select all checkbox -->
                        <mat-selection-list>
                            <mat-list-option [selected]="(filterFeatureCls.unchecked$ | async).length === 0"
                                (click)="listOption.selected ? filterList.selectAll() : filterList.deselectAll()"
                                #listOption>
                                <span class="text-muted sxplr-mr-2">
                                    <ng-template [ngTemplateOutlet]="filterTallyTmpl"></ng-template>
                                </span>
                            </mat-list-option>
                        </mat-selection-list>

                        <mat-divider></mat-divider>

                        <!-- individual selector -->
                        <mat-selection-list #filterList="matSelectionList">
                            <ng-template ngFor [ngForOf]="filterFeatureCls.items" let-item>
                                <ng-template [ngIf]="item.meta.total > 0">
                                    <mat-list-option [selected]="filterFeatureCls.checked$ | async | grpFeatToName | includes : item.meta.displayName"
                                        (selectedChange)="filterFeatureCls.setValue(item, $event)">
                                        <div>
                                            <span>
                                                {{ item.meta.displayName }}
                                            </span>
                                            <span class="text-muted">
                                                ({{ item.meta.total }})
                                            </span>
                                        </div>
                                    </mat-list-option>
                                </ng-template>
                            </ng-template>
                        </mat-selection-list>

                        <mat-divider></mat-divider>
                        
                    </div>
                    
                    <div mat-dialog-actions align="end">
                        <button mat-stroked-button color="primary" (click)="filterList.selectAll()">
                            Reset
                        </button>
                        <button mat-button mat-dialog-close cdkFocusInitial>
                            Close
                        </button>
                    </div>
                </ng-template>

                <ng-template #filterTallyTmpl>
                    <ng-template [ngIf]="(filterFeatureCls.unchecked$ | async).length === 0" [ngIfElse]="partialTmpl">
                        Showing all {{ categoryAcc.total$ | async }} features
                    </ng-template>
                    <ng-template #partialTmpl>
                        Showing {{ filterFeatureCls.checked$ | async | grpFeatTally }} / {{ categoryAcc.total$ | async }} features
                    </ng-template>
                </ng-template>

            </div>
        </div>

        <ng-template ngFor [ngForOf]="keyvalue.value" let-feature>

            <!-- collected by CategoryAccDirective with ContentChildren -->
            <div sxplr-feature-list-directive
                [template]="template"
                [parcellation]="parcellation"
                [region]="region"
                [bbox]="bbox"
                [queryParams]="queryParams | mergeObj : { type: (feature.name | featureNamePipe) }"
                [featureRoute]="feature.path"
                [name]="feature.name"
                [displayName]="feature.display_name">
            </div>
        </ng-template>

        <ng-template [ngIf]="categoryAcc.datasource$ | async" let-datasource>
            <cdk-virtual-scroll-viewport itemSize="36"
                (scrolledIndexChange)="onScroll(datasource, $event)"
                class="virtual-scroll-viewport">

                <ng-template cdkVirtualFor
                    [cdkVirtualForOf]="datasource"
                    let-feature
                    let-last="last">

                    <!-- n.b. do not introduce mattooltip in scrollable container -->
                    <!-- it will override scrollability -->
                    <button
                        mat-button
                        class="virtual-scroll-item sxplr-w-100"
                        (click)="onClickFeature(feature)">
                        <span class="ws-no-wrap"> {{ feature.name }} </span>
                    </button>

                    <div *ngIf="last && datasource.isPulling$ | async">
                        <ng-template [ngTemplateOutlet]="loadingSpinnerTmpl">
                        </ng-template>
                    </div>


                </ng-template>
            </cdk-virtual-scroll-viewport>
        </ng-template>
        
    </mat-expansion-panel>
</ng-template>


<ng-template #loadingSpinnerTmpl>
    <spinner-cmp class="sxplr-pl-2 sxplr-d-block"></spinner-cmp>
</ng-template>

