.chart-background-for-screenshot {
    background-color: #424242;
}
.chart-line-height {
    line-height: 14px;
}
.chart-bar {
    height: 10px;
    min-width: 3px;
    z-index: 2;
    text-align: right;
    transition: width 1s;
    -webkit-transition: width 1s;
}

.text-shadow {
    text-shadow: 1px 1px black;
}

.chart-line-1 {
    height: calc(100% + 4px); left: 33.33%;
}
.chart-line-2 {
    height: calc(100% + 4px); left: 66.67%;
}
.chart-line-3 {
    height: calc(100% + 4px); left: 99.99%;
}