<div class="w-100 h-100 d-block d-flex flex-column pb-2">
    <hbp-connectivity-matrix-row
            #connectivityComponent
            *ngIf="regionName"
            [region]="regionName"
            theme="dark"
            [loadurl]="loadUrl"
            show-export="true"
            show-source="false"
            show-title="false"
            show-toolbar="false"
            show-description="false"
            show-dataset-name="false"
            custom-dataset-selector="true"
            tools_showlog="true"
            [tools_custom]='[{"name": "exportslot", "type": "slot"}]'
            hide-export-view="true">

        <div slot="dataset">
            <div *ngIf="datasetList.length && selectedDataset"  class=" flex-grow-0 flex-shrink-0 d-flex flex-row flex-nowrap">
                    <mat-form-field class="flex-grow-1 flex-shrink-1 w-0">
                        <mat-label>
                            Dataset
                        </mat-label>

                        <mat-select
                                panelClass="no-max-width"
                                [value]="selectedDataset"
                                (selectionChange)="changeDataset($event)">
                            <mat-option
                                    *ngFor="let dataset of datasetList"
                                    [value]="dataset.name">
                                {{ dataset.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                <ng-container *ngIf="selectedDataset && selectedDatasetDescription" >
                    <button class="flex-grow-0 flex-shrink-0" mat-icon-button
                            iav-dataset-show-dataset-dialog
                            [iav-dataset-show-dataset-dialog-name]="selectedDataset"
                            [iav-dataset-show-dataset-dialog-description]="selectedDatasetDescription">
                        <i class="fas fa-info"></i>
                    </button>
                    <button class="flex-grow-0 flex-shrink-0"
                            mat-icon-button
                            (click)="exportFullConnectivity()"
                            matTooltip="Export full connectivity profile">
                        <i class="fas fa-download"></i>
                    </button>
                </ng-container>
                </div>
            <div>
                Connectivity Profile
            </div>
        </div>

        <div slot="connectedRegionMenu">
            <div class="d-flex flex-column p-0 m-0" *ngIf="expandMenuIndex >= 0">
                <mat-card-subtitle class="pt-2 pr-2 pl-2 pb-0">
                    <div class="d-flex justify-content-between align-items-center">
                      {{connectedAreas[expandMenuIndex].name}}
                      <small class="d-flex align-items-center">
                          <button mat-icon-button matTooltip="Navigate"
                                  (click)="navigateToRegion(connectedAreas[expandMenuIndex].name)">
                              <i class="fas fa-map-marked-alt"></i>
                          </button>
                          <button mat-icon-button matTooltip="Explore"
                                  (click)="selectRegion(getRegionWithName(connectedAreas[expandMenuIndex].name))">
                              <i class="fas fa-search-location"></i>
                          </button>
                      </small>
                    </div>
                </mat-card-subtitle>
                <mat-divider></mat-divider>
            </div>
        </div>
        <div slot="exportslot">
            <button mat-icon-button
                    [disabled]="noDataReceived"
                    (click)="exportConnectivityProfile()"
                    matTooltip="Export connectivity profile">
                <i class="fas fa-download mb-2"></i>
            </button>
        </div>
    </hbp-connectivity-matrix-row>
    <full-connectivity-grid #fullConnectivityGrid
                            [loadurl]="fullConnectivityLoadUrl"
                            [name]="selectedDataset"
                            [description]="selectedDatasetDescription"
                            onlyExport="true">
    </full-connectivity-grid>
</div>
