<div class="position-absolute h-100 w-100"
  (touchmove)="$event.preventDefault()"
  iav-viewer-touch-interface
  [iav-viewer-touch-interface-v-panels]="viewPanels"
  [iav-viewer-touch-interface-vp-to-data]="iavContainer?.viewportToDatas"
  [iav-viewer-touch-interface-ngviewer]="nehubaViewer?.nehubaViewer?.ngviewer"
  [iav-viewer-touch-interface-nehuba-config]="selectedTemplate?.nehubaConfig">
  <div 
    iav-nehuba-viewer-container
    (iavNehubaViewerContainerViewerLoading)="handleViewerLoadedEvent($event)"
    #iavContainer="iavNehubaViewerContainer">
  </div>
</div>

<ui-splashscreen iav-stop="mousedown mouseup touchstart touchmove touchend" *ngIf="!viewerLoaded">
</ui-splashscreen>

<!-- spatial landmarks overlay -->
<!-- loading indicator -->

<current-layout *ngIf="viewerLoaded" class="position-absolute w-100 h-100 d-block pe-none">
  <div class="w-100 h-100 position-relative" cell-i>
    <ng-content *ngTemplateOutlet="ngPanelOverlayTmpl; context: { panelIndex: 0 }"></ng-content>
  </div>
  <div class="w-100 h-100 position-relative" cell-ii>
    <ng-content *ngTemplateOutlet="ngPanelOverlayTmpl; context: { panelIndex: 1 }"></ng-content>
  </div>
  <div class="w-100 h-100 position-relative" cell-iii>
    <ng-content *ngTemplateOutlet="ngPanelOverlayTmpl; context: { panelIndex: 2 }"></ng-content>
  </div>
  <div class="w-100 h-100 position-relative" cell-iv>
    <ng-content *ngTemplateOutlet="overlayPerspectiveTmpl"></ng-content>
  </div>
</current-layout>

<layout-floating-container
  class="overflow-hidden w-100 h-100"
  [zIndex]="10">

  <!-- drawer #1 -->
  <mat-drawer-container
    [iav-switch-initstate]="false"
    iav-switch
    #sideNavMasterSwitch="iavSwitch"
    class="mat-drawer-content-overflow-visible w-100 h-100 position-absolute invisible"
    [hasBackdrop]="false">

    <!-- sidenav-content -->
    <mat-drawer class="box-shadow-none border-0 pe-none bg-none col-10 col-sm-10 col-md-5 col-lg-4 col-xl-3 col-xxl-2"
      mode="side"
      [attr.data-mat-drawer-open]="matDrawerMaster.opened"
      [opened]="sideNavMasterSwitch.switchState"
      [autoFocus]="false"
      (closedStart)="sideNavSwitch.switchState && matDrawerMinor.close()"
      (openedStart)="sideNavSwitch.switchState && matDrawerMinor.open()"
      [disableClose]="true"
      #matDrawerMaster="matDrawer">

      <div class="h-0 w-100 region-text-search-autocomplete-position">
        <ng-container *ngTemplateOutlet="autocompleteTmpl">
        </ng-container>
      </div>

      <button mat-raised-button
        *ngIf="!(alwaysHideMinorPanel$ | async)"
        [attr.aria-label]="ARIA_LABEL_EXPAND"
        (click)="matDrawerMinor.open()"
        class="explore-btn pe-all"
        color="accent">
        Explore
      </button>
    </mat-drawer>
    <mat-drawer-content class="visible position-relative">

      <!-- top left overlay -->
      <div class="content-transclusion-top-left position-absolute top-0 left-0 w-100 d-inline-block pe-none">
        <ng-content select="[ui-nehuba-container-overlay-top-left]">
        </ng-content>
      </div>

      <!-- top right overlay -->
      <div class="position-absolute top-0 right-0 w-100 d-inline-block pe-none">
        <ng-content select="[ui-nehuba-container-overlay-top-right]">
        </ng-content>
      </div>

      <div *ngIf="viewerLoaded" class="position-absolute z-index-6 top-0 left-0 pe-none tab-toggle-container">
        <ng-container *ngTemplateOutlet="tabTmpl; context: {
          isOpen: sideNavMasterSwitch.switchState,
          regionSelected: selectedRegions$ | async,
          iavAdditionallayers: iavAdditionalLayers$ | async
        }">

        </ng-container>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>

  <!-- drawer #2 -->
  <mat-drawer-container
    [iav-switch-initstate]="!(alwaysHideMinorPanel$ | async)"
    iav-switch
    #sideNavSwitch="iavSwitch"
    class="mat-drawer-content-overflow-visible w-100 h-100 position-absolute invisible"
    [hasBackdrop]="false">

    <!-- sidenav-content -->
    <mat-drawer class="darker-bg iv-custom-comp visible col-10 col-sm-10 col-md-5 col-lg-4 col-xl-3 col-xxl-2 d-flex flex-column pe-all"
      mode="push"
      [attr.data-mat-drawer-open]="matDrawerMinor.opened"
      [autoFocus]="false"
      #matDrawerMinor="matDrawer"
      (openedChange)="$event && sideNavSwitch.open()"
      [disableClose]="true"
      [@openClose]="sideNavMasterSwitch.switchState && sideNavSwitch.switchState ? 'open' : 'closed'"
      (@openClose.done)="$event.toState === 'closed' && matDrawerMinor.close()">

      <div class="position-relative d-flex flex-column h-100">

        <!-- region search autocomplete  -->
        
        <div class="h-0 w-100 region-text-search-autocomplete-position"
          [@openCloseAnchor]="sideNavSwitch.switchState ? 'open' : 'closed'">
          <ng-container *ngTemplateOutlet="autocompleteTmpl">
          </ng-container>
        </div>

        <div class="hidden"
          iav-shown-previews
          (emitter)="iavAdditionalLayers$.next($event)"
          #previews="iavShownPreviews">
        </div>

        <ng-container *ngIf="previews.iavAdditionalLayers$ | async | filterPreviewByType : [previews.FILETYPES.VOLUMES] as volumePreviews">
          <ng-template [ngIf]="volumePreviews.length > 0" [ngIfElse]="sidenavRegionTmpl">
            <ng-container *ngFor="let vPreview of volumePreviews">
              <ng-container *ngTemplateOutlet="sidenavDsPreviewTmpl; context: vPreview">

              </ng-container>
            </ng-container>
          </ng-template>
        </ng-container>

      </div>
    </mat-drawer>

    <!-- main-content -->
    <mat-drawer-content class="visible position-relative">
  
      <!-- bottom left overlay -->
      <div class="position-absolute bottom-0 left-0 w-100 d-inline-block pe-none">
        <ng-content select="[ui-nehuba-container-overlay-bottom-left]">
        </ng-content>
      </div>

    </mat-drawer-content>
  </mat-drawer-container>

</layout-floating-container>

<!-- collapse btn -->
<ng-template #collapseBtn>

  <div class="h-0 w-100 collapse-position d-flex flex-column justify-content-end align-items-center">
    <button mat-raised-button class="mat-elevation-z8"
      [attr.aria-label]="ARIA_LABEL_COLLAPSE"
      (click)="sideNavSwitch.close()"
      color="basic">
      <i class="fas fa-chevron-up"></i>
      <span>
        collapse
      </span>
    </button>
  </div>
</ng-template>

<!-- region sidenav tmpl -->
<ng-template #sidenavRegionTmpl>

  <div class="flex-shrink-1 flex-grow-1 d-flex flex-column"
    [ngClass]="{'region-populated': (selectedRegions$ | async).length > 0 }">
    <!-- region detail -->
    <ng-container *ngIf="selectedRegions$ | async as selectedRegions; else selectRegionErrorTmpl">
      <ng-container *ngFor="let region of selectedRegions">
        <ng-container *ngTemplateOutlet="singleRegionTmpl; context: { region: region }">

        </ng-container>
      </ng-container>

      <!-- place holder if length < 0 -->
      <ng-container *ngIf="selectedRegions.length === 0">
        <ng-container *ngTemplateOutlet="singleRegionTmpl; context: { region: false }">
        </ng-container>
      </ng-container>
    </ng-container>

    <div class="spacer">
    </div>
  </div>

  <!-- collapse btn -->
  <ng-container *ngTemplateOutlet="collapseBtn">
  </ng-container>
</ng-template>

<ng-template #sidenavDsPreviewTmpl let-file="file" let-filename="filename" let-datasetId="datasetId">
  <div class="w-100 flex-grow-1 d-flex flex-column">

    <preview-card class="d-block side-nav-cover flex-grow-1"
      [datasetId]="datasetId"
      [filename]="filename">
    </preview-card>

    <!-- collapse btn -->
    <ng-container *ngTemplateOutlet="collapseBtn">
    </ng-container>
  </div>
</ng-template>

<ng-template #empty>
</ng-template>

<ng-template #autocompleteTmpl>
  <div class="iv-custom-comp bg card w-100 mat-elevation-z8 pe-all">
    <region-text-search-autocomplete class="w-100 pt-2 flex-shrink-0 flex-grow-0">
    </region-text-search-autocomplete>
  </div>
</ng-template>

<ng-template #selectRegionErrorTmpl>
  SELECT REGION ERROR
</ng-template>

<!-- single region template -->
<div id="scratch-pad">
</div>

<!-- mobile nub. may be required when more advanced control is required on mobile. for now, disabled -->
<mobile-overlay
  *ngIf="false && (useMobileUI$ | async) && viewerLoaded"
  [iav-mobile-overlay-guide-tmpl]="mobileOverlayGuide"
  [tunableProperties]="tunableMobileProperties"
  [iav-mobile-overlay-hide-ctrl-btn]="(panelMode$ | async) !== 'SINGLE_PANEL'"
  [iav-mobile-overlay-ctrl-btn-pos]="panelMode$ | async | mobileControlNubStylePipe">

</mobile-overlay>

<ng-template #mobileOverlayGuide>
  <div>
    <i class="fas fa-arrows-alt-v"></i>
    <span>
      Select item
    </span>
  </div>
  <div>
    <i class="fas fa-arrows-alt-h"></i>
    <span>
      Modify item value
    </span>
  </div>
</ng-template>

<ng-template #singleRegionTmpl let-region="region">
  <ng-template #regionDetailTmpl>
    <div class="placeholder-region-detail side-nav-cover mat-elevation-z4">
      <span class="text-muted">
        Select a region by clicking on the viewer or search from above
      </span>
    </div>
  </ng-template>

  <!-- region detail -->
  <ng-container *ngIf="region; else regionDetailTmpl">
    <region-menu
      [showRegionInOtherTmpl]="false"
      [region]="region"
      class="side-nav-cover mat-elevation-z4">
    </region-menu>
  </ng-container>


  <mat-accordion *ngIf="region"
    class="side-nav-cover mt-2"
    iav-region
    [region]="region"
    #iavRegion="iavRegion">

    <!-- expansion tmpl -->
    <ng-template #ngMatAccordionTmpl
      let-title="title"
      let-desc="desc"
      let-iconClass="iconClass"
      let-iconTooltip="iconTooltip"
      let-iavNgIf="iavNgIf"
      let-content="content">
      <mat-expansion-panel class="mt-1 mb-1"
        hideToggle
        *ngIf="iavNgIf">

        <mat-expansion-panel-header>

          <!-- title -->
          <mat-panel-title>
            {{ title }}
          </mat-panel-title>

          <!-- desc + icon -->
          <mat-panel-description class="d-flex align-items-center justify-content-end"
            [matTooltip]="iconTooltip">
            <span class="mr-3">{{ desc }}</span>
            <span class="accordion-icon d-inline-flex justify-content-center">
              <i [class]="iconClass"></i>
            </span>
          </mat-panel-description>

        </mat-expansion-panel-header>

        <!-- content -->
        <ng-template matExpansionPanelContent>
          <ng-container *ngTemplateOutlet="content">
          </ng-container>
        </ng-template>
      </mat-expansion-panel>
    </ng-template>

    <!-- Explore in other template -->
    <ng-container *ngIf="iavRegion.regionInOtherTemplates$ | async as regionInOtherTemplates">

      <ng-template #exploreInOtherTmpl>
        <mat-list class="action-list sm cursor-default">
          <mat-list-item *ngFor="let sameRegion of regionInOtherTemplates"
            (click)="iavRegion.changeView(sameRegion)"
            [matTooltip]="sameRegion.template.name + (sameRegion.hemisphere ? (' - ' + sameRegion.hemisphere) : '')"
            mat-ripple>
            {{ sameRegion.template.name + (sameRegion.hemisphere ? (' - ' + sameRegion.hemisphere) : '') }}
          </mat-list-item>
        </mat-list>
      </ng-template>

      <ng-container *ngTemplateOutlet="ngMatAccordionTmpl; context: {
        title: 'Explore in other templates',
        desc: regionInOtherTemplates.length,
        iconClass: 'fas fa-brain',
        iconTooltip: regionInOtherTemplates.length | regionAccordionTooltipTextPipe : 'regionInOtherTmpl',
        iavNgIf: regionInOtherTemplates.length,
        content: exploreInOtherTmpl
      }">

  
      </ng-container>
    </ng-container>

    <!--  regional features-->
    <ng-template #regionalFeaturesTmpl>
      <data-browser [template]="templateSelected$ | async"
        [parcellation]="selectedParcellation"
        [disableVirtualScroll]="true"
        [regions]="[region]">
      </data-browser>
    </ng-template>

    <div class="hidden" iav-databrowser-directive
      [template]="templateSelected$ | async"
      [parcellation]="selectedParcellation"
      [regions]="[region]"
      #iavDbDirective="iavDatabrowserDirective">
    </div>

    <ng-container *ngTemplateOutlet="ngMatAccordionTmpl; context: {
      title: 'Regional features',
      desc: iavDbDirective?.dataentries?.length,
      iconClass: 'fas fa-database',
      iconTooltip: iavDbDirective?.dataentries?.length | regionAccordionTooltipTextPipe : 'regionalFeatures',
      iavNgIf: iavDbDirective?.dataentries?.length,
      content: regionalFeaturesTmpl
    }">
    </ng-container>

    <!-- Connectivity -->
    <ng-template #connectivityContentTmpl>
      <mat-card-content class="flex-grow-1 flex-shrink-1 w-100">
        <connectivity-browser class="pe-all flex-shrink-1" #connectivityComponent>
        </connectivity-browser>
      </mat-card-content>
    </ng-template>

    <ng-container *ngTemplateOutlet="ngMatAccordionTmpl; context: {
      title: 'Connectivity',
      desc: connectedCounterDir.value,
      iconClass: 'fas fa-braille',
      iconTooltip: connectedCounterDir.value | regionAccordionTooltipTextPipe : 'connectivity',
      iavNgIf: selectedParcellation
        && selectedParcellation.hasAdditionalViewMode
        && selectedParcellation.hasAdditionalViewMode.includes('connectivity'),
      content: connectivityContentTmpl
    }">
    </ng-container>

  </mat-accordion>
  <div class="w-0 h-0"
    iav-counter
    #connectedCounterDir="iavCounter">

    <hbp-connectivity-matrix-row [region]="region.name"
      (connectivityDataReceived)="connectedCounterDir.value = $event.detail.length"
      class="invisible d-block h-0 w-0"
      loadurl="https://connectivityquery-connectivity.apps-dev.hbp.eu/connectivity"
      dataset-url="https://connectivityquery-connectivity.apps-dev.hbp.eu/studies">
    </hbp-connectivity-matrix-row>
  </div>
</ng-template>

<!-- overlay templates -->

<!-- perspective view tmpl -->
<ng-template #overlayPerspectiveTmpl>
  <layout-floating-container class="tmp" landmarkContainer>

    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 position-absolute opacity-crossfade screen-overlay pe-none"
      [ngClass]="{onHover: !!(showPerpsectiveScreen$ | async)}"
      [attr.id]="ID_MESH_LOADING_STATUS"
      role="status">

      <div class="spinnerAnimationCircle">
      </div>
      <mat-list>
        <mat-list-item>
          {{ showPerpsectiveScreen$ | async }}
        </mat-list-item>
      </mat-list>
    </div>

    <!-- maximise/minimise button -->
    <ng-container *ngTemplateOutlet="panelCtrlTmpl; context: { panelIndex: 3, visible: (panelOrder$ | async | reorderPanelIndexPipe : ( hoveredPanelIndices$ | async  )) === 3 }">
    </ng-container>
    
    <!-- mesh loading is still weird -->
    <!-- if the precomputed server does not have the necessary fragment file, then the numberws will not collate -->
    <div *ngIf="false && (perspectiveViewLoading$ | async)" class="loadingIndicator">
      <div class="spinnerAnimationCircle"></div>

      <div *ngIf="false" perspectiveLoadingText>
        {{ perspectiveViewLoading$ | async }}
      </div>
    </div>
  </layout-floating-container>
</ng-template>

<!-- slice view overlay tmpl -->
<ng-template #ngPanelOverlayTmpl let-panelIndex="panelIndex">

  <!-- nb this slice view is not suitable for perspective view! -->
  <layout-floating-container *ngIf="panelIndex < 3" landmarkContainer>

    <!-- only show landmarks in slice views -->

    <nehuba-2dlandmark-unit *ngFor="let spatialData of (selectedPtLandmarks$ | async)"
      (mouseenter)="handleMouseEnterLandmark(spatialData)"
      (mouseleave)="handleMouseLeaveLandmark(spatialData)"
      [highlight]="spatialData.highlight ? spatialData.highlight : false"
      [fasClass]="spatialData.type === 'userLandmark' ? 'fa-chevron-down' : 'fa-map-marker'"
      [positionX]="getPositionX(panelIndex, spatialData)"
      [positionY]="getPositionY(panelIndex, spatialData)"
      [positionZ]="getPositionZ(panelIndex, spatialData)">
    </nehuba-2dlandmark-unit>

    <!-- maximise/minimise button -->
    <ng-container *ngTemplateOutlet="panelCtrlTmpl; context: { panelIndex: panelIndex, visible: (panelOrder$ | async | reorderPanelIndexPipe : ( hoveredPanelIndices$ | async  )) === panelIndex }">
    </ng-container>

    <div *ngIf="(sliceViewLoadingMain$ | async)[panelIndex]" class="loadingIndicator">
      <div class="spinnerAnimationCircle">

      </div>
    </div>
  </layout-floating-container>
</ng-template>

<!-- panel control template -->
<ng-template
  #panelCtrlTmpl
  let-panelIndex="panelIndex"
  let-visible="visible">

  <div class="opacity-crossfade always-show-touchdevice pe-all overlay-btn-container"
    [ngClass]="{ onHover: visible }">

    <!-- perspective specific control -->
    <ng-container *ngIf="panelIndex === 3">
      <ng-container *ngTemplateOutlet="perspectiveOctantRemovalTmpl; context: { state: (nehubaViewerPerspectiveOctantRemoval$ | async) }">

      </ng-container>
    </ng-container>

    <!-- factor < 1.0 === zoom in -->
    <button mat-icon-button color="primary"
      (click)="zoomNgView(panelIndex, 0.9)"
      [attr.aria-label]="ARIA_LABEL_ZOOM_IN">
      <i class="fas fa-search-plus"></i>
    </button>

    <!-- factor > 1.0 === zoom out -->
    <button mat-icon-button color="primary"
      (click)="zoomNgView(panelIndex, 1.1)"
      [attr.aria-label]="ARIA_LABEL_ZOOM_OUT">
      <i class="fas fa-search-minus"></i>
    </button>

    <maximise-panel-button
      (click)="toggleMaximiseMinimise(panelIndex)"
      [touch-side-class]="panelIndex">
    </maximise-panel-button>
  </div>

</ng-template>


<ng-template #perspectiveOctantRemovalTmpl let-state="state">
  <button
    (click)="setOctantRemoval(!state)"
    mat-icon-button
    color="primary">
  
    <!-- octant removal is true -->
    <ng-template [ngIf]="nehubaViewerPerspectiveOctantRemoval$ | async" [ngIfElse]="octantRemovalOffTmpl">
      <i class="fas fa-eye-slash"></i>
    </ng-template>

    <!-- octant removal is false -->
    <ng-template #octantRemovalOffTmpl>
      <i class="fas fa-eye"></i>
    </ng-template>
  </button>
</ng-template>


<!-- template for rendering tab -->
<ng-template #tabTmpl
  let-isOpen="isOpen"
  let-regionSelected="regionSelected"
  let-iavAdditionallayers="iavAdditionallayers">

  <!-- if mat drawer is open -->
  <ng-template [ngIf]="isOpen" [ngIfElse]="tabTmpl_closedTmpl">
    <ng-container *ngTemplateOutlet="tabTmpl_defaultTmpl; context: {
      matColor: 'basic',
      fontIcon: 'fa-chevron-left'
    }">
    </ng-container>
  </ng-template>

  <!-- if matdrawer is closed -->
  <ng-template #tabTmpl_closedTmpl>

    <!-- if additional layers are being shown -->
    <ng-template [ngIf]="iavAdditionallayers?.length > 0" [ngIfElse]="tabTmpl_noAdditionalLayers">
      <ng-container *ngTemplateOutlet="tabTmpl_defaultTmpl; context: {
        matColor: 'accent',
        fontIcon: 'fa-database',
        tooltip: 'Explore dataset preview'
      }">
      </ng-container>
    </ng-template>

    <!-- if additional layers not not being shown -->
    <ng-template #tabTmpl_noAdditionalLayers>
      
      <!-- if region selected > 0 -->
      <ng-template [ngIf]="regionSelected?.length > 0" [ngIfElse]="tabTmpl_nothingSelected">
        <div class="hidden"
          iav-region
          [region]="regionSelected[0]"
          #tabTmpl_iavRegion="iavRegion">
        </div>

        <ng-container *ngTemplateOutlet="tabTmpl_defaultTmpl; context: {
          matColor: 'accent',
          customColor: tabTmpl_iavRegion.rgbString,
          customColorDarkmode: tabTmpl_iavRegion.rgbDarkmode,
          fontIcon: 'fa-brain',
          tooltip: 'Explore ' + tabTmpl_iavRegion.region.name
        }">

        </ng-container>
      </ng-template>

      <!-- nothing is selected -->
      <ng-template #tabTmpl_nothingSelected>
        <ng-container *ngTemplateOutlet="tabTmpl_defaultTmpl; context: {
          matColor: 'primary',
          fontIcon: 'fa-sitemap',
          tooltip: 'Explore regions'
        }">
        </ng-container>
      </ng-template>
    </ng-template>
  </ng-template>

  <ng-template #tabTmpl_defaultTmpl
    let-matColor="matColor"
    let-fontIcon="fontIcon"
    let-customColor="customColor"
    let-customColorDarkmode="customColorDarkmode"
    let-tooltip="tooltip">
    <button mat-raised-button
      [attr.aria-label]="ARIA_LABEL_TOGGLE_SIDE_PANEL"
      [matTooltip]="tooltip"
      class="pe-all tab-toggle"
      [ngClass]="{
        'darktheme': customColorDarkmode === true,
        'lighttheme': customColorDarkmode === false
      }"
      [style.backgroundColor]="customColor"
      (click)="sideNavMasterSwitch.toggle()"
      [color]="(!customColor && matColor) ? matColor : null">
      
      <span [ngClass]="{'iv-custom-comp  text': !!customColor}">
        <i class="fas" [ngClass]="fontIcon || 'fa-question'"></i>
      </span>
    </button>
  </ng-template>
</ng-template>