:host
{
  width:100%;
  height:100%;
  position:relative;
}

div[textContainer]
{
  padding-left:1em;
}

input[navigateInput]
{
  background:none;
  width : 16em;
  padding-left: 0.5em;
  font-size:85%;
  box-shadow: inset 0px 2px 2px 2px rgba(0,0,0,0.05);
}


:host-context([darktheme=false]) input[navigateInput]
{
  border:rgba(0,0,0,0.2) solid 1px;
}

:host-context([darktheme=true]) input[navigateInput]
{
  border:rgba(255,255,255,0.2) solid 1px;
}

div[statusCard]
{
  position:absolute;
  left:1em;
  bottom:1em;
  width : 20em;
  pointer-events: all;
}

:host-context([darktheme=false]) div[statusCard]
{
  background-color:rgba(230,230,230,0.8);
}

:host-context([darktheme=true]) div[statusCard]
{
  background-color:rgba(20,20,20,0.8);
  color : rgba(250,250,250,0.8);
}

div[landmarkMasterContainer]
{
  background:none;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  flex-wrap: wrap;
  pointer-events: none;
}

div[landmarkMasterContainer] > div
{
  flex: 0 0 50%;
  height:50%;
  overflow:hidden;
  pointer-events: none;
  position : relative;
  border: 1 px solid blue;
}


div[landmarkMasterContainer] > div > [landmarkContainer] > div
{
  position : absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  margin-left:-0.5em;
  margin-top:-1em;
}

small[onHoverSegment]
{
  margin-left:2em;
}

[citationContainer]
{
  display:inline-block;
  max-width:300px;
  box-sizing: border-box;
  padding: 0.5em 1em;
}

hr
{
  margin : 0.2em 2em;
}

div[linksContainer]
{
  display:inline-block;
  margin-left:1em;
}

div[landmarkMasterContainer] > div > [landmarkContainer] > div.loadingIndicator
{
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  margin-right: 0.2em;
  margin-bottom: 0.2em;
  width: 100%;
  height:2em;
  display: flex;
  flex-direction: row-reverse;
}

div.loadingIndicator div.spinnerAnimationCircle
{
  font-size:150%;
}

[perspectiveLoadingText]
{
  margin-right: 1em;
}

:host-context([darktheme="true"]) [perspectiveLoadingText]
{
  color:rgba(255,255,255,0.8);
}

[desktopTemplateCitation]
{
  padding: 0 1em;
  display:block;
}