<div iav-nehuba-viewer-container
  (iavNehubaViewerContainerViewerLoading)="handleViewerLoadedEvent($event)">
</div>

<ui-splashscreen iav-stop="mousedown mouseup touchstart touchmove touchend" *ngIf="!viewerLoaded">
</ui-splashscreen>

<!-- spatial landmarks overlay -->
<!-- loading indicator -->

<current-layout *ngIf="viewerLoaded" class="position-absolute w-100 h-100 d-block pe-none">
  <div class="w-100 h-100 position-relative" cell-i>
    <ng-content *ngTemplateOutlet="ngPanelOverlayTmpl; context: { panelIndex: 0 }"></ng-content>
  </div>
  <div class="w-100 h-100 position-relative" cell-ii>
    <ng-content *ngTemplateOutlet="ngPanelOverlayTmpl; context: { panelIndex: 1 }"></ng-content>
  </div>
  <div class="w-100 h-100 position-relative" cell-iii>
    <ng-content *ngTemplateOutlet="ngPanelOverlayTmpl; context: { panelIndex: 2 }"></ng-content>
  </div>
  <div class="w-100 h-100 position-relative" cell-iv>
    <ng-content *ngTemplateOutlet="overlayPerspectiveTmpl"></ng-content>
  </div>
</current-layout>

<layout-floating-container [zIndex]="10">

  <div *ngIf="templateSelected$ | async"
    class="viewer-config-container d-flex align-items-end pe-none">
    <!-- Viewer Selector Container-->
    <atlas-layer-selector
      #alSelector="atlasLayerSelector"
      class="pe-all"
      (iav-outsideClick)="alSelector.selectorExpanded = false">
    </atlas-layer-selector>

    <atlas-layer-container
      class="pe-none overflow-visible"
      (iav-outsideClick)="alwWidget.visibleTab = null"
      #alwWidget="atlasLayerWidgetContainer">
    </atlas-layer-container>
  </div>

  <!-- StatusCard container-->
  <div *ngIf="viewerLoaded" class="viewer-status-container pe-none m-2">
    <atlas-dropdown-selector class="pe-all">
    </atlas-dropdown-selector>
    <div class="muted-7 mt-5-n">
      <ui-status-card
        class="pe-all"
        [selectedTemplateName]="selectedTemplate && selectedTemplate.name"
        [nehubaViewer]="nehubaViewer">
      </ui-status-card>
    </div>

  </div>
</layout-floating-container>

<div id="scratch-pad">
</div>

<!-- mobile nub. may be required when more advanced control is required on mobile. for now, disabled -->
<mobile-overlay
  *ngIf="false && (useMobileUI$ | async) && viewerLoaded"
  [iav-mobile-overlay-guide-tmpl]="mobileOverlayGuide"
  [tunableProperties]="tunableMobileProperties"
  [iav-mobile-overlay-hide-ctrl-btn]="(panelMode$ | async) !== 'SINGLE_PANEL'"
  [iav-mobile-overlay-ctrl-btn-pos]="panelMode$ | async | mobileControlNubStylePipe">

</mobile-overlay>

<ng-template #mobileOverlayGuide>
  <div>
    <i class="fas fa-arrows-alt-v"></i>
    <span>
      Select item
    </span>
  </div>
  <div>
    <i class="fas fa-arrows-alt-h"></i>
    <span>
      Modify item value
    </span>
  </div>
</ng-template>

<!-- overlay templates -->

<!-- perspective view tmpl -->
<ng-template #overlayPerspectiveTmpl>
  <layout-floating-container class="tmp" landmarkContainer>

    <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 position-absolute opacity-crossfade screen-overlay pe-none"
      [ngClass]="{onHover: !!(showPerpsectiveScreen$ | async)}"
      [attr.id]="ID_MESH_LOADING_STATUS"
      role="status">

      <div class="spinnerAnimationCircle">
      </div>
      <mat-list>
        <mat-list-item>
          {{ showPerpsectiveScreen$ | async }}
        </mat-list-item>
      </mat-list>
    </div>

    <!-- maximise/minimise button -->
    <ng-container *ngTemplateOutlet="panelCtrlTmpl; context: { panelIndex: 3, visible: (panelOrder$ | async | reorderPanelIndexPipe : ( hoveredPanelIndices$ | async  )) === 3 }">
    </ng-container>
    
    <!-- mesh loading is still weird -->
    <!-- if the precomputed server does not have the necessary fragment file, then the numberws will not collate -->
    <div *ngIf="perspectiveViewLoading$ | async" class="loadingIndicator">
      <div class="spinnerAnimationCircle"></div>

      <div *ngIf="false" perspectiveLoadingText>
        {{ perspectiveViewLoading$ | async }}
      </div>
    </div>
  </layout-floating-container>
</ng-template>

<!-- slice view overlay tmpl -->
<ng-template #ngPanelOverlayTmpl let-panelIndex="panelIndex">

  <!-- nb this slice view is not suitable for perspective view! -->
  <layout-floating-container *ngIf="panelIndex < 3" landmarkContainer>

    <!-- only show landmarks in slice views -->

    <nehuba-2dlandmark-unit *ngFor="let spatialData of (selectedPtLandmarks$ | async)"
      (mouseenter)="handleMouseEnterLandmark(spatialData)"
      (mouseleave)="handleMouseLeaveLandmark(spatialData)"
      [highlight]="spatialData.highlight ? spatialData.highlight : false"
      [fasClass]="spatialData.type === 'userLandmark' ? 'fa-chevron-down' : 'fa-map-marker'"
      [positionX]="getPositionX(panelIndex, spatialData)"
      [positionY]="getPositionY(panelIndex, spatialData)"
      [positionZ]="getPositionZ(panelIndex, spatialData)">
    </nehuba-2dlandmark-unit>

    <!-- maximise/minimise button -->
    <ng-container *ngTemplateOutlet="panelCtrlTmpl; context: { panelIndex: panelIndex, visible: (panelOrder$ | async | reorderPanelIndexPipe : ( hoveredPanelIndices$ | async  )) === panelIndex }">
    </ng-container>

    <div *ngIf="(sliceViewLoadingMain$ | async)[panelIndex]" class="loadingIndicator">
      <div class="spinnerAnimationCircle">

      </div>
    </div>
  </layout-floating-container>
</ng-template>

<!-- panel control template -->
<ng-template
  #panelCtrlTmpl
  let-panelIndex="panelIndex"
  let-visible="visible">

  <div class="opacity-crossfade pe-all overlay-btn-container"
    [ngClass]="{ onHover: visible }">

    <!-- factor < 1.0 === zoom in -->
    <button mat-icon-button color="primary"
      (click)="zoomNgView(panelIndex, 0.9)"
      [attr.aria-label]="ARIA_LABEL_ZOOM_IN">
      <i class="fas fa-search-plus"></i>
    </button>

    <!-- factor > 1.0 === zoom out -->
    <button mat-icon-button color="primary"
      (click)="zoomNgView(panelIndex, 1.1)"
      [attr.aria-label]="ARIA_LABEL_ZOOM_OUT">
      <i class="fas fa-search-minus"></i>
    </button>

    <maximise-panel-button
      (click)="toggleMaximiseMinimise(panelIndex)"
      [touch-side-class]="panelIndex">
    </maximise-panel-button>
  </div>

</ng-template>
