:host
{
  display: block;
  width: 100%;
  height: 100%;

  position: relative;
}

.corner-container
{
  z-index: 5;
}

.grid-container
{
  height: 50%;
  display: grid;
  grid-template-columns: auto auto;
}

.top-left
{
  place-self: start start;
}
.top-right
{
  place-self: start end;
}
.bottom-left
{
  place-self: end start;
}
.bottom-right
{
  place-self: end end;
}
