<div class="position-absolute tosxplr-p-0 left-0 w-100 h-100">
  <ng-content select="[iavLayoutFourCornersContent]"></ng-content>
</div>

<div class="grid-container">
  <div [ngClass]="cornerContainerClasses"
    class="corner-container top-left">
    <ng-content select="[iavLayoutFourCornersTopLeft]"></ng-content>  
  </div>
  <div [ngClass]="cornerContainerClasses"
    class="corner-container top-right">
    <ng-content select="[iavLayoutFourCornersTopRight]"></ng-content>  
  </div>
</div>

<div class="grid-container">
  <div [ngClass]="cornerContainerClasses"
    class="corner-container bottom-left">
    <ng-content select="[iavLayoutFourCornersBottomLeft]"></ng-content>  
  </div>
  <div [ngClass]="cornerContainerClasses"
    class="corner-container bottom-right">
    <ng-content select="[iavLayoutFourCornersBottomRight]"></ng-content>  
  </div>
</div>
