.tree-item-height {
    height: 20px;
}

.tree-item-dashes {
    width: 20px;
    height: 20px;
    border-color: grey !important;
}

.arrow-alignment {
    margin-left: -6px;
}

::ng-deep cdk-virtual-scroll-viewport.searchable-tree > div {
    padding-bottom: 10px;
}
