<div (iav-outsideClick)="menuTrigger.closeMenu()">
    <mat-menu #otherParcMenu="matMenu"
              [hasBackdrop]="false"
              class="parc-smart-chip-menu-panel sxplr-mxw-80vw ml-4">

        <div *ngFor="let parc of parcellations | filterUnsupportedParc | filterGroupedParcs : true"
             [ngClass]="{'loading': (loadingParc$ | async) === parc}">
            <button mat-menu-item
                    [matMenuTriggerFor]="subParcMenu"
                    [matMenuTriggerData]="{group: parc}"
                    (click)="selectParcellation(parc)"
                    [style.background-color]="(parcellation | equality : parc : trackByFn) ? 'grey' : ''">
                {{parc.name}}
            </button>
        </div>

        <div *ngFor="let parc of parcellations | filterUnsupportedParc | filterGroupedParcs"
             [ngClass]="{'loading': (loadingParc$ | async) === parc}"
             class="d-flex align-items-center justify-content-space-between">
            <ng-container *ngIf="(parc | parcellationSupportedInCurrentSpace | async) as sup;">
                <button mat-menu-item
                        (click)="sup.supported? selectParcellation(parc) : openChangeTemplateModal(sup.spaces, parc)"
                        [style.background-color]="(parcellation | equality : parc : trackByFn) ? 'grey' : ''">
                    {{parc.name}}
                </button>
            </ng-container>
            <ng-container [ngTemplateOutlet]="menuItemSuffix" [ngTemplateOutletContext]="{parc: parc}"></ng-container>
        </div>

    </mat-menu>

    <mat-menu #subParcMenu="matMenu" class="parc-smart-chip-menu-panel sxplr-mxw-80vw">
        <ng-template matMenuContent let-group="group">
            <div *ngFor="let parc of group.parcellations"
                 [ngClass]="{'loading': (loadingParc$ | async) === parc}"
                 class="d-flex align-items-center justify-content-space-between">
                <ng-container *ngIf="(parc | parcellationSupportedInCurrentSpace | async) as sup;">
                    <button mat-menu-item
                            (click)="sup.supported? selectParcellation(parc) : openChangeTemplateModal(sup.spaces, parc)"
                            [style.background-color]="(parcellation | equality : parc : trackByFn) ? 'grey' : ''">
                        {{parc.name}}
                    </button>
                </ng-container>
                <ng-container [ngTemplateOutlet]="menuItemSuffix" [ngTemplateOutletContext]="{parc: parc}"></ng-container>
            </div>
        </ng-template>
    </mat-menu>

    <div [style.background-color]="customColor && customColor"
         [matMenuTriggerFor]="otherParcMenu"
         #menuTrigger="matMenuTrigger"
         matRipple
         class="custom-chip layer-chip-overflowed">
        <span class="mat-body sxplr-white-space-nowrap">
            {{ parcellation.name }}
        </span>
        <ng-container [ngTemplateOutlet]="chipSuffix"></ng-container>
    </div>

</div>

<!-- parcellation description template -->
<ng-template #parcDescTmpl let-parc="parcellation">
    <h1 mat-dialog-title>
        {{ parc.name }}
    </h1>
    <div mat-dialog-content>
        <markdown-dom
                *ngIf="parc.brainAtlasVersions.length > 0 && parc.brainAtlasVersions[0].versionInnovation"
                [markdown]="parc.brainAtlasVersions[0].versionInnovation">
        </markdown-dom>
    </div>

    <mat-dialog-actions align="start">
        <a *ngFor="let url of parc | parcellationDoiPipe"
           [href]="url"
           sxplr-hide-when-local
           target="_blank"
           mat-raised-button
           color="primary">
            <div class="fas fa-external-link-alt"></div>
            <span>
        Dataset Detail
      </span>
        </a>

        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</ng-template>

<!-- Suffix for selected chip -->
<ng-template #chipSuffix>
    <ng-template #mainParcDesc>
        <ng-template [ngTemplateOutlet]="parcDescTmpl"
                     [ngTemplateOutletContext]="{ parcellation: parcellation }">
        </ng-template>
    </ng-template>

    <span class="small-icon-button mr-2 ml-3"
            matRipple
            [sxplr-dialog]="mainParcDesc"
            [sxplr-dialog-size]="null"
            (click)="$event.stopPropagation()">
        <i class="fas fa-info"></i>
    </span>

    <span class="small-icon-button mr-2"
            [matTooltip]="ARIA_LABELS.TOGGLE_DELINEATION"
            iav-stop="mousedown click"
            [iav-key-listener]="[{'type': 'keydown', 'key': 'q', 'capture': true, 'target': 'document' }]"
            (iav-key-event)="toggleParcellationVisibility()"
            (click)="toggleParcellationVisibility()">
        <i class="fas"
           [ngClass]="(parcellationVisibility$ | async) ? 'fa-eye': 'fa-eye-slash'"
           aria-hidden="true">
        </i>
        <span class="sr-only">
        {{ ARIA_LABELS.TOGGLE_DELINEATION }}
      </span>
    </span>

    <span class="small-icon-button mr-2"
            *ngIf="!(parcellation | parcellationIsBaseLayer)"
            color="default"
            (click)="dismiss()">

        <spinner-cmp class="sxplr-w-100 sxplr-h-100 d-inline-block"
                     *ngIf="onDismissClicked$ | async; else defaultDismissIcon"></spinner-cmp>
        <ng-template #defaultDismissIcon>
            <i class="fas fa-times"></i>
        </ng-template>

    </span>
</ng-template>

<!-- Suffix for menu items -->
<ng-template #menuItemSuffix let-parc="parc" let-grouped="grouped">
    <ng-template #otherParcDesc>
        <ng-template [ngTemplateOutlet]="parcDescTmpl"
                     [ngTemplateOutletContext]="{ parcellation: parc }">
        </ng-template>
    </ng-template>

    <button mat-menu-item class="w-0 d-flex align-items-center justify-content-center"
            [sxplr-dialog]="otherParcDesc"
            [sxplr-dialog-size]="null">
        <i class="fas fa-info"></i>
    </button>
</ng-template>