<mat-menu #otherParcMenu="matMenu"
  [hasBackdrop]="false"
  class="parc-smart-chip-menu-panel sxplr-bg-none sxplr-of-x-hidden sxplr-box-shadow-none sxplr-mxw-80vw">
  <div (iav-outsideClick)="menuTrigger.closeMenu()">


    <div *ngFor="let parc of parcellations | filterUnsupportedParc | filterGroupedParcs"
      class="otherversion-wrapper"
      [ngClass]="{'loading': (loadingParc$ | async) === parc}">
      <ng-container [ngTemplateOutlet]="parcellationChip"
                    [ngTemplateOutletContext]="{ parc }"></ng-container>
    </div>

    <div *ngFor="let parc of parcellations | filterUnsupportedParc | filterGroupedParcs : true | filterUnsupportedParc; let i = index"
      class="otherversion-wrapper"
      [ngClass]="{'loading': (loadingParc$ | async) === parc}">
      <ng-container [ngTemplateOutlet]="parcellationChip"
                    [ngTemplateOutletContext]="{ parc, grouped: true, i }"></ng-container>
    </div>
  </div>
  
</mat-menu>

<mat-menu #subParcMenu="matMenu" class="parc-smart-chip-menu-panel sxplr-bg-none sxplr-of-x-hidden sxplr-box-shadow-none sxplr-mxw-80vw" >
  <ng-template matMenuContent let-group="group">
    <div *ngFor="let parc of group.parcellations"
         class="otherversion-wrapper"
         [ngClass]="{'loading': (loadingParc$ | async) === parc}">
      <ng-container [ngTemplateOutlet]="parcellationChip"
                    [ngTemplateOutletContext]="{ parc }"></ng-container>
    </div>

  </ng-template>
</mat-menu>

<ng-template #parcellationChip let-parc="parc" let-grouped="grouped" let-index="i">
  <sxplr-sapiviews-core-parcellation-chip
          [ngClass]="{
          'sxplr-blink': (loadingParc$ | async) === parc,
          'sxplr-muted': !grouped && !(parc | parcellationSupportedInCurrentSpace | async)
        }"
          [sxplr-sapiviews-core-parcellation-chip-parcellation]="parc"
          [sxplr-sapiviews-core-parcellation-chip-color]="(parcellation | equality : parc : trackByFn) ? 'primary' : 'default'"
          (sxplr-sapiviews-core-parcellation-chip-onclick)="grouped? openParcellationGroup(index) : selectParcellation(parc)">

    <div *ngIf="!grouped && !(parc | parcellationSupportedInCurrentSpace | async)" prefix matTooltip="Changes space">
      <i class="fas fa-sync mr-2"></i>
    </div>

    <div class="sxplr-scale-70"
         suffix
         iav-stop="mousedown click">

      <div *ngIf="!grouped; else groupedParcTmp">
        <ng-template #otherParcDesc>
          <ng-template [ngTemplateOutlet]="parcDescTmpl"
                       [ngTemplateOutletContext]="{ parcellation: parc }">
          </ng-template>
        </ng-template>

        <button mat-mini-fab color="default"
                [sxplr-dialog]="otherParcDesc"
                [sxplr-dialog-size]="null">
          <i class="fas fa-info"></i>
        </button>
      </div>

      <ng-template #groupedParcTmp>
        <button mat-mini-fab color="default"
                #subParcMenuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="subParcMenu"
                [matMenuTriggerData]="{group: parc}">
          <i class="fas fa-angle-right"></i>
        </button>
      </ng-template>

    </div>


  </sxplr-sapiviews-core-parcellation-chip>

  <div class="spinner-container" *ngIf="(loadingParc$ | async) === parc">
    <spinner-cmp>
    </spinner-cmp>
  </div>
</ng-template>


<sxplr-sapiviews-core-parcellation-chip
  [ngClass]="{
    'sxplr-muted': !(parcellationVisibility$ | async),
    'sxplr-blink': onDismissClicked$ | async
  }"
  class="sxplr-d-inline-block"
  [sxplr-sapiviews-core-parcellation-chip-parcellation]="parcellation"
  [sxplr-sapiviews-core-parcellation-chip-color]="(parcellation | parcellationIsBaseLayer) ? 'default' : 'primary'"
  (sxplr-sapiviews-core-parcellation-chip-onclick)="menuTrigger.toggleMenu()"
  [matMenuTriggerFor]="otherParcMenu"
  #menuTrigger="matMenuTrigger"
  >

  <div class="icons-container"
    suffix 
    iav-stop="mousedown click">

    <ng-template #mainParcDesc>
      <ng-template [ngTemplateOutlet]="parcDescTmpl"
        [ngTemplateOutletContext]="{ parcellation: parcellation }">
      </ng-template>
    </ng-template>

    <button mat-icon-button
      color="default"
      [sxplr-dialog]="mainParcDesc"
      [sxplr-dialog-size]="null">
      <i class="fas fa-info"></i>
    </button>

    <button mat-icon-button
      color="default"
      [matTooltip]="ARIA_LABELS.TOGGLE_DELINEATION"
      iav-stop="mousedown click"
      [iav-key-listener]="[{'type': 'keydown', 'key': 'q', 'capture': true, 'target': 'document' }]"
      (iav-key-event)="toggleParcellationVisibility()"
      (click)="toggleParcellationVisibility()">
      <i class="fas"
        [ngClass]="(parcellationVisibility$ | async) ? 'fa-eye': 'fa-eye-slash'"
        aria-hidden="true">
      </i>
      <span class="sr-only">
        {{ ARIA_LABELS.TOGGLE_DELINEATION }}
      </span>
    </button>

    <button mat-mini-fab
      *ngIf="!(parcellation | parcellationIsBaseLayer)"
      color="default"
      (click)="dismiss()">

      <spinner-cmp class="sxplr-w-100 sxplr-h-100" *ngIf="onDismissClicked$ | async; else defaultDismissIcon"></spinner-cmp>
      <ng-template #defaultDismissIcon>
        <i class="fas fa-times"></i>
      </ng-template>

    </button>
  </div>
</sxplr-sapiviews-core-parcellation-chip>

<!-- parcellation description template -->

<ng-template #parcDescTmpl let-parc="parcellation">
  <h1 mat-dialog-title>
    {{ parc.name }}
  </h1>
  <div mat-dialog-content>
    <markdown-dom
      *ngIf="parc.brainAtlasVersions.length > 0 && parc.brainAtlasVersions[0].versionInnovation"
      [markdown]="parc.brainAtlasVersions[0].versionInnovation">
    </markdown-dom>
  </div>

  <mat-dialog-actions align="start">
    <a *ngFor="let url of parc | parcellationDoiPipe"
      [href]="url"
      sxplr-hide-when-local
      target="_blank"
      mat-raised-button
      color="primary">
      <div class="fas fa-external-link-alt"></div>
      <span>
        Dataset Detail
      </span>
    </a>

    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</ng-template>

