<div class = "jumbotron">
  <div class = "container">
    <h1>Components Showcase</h1>
    <p>
      The interactive viewer was built with angular, which allow some of its components to be used in other web based applications.
    </p>
    <p>
      Below is a list of samples of reusable components.
    </p>
  </div>
</div>

<div class = "container-fluid">

  <div class = "row">
      <div class = "col-md-12 cell">
        <markdown-dom [markdown] = "markdownText">

        </markdown-dom>
      </div>
  </div>
  <div class = "row">
    <div class = "col-md-8 cell">
      try a demo:
    </div>
    <div class = "col-md-4 cell">
      code sample for implementation:
    </div>
  </div>
  <div class = "row">
      <div class = "col-md-4 cell">
        <textarea [(ngModel)] = "markdownInput">
        </textarea>
      </div>

      <div class = "col-md-4 cell">
        <div class = "well">
          <markdown-dom
            [markdown]="markdownInput">
          </markdown-dom>
        </div>
      </div>

      <div class = "col-md-4 cell">
        <div class = "well">
          <markdown-dom
            [markdown]="markdownCode">
          </markdown-dom>
        </div>
      </div>  
  </div>

  <div class = "row">
    <div class = "col-md-12 cell">
        <markdown-dom [markdown] = "readmoreText">

        </markdown-dom>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-8 cell">
      try a demo:
    </div>
    <div class = "col-md-4 cell">
      code sample for implementation:
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-4 cell">
      <textarea [(ngModel)] = "readmoreInput">

      </textarea>
    </div>
    <div class = "col-md-4 cell">
      
      <readmore>
        {{ readmoreInput }}
      </readmore>
    </div>
    <div class = "col-md-4 cell">
      <div class = "well">

          <markdown-dom [markdown] = "readmoreSampleCode">

          </markdown-dom>
      </div>
    </div>
  </div>
</div>