<div class="header-component" >

</div>
<div class="main-container">

  <mat-card class="card" (click) ="navigateTo('interface')">
    <mat-card-header>
      <mat-card-title>Quick Start</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" src="http://coresofts.com/image-data/compass.svg">
    <mat-card-content>
      <p>
        How does the user interface looks like.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card" (click) ="navigateTo('tutorial')">
    <mat-card-header>
      <mat-card-title>Quick tutorials</mat-card-title>
    </mat-card-header>
    <img mat-card-image class="card-image" src="http://coresofts.com/image-data/cloud-computing.svg">
    <mat-card-content>
      <p>
        How to use an application.
      </p>
    </mat-card-content>
  </mat-card>
</div>
