.virtual-scroll-viewport-container
{
  height: 20em;
  width: 20em;
  overflow: hidden;
}

.virtual-scroll-row
{
  width: 20em;
}

/* required to match virtual scroll itemSize property */
.virtual-scroll-unit
{
  height: 26px
}

.selected-region-container
{
  flex: 1 1 auto;
}

.selected-region-actionbtn
{
  flex: 0 0 auto;
}
