<!-- Header -->
<div *ngIf = "selectedPOI$ | async" databrowserheader>
  <span>
    {{ !(selectedPOI$ | async) ? '' : (((selectedPOI$ | async).length === 0 ? 'No' : (selectedPOI$ | async).length) + ' selected region' + ((selectedPOI$ | async).length > 1 ? 's' : '')) + ' of interest'  }} 
  </span>
  <small
    *ngIf = "(selectedPOI$ | async).length > 0"
    class = "btn btn-link"
    (click) = "clearAllPOIs()">
    clear all
  </small>
</div>

<!-- Filter -->
<div filterBlock>
  <div>
    Filter
  </div>
  <div
    *ngFor = "let type of dataEntries | getUniqueProperty : 'type' "
    class = "clickable"
    (click)="toggleTypeVisibility(type)">
    <small>
      <i
        *ngIf = "typeVisible(type)" 
        class = "glyphicon glyphicon-check">
      </i>
      <i
        *ngIf = "!typeVisible(type)" 
        class = "glyphicon glyphicon-unchecked">
      </i>
    </small>
    <small>
      {{ type }}
    </small>
  </div>
  <div 
    class = "clickable" 
    (click) = "toggleSpatialDataVisible()">
    <small>
      <i *ngIf = "spatialDataVisible" class = "glyphicon glyphicon-check"></i>
      <i *ngIf = "!spatialDataVisible" class = "glyphicon glyphicon-unchecked"></i>
    </small>
    <small>
      Spatial Search
    </small>
  </div>
</div>

<!-- Data -->
<div *ngIf = "spatialDataVisible && false">
  <panel-component [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      <span>
        Spatial Search Data
      </span>
      <span class = "mute-text">
        ({{ spatialTotalNo }})
      </span>
    </div>
    <div body>
      <div *ngFor = "let data of spatialDataEntries" spatialSearchCell>
        <div *ngIf = "data.name">
          {{ data.name }}
        </div>
        <div *ngIf = "data.properties">
          {{ data.properties.description }}
        </div>
      </div>

      <pagination-component
        *ngIf = "spatialDataEntries.length > 0"
        [hitsPerPage]="spatialPaginationHitsPerPage"
        [total] = "spatialTotalNo"
        [currentPage]="spatialPagination"
        (paginationChange)="spatialPaginationChange($event)">

      </pagination-component>
    </div>
  </panel-component>
</div>
<div 
  *ngIf = "(selectedPOI$ | async) && (selectedPOI$ | async).length > 0; else noSelectedRegion"
  regionsContainer>

  <div
    *ngFor = "let data of (selectedRegions$ | async | sortDataEntriesToRegion : dataEntries).concat( selectedLandmarks$ | async | spatialLandmarksToDataBrowserItemPipe ) | searchResultPagination  : currentPage : hitsPerPage  "
    regionContainer>
    <panel-component 
      [collapseBody] = "true"
      [bodyCollapsable] = "true">
      <div [ngClass] = "(data.searchResults | filterDataEntriesByType : hideDataTypes).length === 0 ? 'noResultClass' : ''" 
        displayflex
        heading>
        <div maintext>
          <span>
            {{ data.region ? data.region.name : 'Not associated with any region' }}
          </span>
          <span class = "mute-text">
            ({{ (data.searchResults | filterDataEntriesByType : hideDataTypes).length }})
          </span>
        </div>
        <div propertyicons>
          <i *ngFor = "let poi of data.region.POIs"
            (click) = "gothere($event,poi)" 
            class = "glyphicon glyphicon-screenshot" >
          </i>
          <i *ngIf = "data.region && data.region.position"
            (click) = "gothere($event,data.region.position)" 
            class = "glyphicon glyphicon-screenshot" >
          </i>
          <i (click) = "removePOI($event,data.region)"
            class = "glyphicon glyphicon-remove-sign">
          </i>
        </div>
      </div>
      <div body>

        <dataset-viewer
          (launchFileViewer) = "handleFlatTreeNodeClick($event)"
          [dataset] = "searchResult"
          *ngFor = "let searchResult of data.searchResults">

        </dataset-viewer>
      </div>
    </panel-component>
  </div>

  <!-- pagination -->
  <pagination-component
    *ngIf = "(selectedPOI$ | async).length > 0 && (selectedPOI$ | async).length > hitsPerPage"
    [hitsPerPage]="hitsPerPage"
    [total] = "(selectedPOI$ | async).length"
    [currentPage]="currentPage"
    (paginationChange)="paginationChange($event)">

  </pagination-component>

</div>

<ng-template #noSelectedRegion>
  <div noSelectedRegion>
    Select a region / spatial landmark to get started
  </div>
</ng-template>
