<!-- Header -->
<div databrowserheader>
  <span>
    {{ databrowserHeaderText }} 
  </span>
  <small
    *ngIf = "selectedRegions.length > 0"
    class = "btn btn-link"
    (click) = "clearAllRegions()">
    clear all
  </small>
</div>

<!-- Filter -->
<div filterBlock>
  <div>
    Filter
  </div>
  <div
    *ngFor = "let type of dataEntries | getUniqueProperty : 'type' "
    class = "clickable"
    (click)="toggleTypeVisibility(type)">
    <small>
      <i
        *ngIf = "typeVisible(type)" 
        class = "glyphicon glyphicon-check">
      </i>
      <i
        *ngIf = "!typeVisible(type)" 
        class = "glyphicon glyphicon-unchecked">
      </i>
    </small>
    <small>
      {{ type }}
    </small>
  </div>
  <div 
    class = "unclickable" 
    (click) = "toggleSpatialDataVisible()">
    <small>
      <i *ngIf = "spatialDataVisible" class = "glyphicon glyphicon-check"></i>
      <i *ngIf = "!spatialDataVisible" class = "glyphicon glyphicon-unchecked"></i>
    </small>
    <small placement = "bottom" tooltip = "coming soon">
      Spatial Search
    </small>
  </div>
</div>

<!-- Data -->
<div *ngIf = "spatialDataVisible">
  <panel-component [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      <span>
        Spatial Search Data
      </span>
      <span class = "mute-text">
        ({{ spatialTotalNo }})
      </span>
    </div>
    <div body>
      <div *ngFor = "let data of spatialDataEntries" spatialSearchCell>
        {{ data.properties.description }}
      </div>

      <pagination-component
        *ngIf = "spatialDataEntries.length > 0"
        [hitsPerPage]="spatialPaginationHitsPerPage"
        [total] = "spatialTotalNo"
        [currentPage]="spatialPagination"
        (paginationChange)="spatialPaginationChange($event)">

      </pagination-component>
    </div>
  </panel-component>
</div>
<div *ngIf = "selectedRegions.length > 0; else noSelectedRegion">

    <div
    *ngFor = "let data of dataEntries | groupDatasetByRegion : regions | filterRegionDataEntries : selectedRegions | searchResultPagination  : currentPage : hitsPerPage">
    <panel-component 
      [collapseBody] = "true"
      [bodyCollapsable] = "true">
      <div [ngClass] = "(data.searchResults | filterDataEntriesByType : hideDataTypes).length === 0 ? 'noResultClass' : ''" 
        displayflex
        heading>
        <div maintext>
          <span>
            {{ data.region ? data.region.name : 'Not associated with any region' }}
          </span>
          <span class = "mute-text">
            ({{ (data.searchResults | filterDataEntriesByType : hideDataTypes).length }})
          </span>
        </div>
        <div propertyicons>
          <i *ngIf = "data.region && data.region.position"
            (click) = "gothere($event,data.region.position)" 
            class = "glyphicon glyphicon-screenshot" >
          </i>
          <i *ngIf = "regionSelected(data.region)"
            (click) = "removeRegion($event,data.region)"
            class = "glyphicon glyphicon-remove-sign">
          </i>
        </div>
      </div>
      <div body>
        <panel-component
          *ngFor = "let searchResult of data.searchResults | filterDataEntriesByType : hideDataTypes"
          [collapseBody] = "true"
          [bodyCollapsable] = "true"
          dataentry>
  
          <div heading>
            {{ searchResult.type }}
          </div>
  
          <div body>
            <tree-component
              *ngFor = "let item of searchResult.files | copyProperty : 'filename' : 'path' | pathToNestedChildren"
              [childrenExpanded] = "false"
              [renderNode] = "renderNode" 
              (treeNodeClick) = "handleTreeNodeClick($event,searchResult)"
              [inputItem] = " item "
              treebase>
  
            </tree-component>
          </div>
        </panel-component>
      </div>
    </panel-component>
  </div>
</div>
<ng-template #noSelectedRegion>
  <div noSelectedRegion>
    Select a region to get started
  </div>
</ng-template>

<!-- pagination -->
<pagination-component
  *ngIf = "(dataEntries | groupDatasetByRegion : regions).length > 0 && (selectedRegions.length > hitsPerPage)"
  [hitsPerPage]="hitsPerPage"
  [total] = "(dataEntries | groupDatasetByRegion : regions | filterRegionDataEntries : selectedRegions).length"
  [currentPage]="currentPage"
  (paginationChange)="paginationChange($event)">

</pagination-component>
