<!-- Filter -->
<div filterBlock>
  <div>
    Filter {{ dataEntries.length }}
  </div>
  <div
    *ngFor = "let type of dataEntries | getPropMapPipe : 'formats' | flatmapArrayPipe | getUniquePipe "
    class = "clickable"
    (click)="toggleTypeVisibility(type)">
    <small>
      <i
        *ngIf = "typeVisible(type)" 
        class = "glyphicon glyphicon-check">
      </i>
      <i
        *ngIf = "!typeVisible(type)" 
        class = "glyphicon glyphicon-unchecked">
      </i>
    </small>
    <small>
      {{ type }}
    </small>
  </div>
  <div 
    class = "clickable" 
    (click) = "toggleSpatialDataVisible()">
    <small>
      <i *ngIf = "spatialDataVisible" class = "glyphicon glyphicon-check"></i>
      <i *ngIf = "!spatialDataVisible" class = "glyphicon glyphicon-unchecked"></i>
    </small>
    <small>
      Spatial Search
    </small>
  </div>

  <pill-component
    [containerStyle]="{backgroundColor:'rgba(128,128,128,0.2)'}"
    [closeBtnStyle]="{backgroundColor:'rgba(128,128,128,0.5)'}"
    (closeClicked)="deselectRegion(region)"
    [title]="region.name"
    *ngFor="let region of selectedRegions$ | async">
  </pill-component>
</div>

<!-- Data -->

<!-- spatial search -->
<div *ngIf = "false && spatialDataVisible">
  <panel-component [collapseBody] = "true" [bodyCollapsable] = "true">
    <div heading>
      <span>
        Spatial Search Data
      </span>
      <span class = "mute-text">
        ({{ spatialTotalNo }})
      </span>
    </div>
    <div body>
      <div *ngFor = "let data of spatialDataEntries" spatialSearchCell>
        <div *ngIf = "data.name">
          {{ data.name }}
        </div>
        <div *ngIf = "data.properties">
          {{ data.properties.description }}
        </div>
      </div>

      <pagination-component
        *ngIf = "spatialDataEntries.length > 0"
        [hitsPerPage]="spatialPaginationHitsPerPage"
        [total] = "spatialTotalNo"
        [currentPage]="spatialPagination"
        (paginationChange)="spatialPaginationChange($event)">

      </pagination-component>
    </div>
  </panel-component>
</div>

<!-- other data -->
<pagination-component
  (paginationChange)="currentPage = $event"
  [hitsPerPage]="hitsPerPage"
  [total]="(fetchedDataEntries$ | async | filterDataEntriesByType : showDataTypes | filterDataEntriesByRegion : (selectedRegions$ | async)).length"
  [currentPage]="currentPage">
</pagination-component>
<dataset-viewer
  *ngFor="let dataset of fetchedDataEntries$ | async | filterDataEntriesByType : showDataTypes | filterDataEntriesByRegion : (selectedRegions$ | async) | searchResultPagination : currentPage : hitsPerPage"
  (launchFileViewer) = "handleFlatTreeNodeClick($event)"
  [dataset] = "dataset">

</dataset-viewer>
<div 
  *ngIf = "false && (selectedPOI$ | async) && (selectedPOI$ | async).length > 0"
  regionsContainer>

  <div
    *ngFor = "let data of (selectedRegions$ | async | sortDataEntriesToRegion : dataEntries).concat( selectedLandmarks$ | async | spatialLandmarksToDataBrowserItemPipe ) | searchResultPagination  : currentPage : hitsPerPage  "
    regionContainer>
    <panel-component 
      [collapseBody] = "true"
      [bodyCollapsable] = "true">
      <div [ngClass] = "(data.searchResults | filterDataEntriesByType : showDataTypes).length === 0 ? 'noResultClass' : ''" 
        displayflex
        heading>
        <div maintext>
          <span>
            {{ data.region ? data.region.name : 'Not associated with any region' }}
          </span>
          <span class = "mute-text">
            ({{ (data.searchResults | filterDataEntriesByType : hideDataTypes).length }})
          </span>
        </div>
        <div propertyicons>
          <i *ngFor = "let poi of data.region.POIs"
            (click) = "gothere($event,poi)" 
            class = "glyphicon glyphicon-screenshot" >
          </i>
          <i *ngIf = "data.region && data.region.position"
            (click) = "gothere($event,data.region.position)" 
            class = "glyphicon glyphicon-screenshot" >
          </i>
          <i (click) = "removePOI($event,data.region)"
            class = "glyphicon glyphicon-remove-sign">
          </i>
        </div>
      </div>
      <div body>

        <dataset-viewer
          (launchFileViewer) = "handleFlatTreeNodeClick($event)"
          [dataset] = "searchResult"
          *ngFor = "let searchResult of data.searchResults">

        </dataset-viewer>
      </div>
    </panel-component>
  </div>

  <!-- pagination -->
  <pagination-component
    *ngIf = "(selectedPOI$ | async).length > 0 && (selectedPOI$ | async).length > hitsPerPage"
    [hitsPerPage]="hitsPerPage"
    [total] = "(selectedPOI$ | async).length"
    [currentPage]="currentPage"
    (paginationChange)="paginationChange($event)">

  </pagination-component>

</div>

<ng-template #noSelectedRegion>
  <div noSelectedRegion>
    Select a region / spatial landmark to get started
  </div>
</ng-template>
