.search-panel-container {
    width: 330px;
    min-height: 100px;
}

.search-header {
    height: 40px;
}

.search-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.floating-container-mp {
    margin-left: 20px;
    padding-left: 15px;
}

.floating-container-selected-regions {
    margin-left: 35px;
    padding-left: 30px;
}
