<div class="search-panel-container"
     [ngStyle]="{'max-height' : (+windowHeight - +searchPanelPositionTop - 20) + 'px'}">

    <!-- Header with Filter -->
    <div class="w-100 search-header d-flex align-items-center justify-content-between pl-2 pr-4" (mouseleave)="filterHovering = false; hideFilter()">
        <div class="d-flex text-nowrap">
            Data related to current selection
        </div>
        <div class="d-flex align-items-start" (mouseenter)="filterHovering = true; filterVisible = true; showSelectedRegions = false; showPreview = null;">
            <i class="fas fa-filter"></i>
            <div [hidden]="!filterVisible" class="position-absolute ml-3 ">
                <mat-card class="border">
                    <modality-picker
                            (click)="$event.stopPropagation();"
                            class="mw-100"
                            [countedDataM]="countedDataM"
                            (modalityFilterEmitter)="handleModalityFilterEvent($event)">
                    </modality-picker>
                </mat-card>
            </div>
        </div>
    </div>
    <!-- END Header with Filter -->


    <!-- Selected regions Container -->
    <div class="ml-3 mr-3 pt-2 pb-2 text-wrap d-flex justify-content-between align-items-center cursorPointer"
         (mouseenter)="selectedRegionsHovering = true; showSelectedRegions = true; showPreview = null; filterVisible = false"
         (mouseleave)="selectedRegionsHovering = false; hideSelectedRegions()">
        <strong>Currently selected regions</strong>
        <div class="d-flex align-items-start">
            <div class="d-flex align-items-center">
                <span>{{(selectedRegions$ | async)?.length}}</span>
                <i class="fas fa-chevron-right ml-3"></i>
            </div>
            <div class="position-absolute floating-container-mp" *ngIf="showSelectedRegions">
                <selected-regions
                        [selectedRegions$]="selectedRegions$">
                </selected-regions>
            </div>
        </div>
    </div>
    <!-- END Selected regions Container-->

    <!-- Loaded Datasets container FULL -->
    <div>
        <div *ngIf="fetchingFlag" class="spinnerAnimationCircleContainer w-100 d-flex justify-content-center">
            <div class="spinnerAnimationCircle"></div>
            <div>Fetching datasets...</div>
        </div>

        <div class="ml-2 mr-2 alert alert-danger" *ngIf="fetchError">
            <i class="fas fa-exclamation-triangle"></i> Error fetching data. <a href="#" (click)="retryFetchData($event)" class="btn btn-link text-info">retry</a>
        </div>

        <div *ngIf="dataentries && dataentries | filterDataEntriesByMethods : visibleCountedDataM as filteredDataEntry">
            <div class="dataEntry">
                <div class="ml-2 mr-2 mt-1">
                    <i *ngIf="dataentries.length > 0">
                        {{ dataentries.length }} total results.
                        <span *ngIf="visibleCountedDataM.length > 0 ">
                            {{ filteredDataEntry.length }} filtered results.
                            <a href="#"
                               class="btn btn-sm btn-link"
                               (click)="resetFilters($event)">
                                reset filters
                            </a>
                        </span>
                    </i>
                    <i *ngIf="dataentries.length === 0 && (selectedRegions$ | async)?.length">
                        No results to show.
                    </i>
                </div>
                <div class="overflow-auto mt-2" #SearchBody (mouseleave)="mouseHoversFilesMenu = false; hideSearchMenu()"
                     (mouseenter)="mouseHoversFilesMenu = true; filesMenuFrozen? unfrozeSearchMenu() : null"
                     [ngStyle]="{'max-height' : (+windowHeight - +searchPanelPositionTop -  150) + 'px'}"
                     elementOutClick
                     (outsideClick)="filePreviewModalClosedValue && closeFrozenMenu(); !filesMenuFrozen? showPreview = null : null">
                    <div *ngFor="let dataset of filteredDataEntry; let i = index" class="search-item">
                        <hr [color]="constantsService.darktheme? '#C6C6C6' : ''" class="m-0" style="margin: 0; padding: 0;">
                        <div class="ml-3 mr-3 text-wrap d-flex justify-content-between align-items-center" #SearchItem (mouseenter)="showPreview = i; filterVisible = false; showSelectedRegions = false">
                            <div class="cursorPointer pt-2 pb-2" (click)="openDatasetUrl(dataset.kgReference)"  (mouseenter)="visiblePreview !== i && setPreviewHeight(SearchBody, SearchItem)">{{dataset.name}}</div>
                            <div *ngIf="dataset.preview" class="d-flex align-items-start ">
                                <i class="fas fa-chevron-right ml-3" (mouseenter)="visiblePreview !== i && setPreviewHeight(SearchBody, SearchItem)"></i>
                                <div class="position-absolute floating-container-mp" [ngStyle]="{'top': previewWindowTopPosition + 'px'}" *ngIf="showPreview === i" #SearchPreview>
                                    <mat-card class="p-0">
                                        <search-item-preview-component
                                                [datasetName]="dataset.name"
                                                [ngStyle]="{'max-height': +windowInnerheight-100 + 'px'}"
                                                [selectedRegions]="selectedRegions$ | async"
                                                (freezeFilesSubMenu)="frozeSearchMenu()"
                                                (filePreviewModalClosed)="filePreviewModalClosedValue = $event; this.filePreviewModalClosed.emit($event)"
                                                (closeSearchMenu)="this.closeSearchMenu.emit(true)">
                                        </search-item-preview-component>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr [color]="constantsService.darktheme? '#C6C6C6' : ''" class="mt-0">
                </div>
            </div>
        </div>
    </div>
    <!-- END Loaded Datasets container FULL -->

</div>
