.cookie-text {
    text-align: justify;
}

.cookie-text-small {
    text-align: justify;
    font-size: 11px;
}

.show-more-button-on-cookie-agreement {
    width: 100%;
    margin-bottom: 20px;
    outline: none;
}