:host
{
  display: block;
  margin-bottom:1rem;
}

.expansion-panel .mat-expansion-panel-header-title,
.expansion-panel .mat-expansion-panel-header-description 
{
  flex-basis: 0;
}

.expansion-panel .mat-expansion-panel-header-description
{
  justify-content: space-between;
  align-items: center;
}

iframe
{
  width: 100%;
  padding: 1rem;
  height: 20rem;
}
