.title
{
    display: flex;
    flex-direction: row;
    align-items: center;

    > mat-icon
    {
        flex: 0 0 auto;
        margin-right: 0.5rem;
    }

    > .text
    {
        
        text-wrap: nowrap;
        text-overflow: clip;

        flex: 1 1 auto;
        font-size: 125%;
    }

    margin-bottom: 0.5rem;
}

.content
{
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    opacity: 0.8;
    margin-left:0.25rem;
}
