<ng-template [ngIf]="view$ | async" let-tpbr>
    <div *ngIf="tpbr.template">
        {{ tpbr.template.name }}
    </div>

    <div *ngIf="tpbr.pointStr">
        Located at: {{ tpbr.pointStr }}
    </div>
    
    <ng-template [ngIf]="tpbr.bboxStringAlt" let-alt>
        <div>
            Located at: {{ alt.center }} ± {{ alt.halflwh }} (mm)
        </div>
    </ng-template>

    <!-- <ng-template [ngIf]="tpbr.bboxString" let-bboxString>
        <div>
            from {{ bboxString.from }}
        </div>
        <div>
            to {{ bboxString.to }}
        </div>
    </ng-template> -->

    <div *ngIf="tpbr.parcellation">
        {{ tpbr.parcellation.name }}
    </div>
    <div *ngIf="tpbr.region">
        {{ tpbr.region.name }}
    </div>
    
</ng-template>
