
<!-- modality picker -->
<div>
  <i (click)="modalityReadmore.show = !modalityReadmore.show" class="clickable">
    Filter by Modality <small *ngIf="modalityFilter.length > 0" class="text-muted">({{ modalityFilter.length }})</small>
  </i>
  <readmore-component
    #modalityReadmore
    [animationLength]="0"
    [collapsedHeight]="0">
    <div class="filterWrapper">
      <modality-picker
        (modalityFilterEmitter)="modalityFilter = $event; resetCurrentPage()">
  
      </modality-picker>
    </div>
  </readmore-component>
  <div *ngIf="!modalityReadmore.show">
    <pill-component
      [containerStyle]="{backgroundColor:'rgba(128,128,128,0.2)'}"
      [closeBtnStyle]="{backgroundColor:'rgba(128,128,128,0.5)'}"
      (closeClicked)="uncheckModality(modality)"
      [title]="modality"
      *ngFor="let modality of modalityFilter">
  
    </pill-component>
  </div>
</div>

<!-- region hierarchy -->
<div>
  <i (click)="!regionHierarchy.showRegionTree ? regionHierarchy.focusInput($event) : {}" class="clickable">
    Filter by parcellation region <small *ngIf="selectedRegions.length > 0" class="text-muted">({{ selectedRegions.length }})</small>
  </i>

  <!-- parcellation toggle btn -->
  <div class="parcellationSelectionWrapper">
    <!-- region selector -->
    <region-hierarchy
      (showRegionFlagChanged)="$event ? (showParcellationList = false) : {}"
      #regionHierarchy>
    </region-hierarchy>

    <div
      (click)="showParcellationList = !showParcellationList"
      class="toggleParcellationBtn btn btn-secondary btn-sm rounded-circle">
      <i [ngClass]="showParcellationList ? '' : 'r-90' " class="fas fa-chevron-down"></i>
    </div>
  </div>


  <!-- parcellation selector -->
  <radio-list
    *ngIf="selectedParcellation && showParcellationList"
    class="mt-1 mb-0"
    (itemSelected)="changeParcellation($event)"
    [selectedItem]="selectedParcellation"
    [inputArray]="availableParcellations">
  </radio-list>

  <readmore-component
    [hidden]="selectedRegions.length === 0"
    [animationLength]="0"
    #selectedRegionReadmore
    [collapsedHeight]="45">
    <div class="filterWrapper">
      <pill-component
        [containerStyle]="{backgroundColor:'rgba(128,128,128,0.2)'}"
        [closeBtnStyle]="{backgroundColor:'rgba(128,128,128,0.5)'}"
        (closeClicked)="deselectRegion(region)"
        [title]="region.name"
        *ngFor="let region of selectedRegions">
      </pill-component>
    </div>
  </readmore-component>
</div>

<div
  *ngIf="fetchingFlag; else fetched"
  class="spinnerAnimationCircleContainer">
  <div class="spinnerAnimationCircle"></div>
  <div>Fetching datasets...</div>
</div>

<ng-template #fetched>
  <div class="ml-2 mr-2 alert alert-danger" *ngIf="fetchError; else showData">
    <i class="fas fa-exclamation-triangle"></i> Error fetching data. <a href="#" (click)="retryFetchData($event)" class="btn btn-link text-info">retry</a>
  </div>
</ng-template>

<ng-template #showData>
  <!-- datawrapper -->
  <div
    [ngStyle]="filePreviewName ? {'transform': 'translateX(-50%)'} : {}"
    class="dataEntryWrapper">

    <!-- dataentries -->
    <div class="dataEntry">
      <div>
        <i *ngIf="dbService.fetchedDataEntries$ | async">
          {{ (dbService.fetchedDataEntries$ | async).length }} total results. 
          <span
            *ngIf="selectedRegions.length + modalityFilter.length > 0 "> 
            {{ (dbService.fetchedDataEntries$ | async | filterDataEntriesByMethods : modalityFilter | filterDataEntriesByRegion : selectedRegions).length }} 
            filtered results.
            <a
              href="#"
              class="btn btn-sm btn-link"
              (click)="resetFilters($event)">reset filters
            </a>
          </span>
        </i>
        <i *ngIf="!(dbService.fetchedDataEntries$ | async)">
          No results to show.
        </i>
      </div>
      <div *ngIf="dbService.fetchedDataEntries$ | async">
        <dataset-viewer
          class="mt-1"
          *ngFor="let dataset of dbService.fetchedDataEntries$ | async | filterDataEntriesByMethods : modalityFilter | filterDataEntriesByRegion : selectedRegions | searchResultPagination : currentPage : hitsPerPage"
          (showPreviewDataset)="onShowPreviewDataset($event)"
          [dataset]="dataset">
        </dataset-viewer>
      </div>
      
      <pagination-component
        *ngIf="dbService.fetchedDataEntries$ | async"
        (paginationChange)="currentPage = $event"
        [hitsPerPage]="hitsPerPage"
        [total]="(dbService.fetchedDataEntries$ | async | filterDataEntriesByMethods : modalityFilter | filterDataEntriesByRegion : selectedRegions).length"
        [currentPage]="currentPage">
      </pagination-component>
    </div>

    <!-- file preview -->
    <div
      class="filePreview">
      <div class="filePreviewContainer">
        <div (click)="filePreviewName=null" class="rounded-circle btn btn-sm btn-outline-secondary">
          <i class="fas fa-arrow-left"></i>
        </div>
        <preview-component
          *ngIf="filePreviewName"
          [datasetName]="filePreviewName">

        </preview-component>
          
      </div>
    </div>
  </div>
</ng-template>