<!-- transclusion header -->
<ng-content select="[card-header]">
</ng-content>

<!-- transclusion content prepend -->
<ng-content select="[card-content='prepend']">
</ng-content>

<!-- modality filter -->
<div class="mb-1" >
  <ng-container *ngTemplateOutlet="modalitySelector">
  </ng-container>
</div>

<!-- if still loading, show spinner -->
<ng-template [ngIf]="fetchingFlag" [ngIfElse]="resultsTmpl">
  <ng-container *ngTemplateOutlet="loadingSpinner">
  </ng-container>
</ng-template>

<!-- else, show fetched -->
<ng-template #resultsTmpl>

  <!-- if error, show error only -->
  <ng-template [ngIf]="fetchError">
    <ng-container *ngTemplateOutlet="errorTemplate">
    </ng-container>
  </ng-template>

  <!-- if not error, show dataset template -->
  
  <ng-template [ngIf]="!fetchError">
    <ng-template [ngTemplateOutlet]="datasetListTmpl"
      [ngIf]="disableVirtualScroll"
      [ngIfElse]="datasetVirtualScrollTmpl">

    </ng-template>
  </ng-template>
</ng-template>

<!-- footer, populated by content transclusion -->
<ng-content select="[card-footer]">
</ng-content>

<ng-template #loadingSpinner>
  <mat-card-content class="h-100">
    <div class="m-2 d-flex flex-row align-items-center justify-content star">
      <div class="d-inline-block mr-2 spinnerAnimationCircle"></div>
      <span>Fetching datasets...</span>
    </div>
  </mat-card-content>
</ng-template>

<ng-template #errorTemplate>
  <mat-card-content>
    <div class="ml-2 mr-2 alert alert-danger">
      <i class="fas fa-exclamation-triangle"></i> Error fetching data. <a href="#" (click)="retryFetchData($event)" class="btn btn-link text-info">retry</a>    
    </div>
  </mat-card-content>
</ng-template>

<ng-template #datasetVirtualScrollTmpl>
  <!-- datawrapper -->

  <ng-container *ngIf="dataentries | filterDataEntriesByMethods : visibleCountedDataM as filteredDataEntry">
    <mat-card-content class="dataset-container w-100 overflow-hidden">
      <!-- TODO export aria labels to common/constants -->
      <cdk-virtual-scroll-viewport
        *ngIf="showList"
        [attr.aria-label]="LIST_OF_DATASETS_ARIA_LABEL"
        class="h-100"
        minBufferPx="200"
        maxBufferPx="400"
        itemSize="50">
        <div class="virtual-scroll-element overflow-hidden" *cdkVirtualFor="let dataset of filteredDataEntry; trackBy: trackByFn; templateCacheSize: 20; let index = index">

          <!-- divider, show if not first -->
          <mat-divider *ngIf="index !== 0"></mat-divider>

          <single-dataset-list-view
            class="d-block pt-1 pb-1 h-100"
            [kgSchema]="(dataset.fullId | getKgSchemaIdFromFullIdPipe)[0]"
            [kgId]="(dataset.fullId | getKgSchemaIdFromFullIdPipe)[1]"
            [dataset]="dataset"
            [ripple]="true">
    
          </single-dataset-list-view>
          

        </div>
      </cdk-virtual-scroll-viewport>
    </mat-card-content>
  </ng-container>
</ng-template>

<ng-template #datasetListTmpl>

  <ng-container *ngIf="dataentries | filterDataEntriesByMethods : visibleCountedDataM as filteredDataEntry">
    <mat-card-content class="w-100">
      <!-- TODO export aria labels to common/constants -->
      <div *ngIf="showList">
        <div *ngFor="let dataset of filteredDataEntry; trackBy: trackByFn; templateCacheSize: 20; let index = index"
          class="scroll-element overflow-hidden">

          <mat-divider *ngIf="index !== 0"></mat-divider>

          <single-dataset-list-view
            class="d-block pt-1 pb-1 h-100"
            [kgSchema]="(dataset.fullId | getKgSchemaIdFromFullIdPipe)[0]"
            [kgId]="(dataset.fullId | getKgSchemaIdFromFullIdPipe)[1]"
            [dataset]="dataset"
            [ripple]="true">
    
          </single-dataset-list-view>
          
        </div>
      </div>
    </mat-card-content>
  </ng-container>
</ng-template>

<!-- modality picker / filter -->
<ng-template #modalitySelector>
  <mat-accordion class="flex-grow-0 flex-shrink-0">

    <!-- Filters -->
    <mat-expansion-panel hideToggle>

      <mat-expansion-panel-header class="align-items-center"
        [attr.aria-label]="MODALITY_FILTER_ARIA_LABEL">
        <mat-panel-title class="d-inline-flex align-items-center">
          <div class="flex-grow-1 flex-shrink-1 d-flex flex-column">
            <span>
                Filter features
            </span>
            <small *ngIf="dataentries.length > 0" class="text-muted">
              <ng-template [ngIf]="modalityPickerCmp && modalityPickerCmp.checkedModality.length > 0"
                [ngIfElse]="noFilterTmpl">
                {{ (dataentries | filterDataEntriesByMethods : visibleCountedDataM).length }} / {{ dataentries.length }}
              </ng-template>
              
              <ng-template #noFilterTmpl>
                {{ dataentries.length }} features
              </ng-template>
            </small>
          </div>

          <button mat-icon-button
            [matTooltip]="visibleCountedDataM.length > 0 ? 'Reset filters' : null"
            iav-delay-event="click"
            (iav-delay-event-emit)="visibleCountedDataM.length > 0 ? clearAll() : null"
            [iav-stop]="visibleCountedDataM.length > 0 ? 'click' : null"
            [color]="visibleCountedDataM.length > 0 ? 'primary' : 'basic'">
            <i class="fas fa-filter"></i>
          </button>
        </mat-panel-title>

      </mat-expansion-panel-header>

      <div class="max-h-10em overflow-y-auto overflow-x-hidden">
        <modality-picker
          iav-stop="click"
          class="w-100"
          [countedDataM]="visibleCountedDataM | resetcounterModalityPipe | appendFilterModalityPipe : [countedDataM]"
          (modalityFilterEmitter)="handleModalityFilterEvent($event)"
          #modalityPickerCmp>
      
        </modality-picker>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

</ng-template>
