<mat-card>

  <!-- template selection -->
  <mat-card-content class="d-inline-flex flex-nowrap">
    <mat-form-field>
      <mat-label>
        Template
      </mat-label>
      <mat-select
        [value]="(templateSelected$ | async)?.name"
        (selectionChange)="handleTemplateChange($event)"
        (openedChange)="focused = $event">
        <mat-option
          *ngFor="let template of (availableTemplates$ | async)"
          [value]="template.name">
          {{ template.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- padding so that info icon lines up -->
    <button mat-icon-button class="pe-none invisible"></button>
  
    <ng-container *ngIf="templateSelected$ | async as templateSelected">
      <!-- show on hover component -->
      <sleight-of-hand
        class="d-inline-block"
        *ngIf="templateSelected | templateParcellationHasMoreInfoPipe as moreInfo">
  
        <!-- shown when off -->
        <div sleight-of-hand-front>
          <button
            mat-icon-button>
            <i class="fas fa-info"></i>
          </button>
        </div>
  
        <!-- shown on hover -->
        <div class="d-flex flex-row align-items-start" sleight-of-hand-back>
          <button class="flex-grow-0 flex-shrink-0" mat-icon-button>
            <i class="fas fa-info"></i>
          </button>
  
          <div class="position-relative">
            <button class="position-relative invisible pe-none" mat-icon-button>
              <i class="fas fa-info"></i>
            </button>
  
            <single-dataset-view
              *ngFor="let originDataset of moreInfo.originDatasets"
              class="position-absolute left-0 top-0 w-40em"
              [name]="moreInfo.name"
              [description]="moreInfo.description"
              [publications]="moreInfo.publications"
              [kgSchema]="originDataset && originDataset.kgSchema"
              [kgId]="originDataset && originDataset.kgId">
            </single-dataset-view>
          </div>
          
        </div>
      </sleight-of-hand>
  
    </ng-container>
  </mat-card-content>

  <!-- parcellation selection -->
  <mat-card-content class="d-inline-flex flex-nowrap">

      <mat-form-field
      *ngIf="templateSelected$ | async as templateSelected"
      class="d-inline-flex flex-nowrap">
      <mat-label>
        Parcellation
      </mat-label>
      <mat-select
        (selectionChange)="handleParcellationChange($event)"
        [value]="(parcellationSelected$ | async)?.name"
        (openedChange)="focused = $event">
        <mat-option
          *ngFor="let parcellation of (templateSelected.parcellations | appendTooltipTextPipe)"
          [value]="parcellation.name">
          {{ parcellation.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <!-- selected regions -->
    <region-text-search-autocomplete
      [showAutoComplete]="false"
      (focusedStateChanged)="focused = $event">
    </region-text-search-autocomplete>
  
    <ng-container *ngIf="parcellationSelected$ | async as parcellationSelected">
      <!-- show on hover component -->
      <sleight-of-hand
        class="d-inline-block"
        *ngIf="parcellationSelected | templateParcellationHasMoreInfoPipe as moreInfo">
  
        <!-- shown when off -->
        <div sleight-of-hand-front>
          <button
            mat-icon-button>
            <i class="fas fa-info"></i>
          </button>
        </div>
  
        <!-- shown on hover -->
        <div class="d-flex flex-row align-items-start" sleight-of-hand-back>
          <button class="flex-grow-0 flex-shrink-0" mat-icon-button>
            <i class="fas fa-info"></i>
          </button>
  
          <div class="position-relative">
            <button class="position-relative invisible pe-none" mat-icon-button>
              <i class="fas fa-info"></i>
            </button>
  
            <single-dataset-view
              *ngFor="let originDataset of moreInfo.originDatasets"
              class="position-absolute left-0 top-0 w-40em"
              [name]="moreInfo.name"
              [description]="moreInfo.description"
              [publications]="moreInfo.publications"
              [kgSchema]="originDataset && originDataset.kgSchema"
              [kgId]="originDataset && originDataset.kgId">
            </single-dataset-view>
          </div>
          
        </div>
      </sleight-of-hand>  
  
    </ng-container>
  
  </mat-card-content>

  <!-- selected regions -->
  <mat-card-content>
    <mat-chip-list *ngIf="(regionsSelected$ | async)?.length > 0 ">
      <cdk-virtual-scroll-viewport
        class="w-100 h-10em overflow-x-hidden"
        [itemSize]="32">
        <mat-chip
          *cdkVirtualFor="let region of (regionsSelected$ | async)"
          class="w-100">
          <span class="flex-grow-1 flex-shrink-1 text-truncate">
            {{ region.name }}
          </span>
          <button
            *ngIf="region.position"
            (click)="gotoRegion($event, region)"
            mat-icon-button>
            <i class="fas fa-map-marked-alt"></i>
          </button>
          <button
            (click)="deselectRegion($event, region)"
            mat-icon-button>
            <i class="fas fa-trash"></i>
          </button>
        </mat-chip>
      </cdk-virtual-scroll-viewport>
    </mat-chip-list>
  
    <!-- place holder when no regions has been selected -->
    <span class="muted"  *ngIf="(regionsSelected$ | async).length === 0">
      No regions selected. Double click on any regions in the viewer, or use the search tool to select regions of interest.
    </span>
  </mat-card-content>

  <!-- control btns -->
  <mat-card-actions class="d-flex justify-content-between">
    
    <div class="d-flex">
      <!-- save  -->
      <button
        matTooltip="Bookmark this selection of regions"
        matTooltipPosition="below"
        mat-button
        (click)="saveSelection($event)"
        color="primary">
        <i class="far fa-bookmark"></i>
        
      </button>

      <!-- load -->
      <button
        (click)="loadSelection($event)"
        matTooltip="Load a bookmarked region selection"
        matTooltipPosition="below"
        mat-button
        color="primary"
        [disabled]="(savedRegionsSelections$ | async)?.length === 0">
        <i
          matBadgeColor="accent"
          [matBadgeOverlap]="false"
          [matBadge]="(savedRegionsSelections$ | async)?.length > 0 ? (savedRegionsSelections$ | async)?.length : null"
          class="fas fa-folder-open"></i>
        
      </button>
    </div>

    <!-- deselect all  -->
    <button
      (click)="deselectAllRegions($event)"
      matTooltip="Deselect all selected regions"
      matTooltipPosition="below"
      mat-raised-button
      color="warn"
      [disabled]="(regionsSelected$ | async)?.length === 0">
      <i class="fas fa-trash"></i>
    </button>
  </mat-card-actions>
  
  <mat-card-footer>

  </mat-card-footer>
</mat-card>

<!-- bottom sheet for saved regions  -->
<ng-template #savedRegionBottomSheetTemplate>
  <mat-action-list>

    <!-- separated (binned) by template/parcellation -->
    <ng-container *ngFor="let binnedRS of (savedRegionsSelections$ | async | binSavedRegionsSelectionPipe); let index = index">

      <!-- only render divider if it is not the leading element -->
      <mat-divider *ngIf="index !== 0"></mat-divider>

      <!-- header -->
      <h3 mat-subheader>
        {{ binnedRS.templateSelected.name }} / {{ binnedRS.parcellationSelected.name }}
      </h3>

      <!-- ng for all saved regions -->
      <button
        *ngFor="let savedRegionsSelection of binnedRS.regionSelections"
        (click)="loadSavedRegion($event, savedRegionsSelection)"
        mat-list-item>
        <!-- [class]="savedRegionsSelection | savedRegionsSelectionBtnDisabledPipe : (templateSelected$ | async) : (parcellationSelected$ | async) ? 'text-muted' : ''" -->
        <!-- [disabled]="savedRegionsSelection | savedRegionsSelectionBtnDisabledPipe : (templateSelected$ | async) : (parcellationSelected$ | async)" -->
        <!-- main content -->
        <span class="flex-grow-0 flex-shrink-1">
          {{ savedRegionsSelection.name }}
        </span>
        <small class="ml-1 mr-1 text-muted flex-grow-1 flex-shrink-0">
          ({{ savedRegionsSelection.regionsSelected.length }} selected regions)
        </small>

        <!-- edit btn -->
        <button
          (mousedown)="$event.stopPropagation()"
          (click)="editSavedRegion($event, savedRegionsSelection)"
          mat-icon-button>
          <i class="fas fa-edit"></i>
        </button>

        <!-- trash btn -->
        <button
          (mousedown)="$event.stopPropagation()"
          (click)="removeSavedRegion($event, savedRegionsSelection)"
          mat-icon-button
          color="warn">
          <i class="fas fa-trash"></i>
        </button>
      </button>
    </ng-container>
  </mat-action-list>
</ng-template>