<h1 *ngIf="data.title" mat-dialog-title class="sxplr-dialog-body">
  {{ data.title }}
</h1>

<ng-template [ngIf]="data.titleMd" let-titleMd>
  <h1 mat-dialog-title>
    <markdown-dom class="sxplr-dialog-body" [markdown]="titleMd">
    </markdown-dom>
  </h1>
</ng-template>

<mat-dialog-content>

  <div *ngIf="data.descMd || data.desc" class="mat-body">


    <ng-template [ngIf]="data.desc">
      {{ data.desc }}
    </ng-template>
    
    <markdown-dom *ngIf="data.descMd" [markdown]="data.descMd">
    </markdown-dom>
  </div>
  
  <ng-template [ngIf]="data.actionsAsList">
    <mat-action-list>
        
      <ng-template ngFor [ngForOf]="data.actions" let-action let-first="first">
        <!-- <ng-template [ngIf]="!first">
          <mat-divider></mat-divider>
        </ng-template> -->

        <ng-template [ngIf]="!!data.isActiveAction" [ngIfElse]="defaultTmpl">

          <button mat-list-item [mat-dialog-close]="action">
            <mat-icon
              fontSet="fas"
              [fontIcon]="data.isActiveAction(action) ? 'fa-circle' : 'fa-none'"
              matListItemIcon></mat-icon>
            
            <span>
              {{ action }}
            </span>
          </button>
        </ng-template>

        <ng-template #defaultTmpl>
          
          <button mat-list-item [mat-dialog-close]="action">
            
            <span>
              {{ action }}
            </span>
          </button>
        </ng-template>

      </ng-template>
    </mat-action-list>
  </ng-template>

</mat-dialog-content>

<mat-dialog-actions align="start">

  <ng-template [ngIf]="!data.actionsAsList">
    <ng-template ngFor [ngForOf]="data.actions || []" let-action>
      <a *ngIf="action?.startsWith('http'); else defaultActionTmpl"
        [href]="action"
        sxplr-hide-when-local
        target="_blank"
        mat-raised-button
        color="primary">
        <i class="fas fa-external-link-alt"></i>
        <span>Detail</span>
      </a>
  
      <ng-template #defaultActionTmpl>
        <button mat-raised-button
          color="primary"
          [mat-dialog-close]="action">
          {{ action }}
        </button>
      </ng-template>
    </ng-template>
  </ng-template>

  <button mat-dialog-close mat-button>
    Close
  </button>
</mat-dialog-actions>
