:host
{
  position: relative;
}

.explore-btn
{
  margin-top: 4.5rem;
}

.region-text-search-autocomplete-position
{
  z-index: 10;
  position: sticky;
  top: 0.5rem;
}

.tab-toggle-container
{
  margin-top: 1.5rem;
}

.tab-toggle-container > *
{
  display: block;
}

.tab-toggle
{
  margin-left: -2rem;
  padding-right: 0.75rem;
  margin-right: 1rem;
  text-align: right;
}

.accordion-icon
{
  width:1.5rem;
}

.collapse-position
{
  z-index: 10;
  position: sticky;
  bottom: 0.5rem;
}

mat-drawer
{
  overflow-x: hidden;
}

.transition-margin-left
{
  transition: margin-left 200ms cubic-bezier(0.35, 0, 0.25, 1);
}

._pli-container
{
  padding-top: 5rem;
}
