:host
{
  position: relative;
}

:host-context([show-ng-ui]) iav-layout-fourcorners
{
  visibility: hidden;
}

.region-text-search-autocomplete-position
{
  z-index: 10;
  position: sticky;
  top: 0.5rem;
}

mat-drawer
{
  overflow-x: hidden;
}

.menu-container
{
  transition: margin-left 200ms cubic-bezier(0.35, 0, 0.25, 1);

  position: relative;
  & > sxplr-vertical-bread-crumb
  {
    position: relative;
  }
  & > mat-card
  {

    width: 100%;

    pointer-events: all;
    z-index: 9;
    overflow-y: auto;
    overflow-x: hidden;
  }

}


.floating-ui
{
  display: block;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  .logo-container
  {
    position: fixed;
    left: 50%;
    bottom: 8rem;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  
    &> logo-container
    {
  
      width: 2rem;
      height: 2rem;
      display: block;
    }
  }
  
  .contextual-block
  {
    display: inline-block;
    background-color:rgba(200,200,200,0.8);
  }

}


:host-context([darktheme="true"]) .contextual-block
{
  background-color : rgba(30,30,30,0.8);
}


.leap-control-wrapper
{
  width: 0;
  height: 0;
  overflow: visible;
  flex-direction: row;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.leave-me-alone
{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

mat-card-content.context-menu-container
{
  display: flex;
  flex-direction: column;
  padding: 0;
}

sxplr-tab
{
  pointer-events: all;
  margin-left: -1rem;
  margin-top: 2rem;
  margin-right: 1rem;
  display: inline-block;
}


viewer-wrapper
{
  width: 100%;
  height: 100%;
  display: block;
}

sxplr-vertical-bread-crumb
{
  max-height: 98dvh;
  overflow: auto;
  pointer-events: all;
}

.express-atlas-selection
{
  margin: 0.5rem 0.5rem 2.5rem 0.5rem;

  markdown-dom
  {
    white-space: nowrap;
  }
}

.menu-label
{
  margin: 0.5rem 1.5rem 0rem 1.5rem;
  opacity: 0.5;
  font-size: 0.9rem;
}

div[iavLayoutFourCornersTopLeft]
{
  max-height: 90dvh;
  overflow-y: auto;
  padding: 0.5rem 0rem;
  
  &.left-panel-container
  {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    > *
    {
      flex: 0 0 auto;
    }
  }
}

mat-card-title.with-controls
{
  display: flex;
  align-items: center;

  &>span
  {
    flex: 0 1 auto;
  }
  button
  {
    flex: 0 0 auto;
  }
}
