<mat-sidenav-container>
  <mat-sidenav #sideNav class="w-100">
    <button mat-button
      (click)="sideNav.close()">
      <i class="fas fa-chevron-left"></i>
      <span>
        Back
      </span>
    </button>

    <!-- TODO fix single dataset view bug
    does not change render content unless rerender -->
    <mat-tab-group *ngIf="sideNav.opened">

      <mat-tab>
        <ng-template mat-tab-label>
          Overview
        </ng-template>

        <ng-template matTabContent>
          <single-dataset-view *ngIf="showDatafeatureInfo$ | async as featureEl"
            class="m-2 d-inline-block"
            [fullId]="featureEl.fullId"
            [name]="featureEl.name"
            [description]="featureEl.description"
            [useSmallIcon]="true">
          </single-dataset-view>
        </ng-template>
      </mat-tab>

      <mat-tab *ngFor="let feature of features">
        <ng-template mat-tab-label>
          {{ feature.type }}
        </ng-template>
        <ng-template matTabContent>
          <feature-explorer
            [region]="region"
            [feature]="feature">
          </feature-explorer>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-card class="p-0">
      <data-browser
        [disableVirtualScroll]="true"
        [regions]="[region]">
      </data-browser>
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>
