<div class="sxplr-position-relative">
  <!-- info icon -->
  <div *ngIf="tileShowInfo"
    class="sxplr-position-absolute right-0">
    <div mat-icon-button
      iav-stop="click"
      (click)="onInfoClick.emit($event)"
      [ngStyle]="{
        backgroundColor: darktheme ? 'white' : 'black',
        color: darktheme ? 'black': 'white'
      }"
      class="mat-elevation-z2 sxplr-custom-cmp info-button">
      <small>
        <i class="fas fa-info"></i>
      </small>
    </div>
  </div>


  <!-- directory icon -->
  <div *ngIf="isDir" class="sxplr-position-absolute bottom-0 right-0"
    [ngClass]="{
      'darktheme': darktheme,
      'lighttheme': !darktheme
    }">
    <i class="fas fa-folder folder-container fa-2x sxplr-custom-cmp text"></i>
  </div>

  <img [src]="tileImgSrc"
    [alt]="tileImgAlt"
    [ngClass]="{
      'tile-selected': selected
    }"
    draggable="false">
</div>

<div class="tile-text mat-body">
  {{ tileText }}
</div>
