:host > *
{
  flex: 0 0 0;
  margin-right: 0.4em;
}

:host > *
{
  pointer-events: all;
}

:not(.rawcontainer) .btnWrapper
{
  margin: 0.5rem 0;
}


.mat-tab-content
{
  padding: 0.8rem 1.2rem;
}

.rawcontainer
{
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
}
