<ng-template [ngIf]="ismobile" [ngIfElse]="fullTmpl">
  <div iav-fab-speed-dial-container
    #fab="iavFabSpeedDialContainer"
    class="d-flex flex-column align-items-center">
    <button mat-fab
      iav-fab-speed-dial-trigger
      [color]="fab.isOpen ? 'basic' : 'accent'">
      <i class="fas" [ngClass]="fab.isOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>

    <!-- signin -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="signinBtnTmpl">
      </ng-container>
    </div>

    <!-- plugin and tools -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="pluginAndToolsTmpl">
      </ng-container>
    </div>

    <!-- pinned dataset -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="pinnedDatasetBtnTmpl">
      </ng-container>
    </div>

    <!-- user annotations -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="userAnnotationsBtnTmpl">
      </ng-container>
    </div>

    <!-- help one pager -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="helpBtnTmpl">
      </ng-container>
    </div>
  </div>
</ng-template>

<!-- help one pager -->
<ng-template #helperOnePager>
  <help-one-pager></help-one-pager>
</ng-template>

<ng-template #fullTmpl>

  <div class="d-flex flex-row-reverse"
    [iav-key-listener]="keyListenerConfig"
    (iav-key-event)="openTmplWithDialog(helperOnePager)">

    <!-- signin -->
    <ng-container *ngTemplateOutlet="signinBtnTmpl">
    </ng-container>

    <!-- plugin and tools -->
    <ng-container *ngTemplateOutlet="pluginAndToolsTmpl">
    </ng-container>

    <!-- pinned dataset -->
    <ng-container *ngTemplateOutlet="pinnedDatasetBtnTmpl">
    </ng-container>

    <!-- user annotations -->
    <ng-container *ngTemplateOutlet="userAnnotationsBtnTmpl">
    </ng-container>

    <!-- help one pager -->
    <ng-container *ngTemplateOutlet="helpBtnTmpl">
    </ng-container>
  </div>
</ng-template>

<!-- signin btn -->
<ng-template #signinBtnTmpl>
  <div class="btnWrapper"
    [matTooltip]="userBtnTooltip$ | async"
    matTooltipPosition="below"
    [matMenuTriggerFor]="userDropdownMenu">
    <iav-dynamic-mat-button
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor">

      <ng-template [ngIf]="user$ | async" [ngIfElse]="notLoggedInTmpl" let-user="ngIf">
        {{ (user && user.name || 'Unnamed User').slice(0,1) }}
      </ng-template>

      <ng-template #notLoggedInTmpl>
        <i class="fas fa-user"></i>
      </ng-template>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<!-- plugin and tools tmpl -->
<ng-template #pluginAndToolsTmpl>
  <div class="btnWrapper"
    [matMenuTriggerFor]="pluginDropdownMenu"
    matTooltipPosition="below"
    [matTooltip]="pluginTooltipText">
    <iav-dynamic-mat-button
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor"
      iav-dynamic-mat-button-aria-label="Show tools and plugins">

      <i class="fas fa-th"></i>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<!-- pinned dataset btn -->
<ng-template #pinnedDatasetBtnTmpl>
  <div class="btnWrapper"
    (click)="bottomSheet.open(savedDatasets)"
    [matBadge]="(favDataEntries$ | async)?.length > 0 ? (favDataEntries$ | async)?.length : null "
    matBadgeColor="accent"
    matBadgePosition="above after"
    [matBadgeDescription]="PINNED_DATASETS_BADGE_DESC"
    matTooltip="Pinned datasets">
    <iav-dynamic-mat-button
      [attr.pinned-datasets-length]="(favDataEntries$ | async)?.length"
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor"
      iav-dynamic-mat-button-aria-label="Show pinned datasets">

      <i class="fas fa-thumbtack"></i>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<!-- User annotations btn -->
<ng-template #userAnnotationsBtnTmpl>
  <div class="btnWrapper"
    (click)="bottomSheet.open(userAnnotations, {hasBackdrop: false, disableClose: true})"
    matTooltip="My annotations">
    <iav-dynamic-mat-button
      [attr.pinned-datasets-length]="(favDataEntries$ | async)?.length"
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor"
      iav-dynamic-mat-button-aria-label="Annotations">

      <i class="fas fa-pencil-ruler"></i>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<ng-template #helpBtnTmpl>

  <div class="btnWrapper"
    (click)="openTmplWithDialog(helperOnePager)"
    matTooltip="Quickstart">
    <iav-dynamic-mat-button
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor"
      iav-dynamic-mat-button-aria-label="Show help dialog">

      <i class="far fa-question-circle"></i>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<!-- plugin dropdownmenu -->
<mat-menu #pluginDropdownMenu
  [aria-label]="'Tools and plugins menu'">
  <button mat-menu-item
    [disabled]="!viewerLoaded"
    screenshot-switch
    [matTooltip]="screenshotTooltipText">
    <mat-icon fontSet="fas" fontIcon="fa-camera">
    </mat-icon>
    <span>
      Screenshot
    </span>
  </button>
  <plugin-banner></plugin-banner>
</mat-menu>

<!-- user dropdownmenu -->
<mat-menu #userDropdownMenu>
  <mat-card>
    <mat-card-content>
      <signin-modal>
      </signin-modal>
    </mat-card-content>
  </mat-card>

  <mat-divider></mat-divider>

  <button mat-menu-item
    (click)="openTmplWithDialog(settingTemplate)">
    <mat-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>
    Settings
  </button>

  <button mat-menu-item
    (click)="openTmplWithDialog(aboutComponent)">
    <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>
    About
  </button>
</mat-menu>

<ng-template #aboutComponent>
  <h2 mat-dialog-title>About Interactive Viewer</h2>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="About">
        <iav-about>
        </iav-about>
      </mat-tab>
      <mat-tab label="Privacy Policy">
        <!-- TODO make tab container scrollable -->
        <cookie-agreement>
        </cookie-agreement>
      </mat-tab>
      <mat-tab label="Terms of Use">
        <kgtos-component>
        </kgtos-component>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-center">
    <button
      mat-flat-button
      [mat-dialog-close]
      cdkFocusInitial>
      close
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #settingTemplate>
  <h2 mat-dialog-title>Settings</h2>
  <mat-dialog-content>
    <!-- required to avoid showing an ugly vertical scroll bar -->
    <!-- TODO investigate why, then remove the friller class -->
    <config-component class="mb-4 d-block">
    </config-component>
  </mat-dialog-content>
</ng-template>

<!-- saved dataset tmpl -->

<ng-template #savedDatasets>
  <mat-list rol="list"
    aria-label="Pinned datasets panel">
    <h3 mat-subheader>
      <span>
        Pinned Datasets
      </span>
      <iav-datamodule-bulkdownload-cmp
        [kgIds]="favDataEntries$ | async | iavDatamoduleTransformDsToIdPipe">

      </iav-datamodule-bulkdownload-cmp>
    </h3>

    <!-- place holder when no fav data is available -->
    <mat-card *ngIf="(!(favDataEntries$ | async)) || (favDataEntries$ | async).length === 0">
      <mat-card-content class="muted">
        No pinned datasets.
      </mat-card-content>
    </mat-card>

    <!-- render all fav dataset as mat list -->
    <!-- TODO maybe use virtual scroll here? -->

    <mat-list-item
      class="align-items-center"
      *ngFor="let ds of (favDataEntries$ | async)"
      role="listitem">

      <single-dataset-list-view
        class="d-block pt-1 pb-1 w-100"
        [kgSchema]="(ds.fullId | getKgSchemaIdFromFullIdPipe)[0]"
        [kgId]="(ds.fullId | getKgSchemaIdFromFullIdPipe)[1]"
        [dataset]="ds"
        [ripple]="true">

      </single-dataset-list-view>

    </mat-list-item>
  </mat-list>
</ng-template>



<ng-template #userAnnotations>
  <user-annotations (close)="bottomSheet.dismiss()" style="max-width: 600px">
  </user-annotations>
</ng-template>
