<ng-template [ngIf]="ismobile" [ngIfElse]="fullTmpl">
  <div iav-fab-speed-dial-container
    #fab="iavFabSpeedDialContainer"
    class="d-flex flex-column align-items-center">
    <button mat-fab
      iav-fab-speed-dial-trigger
      [color]="fab.isOpen ? 'warn' : 'primary'">
      <i class="fas" [ngClass]="fab.isOpen ? 'fa-times' : 'fa-bars'"></i>
    </button>

    <!-- signin -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="signinBtnTmpl">
      </ng-container>
    </div>

    <!-- help one pager -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="helpBtnTmpl">
      </ng-container>
    </div>

    <!-- experimental toggle -->
    <div iav-fab-speed-dial-child>
      <ng-container *ngTemplateOutlet="experimentalToggleBtnTmpl">
      </ng-container>
    </div>
  </div>
</ng-template>

<ng-template #fullTmpl>
  <mat-card class="d-flex flex-row-reverse"
    quick-tour
    [quick-tour-description]="quickTourData.description"
    [quick-tour-order]="quickTourData.order"
    quick-tour-severity="low"
    [iav-key-listener]="keyListenerConfig"
    (iav-key-event)="openTmplWithDialog(aboutComponent, largeMatDialogConfig)">

    <!-- signin -->
    <ng-container *ngTemplateOutlet="signinBtnTmpl">
    </ng-container>

    <!-- help one pager -->
    <ng-container *ngTemplateOutlet="helpBtnTmpl">
    </ng-container>

    <ng-container *ngTemplateOutlet="experimentalToggleBtnTmpl">
    </ng-container>
  </mat-card>
</ng-template>

<!-- signin btn -->
<ng-template #signinBtnTmpl>
  <div class="btnWrapper"
    [matTooltip]="userBtnTooltip$ | async"
    matTooltipPosition="below"
    [matMenuTriggerFor]="userDropdownMenu">
    <iav-dynamic-mat-button
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor">

      <ng-template [ngIf]="user$ | async" [ngIfElse]="notLoggedInTmpl" let-user="ngIf">
        {{ (user && user.name || 'Unnamed User').slice(0,1) }}
      </ng-template>

      <ng-template #notLoggedInTmpl>
        <i class="fas fa-user"></i>
      </ng-template>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<ng-template #shareBtnTmpl>
  <div class="btnWrapper"
    matTooltip="this view ..."
    matTooltipPosition="below"
    [matMenuTriggerFor]="shareMenu">
  
    <iav-dynamic-mat-button
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor"
      iav-dynamic-mat-button-aria-label="Show tools and plugins">

      <mat-icon>view_in_ar</mat-icon>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<!-- plugin and tools tmpl -->
<ng-template #experimentalToggleBtnTmpl>

  <ng-template #toggleBtnTmpl let-currentState>

    <div class="btnWrapper"
      (click)="setExperimentalFlag(!currentState)"
      matTooltip="Toggle experimental flag">
      <iav-dynamic-mat-button
        [iav-dynamic-mat-button-style]="matBtnStyle"
        [iav-dynamic-mat-button-color]="currentState ? 'warn' : 'primary'"
        iav-dynamic-mat-button-aria-label="Toggle experimental features">

        <ng-template [ngIf]="currentState">
          <i class="fas fa-flask"></i>
        </ng-template>
        
        <ng-template [ngIf]="!currentState">
          <i class="fas fa-signal"></i>
        </ng-template>
      </iav-dynamic-mat-button>
    </div>
  </ng-template>

  <ng-template [ngIf]="showExptToggle$ | async">
    <ng-template [ngTemplateOutlet]="toggleBtnTmpl"
      [ngTemplateOutletContext]="{$implicit: experimentalFlag$ | async}">
    </ng-template>
  </ng-template>
</ng-template>

<ng-template #helpBtnTmpl>

  <div class="btnWrapper"
    (click)="openTmplWithDialog(aboutComponent, largeMatDialogConfig)"
    matTooltip="Help">
    <iav-dynamic-mat-button
      [iav-dynamic-mat-button-style]="matBtnStyle"
      [iav-dynamic-mat-button-color]="matBtnColor"
      iav-dynamic-mat-button-aria-label="Show help dialog">

      <ng-template [ngIf]="warnings.newMessagesCount$ | async"
        [ngIfElse]="noWarningTmpl"
        let-newMessageCounter>
        <ng-template [ngIf]="newMessageCounter > 0" [ngIfElse]="noWarningTmpl">
          <i [matBadge]="newMessageCounter"
            matBadgeColor="warn"
            class="far fa-question-circle"></i>
        </ng-template>
      </ng-template>

      <ng-template #noWarningTmpl>
        <i class="far fa-question-circle"></i>
      </ng-template>
    </iav-dynamic-mat-button>
  </div>
</ng-template>

<!-- nb when removed, also remove ShareDirective or [sxplr-share-view] -->
<!-- share dropdown -->
<mat-menu #shareMenu>
  <button mat-menu-item
    sxplr-share-view>
    <mat-icon>share</mat-icon>
    <span>share</span>
  </button>

  <button mat-menu-item
    sxplrAtlasDownload
    #dl="atlasDlDct"
    [disabled]="(dl.busy$ | async)">
    <mat-icon
      [ngClass]="{
        'spinning': (dl.busy$ | async)
      }"
      fontSet="fas"
      [fontIcon]="(dl.busy$ | async) ? 'fa-spinner' : 'fa-download'">
    </mat-icon>
    <span>{{ (dl.busy$ | async) ? 'download' : 'download' }}</span>
  </button>
</mat-menu>

<!-- user dropdownmenu -->
<mat-menu #userDropdownMenu>


  <button mat-menu-item
    (click)="openTmplWithDialog(settingTemplate)">
    <mat-icon fontSet="fas" fontIcon="fa-cog"></mat-icon>
    Settings
  </button>

  <ng-template sxplrExperimentalFlag [experimental]="true">
  <ng-template [ngIf]="view$ | async" let-view>

    <mat-menu #colorPaletteMenu="matMenu">
      <ng-template ngFor [ngForOf]="view.allThemes" let-theme>
        <button (click)="useTheme(theme)" mat-menu-item>
          <mat-icon *ngIf="theme === view.currentTheme">radio_button_checked</mat-icon>
          <mat-icon *ngIf="theme !== view.currentTheme">radio_button_unchecked</mat-icon>
          <span>
            {{ theme }}
          </span>
        </button>
      </ng-template>
    </mat-menu>
  
    <button mat-menu-item [matMenuTriggerFor]="colorPaletteMenu">
      <mat-icon>palette</mat-icon>
      <span>
        Theme
      </span>
    </button>
  </ng-template>
  </ng-template>
  
  <mat-divider></mat-divider>

  <signin-modal>
  </signin-modal>
</mat-menu>

<ng-template #aboutComponent>
  <mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Quick Start">
        <help-one-pager></help-one-pager>
      </mat-tab>
      <mat-tab label="About">
        <iav-about class="mat-tab-content">
        </iav-about>
      </mat-tab>
      <mat-tab label="Privacy Policy">
        <!-- TODO make tab container scrollable -->
        <cookie-agreement class="mat-tab-content">
        </cookie-agreement>
      </mat-tab>
      <mat-tab label="Terms of Use">
        <kgtos-component class="mat-tab-content">
        </kgtos-component>
      </mat-tab>
      <mat-tab *ngIf="(warnings.messages$ | async).length > 0">
        <ng-template mat-tab-label>
            <span 
              matBadgeColor="warn"
              [matBadge]="(warnings.newMessagesCount$ | async) || null">
              Server Messages
            </span>
        </ng-template>
        <ng-template matTabContent>
          <div sxplr-triggers (init)="warnings.markIncidentsSeen()"></div>
          <ng-template ngFor [ngForOf]="warnings.messages$ | async" let-warning let-last="last">
            <markdown-dom class="sxplr-m-2" [markdown]="warning"></markdown-dom>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-template>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    
    <button mat-button
      color="primary"
      mat-dialog-close
      quick-tour-opener>
      <i class = "far fa-play-circle m-1"></i>
      <span>
        Take a tour
      </span>
    </button>

    <button
      mat-flat-button
      [mat-dialog-close]
      cdkFocusInitial>
      close
    </button>
  </mat-dialog-actions>
</ng-template>

<ng-template #settingTemplate>
  <h2 mat-dialog-title>Settings</h2>
  <mat-dialog-content>
    <config-component class="mb-4 d-block">
    </config-component>
  </mat-dialog-content>
</ng-template>

<div sxplr-warnings #warnings="sxplrWarnings"></div>
