.overlay,
.tooltip,
.borderedBox {
    user-select: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.highlighting {
    background: none;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
}

.screenshotContainer {
    clear: both;
    background-repeat: no-repeat;
    background-size: cover;

    transition: opacity ease-in-out 200ms;
}

.smallSizeWindow {
    height: 40px;
}

.cancelTimesPosition {
    top: 5px;
    right: -10px;
}

.screenshotPreviewCard {
    z-index: 10520 !important;
    background:none;
}