.overlay,
.tooltip,
.borderedBox {
    user-select: none;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.highlighting {
    background: none;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
}

.screenshotContainer {
    clear: both;
    background-repeat: no-repeat;
    background-size: cover;
}

.smallSizeWindow {
    height: 40px;
}

.cancelTimesPosition {
    top: 5px;
    right: -10px;
}

.previewScreenshot {
    max-width: 700px !important;
    max-height: 700px !important;
}

.previewImage {
    max-width:400px !important;
    max-height:400px !important;
}

.screenshotPreviewCard {
    top: 50px !important;
    right: 50% !important;
    left: 50% !important;
    z-index: 10520 !important;
    background: rgba(0,0,0,0);
}