.timerToast {
    max-width: 700px;
    max-height: 500px;
    padding-right: 10px;
    overflow-y: auto;
}

.download-buttons-panel {
    align-self: flex-end;
}
.downloadPublications {
    margin: 5px;
    outline: none;
}