<mat-action-list class="overview-container">
    <ng-template [ngIf]="point$ | async" let-point>
        <ng-template [ngIf]="point | sandsToNum" let-coordinates>
            <button mat-list-item
                (click)="navigateToPoint(coordinates.coords)">
                <mat-icon matListItemIcon
                    fontSet="fas"
                    fontIcon="fa-map-marker">
                </mat-icon>
                <div matListItemTitle>
                    {{ coordinates.coords | numbers : 2 | addUnitAndJoin : 'mm' }}
                </div>
            </button>
    
            <button mat-list-item
                (click)="copyCoord(coordinates.coords)">
                <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-copy">
                </mat-icon>
                <div matListItemTitle>
                    Copy to clipboard
                </div>
            </button>
        </ng-template>
    </ng-template>

    <ng-template [ngIf]="df$ | async" let-df>
        <button mat-list-item
            (click)="openDialog(datatableTmpl)">
            <mat-icon matListItemIcon
                fontSet="fas"
                fontIcon="fa-table">
            </mat-icon>
            <div matListItemTitle>
                Show Full Assignment ({{ df.data.length }})
            </div>
        </button>
    </ng-template>

    <ng-template>

    </ng-template>
</mat-action-list>

<div class="sxplr-m-2" *ngIf="warningMessage$ | async; let warningMessage">
    <markdown-dom [markdown]="warningMessage"></markdown-dom>
</div>

<div class="sxplr-m-2" *ngIf="busy$ | async as busyMessage">
    <spinner-cmp class="sxplr-d-inline-block"></spinner-cmp>
    <span>
        {{ busyMessage }}
    </span>
</div>

<div class="sxplr-m-2" *ngIf="error$ | async">
    <span>
        An error occurred when performing map assignment.
    </span>
</div>

<ng-template [ngIf]="df$ | async" let-df>

    <!-- simple table -->
    <table mat-table [dataSource]="df | dfToDs : simpleTblSort"
        matSort
        class="narrow-table sxplr-w-100"
        #simpleTblSort="matSort"
        matSortActive="map_value"
        matSortDirection="desc">
        <ng-container matColumnDef="region">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <span class="sxplr-m-1">
                    region
                </span>
            </th>
            <td class="cell-region" mat-cell *matCellDef="let element">
                <!-- {{ element | json }} -->
                <button mat-button (click)="selectRegion(element['region'], $event)">
                    {{ element['region'] }}
                </button>
            </td>
        </ng-container>
        <ng-container matColumnDef="map_value">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                map value
            </th>
            <td class="cell-value" mat-cell *matCellDef="let element">
                {{ element['map_value'] | prettyPresent }}
            </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="SIMPLE_COLUMNS"></tr>
        <tr class="narrow-row" mat-row *matRowDef="let row; columns: SIMPLE_COLUMNS;"></tr>
    </table>
</ng-template>

<ng-template #datatableTmpl>
    <h2 mat-dialog-title>Assignment</h2>
    <mat-dialog-content>
        <table mat-table [dataSource]="df$ | async | dfToDs : comphTableSort"
            matSort
            #comphTableSort="matSort"
            matSortActive="map_value"
            matSortDirection="desc">
            
            <ng-container matColumnDef="region">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    region
                </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button (click)="selectRegion(element['region'], $event)"
                        class="ws-no-wrap">
                        {{ element['region'] }}
                    </button>
                </td>
            </ng-container>

            <ng-template ngFor [ngForOf]="columns$ | async" let-column>
                <ng-template [ngIf]="column !== 'region'">
                    <ng-container [matColumnDef]="column">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ column }}
                        </th>
                        <td mat-cell *matCellDef="let element">
                            {{ element[column] | prettyPresent }}
                        </td>
                    </ng-container>
                </ng-template>
            </ng-template>
            
        
            <tr mat-header-row *matHeaderRowDef="columns$ | async"></tr>
            <tr mat-row *matRowDef="let row; columns: columns$ | async;"></tr>
        </table>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button mat-raised-button color="primary"
            [zip-files-output]="zipfileConfig$ | async"
            zip-files-output-zip-filename="pointassignment.zip">
            <i class="fas fa-download"></i>
            <span>
                Download CSV
            </span>
        </button>
        <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
</ng-template>
