<ng-template [ngIf]="infoMsg$ | async" let-msg>
    <div class="sxplr-m-2">
        <markdown-dom [markdown]="msg"></markdown-dom>
    </div>
</ng-template>

<div class="sxplr-m-2" *ngIf="busy$ | async as busyMessage">
    <spinner-cmp class="sxplr-d-inline-block"></spinner-cmp>
    <span>
        {{ busyMessage }}
    </span>
</div>

<div class="sxplr-m-2" *ngIf="error$ | async">
    <span>
        An error occurred when performing map assignment.
    </span>
</div>

<ng-template [ngIf]="df$ | async" let-df>

    <mat-divider></mat-divider>

    <sxplr-assignment-view-simple
        (clickOnRegionName)="selectRegion($event.target, $event.event)"
        [result]="df">
    </sxplr-assignment-view-simple>

    <mat-divider></mat-divider>
    
    <mat-action-list>
        <ng-template [ngIf]="dfCsv$ | async" let-dfCsv>
            <button mat-list-item [iav-clipboard-copy]="dfCsv">
                <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-copy"></mat-icon>
                <div matListItemTitle>
                    Copy Assignments
                </div>
            </button>
        </ng-template>
        <button mat-list-item
            (click)="openDialog(datatableTmpl)">
            <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-table"></mat-icon>
            <div matListItemTitle>
                Show Full Assignment ({{ df.data.length }})
            </div>
        </button>
    </mat-action-list>

    <ng-template #datatableTmpl>
        <h2 mat-dialog-title>Assignment</h2>
        <sxplr-assignment-view-full
            (clickOnRegionName)="selectRegion($event.target, $event.event)"
            [result]="df">
        </sxplr-assignment-view-full>
        <mat-dialog-actions align="center">
            <button mat-raised-button color="primary"
                [zip-files-output]="zipfileConfig$ | async"
                zip-files-output-zip-filename="pointassignment.zip">
                <i class="fas fa-download"></i>
                <span>
                    Download CSV
                </span>
            </button>
            <button mat-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
    </ng-template>
    
</ng-template>
