<form class="annotation-form d-flex flex-column align-items-center"
      autocomplete="off"
      [formGroup]="annotationForm"
      (keydown.enter)="!annotationForm.invalid? submitForm() : null"
      (ngSubmit)="submitForm()">


    <div class="w-100"
         [@enterAnimation]>
        <mat-form-field class="w-100">
            <mat-label>Name</mat-label>
            <input name="name"
                   formControlName="name"
                   (keyup)="submitForm()"
                   matInput>
        </mat-form-field>
            <div class="d-flex flex-column align-items-center position-relative w-100">
                <mat-form-field class="w-100 annotation-editing-body">
                    <mat-label *ngIf="annotation.type !== 'ellipsoid'">Position {{annotation.position2 && ' 1'}} (vox)</mat-label>
                    <mat-label *ngIf="annotation.type === 'ellipsoid'">Center (vox)</mat-label>
                    <div>
                        <input type="text" name="position1"
                               placeholder="0,0,0mm"
                               class="pr-4"
                               formControlName="position1"
                               (keyup)="submitForm()"
                               matInput>
                    </div>
                </mat-form-field>
                <small class="position-absolute" style="bottom: 20px; right: 0">mm <i class="fas fa-map-marked-alt mr-2 ml-2 cursor-pointer" (click)="navigate(annotation.position1)"></i></small>
            </div>

            <div class="d-flex flex-column align-items-center w-100 position-relative" *ngIf="annotation.position2">
                <mat-form-field class="w-100 annotation-editing-body">
                    <mat-label *ngIf="annotation.type !== 'ellipsoid'">Position 2 (vox)</mat-label>
                    <mat-label *ngIf="annotation.type === 'ellipsoid'">Radii</mat-label>
                    <input type="text" name="position2" class="pr-4" placeholder="0,0,0mm"
                           formControlName="position2"
                           (keyup)="submitForm()"
                           matInput>
                </mat-form-field>
                <small class="position-absolute" style="bottom: 20px; right: 0">mm <i class="fas fa-map-marked-alt mr-2 ml-2 cursor-pointer" (click)="navigate(annotation.position2)"></i></small>

            </div>

        <mat-form-field class="w-100 annotation-editing-body">
            <mat-label>description</mat-label>
            <textarea [matTextareaAutosize]="true"
                      [matAutosizeMinRows]="1"
                      [matAutosizeMaxRows]="5"
                      name="description"
                      (keyup)="submitForm()"
                      formControlName="description" matInput></textarea>
        </mat-form-field>
        <div class="w-100 d-flex justify-content-end">
            <button type="button" (click)="cancelEditing()" mat-button>Cancel</button>
            <button type="submit" mat-raised-button color="primary">Save</button>
        </div>
    </div>
</form>
