<div class="ws-initial">
  <div
    *ngIf="checkedModality.length > 0"
    (click)="clearAll()"
    class="btn btn-sm btn-link ">
    clear all
  </div>
  <pill-component
    class="mw-60"
    [containerStyle]="{backgroundColor:'rgba(128,128,128,0.5)'}"
    [closeBtnStyle]="{backgroundColor:'rgba(128,128,128,0.8)'}"
    (closeClicked)="uncheckModality(dataM.name)"
    [title]="dataM.name"
    *ngFor="let dataM of checkedModality">
  
  </pill-component>
</div>

<div
  *ngFor="let datamodality of countedDataM"
  (click)="toggleModality(datamodality)"
  class="clickable">
  <i [ngClass]="datamodality.visible ? 'far fa-check-square' : 'text-muted far fa-square'">

  </i>
  {{ datamodality.name }} <span class="text-muted">({{ datamodality.occurance }})</span>
</div>