html
{
  width:100%;
  height:100%;
  font-size:90%;
}
body
{
  width:100%;
  height:100%;
  margin:0;
  border:0;

  /* required for fas tooltip directives */
  overflow:hidden;
}
div.scale-bar-container
{
  text-align: center;
  background-color: rgba(0,0,0,.3);
  position: absolute;
  left: 1em;
  bottom: 1em;
  padding: 2px;
  font-weight: 700;
  pointer-events: none;
  user-select: none;
}

div.scale-bar
{
  min-height: 1ex;
  background-color: #fff;
  padding: 0;
  margin: 0;
  margin-top: 2px;
}
div.neuroglancer-rendered-data-panel
{
  position:relative;
}

.neuroglancer-position-widget-input-container,
.neuroglancer-viewer-top-row,
.neuroglancer-layer-panel
{
  display:none;
  visibility: hidden;
}

ul#statusContainer
{
  display:none;
}

.inputSearchContainer
{
  background:none;
  box-shadow:none;
  border:none;
  /* width:25em; */
  max-width:999999px;
}
.inputSearchContainer .popover-arrow
{
  display:none;
}

.inputSearchContainer .popover-content.popover-body
{
  padding:0;
  max-width:999999px;
}

.mute-text
{
  opacity:0.8;
}

div.scale-bar-container
{
  font-weight:500;
  color: #1a1a1a;
  background-color:hsla(0,0%,80%,0.5);
}

label.perspective-panel-show-slice-views
{
  visibility: hidden;
}

label.perspective-panel-show-slice-views:hover
{
  text-decoration: underline
}

[darktheme="false"] .neuroglancer-panel
{
  border:2px solid rgba(255,255,255,0.9);
}

[darktheme="true"] .neuroglancer-panel
{
  border:2px solid rgba(30,30,30,0.9);
}

[darktheme="true"] a
{
  color:#d7e6f4;
}

label.perspective-panel-show-slice-views:before
{
  margin-left: .2em;
  content: "toggle frontal octant";
  visibility: visible;
  pointer-events: all;
  color: #337ab7;
}

[darktheme="true"] label.perspective-panel-show-slice-views:before
{
  color: #d7e6f4;
}

[darktheme="true"] .scale-bar-container
{
  color:#f2f2f2;
  background-color:hsla(0,0%,60%,0.2);
}

span.regionSelected
{
  color : #dbb556
}

span.regionNotSelected,
span.regionSelected
{
  cursor : default;
  user-select: none;
}

markdown-dom pre code
{
  white-space:pre;
}

.highlight
{
  background-color:rgba(150,150,0,0.5);
}

.fa-none
{
  width:1em;
}

@keyframes explode
{
  0% {
    opacity: 0.0;
  }
  30% { 
    opacity: 1.0
  }
  100% {
    opacity: 0.0;
  }
}

.loadingAnimationDots:nth-child(1)
{
  animation: explode 1s ease infinite running;
}
.loadingAnimationDots:nth-child(2)
{
  animation: explode 1s ease 0.2s infinite running;  
}
.loadingAnimationDots:nth-child(3)
{
  animation: explode 1s ease 0.4s infinite running;  
}
.loadingAnimationDots:nth-child(4)
{
  animation: explode 1s ease 0.6s infinite running;  
}
.loadingAnimationDots:nth-child(5)
{
  animation: explode 1s ease 0.8s infinite running;  
}

.homeAnimationDots:nth-child(1)
{
  color: red;
}
.homeAnimationDots:nth-child(2)
{
  color: blue;
}
.homeAnimationDots:nth-child(3)
{
  color: green;
}

@keyframes spinning
{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(359deg);
  }
}

#homeSpinning
{
  font-size: 200%;
}

.spinnerAnimationCircle
{
  width: 1em;
  height:1em;
  border-radius: 50%;
  border: 0.2em rgba(128,128,128,0.2) solid;
  border-top: 0.2em rgba(128,128,128,0.99) solid;
  animation: spinning 700ms linear infinite running;
}

.theme-controlled.btn,
.theme-controlled.btn,
.theme-controlled.btn
{
  border-radius:0;
  border: none;
}

[darktheme="true"] .theme-controlled.btn.btn-default
{
  background-color: rgba(50, 50 , 50, 1.0);
  color: rgba(230, 230, 230, 1.0);
}

[darktheme="true"] .theme-controlled.btn.btn-default.active
{
  background-color: rgba(70, 70 , 70, 1.0);
  color: rgba(255, 255, 255, 1.0);
}

.darktheme.popover
{
  background-color:rgba(0, 0, 0, 0.8);
}

.darktheme.popover .popover-body
{
  color:white;
}

.darktheme.popover.popover-bottom>.arrow::after
{
  border-bottom-color: rgba(0, 0, 0, 0.8);
}

.darktheme.popover.popover-right>.arrow::after
{
  border-right-color: rgba(0, 0, 0, 0.8);
}

.r-90
{
  transform: rotate(90deg)!important;
}

.ws-no-wrap
{
  white-space: nowrap!important;
}
.ws-initial
{
  white-space: initial!important;
}

.mw-100
{
  max-width: 100%!important;
}

.mw-50
{
  max-width: 50%!important;
}

.mw-60
{
  max-width: 60%!important;
}

.mh-20em
{
  max-height: 20em;
}

.pe-all
{
  pointer-events: all;
}

.t-a-ease-500
{
  transition: all ease 500ms;
}

.h-0
{
  height: 0px;
}

.pe-none
{
  pointer-events: none;
}

.h-100
{
  height:100%;
}

.overflow-x-hidden
{
  overflow-x:hidden;
}

.muted
{
  opacity : 0.5!important;
}

.text-semi-transparent
{
  opacity: 0.5;
}

.card
{
  background:none;
  border:none;
}

.h-90vh
{
  height: 90vh!important;
}

.w-50vw
{
  width: 50vw!important;
}