/* layout */

[plugincontainer] .btn,
[plugincontainer] .input-group-addon,
[plugincontainer] input[type="text"],
[plugincontainer] .panel
{
  border-radius:0px;
  border:none;
}

[plugincontainer] .btn
{
  opacity : 0.9;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow : rgba(5, 5, 5, 0.1) 0px 4px 6px 0px;
}

[plugincontainer] .btn:hover
{
  opacity:1.0;
  transform:translateY(-5%);
  box-shadow : rgba(5, 5, 5, 0.25) 0px 4px 6px 0px;
}

[plugincontainer] .form-control
{
  background:none;
  border:none;
}

/* colour */
[darktheme="true"] [plugincontainer] .btn,
[darktheme="true"] [plugincontainer] input[type="text"],
[darktheme="true"] [plugincontainer] input[type="number"],
[darktheme="true"] [plugincontainer] .list-group-item-dark,
[darktheme="true"] [plugincontainer] .panel
{
  background-color:rgba(81,81,81,0.8);
  color:rgba(255,255,255,0.8);
}

[darktheme="true"] [plugincontainer] .selected-region-chip
{
  border-radius: 10px;
  background-color:rgba(81,81,81,0.8);
  color:rgba(255,255,255,0.8);
}

[darktheme="true"] [plugincontainer] .input-group-addon
{
  background-color:rgba(60,60,60,0.2);
  color:rgba(255,255,255,0.8);
  /* border-top:1px solid rgba(255,255,255,0.05);
  border-left:1px solid rgba(255,255,255,0.05);
  border-right:1px solid rgba(255,255,255,0.05); */
}

[darktheme="true"] [plugincontainer] hr
{
  border-color:rgba(100,100,100,0.5);
}

[darktheme="true"] [plugincontainer] .btn.btn-active
{
  background-color:rgba(65,65,65,0.8);
  transform: translateY(2px);
  color:rgba(255,255,255,1.0);
  box-shadow: inset 0 2px 2px -2px rgba(0,0,0,0.2);
}

[darktheme="true"] .alert.alert-danger
{
  color: #f2dede;
  background-color: rgba(169, 68, 66, 0.5);
  border-color: rgba(169, 68, 66,0.2)
}
