<span *ngIf="mouseoverText"
  class="mouseover iv-custom-comp text">
  {{ mouseoverText }}
</span>

<div class="button-container">

  <!-- selector & configurator -->
  <button mat-icon-button
    [iav-key-listener]="[{ type: 'keydown', key: 'q', target: 'document' }]"
    (iav-key-event)="toggleMode()"
    color="primary"
    class="pe-all"
    [matMenuTriggerFor]="fsModeSelMenu">
    <i class="fas fa-bars"></i>
  </button>
</div>


<!-- selector/configurator menu -->
<mat-menu #fsModeSelMenu="matMenu">

  <div class="iv-custom-comp text sxplr-pl-2 m-2">
    <mat-checkbox *ngFor="let key of allKeys"
      class="d-block"
      iav-stop="click"
      (ngModelChange)="handleCheckBox(key, $event)"
      [(ngModel)]="key.checked">
      {{ key.name }}
    </mat-checkbox>
  </div>
  <mat-divider></mat-divider>
  <button *ngFor="let mode of modes"
    mat-menu-item
    (click)="loadMode(mode)"
    color="primary">
    <mat-icon
      fontSet="fas"
      [fontIcon]="mode.name === selectedMode ? 'fa-circle' : 'fa-none'">
    </mat-icon>
    <span>
      {{ mode.name }}
    </span>
    <markdown-dom *ngIf="mode.name === selectedMode"
      class="d-inline-block"
      markdown="`[q]`">
    </markdown-dom>
  </button>
</mat-menu>
