<span *ngIf="mouseoverText"
  class="mouseover sxplr-custom-cmp text">
  {{ mouseoverText }}
</span>

<div class="button-container">

  <!-- selector & configurator -->
  <button mat-icon-button
    color="primary"
    class="pe-all"
    [matMenuTriggerFor]="fsModeSelMenu">
    <i class="fas fa-bars"></i>
  </button>
</div>


<!-- selector/configurator menu -->
<mat-menu #fsModeSelMenu="matMenu">

  <div class="sxplr-custom-cmp text sxplr-pl-2 m-2">
    <mat-checkbox *ngFor="let item of meshVisible$ | async "
      class="d-block"
      iav-stop="click"
      (change)="toggleMeshVis(item.label)"
      [checked]="item.visible">
      {{ item.label }}
    </mat-checkbox>
  </div>
  <mat-divider></mat-divider>

  <button *ngFor="let surfaceLayer of (threeSurferSurfaceVariants$ | async)"
    mat-menu-item
    (click)="switchSurfaceLayer(surfaceLayer)"
    color="primary">
    <mat-icon
      fontSet="fas"
      [fontIcon]="surfaceLayer === (selectedSurfaceLayerId$ | async) ? 'fa-circle' : 'fa-none'">
    </mat-icon>
    <span>
      {{ surfaceLayer }}
    </span>
  </button>
</mat-menu>
