.region-tmpl
{
  text-overflow: clip;
  white-space: nowrap; 
}

:host
{
  display: flex;
  flex-direction: column;
}

sxplr-flat-hierarchy-tree-view
{
  flex: 0px 1 1;
}

.legend-container
{
  margin: 1rem;
  margin-top: -4rem;
  flex-direction: row-reverse;
  display: flex;
}
