<cdk-virtual-scroll-viewport class="h-100 overflow-y-auto overflow-x-hidden" [itemSize]="lineHeight">
    <mat-radio-group [(ngModel)]="selectedRegion">
    <ng-container *cdkVirtualFor="let node of dataSource">
        <!-- Note that the [style.padding-left] is essentially what cdkTreeNodePadding is doing under the hood -->
        <div class="node" [style.height]="lineHeight + 'px'" [style.padding-left]="node.level * 20 + 'px'">
            <div *ngIf="node.hasChildren; else lastChildTmp">
                <button mat-button (click)="toggleNode(node)"
                        [attr.aria-label]="'Toggle ' + node.name" class="d-flex align-items-center">
                    <i [ngClass]="treeControl.isExpanded(node) ? 'r-270' : ''" class="fas fa-chevron-down mr-1"></i>
                    <span [innerHTML]="node.name | highlightPipe: searchString"></span>
                </button>
            </div>
            <ng-template #lastChildTmp>
                <div class="d-flex align-items-center pl-4">
                    <mat-radio-button [value]="node" (click)="toggleSelection($event, node)" class="align-self-end">
                        <span [innerHTML]="node.name | highlightPipe: searchString"></span>
                    </mat-radio-button>
                    <button mat-icon-button
                            (click)="navigateToRegion.emit(node)">
                        <mat-icon fontSet="fas" fontIcon="fa-map-marked-alt">
                        </mat-icon>
                    </button>
                </div>
            </ng-template>
        </div>
    </ng-container>
    </mat-radio-group>
</cdk-virtual-scroll-viewport>
