@function gray($percent){
  @return rgb($percent*255,$percent*255,$percent*255)
};
@function tgray($percent,$alpha){
  @return rgba($percent*255,$percent*255,$percent*255,$alpha)
};

/** 
 * styles only, no layouts
 */

div#ATLASContainer
{
  background-color:gray(1);
  color:gray(0);
  width:100%;
  height:100%;

  .btn.btn-default
  {
    border-color:tgray(0.9,0.5);

    &:hover
    {
      background-color:tgray(0.9,0.5);
    }
  }

  atlasbanner
  {
    background-color:rgba(0,0,0,0);
  }

  atlascontrol
  {
    box-shadow: 0em 0em 1em tgray(0,0.25);

    .glyphicon-overlay
    {
      color:gray(0.5);

      &:hover
      {
        color:gray(0.3);
      }
    }

    multilevel
    {
      span.regionHasMoreInfo:hover
      {
        color:goldenrod;
      }

      .multilevel-icon:hover
      {
        color:goldenrod;
        background-color:tgray(0.5,0.2);
      }
    }
  }

  atlasviewer
  {
    background-color:gray(1);
    box-shadow: 0em 0em 1.5em -0.5em gray(0);
  }

  nehubaModal
  {
    color:gray(0);
  }

  ATLASViewer
  {
    div#viewerStatus
    {
      background-color:tgray(1,0.5);
      color:gray(0.1);
      border: 1px solid tgray(0,0);
    }

    div#neuroglancer-container
    {
      label.perspective-panel-show-slice-views
      {
        color:gray(0.3);

        /* special case, since the checkbox + container is dynamically generated, has to be applied as global css */
        
        pointer-events : all;
        margin-left:1em;
        visibility: hidden;

        &:before
        {
          content : "toggle view";
          visibility : visible;  
        }

        &:hover
        {
          color:gray(0.1);
        }
      }

      .neuroglancer-panel
      {
        border : 2px solid gray(0.95);

        &:hover
        {
          border : 2px solid gray(0.8);
        }
      }
    }

    > span.glyphicon
    {
      color:gray(0.0);
      text-shadow:0 0 0.5em rgb(128,128,128);

      &:hover
      {
        color:gray(1);
      }
    }
  }

  div#dockResizeSliver,
  div#atlasResizeSliver
  {
    background-color:tgrey(0,0);
  }
}

div#ATLASContainer.darktheme
{
  atlasbanner
  {
    .tooltip.popover.bottom
    {
      background-color:tgray(0.5,0.3);
    }

    .popover.bottom
    {
      border-color:tgray(0.1,0.5);
      color:gray(0.95);
      background-color:tgray(0.06,0.8);

      .popover-title
      {
        display:none;
      }

      .popover-arrow
      {
        display:none;
      }

      .popover-content
      {
        .moreInfo-icon
        {
          &:hover
          {
            color:goldenrod;
            cursor:default;
          }
        }
      }
    }

    span.btn-default
    {
      color:gray(0.8);
      background-color:tgray(0.06,0.8);
      border-color:tgray(0.20,0.5);

      &:hover
      {
        background-color:tgray(0.1,0.8);
      }
    }

    span.input-group-addon
    {
      background-color:tgray(0.1,0.8);
      color:gray(1);
      border-color:tgray(0.35,0.5);
    }

    input
    {
      color:gray(1);
      border-color:gray(0.1);
      background-color:tgray(0.06,0.8);
      box-shadow:inset 0 0 1em -0.3em gray(0);
      
      &::-moz-placeholder
      {
        color:tgray(1,0.4);
      }
      &::-webkit-input-placeholder{
        color:tgray(1,0.4);
      }
    }
  }

  atlascontrol
  {
    background-color : gray(0.2);

    .glyphicon-overlay
    {

      &:hover
      {
        color:gray(0.7);
      }
    }

    multilevel
    {
      color:gray(0.85);

      span.regionHasMoreInfo:hover
      {
        color:goldenrod;
      }

      span.multilevel-name.text-active
      {
        color:rgb(219, 181, 86)
      }

      span.multilevel-name.text-active.text-muted
      {
        color:rgba(219, 181, 86,0.5)
      }
    }
  }

  ATLASViewer
  {
    floatingPopover
    {

      .popover.down
      {
        border-color:gray(0.35);
        color:gray(0.95);
        background-color:gray(0.25);

        .popover-title
        {
          background-color:gray(0.3);
          border-color:gray(0.35);
        }

        .popover-content
        {
          .moreInfo-icon
          {
            &:hover
            {
              color:goldenrod;
              cursor:default;
            }
          }
        }
      }
    }

    div#viewerStatus
    {
      background-color:tgray(0.2,0.5);
      color:gray(0.75);
    }

    div#neuroglancer-container
    {
      .neuroglancer-panel
      {
        border : 2px solid gray(0.05);

        &:hover
        {
          border : 2px solid gray(0.2);
        }

        label.perspective-panel-show-slice-views
        {
          color:gray(0.8);
          &:hover
          {
            color:gray(0.9);
          }
        }

        .scale-bar-container
        {
          color:gray(0.95);
          background-color:tgray(0.6,0.2);
        }
      }
    }

    > span.glyphicon
    {
      text-shadow:0 0 0.3em gray(1);
    }
  }

  WidgetsContainer
  {
    %widgetDarkTheme
    {
      border-color:gray(0.35);
      color:gray(0.95);
      background-color:gray(0.2);
    }

    DockedWidgetContainer,
    FloatingWidgetContainer
    {
      @extend %widgetDarkTheme;

      div[regionContainer]
      {
        background-color:gray(0.2);
        overflow-x:hidden;
      }

      div.panel.panel-success[floatingWidgetUnit],
      div.panel.panel-success[dockedWidgetUnit]
      {
        > div.panel-heading
        {
          background-color:rgba(0,20,0,0.5);
        }
      }
      

      div.panel
      {
        border:1px solid gray(0.35);

        div.panel-heading
        {
          @extend %widgetDarkTheme;

          span
          {
            background-color:rgba(0,0,0,0);
          }
        }
        
        .panel-body
        {
          border:none;
          @extend %widgetDarkTheme;
        }
      }
      
      span
      {
        @extend %widgetDarkTheme;
      }

      .alert
      {
        border:none;
        &.alert-danger
        {
          background-color:rgba(242,222,222,0.2);
        }
      }
      
      .popover
      {
        @extend %widgetDarkTheme;
        .popover-title
        {
          @extend %widgetDarkTheme;
          background-color:gray(0.3);
        }
      }

      .btn
      {
        @extend %widgetDarkTheme;
        &.btn-primary
        {
          background-color:gray(0.35);
        }
        &.btn-success
        {
          border:1px solid rgba(214,233,198,0.5);
        }
        &.btn-warning
        {
          border:1px solid rgba(250,235,204,0.5);
        }
        &.btn-danger
        {
          border:1px solid rgba(235,204,209,0.5);
        }
        &:hover{
          background-color:gray(0.35);
        }
      }
      input, input[readonly]
      {
        @extend %widgetDarkTheme;
      }

      hr
      {
        border-top: 1px solid gray(0.3);
      }

      div.well
      {
        @extend %widgetDarkTheme;
      }

      .table
      {
        @extend %widgetDarkTheme;

        tr
        {
          @extend %widgetDarkTheme;
          td
          {
            @extend %widgetDarkTheme;
          }
        }
      }
    }

    DockedWidgetContainer
    {
      background-color:gray(0.2);
    }

    MinimisedContainer
    {

      .btn
      {
        @extend %widgetDarkTheme;
        &.btn-default
        {
          @extend %widgetDarkTheme;
        }
        &.btn-success
        {
          background-color:rgba(0,20,0,0.5);
        }
      }

      .popover
      {
        @extend %widgetDarkTheme;
        .popover-arrow
        {
          &:after
          {
            border-left-color:gray(0.35);
          }
        }
      }
    }
  }

  div#dockResizeSliver,
  div#atlasResizeSliver
  {
    background-color:tgrey(0,0);
  }
}

.darktheme
{
  &.popover.popover-bottom
  {
    border-color:tgray(0.35,0.5);
    color:gray(0.95);
    background-color:tgray(0.12,0.8);

    .popover-arrow
    {
      &:after
      {
        border-bottom-color: tgray(0.12,0.8);
      }
    }

    .popover-title
    {
      background-color:gray(0.3);
      border-color:gray(0.35);
    }

    .popover-content
    {
      .moreInfo-icon
      {
        &:hover
        {
          color:goldenrod;
          cursor:default;
        }
      }
    }
  }
}

ul.darktheme.dropdown-menu
{
  background-color:tgray(0.06,0.8);

  li
  {
    &.dropdown-header
    {
      color:gray(0.7);
    }

    &.divider.dropdown-divider
    {
      background-color:gray(0.15);
    }

    .dropdown-menu
    {
      padding:0px;
    }

    .dropdown-item
    {
      color:gray(0.8);

      &:hover
      {
        color:gray(0.9);
        background-color:gray(0.25);
      }
    }
  }
}


modal-container
{
  color:gray(0);
  *
  {
    color:gray(0);
  }

  /* not yet active */
  &.darktheme
  {
    background-color:gray(0.2);
    color:gray(1);
    *
    {
      background-color:gray(0.2);
      color:gray(1);
    }
  }
}

/* styles, only if necessary */

div#ATLASContainer
{
  atlasbanner
  {
    
    .popover.popover-bottom.bottom
    {
      margin-top : 0px;
      max-height:40em;
      overflow:hidden;
      
      .popover-content
      {
        padding : 0px;
        height:100%;
        max-height:40em;
        width:20em;
      }
    }
  }
  atlascontrol
  {
    multilevel
    {
      .popover
      {
      }
    }
  }

  NehubaViewer
  {
    div#nehubaui-overlay
    {
      nehubaui-overlay.nehubaui-overlay-c
      {
        .glyphicon-container
        {
          position:absolute;

          &:before
          {
            position:absolute;
            content : ' ';
            width:1px;
            height:100%;
          }
        }
      }
    }
    img
    {
      width:100%;
    }
  }

  WidgetsContainer
  {

    FloatingWidgetContainer,
    DockedWidgetContainer
    {
      // input.form-control
      // {
      //   padding-top:0px;
      //   padding-bottom:0px;
      // }
      // .input-group-addon
      // {
      //   padding-top:0px;
      //   padding-bottom:0px;
      // }
      // .btn
      // {
      //   padding-top:0px;
      //   padding-bottom:0px;
      // }

      .panel
      {
        .panel-heading
        {
          padding-top:0.5em;
          padding-bottom:0.5em;

          .glyphicon
          {
            font-size:0.8em;
          }
        }
      }
    }
  }
}
.popover
{
  border-radius:0px;
}
ul#statusContainer
{
  display:none;
}