$WHITE : rgb(255,255,255);
$BLACK : rgb(0,0,0);
$GOLDEN : rgb(244,212,48);
$BORDERWIDTH : 2px;
@function gray($percent){
    @return rgb($percent*255,$percent*255,$percent*255)
};
@function tgray($percent,$alpha){
    @return rgba($percent*255,$percent*255,$percent*255,$alpha)
};

#ATLASContainer{
    background-color:$WHITE;
    color:$BLACK;
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns:25% 75%;
    grid-template-rows:10% 90%;
    
    atlasbanner{
        grid-column-start:1;
        grid-column-end:span 2;
    }
    
    atlascontrol{
        grid-column-start:1;
        grid-column-end:span 1;
        grid-row-start:2;
        grid-row-end:span 1;
        
        div#leftSide{
            height:100%;
            width:100%;
            display:grid;
            grid-template-rows:auto 40px;

            div#leftSideTop{
                grid-row-start:1;
                grid-row-end:span 1;
                overflow-y:auto;
                overflow-x:hidden;
            }

            div#leftSideBottom{
                grid-row-start:2;
                grid-row-end:span 1;
                text-align: center;
            }
        }
    }
    
    ATLASViewer{
        grid-column-start:2;
        grid-column-end:span 1;
        grid-row-start:2;
        grid-row-end:span 1;

        div#container{
            height:100%;
            width:100%;

            .gllayoutcell{
                border: $BORDERWIDTH solid gray(0.95)
            }

            .gllayoutcell:hover{
                border :$BORDERWIDTH solid gray(0.8)
            }

            .scale-bar-container{
                color : gray(0.05);
                background-color : tgray(0.3,0.2)
            }
        }

        div#container.darktheme{
            height:100%;
            width:100%;

            .gllayoutcell{
                border: $BORDERWIDTH solid gray(0.05)
            }

            .gllayoutcell:hover{
                border :$BORDERWIDTH solid gray(0.2)
            }

            .scale-bar-container{
                color : gray(0.95);
                background-color : tgray(0.6,0.2)
            }
        }
    }
}

%darkthemetemplate{
    background-color : gray(0);
    color : gray(0.85);
}

atlascontrol{
    div{
        .list-group{
            .list-group-item{
                margin:0px
            }
            textarea.form-control{
                resize:vertical;
            }
        }
        .text-muted{
            text-decoration: line-through
        }
    }
    div.darktheme{
        @extend %darkthemetemplate;

        .subPanel{
            @extend %darkthemetemplate;
        }

        .form-group{
            input[type=text],textarea{
                @extend %darkthemetemplate;
                background-color:gray(0.2);
                color:gray(1);
            }
        }

        .text-muted{
            text-decoration: line-through;
            color : gray(0.5)
        }

        .btn.btn-lg.btn-default{
            @extend %darkthemetemplate;
            border : 1px solid gray(0.8);
        };
        .btn.btn-lg.btn-default:hover{
            @extend %darkthemetemplate;
            background-color:gray(0.08)
        };
        .btn.btn-lg.btn-default.inactive{
            @extend %darkthemetemplate;
            color : gray(0.3);
            border : 1px solid gray(0.3);
        };

        .well{
            background-color:gray(0.0);
            color:gray(0.6);
            border: solid 1px gray(0.3);
        }

        .list-group{
            @extend %darkthemetemplate;
            
            .list-group-item{
                @extend %darkthemetemplate;
                margin : 0px;

                .list-group-item-icon:hover{
                    background-color:gray(0.25);
                }

                /* for multilevel */
                div.menuItem{
                    @extend %darkthemetemplate;

                    div.menuItemContent{
                        @extend %darkthemetemplate;

                        .menuItemContentList{
                            @extend %darkthemetemplate;

                            span.multilevel-icon:hover{
                                background-color:gray(0.25);
                            }

                        }
                        .menuItemContentList:hover{
                            @extend %darkthemetemplate;
                            background-color:tgray(1.0,0.08);
                        }
                    }
                }
            };

            .list-group-item.nohover:hover{
                @extend %darkthemetemplate;
            }

            .list-group-item:hover{
                @extend %darkthemetemplate;
                background-color:tgray(1.0,0.08);
            };
            .list-group-item.active{
                @extend %darkthemetemplate;
                background-color:tgray(1.0,0.2);
            };

            input.form-control{
                @extend %darkthemetemplate;
                background-color:gray(0.2);
                color:gray(1);
            };

            textarea.form-control{
                @extend %darkthemetemplate;
                background-color:gray(0.2);
                color:gray(1);
            };

            input.form-control::-moz-placeholder{
                @extend %darkthemetemplate;
                color:tgray(1,0.4);
            };

            div.multiSelectPills{
                background-color:rgb(150,150,50);
                color:gray(0.8);
            }
            /* breaks FF somehow */
            // input.form-control::-webkit-input-placeholder{
            //     @extend %darkthemetemplate;
            //     color:tgray(1,0.4);
            // };
        
        }

        %popovertemplate{
            background-color : gray(0.2);
            color : gray(0.8);
        }

        popover-container.popover{
            border:1px solid tgray(255,0.2);
            box-shadow: 0 5px 10px tgray(1,0.2 );
            background-color : gray(0);

            .popover-arrow{
                border-color:transparent;
                border-right-color : tgray(1,0.2);
            };
            .popover-arrow:after{
                border-color:transparent;
                border-right-color : gray(0);
            }

            .popover-title{
                @extend %popovertemplate;
                border-bottom: 1px solid gray(0.08);
            };

            .popover-content{
                @extend %popovertemplate;
                background-color:gray(0);
            };
        }
    }
}

atlasbanner{
    div#bannerContainer{
        height:100%;
        background-color:gray(1);
        display:flex;

        %img{
            height:100%;
            flex: 0 0 auto;
            background-size:contain;
        }

        img#hbplogo{
            @extend %img;
            margin:auto;
            height:70%;
        }
        img#explorethebrain{
            @extend %img;
        }

        img#cofundedbyEU{
            @extend %img;
            margin:auto;
            height:70%;
        }

        div#bannerTitle{
            flex: 1 1 auto;
            h2{
                text-align: center;
                vertical-align: middle;
                font-weight: 100;
                font-size : 2.2vw;
                color :gray(0);
            }
            small{
                color: #c33;
            }
        }
    }

    div#bannerContainer.darktheme{
        @extend div#bannerContainer;
        background-color:gray(0);

        div#bannerTitle{
            h2{
                color:gray(1);
            }
            small{
                color:rgb(255,160,160);
            }
        }

        span.unicodeSymbols{
            color:gray(1);
        }

            span.unicodeSymbols:hover{
                color:$GOLDEN;
                cursor:pointer;
            }
    }
}

atlasviewer{
    position:relative;

    div#container{
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;
        z-index:9;
    }

    span#helpbutton{
        color:$GOLDEN;
        position:absolute;
        right:0.5em;
        top:0.5em;
        z-index:10;
        font-size:3em;
    }

        span.darktheme#helpbutton:hover{
            color:gray(1);
            cursor:pointer;
        }

        span#helpbutton:hover{
            color:gray(0);
            cursor:pointer;
        }
}

FloatingWidgetContainer{
    position:absolute;
    right:0;
    bottom:0;
    width:0;
    height:0;

    div.floatingWidget{
        position:relative;
        // right:350px;
        // bottom:450px;
        width:300px;
        z-index:100;
        div.panel{
            div.panel-heading{
                &:hover{
                    cursor:move;
                }
            }
        }
    }
}