<ng-template #headerTmpl>
  <ng-content select="[header]"></ng-content>
</ng-template>

<ng-template [ngIf]="region">

  <mat-card class="mat-elevation-z4">
    <div
      [style.backgroundColor]="regionRgbString"
      class="vanishing-border"
      [ngClass]="{
        'darktheme': regionDarkmode === true,
        'lighttheme': regionDarkmode === false
      }">

      <ng-template [ngTemplateOutlet]="headerTmpl"></ng-template>

      <ng-template sxplrExperimentalFlag [experimental]="true" #subtitleExpm="sxplrExperimentalFlag" [ngIf]="subtitleExpm.show$ | async">
      <mat-card-subtitle>
        <span class="muted-text">
          Brain region
        </span>
      </mat-card-subtitle>
      </ng-template>

      <mat-card-title class="sxplr-custom-cmp text">
        {{ region.name }}
      </mat-card-title>


      <ng-template sxplrExperimentalFlag [deprecated]="true" #subtitleDep="sxplrExperimentalFlag" [ngIf]="subtitleDep.show$ | async">
      <mat-card-subtitle>
        {{ parcellation.name }}
      </mat-card-subtitle>


      <!-- subtitle on what it is -->
      <mat-card-subtitle class="d-inline-flex align-items-center flex-wrap">
        <mat-icon fontSet="fas" fontIcon="fa-brain"></mat-icon>
        <span>
          Brain region
        </span>

        <!-- origin datas format -->

        <mat-divider vertical="true" class="sxplr-pl-2 h-2rem"></mat-divider>

        <!-- position -->
        <button mat-icon-button *ngIf="regionPosition"
          (click)="navigateTo(regionPosition)"
          [matTooltip]="ARIA_LABELS.GO_TO_REGION_CENTROID + ': ' + (regionPosition | numbers | addUnitAndJoin : 'mm')">
          <mat-icon fontSet="fas" fontIcon="fa-map-marked-alt">
          </mat-icon>
        </button>

        <!-- explore doi -->
        <a *ngFor="let doi of dois$ | async"
          [href]="doi | parseDoi"
          sxplr-hide-when-local
          [matTooltip]="ARIA_LABELS.EXPLORE_DATASET_IN_KG"
          target="_blank"
          mat-icon-button>
          <i class="fas fa-external-link-alt"></i>
        </a>

      </mat-card-subtitle>
      </ng-template>
    </div>
  </mat-card>

  <!-- desc -->
  <ng-template sxplrExperimentalFlag [deprecated]="true" #subtitleDep="sxplrExperimentalFlag" [ngIf]="subtitleDep.show$ | async">
  <ng-template [ngIf]="(desc$ | async) || region.desc" let-desc>
    <readmore-component>
      <markdown-dom class="sxplr-m-2 sxplr-muted" [markdown]="desc">
      </markdown-dom>
    </readmore-component>
  </ng-template>
  </ng-template>

  <ng-template sxplrExperimentalFlag [deprecated]="true" #headerDep="sxplrExperimentalFlag" [ngIf]="headerDep.show$ | async">
  <!-- header for regional feature -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Features anchored to region
      </mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="!(featureEntryCmp.busyTallying$ | async) && (featureEntryCmp.totals$ | async) == 0"
      class="text-muted">
      No regional features found.
    </mat-card-content>
  </mat-card>

  <sxplr-feature-entry
    [template]="template"
    [parcellation]="parcellation"
    [region]="region"
    #featureEntryCmp="featureEntryCmp">
  </sxplr-feature-entry>
  </ng-template>

  <ng-template sxplrExperimentalFlag [experimental]="true" #tabExpmpt="sxplrExperimentalFlag" [ngIf]="tabExpmpt.show$ | async">
  <mat-tab-group>

    <!-- Overview -->
    <mat-tab label="Overview">

      <mat-action-list class="overview-container" dense>
        
        <button
          mat-list-item
          sxplr-dialog
          [sxplr-dialog-size]="null"
          [sxplr-dialog-data]="{
            title: parcellation.name,
            descMd: parcellation.desc,
            actions: parcellation | parcellationDoiPipe
          }">
          <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-brain"></mat-icon>
          <div mat-line class="overview-content">{{ parcellation.name }}</div>
        </button>

        <ng-template [ngIf]="regionPosition">
          <button mat-list-item (click)="navigateTo(regionPosition)">
            <mat-icon mat-list-icon fontSet="fas" fontIcon="fa-map-marker"></mat-icon>
            <div mat-line class="overview-content">{{ regionPosition | numbers | addUnitAndJoin : 'mm' }}</div>
          </button>
        </ng-template>

        <ng-template ngFor [ngForOf]="dois$ | async" let-doi>
          <a mat-list-item [href]="doi" target="_blank" class="no-hover">
            <mat-icon mat-list-icon fontSet="ai" fontIcon="ai-doi"></mat-icon>
            <div mat-line>{{ doi }}</div>
          </a>
        </ng-template>
      </mat-action-list>

      
      <ng-template [ngIf]="(desc$ | async) || region.desc" let-desc>
        <readmore-component [collapsedHeight]="240" class="sxplr-mb-8">
          <markdown-dom class="sxplr-m-2 sxplr-muted" [markdown]="desc">
          </markdown-dom>
        </readmore-component>
      </ng-template>
    </mat-tab>

    <!-- FeatureTab -->
    <mat-tab>
      <ng-template mat-tab-label>
        <span>
          Features
        </span>
        <ng-template [ngIf]="featureEntryCmp.totals$ | async" let-total>
          <span class="text-muted">
            ({{ total }})
          </span>
        </ng-template>
        <ng-template [ngIf]="featureEntryCmp.busyTallying$ | async">
          <spinner-cmp></spinner-cmp>
        </ng-template>
      </ng-template>

      <sxplr-feature-entry
        [template]="template"
        [parcellation]="parcellation"
        [region]="region"
        #featureEntryCmp="featureEntryCmp">
      </sxplr-feature-entry>
    </mat-tab>
  </mat-tab-group>
  </ng-template>

</ng-template>
