<div class="w-100 d-flex justify-content-center mt-2 font-weight-bold">
  {{previewFile.name}}
</div>

<div *ngIf = "!previewFile">
  previewFile as an input is required for this component to work...
</div>
<div 
  *ngIf = "previewFile"
  [ngSwitch]="previewFile.mimetype">

  <div emptyRow *ngSwitchCase = "'application/octet-stream'">
    <!-- downloadable data -->
  </div>

  <!-- image  -->
  <div *ngSwitchCase="'image/jpeg'" >
    <!-- TODO figure out a more elegant way of dealing with draggable img -->
    <img draggable = "false" [src] = "previewFile.url" />
  </div>

  <!-- data container -->
  <div [ngSwitch]="previewFile.data.chartType" *ngSwitchCase="'application/json'">
    <radar-chart
      #childChart
      [colors] = "previewFile.data.colors"
      [options] = "previewFile.data.chartOptions"
      [labels]="previewFile.data.labels"
      [radarDatasets]="previewFile.data.datasets"
      *ngSwitchCase="'radar'">

    </radar-chart>
    <line-chart
      #childChart
      [colors] = "previewFile.data.colors"
      [options] = "previewFile.data.chartOptions"
      [lineDatasets] = "previewFile.data.datasets"
      *ngSwitchCase = "'line'">

    </line-chart>
    <div *ngSwitchDefault>
      The json file is not a chart. I mean, we could dump the json, but would it really help?
    </div>
  </div>
  <div *ngSwitchCase = "'application/hibop'">
    <div mimetypeTextContainer>
        You will need to install the HiBoP software on your computer, click the 'Download File' button and open the .hibop file.
    </div>
  </div>
  <div *ngSwitchCase = "'application/nifti'">
    <dedicated-viewer
      [previewFile] = "previewFile">
    </dedicated-viewer>
  </div>
  <div *ngSwitchCase = "'application/nehuba-layer'">
    APPLICATION NEHUBA LAYER - NOT YET IMPLEMENTED
  </div>
  <div *ngSwitchDefault>
    <div mimetypeTextContainer>
      The selected file with the mimetype {{ previewFile.mimetype }} could not be displayed.
    </div>
  </div>
</div>

<div anchorContainer class="mt-2 w-100 d-flex justify-content-end">
  <a      href="JavaScript:void(0)"
          (click)="childChart.click()"
          class="outline-none mr-1 ml-1"
          container="body"
          *ngIf="childChart && childChart.shapedLineChartDatasets"
          matTooltip="Download line graph as csv">
    <i class="fas fa-file-csv"></i>
  </a>

  <a      class="outline-none mr-1 ml-1"
          *ngIf="downloadUrl"
          [href]="downloadUrl"
          target="_blank"
          download
          matTooltip="Download File">
    <i class="far fa-arrow-alt-circle-down"></i>
  </a>

  <a      class="outline-none mr-1 ml-1"
          *ngIf="downloadPng"
          container="body"
          [href]="downloadPng"
          target="_blank"
          download
          matTooltip="Download chart as an image">
    <i class="far fa-arrow-alt-circle-down"></i>
  </a>
</div>
