<div class="w-100 h-100 d-flex flex-row justify-content-center align-items-stretch">
  <div class="d-flex flex-column major-column">
    <div class="overflow-hidden flex-grow-1 d-flex align-items-center justify-content-center">
      <ng-content select="[cell-i]"></ng-content>
    </div>
  </div>
  <div class="d-flex flex-column minor-column">
    <div class="overflow-hidden layout-31-cell d-flex align-items-center justify-content-center">
        <ng-content select="[cell-ii]"></ng-content>
      </div>
      <div class="overflow-hidden layout-31-cell d-flex align-items-center justify-content-center">
        <ng-content select="[cell-iii]"></ng-content>
      </div>
      <div class="overflow-hidden layout-31-cell d-flex align-items-center justify-content-center">
        <ng-content select="[cell-iv]"></ng-content>
      </div>
  </div>
</div>