:host
{
  display:block;
  margin:0.5em 1em;
}

.btn
{
  border-radius: 0px;
  border:none;
}

.btn
{
  opacity : 0.9;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow : rgba(5, 5, 5, 0.1) 0px 4px 6px 0px;
}

.btn-default
{
  background-color:rgba(255,255,255,0.8);
}

.btn:hover
{
  cursor: default;
}

:host-context([darktheme="true"]) .btn-default
{
  background-color:rgba(80,80,80,0.8);
  color:white;
}

.btn.btn-disabled.btn.btn-disabled.btn.btn-disabled.btn.btn-disabled
{
  opacity:0.5;
}