<canvas 
  *ngIf="shapedLineChartDatasets"
  (mousewheel)="mousescroll($event)"
  width='100%'
  height='100%'
  baseChart 
  chartType="line"
  [options]="chartOption"
  [colors]="colors"
  [datasets]="shapedLineChartDatasets"
  [labels]="chartDataset.labels"
  #canvas>
</canvas>
<a
  [download]="csvTitle"
  [href]="csvDataUrl"
  tooltip="Download line graph as csv"
  container="body"
  class="btn btn-sm btn-outline-secondary rounded-circle"
  *ngIf="shapedLineChartDatasets">
  <i class="fas fa-file-csv"></i>
</a>
<span
  *ngIf="!shapedLineChartDatasets">
  datasets are required to display linear graph
</span>