<ng-template #headerTmpl>
    <ng-content select="[header]"></ng-content>
</ng-template>

<mat-card class="mat-elevation-z4 foo">
    <mat-card-header
        [style.backgroundColor]="cardColor"
        [ngClass]="{
            'darktheme': darktheme === true,
            'lighttheme': darktheme === false
        }">

        <mat-card-subtitle>
            <ng-template [ngTemplateOutlet]="headerTmpl"></ng-template>
        </mat-card-subtitle>

        <mat-card-title class="sxplr-custom-cmp text">
            <ng-content select="[title]"></ng-content>
        </mat-card-title>

        <mat-card-subtitle class="sxplr-custom-cmp text">
            <ng-content select="[subtitle]"></ng-content>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<ng-content></ng-content>
