<div 
  [ngStyle]="{ opacity: opacity }"
  landmarkContainer>
  
  <div 
    [style.transform] = "markerTransform | safeStyle"
    [ngStyle]="nodeStyle"
    nodeView 
    #nodeView>
    <span [class]="className">
    </span>
  </div>

  <div
    [style.transform]="beamTransform | safeStyle" 
    class="pos-beam">
    
    <div 
      *ngIf="positionZ >= 0"
      [ngStyle]="beamColorOuter"
      class="pos-beam-outer">
    </div>
    <div 
      *ngIf="positionZ >= 0"
      [ngStyle]="beamColorInner"
      class="pos-beam-inner">
    </div>

    <div 
      *ngIf="positionZ < 0"
      [ngStyle]="beamDashedColor"
      class="pos-beam-dashed">
    </div>
  </div>
  <div 
    [ngStyle]="shadowStyle"
    class="pos-shadow">
    
  </div>
</div>