:host:not(.do-not-close):not(:hover) > .sleight-of-hand-back,
:host:not(.do-not-close):hover > .sleight-of-hand-front,
:host-context(.do-not-close) > .sleight-of-hand-front
{
  opacity: 0;
  pointer-events: none;
}

:host *
{
  transition: opacity 300ms ease-in-out;
}

:host
{
  position: relative;
}

:host > .sleight-of-hand-front
{
  position: relative;
}

:host > .sleight-of-hand-back
{
  position:  absolute;
  z-index: 1;
}