<h1 mat-dialog-title>
  {{ title }}
</h1>

<mat-dialog-content>
  <ng-template [ngIf]="markdown" [ngIfElse]="stringMessageTmpl">
    <markdown-dom [markdown]="markdown">
    </markdown-dom>
  </ng-template>

  <ng-template #stringMessageTmpl>
    <p>
      {{ message }}
    </p>
  </ng-template>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions align="end" *ngIf="!hideActionBar">
  <button [mat-dialog-close]="true" mat-raised-button color="primary">{{ okBtnText }}</button>
  <button *ngIf="!confirmOnly" [mat-dialog-close]="false" mat-button>{{ cancelBtnText }}</button>
</mat-dialog-actions>
