<ng-template [ngIf]="view$ | async" let-view>

    <mat-accordion>
        
        <!-- atlas -->
        <mat-expansion-panel *ngIf="view.selectedATP.atlas; let atlas"
            #atlasExpPanel="matExpansionPanel"
            hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Atlas
                </mat-panel-title>
                <mat-panel-description *ngIf="!atlasExpPanel.expanded">
                    {{ atlas.name }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="title-1-container sxplr-custom-cmp hoverable"
                mat-ripple
                role="select"
                [matTooltip]="view.labels.SELECTED_DIFFERENT_ATLAS"
                [matMenuTriggerFor]="selectATPMenu"
                [matMenuTriggerData]="{
                    current: atlas, 
                    type: 'atlasId',
                    options: view.atlases
                }">
                <h4>
                    {{ atlas.name }}
                </h4>

                <mat-icon>expand_more</mat-icon>
            </div>

            <mat-divider></mat-divider>

            <div class="sxplr-d-flex">
                <ng-template [ngTemplateOutlet]="atlasActionTmpl"></ng-template>
            </div>
             
        </mat-expansion-panel>
        
        <!-- template -->
        <mat-expansion-panel *ngIf="view.selectedATP.template; let template"
            #spaceExpPanel="matExpansionPanel"
            hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Space
                </mat-panel-title>
                <mat-panel-description *ngIf="!spaceExpPanel.expanded">
                    {{ template.name }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <!-- body -->

            <div class="title-1-container sxplr-custom-cmp hoverable"
                mat-ripple
                role="select"
                [matTooltip]="view.labels.SELECTED_DIFFERENT_TEMPLATE"
                [matMenuTriggerFor]="selectATPMenu"
                [matMenuTriggerData]="{
                    current: template, 
                    type: 'templateId',
                    options: view.templates
                }">
                <h4>
                    {{ template.name }}
                </h4>
                <mat-icon>expand_more</mat-icon>
            </div>
             
            
            <ng-template [ngTemplateOutlet]="templateBodyTmpl"></ng-template>

            <mat-divider [inset]="false"></mat-divider>

            <div class="sxplr-d-flex">
                <ng-template [ngTemplateOutlet]="templateActionsTmpl">
                </ng-template>
            </div>
        </mat-expansion-panel>

        <!-- parcellation -->
        <mat-expansion-panel *ngIf="view.selectedATP.parcellation; let parcellation"
            #parcExpPanel="matExpansionPanel"
            hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Reference Parcellation
                </mat-panel-title>
                <mat-panel-description *ngIf="!parcExpPanel.expanded">
                    {{ parcellation.name }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="title-1-container sxplr-custom-cmp hoverable"
                mat-ripple
                role="select"
                [matTooltip]="view.labels.SELECTED_DIFFERENT_PARCELLATION"
                [matMenuTriggerFor]="selectATPMenu"
                [matMenuTriggerData]="{
                    current: view.selectedATP.parcellation, 
                    type: 'parcellationId',
                    options: view.noGroupParcs,
                    groupedOptions: view.groupParcs,
                    getSubMenu: getSubParcellation,
                    optionTemplate: parcellationOptTmpl
                }">
                <h4>
                    {{ parcellation.name }}
                </h4>

                <ng-template [ngIf]="parcellation | isVersioned : view.parcellations">
                    <ng-template [ngIf]="parcellation | isNewest : view.parcellations"
                        [ngIfThen]="newestTmpl"
                        [ngIfElse]="notNewestTmpl">

                    </ng-template>

                    <ng-template #newestTmpl>
                        <span class="disabled-button-container" [matTooltip]="view.labels.NEWEST_VERSION">
                            <button mat-icon-button disabled>
                                <mat-icon>whatshot</mat-icon>
                            </button>
                        </span>
                    </ng-template>

                    <ng-template #notNewestTmpl>
                        <button mat-icon-button
                            color="primary"
                            (click)="gotoNewestParc()"
                            [matTooltip]="view.labels.GOTO_NEWEST_VERSION">
                            <mat-icon>update</mat-icon>
                        </button>
                    </ng-template>
                </ng-template>
                
                <mat-icon>expand_more</mat-icon>
            </div>

            <ng-template [ngTemplateOutlet]="parcRegionQuickSearchTmpl"></ng-template>

            <mat-divider></mat-divider>

            <div class="sxplr-d-flex">
                <ng-template [ngTemplateOutlet]="parcOnlyActionTmpl"></ng-template>
            </div>

        </mat-expansion-panel>

        <!-- brain regions -->
        <mat-expansion-panel
            *ngIf="view.selectedRegions.length > 0"
            #selRegExpPanel="matExpansionPanel"
            hideToggle>
            
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Brain Area
                </mat-panel-title>
                
                <mat-panel-description *ngIf="!selRegExpPanel.expanded">
                    <ng-template [ngIf]="view.selectedRegions.length === 1">
                        {{ view.selectedRegions[0].name }}
                    </ng-template>
                    <ng-template [ngIf]="view.selectedRegions.length > 1">
                        {{ view.selectedRegions.length }} areas
                    </ng-template>
                </mat-panel-description>

                <button mat-icon-button
                    [matTooltip]="view.labels.CLEAR_SELECTED_REGION"
                    color="warn"
                    (click)="clearRoi()">
                    <mat-icon>clear</mat-icon>
                </button>
            </mat-expansion-panel-header>

            <mat-divider></mat-divider>

            <ng-template [ngIf]="view.selectedRegions.length === 1">
                <div class="title-1-container sxplr-custom-cmp hoverable">
                    <h4>
                        {{ view.selectedRegions[0].name }}
                    </h4>
                </div>
                
                <mat-divider></mat-divider>
                <ng-template [ngTemplateOutlet]="singleRegionActionTmpl"></ng-template>
            </ng-template>
            
            <ng-template [ngIf]="view.selectedRegions.length > 1">
                <div class="title-1-container sxplr-custom-cmp hoverable">
                    <h4>
                        Selected {{ view.selectedRegions.length }} areas
                    </h4>
                </div>
                
                <mat-divider></mat-divider>
                <ng-template [ngTemplateOutlet]="multipleRegionActionTmpl"></ng-template>
            </ng-template>
        </mat-expansion-panel>

        <!-- point assignment -->
        <ng-template [ngIf]="view.selectedPoint" let-selectedPoint>

            <mat-expansion-panel
                #selPtExpPanel="matExpansionPanel"
                hideToggle>
                
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Point Assignment
                    </mat-panel-title>

                    <button mat-icon-button
                        [matTooltip]="view.labels.CLEAR_SELECTED_POINT"
                        color="warn"
                        (click)="clearPoint()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>

                <ng-template [ngIf]="ptAsgmt.coordTxt$ | async" let-coordText>
                    <div class="title-1-container sxplr-custom-cmp hoverable">
                        <h4>
                            {{ coordText }}
                        </h4>
                    </div>
                </ng-template>

                <ng-template [ngIf]="ptAsgmt.infoMsg$ | async" let-infoMsg>
                    <markdown-dom [markdown]="infoMsg"></markdown-dom>
                    <mat-divider></mat-divider>
                </ng-template>

                <sxplr-assignment-view-simple
                    (clickOnRegionName)="handleClickRegionName($event.target, $event.event.ctrlKey)"
                    point-assignment
                    #ptAsgmt="ptAsgmt"
                    [point]="view.selectedPoint"
                    [template]="view.selectedATP.template"
                    [parcellation]="view.selectedATP.parcellation"
                    [result]="ptAsgmt.df$ | async">
                    
                </sxplr-assignment-view-simple>

                <mat-divider></mat-divider>

                <ng-template [ngIf]="ptAsgmt.point$ | async | sandsToNum " let-pointNm>
                    <button mat-icon-button
                        [matTooltip]="view.labels.GOTO_POSITION"
                        (click)="navigateTo(pointNm.coords)">
                        <mat-icon>place</mat-icon>
                    </button>
                </ng-template>

                <ng-template [ngIf]="ptAsgmt.dfCsv$ | async" let-dfCsv>
                    <button mat-icon-button
                        [iav-clipboard-copy]="dfCsv"
                        [matTooltip]="view.labels.COPY_RESULT">
                        <mat-icon>content_copy</mat-icon>
                    </button>
                </ng-template>
                
                <button mat-icon-button
                    [sxplr-dialog]="fullViewTmpl"
                    [matTooltip]="view.labels.SHOW_FULL">
                    <mat-icon>table_view</mat-icon>
                </button>
                
                <ng-template [ngIf]="ptAsgmt.busy$ | async">
                    <mat-spinner class="sxplr-d-inline-block" diameter="24"></mat-spinner>
                </ng-template>

                <ng-template #fullViewTmpl>
                    <h2 mat-dialog-title>Assignment</h2>
                    <mat-dialog-content>
                        <sxplr-assignment-view-full
                            (clickOnRegionName)="handleClickRegionName($event.target, $event.event.ctrlKey)"
                            [result]="ptAsgmt.df$ | async">
                        </sxplr-assignment-view-full>
                    </mat-dialog-content>
                    <mat-dialog-actions align="center">
                        <button mat-raised-button color="primary"
                            [zip-files-output]="ptAsgmt.zipfileConfig$ | async"
                            zip-files-output-zip-filename="pointassignment.zip">
                            <i class="fas fa-download"></i>
                            <span>
                                Download CSV
                            </span>
                        </button>
                        <button mat-button mat-dialog-close>Close</button>
                    </mat-dialog-actions>
                </ng-template>

            </mat-expansion-panel>
            
        </ng-template>

        <!-- selected feature -->
        <ng-template [ngIf]="view.selectedFeature" let-selectedFeature>

            <mat-expansion-panel
                #selFtExpPanel="matExpansionPanel"
                hideToggle

                feature-view-base
                #featureView="featureViewBase"
                [feature]="selectedFeature"
                [extraParams]="{
                    regions: view.selectedRegions,
                    space: view.selectedATP.template
                }">
                
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <ng-template [ngIf]="featureView.view$ | async" let-fView [ngIfElse]="fallbackTmpl">
                            <ng-template [ngIf]="fView.category" let-category [ngIfElse]="fallbackTmpl">
                                {{ category }}
                            </ng-template>
                        </ng-template>
                        <ng-template #fallbackTmpl>
                            feature
                        </ng-template>
                    </mat-panel-title>

                    <button mat-icon-button
                        [matTooltip]="view.labels.CLEAR_SELECTED_FEATURE"
                        color="warn"
                        (click)="clearFeature()"
                        >
                        <mat-icon>clear</mat-icon>
                    </button>
                </mat-expansion-panel-header>

                <ng-template matExpansionPanelContent>
                    <ng-template [ngIf]="featureView.view$ | async" let-fView>
                        <h4 *ngIf="fView.name; let name">
                            {{ name }}
                        </h4>
                        
                        <!-- special views -->

                        <!-- voi special view -->
                        <ng-template [ngIf]="fView.voi" let-voi>
                            <ng-layer-ctl
                                [ng-layer-ctl-name]="voi.ngVolume.url"
                                [ng-layer-ctl-src]="voi.ngVolume.url"
                                [ng-layer-ctl-transform]="voi.ngVolume.transform"
                                [ng-layer-ctl-info]="voi.ngVolume.info"
                                [ng-layer-ctl-opacity]="1.0"
                                [ng-layer-ctl-meta]="voi.ngVolume.meta"
                                [ng-layer-ctrl-show]="true">
                            </ng-layer-ctl>
                        </ng-template>
                        
                        <!-- plotly view -->
                        <ng-template [ngIf]="fView.plotly" let-plotly>
                            
                            <sxplr-plotly-component
                                (plotly-label-clicked)="navigateToRegionByName($event)"
                                [plotly-json]="plotly">
                            </sxplr-plotly-component>
                            
                                <!-- Other generic intents -->
                                <!-- For now, only used for colorization of atlas -->
                                <!-- <atlas-colormap-intents [intents]="intents$ | async"
                                (actions)="onAction($event)">
                                </atlas-colormap-intents> -->
                        </ng-template>
                        
                        <mat-divider></mat-divider>

                        <!-- feature footer -->
                        
                        <button mat-icon-button
                            [matTooltip]="view.labels.DETAILS"
                            [sxplr-dialog]="DoiTemplate"
                            [sxplr-dialog-size]="null"
                            [sxplr-dialog-data]="{
                                title: fView.name,
                                desc: fView.desc,
                                contributors: fView.contributors | dedup, 
                                actions: fView.links | mapToProperty : 'href' | dedup
                            }">
                            <mat-icon>info</mat-icon>
                        </button>

                        <a [href]="fView.downloadLink"
                            mat-icon-button
                            [matTooltip]="view.labels.DOWNLOAD"
                            target="_blank">
                            <mat-icon>file_download</mat-icon>
                        </a>
                        <ng-template [ngIf]="fView.busy">
                            <mat-spinner class="sxplr-d-inline-block" [diameter]="24"></mat-spinner>
                        </ng-template>
                    </ng-template>

                </ng-template>
                
            </mat-expansion-panel>
        </ng-template>
        
    </mat-accordion>

    <ng-template #regionHierarchyTmpl let-data>

        <sxplr-sapiviews-core-rich-regionshierarchy
            class="sxplr-w-100 sxplr-flex-var"
            [sxplr-sapiviews-core-rich-regionshierarchy-searchstring]="data.searchTerm || ''"
            [sxplr-sapiviews-core-rich-regionshierarchy-regions]="view.allAvailableRegions"
            [sxplr-sapiviews-core-rich-regionshierarchy-label-mapped-region-names]="view.labelMappedRegionNames"
            [sxplr-sapiviews-core-rich-regionshierarchy-accent-regions]="view.selectedRegions"
            (sxplr-sapiviews-core-rich-regionshierarchy-region-select)="selectRoi($event)"
            (sxplr-sapiviews-core-rich-regionshierarchy-region-toggle)="toggleRoi($event)"
            >
        </sxplr-sapiviews-core-rich-regionshierarchy>

        <mat-card-actions>
            <button mat-button mat-dialog-close>close</button>
        </mat-card-actions>
    </ng-template>

    <!-- atlas templates -->
    <ng-template #atlasActionTmpl>
        
        <button sxplr-share-view mat-icon-button>
            <i class="fas fa-share"></i>
        </button>
        <button mat-icon-button sxplrAtlasDownload #dl="atlasDlDct"
            [disabled]="dl.busy$ | async">
            
            <ng-template [ngIf]="dl.busy$ | async" [ngIfElse]="notBusyDlTmpl">
                <i class="fas fa-spinner spinning"></i>
            </ng-template>
            <ng-template #notBusyDlTmpl>
                <i class="fas fa-download"></i>
            </ng-template>
        </button>
    </ng-template>

    <!-- space templates -->
    <ng-template #templateBodyTmpl>
        <form [formGroup]="navigationCtlForm">
            <ng-template [ngIf]="view.useViewer === 'nehuba'">
                <div class="vbc-row">
                    <mat-form-field *ngFor="let axis of ['x', 'y', 'z']">
                        <mat-label>{{ axis }}</mat-label>
                        <input matInput [formControlName]="axis" vbc-on-focus-select>
                    </mat-form-field>
                    <button mat-icon-button
                        class="vbc-row-fixed"
                        color="warn"
                        [matTooltip]="view.labels.RESET_TRANSLATION"
                        (click)="resetNavigation({ position: true })">
                        <mat-icon>restart_alt</mat-icon>
                    </button>
                </div>
            </ng-template>
        </form>
    </ng-template>

    <ng-template #templateActionsTmpl>
        <button mat-icon-button
            [matTooltip]="view.labels.DETAILS"
            [sxplr-dialog]="DoiTemplate"
            [sxplr-dialog-size]="null"
            [sxplr-dialog-data]="{
                title: view.selectedATP.template.name,
                desc: view.selectedATP.template.desc,
                contributors: view.selectedATP.template.contributors | dedup, 
                actions: view.selectedATP.template | parcTmplDoiPipe
            }">
            <mat-icon>info</mat-icon>
        </button>

        <ng-template [ngIf]="view.currentViewport?.center" let-center>

            <button
                [matTooltip]="view.labels.COPY_CURRENT_POSITION"
                mat-icon-button
                [iav-clipboard-copy]="
                    center
                    | numbers : 3
                    | addUnitAndJoin : 'mm' : ', '
                ">
                <i class="fas fa-copy"></i>
            </button>

            <button mat-icon-button
                [matTooltip]="view.labels.POSITION_ASSIGNMENT"
                (click)="assignPoint(center, view.selectedATP.template)"
                >
                <mat-icon>query_stats</mat-icon>
            </button>
        </ng-template>

        <mat-divider [vertical]="true"></mat-divider>
        
        <div iav-switch #switchdir="iavSwitch">

        </div>
        <div sxplr-sapiviews-core-space-boundingbox
            (sxplr-sapiviews-core-space-boundingbox-changed)="voiFeatureEntryCmp?.pullAll()"
            [sxplr-sapiviews-core-space-boundingbox-atlas]="view.selectedATP.atlas"
            [sxplr-sapiviews-core-space-boundingbox-space]="view.selectedATP.template"
            [sxplr-sapiviews-core-space-boundingbox-spec]="view.currentViewport && [view.currentViewport.minpoint, view.currentViewport.maxpoint]"
            #bbox="sxplrSapiViewsCoreSpaceBoundingBox"
            >
        </div>

        <sxplr-feature-entry
            class="sxplr-d-none"
            [template]="view.selectedATP.template"
            [bbox]="bbox.bbox$ | async | getProperty : 'bbox'"
            [attr.data-feature-length]="((voiFeatureEntryCmp.features$ | async) || []).length"
            #voiFeatureEntryCmp="featureEntryCmp">
        </sxplr-feature-entry>
        
        <ng-template [ngIf]="(voiFeatureEntryCmp.totals$ | async) > 0">
            <div *ngIf="switchdir.switchState$ | async"
                voiBbox
                [features]="voiFeatureEntryCmp.features$ | async">
            </div>
        </ng-template>

        <button mat-icon-button
            [color]="(switchdir.switchState$ | async) ? 'accent' : 'default'"
            (click)="switchdir.toggle()"
            [matTooltip]="view.labels.TOGGLE_SPATIAL_BOXES">
            <i [class]="(switchdir.switchState$ | async) ? 'fas fa-lightbulb' : 'far fa-lightbulb'"></i>
        </button>


        <ng-template [ngIf]="voiFeatureEntryCmp.totals$ | async" let-totals>
            
            <ng-template [ngIf]="totals > 0">
                
                <ng-template #anchorTmpl>
                    <tpbr-viewer [tpbr-concept]="voiFeatureEntryCmp.TPRBbox$ | async">
                    </tpbr-viewer>
                </ng-template>

                <button mat-icon-button
                    [matTooltip]="view.labels.RELATED_DATASETS"
                    [sxplr-dialog]="dumbFeatureDialogTmpl"
                    [sxplr-dialog-config]="{
                        autoFocus: true
                    }"
                    [sxplr-dialog-data]="{
                        features: voiFeatureEntryCmp.features$ | async,
                        anchorTmpl: anchorTmpl
                    }">
                    <mat-icon [matBadge]="totals" aria-hidden="false">dataset_linked</mat-icon>
                </button>
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="voiFeatureEntryCmp.busy$ | async">
            <mat-spinner class="action-v-center" diameter="24"></mat-spinner>
        </ng-template>
    </ng-template>

    <!-- parcelation templates -->
     
    <!-- common template for parcellation/single region/multi region -->
    <ng-template #parcellationOptTmpl let-parcellation let-hideVersionIcon="hideVersionIcon">
        
        <span>
            {{ parcellation.shortName || parcellation.name }}
        </span>

        <ng-template [ngIf]="!hideVersionIcon">
            <ng-template
                [ngIf]="parcellation | isVersioned : view.parcellations"
                [ngIfElse]="unVersionedParcTemplate">

                <ng-template
                    [ngIf]="parcellation | isNewest : view.parcellations"
                    [ngIfElse]="notNewestTmpl">
                    <mat-icon matTooltip="newest version" class="muted-3 small-icon">whatshot</mat-icon>
                </ng-template>

                <ng-template #notNewestTmpl>
                    <mat-icon matTooltip="newer version available" class="muted-3 small-icon">update</mat-icon>
                </ng-template>
            </ng-template>

            <ng-template #unVersionedParcTemplate>
            </ng-template>
        </ng-template>
        
    </ng-template>

    <ng-template #parcRegionQuickSearchTmpl>

        <sxplr-sapiviews-core-rich-regionlistsearch
            [sxplr-sapiviews-core-rich-regionlistsearch-regions]="view.allAvailableRegions"
            (sxplr-sapiviews-core-rich-regionlistsearch-region-select)="view.labelMappedRegionNames.includes($event.name)
                ? selectRoi($event)
                : showHierarchyBtn.onClick({ 'searchTerm': $event.name })"
            (sxplr-sapiviews-core-rich-regionlistsearch-region-toggle)="view.labelMappedRegionNames.includes($event.name) && toggleRoi($event)"
            >

            <ng-template region-template let-region>

                <div class="region-list-search-row sxplr-custom-cmp"
                    [ngClass]="{
                        'text-muted': !view.labelMappedRegionNames.includes(region.name),
                        'text accent': view.selectedRegions | mapToProperty : 'name' | includes : region.name
                    }">
            
                    <span class="sxplr-m-2">
                        <i *ngIf="view.leafRegions.includes(region)" class="fas fa-brain"></i>
                        <i *ngIf="view.branchRegions.includes(region)" class="fas fa-code-branch"></i>
                    </span>

                    <span>
                        {{ region.name }}
                    </span>
                </div>

            </ng-template>

            <ng-container ngProjectAs="[search-input-suffix]">
                <button mat-icon-button
                    iav-stop="click"
                    [sxplr-dialog]="regionHierarchyTmpl"
                    [matTooltip]="view.labels.REGION_HIERARCHY"
                    sxplr-dialog-size="xl"
                    #showHierarchyBtn="sxplrDialog">
                    <i class="fas fa-sitemap"></i>
                </button>

            </ng-container>
        </sxplr-sapiviews-core-rich-regionlistsearch>
    </ng-template>

    <ng-template #parcOnlyActionTmpl>

        <!-- info button -->
        <button mat-icon-button
            [sxplr-dialog]="DoiTemplate"
            [sxplr-dialog-size]="null"
            [sxplr-dialog-data]="{
                title: view.selectedATP.parcellation.name,
                desc: view.selectedATP.parcellation.desc,
                contributors: view.selectedATP.parcellation.contributors | dedup, 
                actions: view.selectedATP.parcellation | parcTmplDoiPipe
            }"
            [matTooltip]="view.labels.DETAILS">
            <mat-icon>info</mat-icon>
        </button>

        <!-- parc delineation visibility -->
        <ng-template [ngIf]="view.parcellationVisible !== null">
            <button mat-icon-button
                [matTooltip]="view.labels.TOGGLE_DELINEATION"
                (click)="toggleParcellationVisibility()"
                (iav-key-event)="toggleParcellationVisibility()"
                [iav-key-listener]="[{
                    key: 'q',
                    type: 'keydown',
                    capture: true,
                    target: 'document',
                }]">
                <ng-template [ngIf]="view.parcellationVisible">
                    <i class="fas fa-eye"></i>
                </ng-template>
                
                <ng-template [ngIf]="!view.parcellationVisible">
                    <i class="fas fa-eye-slash"></i>
                </ng-template>
            </button>
        </ng-template>

        <!-- parc features -->
        <sxplr-feature-entry
            class="sxplr-d-none"
            [parcellation]="view.selectedATP.parcellation"
            [attr.data-feature-length]="((parcFeature.features$ | async) || []).length"
            #parcFeature="featureEntryCmp">
        </sxplr-feature-entry>

        <ng-template #anchorTmpl>
            <tpbr-viewer [tpbr-concept]="parcFeature.TPRBbox$ | async">
            </tpbr-viewer>
        </ng-template>

        <ng-template [ngIf]="(parcFeature.totals$ | async) > 0">
            <button mat-icon-button
                [matTooltip]="view.labels.RELATED_DATASETS"
                [sxplr-dialog]="dumbFeatureDialogTmpl"
                [sxplr-dialog-config]="{
                    autoFocus: true
                }"
                [sxplr-dialog-data]="{
                    features: parcFeature.features$ | async,
                    anchorTmpl: anchorTmpl
                }">
                <mat-icon [matBadge]="parcFeature.totals$ | async" aria-hidden="false">dataset_linked</mat-icon>
            </button>
        </ng-template>

        <ng-template [ngIf]="parcFeature.busy$ | async">
            <mat-spinner class="action-v-center" diameter="24"></mat-spinner>
        </ng-template>
    </ng-template>

    <ng-template #singleRegionActionTmpl>
        <div sxplr-sapiviews-core-region
            #regionDirective="sapiViewsCoreRegion"
            (sxplr-sapiviews-core-region-navigate-to)="navigateTo($event)"
            [sxplr-sapiviews-core-region-region]="view.selectedRegions[0]"
            [sxplr-sapiviews-core-region-atlas]="view.selectedATP.atlas"
            [sxplr-sapiviews-core-region-parcellation]="view.selectedATP.parcellation"
            [sxplr-sapiviews-core-region-template]="view.selectedATP.template"
            [sxplr-sapiviews-core-region-detail-flag]="true">

        </div>

        <!-- position -->
        <ng-template [ngIf]="regionDirective.regionPosition$ | async" let-position>
            <button mat-icon-button [matTooltip]="position | numbers | addUnitAndJoin : 'mm'"
                (click)="navigateTo(position)">
                <mat-icon>place</mat-icon>
            </button>
        </ng-template>

        <!-- info -->
        <ng-template [ngIf]="(regionDirective.desc$ | async) || ((regionDirective.dois$ | async) || []).length > 0">
            
            <button mat-icon-button
                [matTooltip]="view.labels.DETAILS"
                [sxplr-dialog]="DoiTemplate"
                [sxplr-dialog-size]="null"
                [sxplr-dialog-data]="{
                    title: view.selectedRegions[0].name,
                    desc: regionDirective.desc$ | async,
                    contributors: regionDirective.contributors$ | async | dedup,
                    actions: regionDirective.dois$ | async
                }">
                <mat-icon>info</mat-icon>
            </button>
        </ng-template>

        <!-- related regions -->
        <ng-template [ngIf]="regionDirective.relatedRegions$ | async | dedupRelatedRegionPipe" let-relatedRegions>
            <ng-template [ngIf]="relatedRegions.length > 0">
                <button mat-icon-button
                    [matTooltip]="view.labels.RELATED_REGIONS"
                    [sxplr-dialog]="relatedRegionsTmpl"
                    [sxplr-dialog-data]="{
                        relatedRegions: relatedRegions,
                        region: view.selectedRegions[0]
                    }">
                    <mat-icon [matBadge]="relatedRegions.length" aria-hidden="false">schema</mat-icon>
                </button>
                
            </ng-template>
            

            <ng-template #relatedRegionsTmpl>
                <!-- header -->
                <h2 mat-dialog-title>Related Regions</h2>

                <!-- body -->
                <mat-dialog-content>

                    <!-- iterate over all related -->
                    <table mat-table [dataSource]="relatedRegions">
                        
                        <ng-container matColumnDef="currentRegion">
                            <th mat-header-cell *matHeaderCellDef> Current Region </th>
                            <td mat-cell *matCellDef="let related"> {{ view.selectedRegions[0].name }} </td>
                        </ng-container>

                        <ng-container matColumnDef="qualification">
                            <th mat-header-cell *matHeaderCellDef> Qualification </th>
                            <td mat-cell *matCellDef="let related"> {{ related.qualification | translateQualificationPipe }} </td>
                        </ng-container>

                        <ng-container matColumnDef="relatedRegion">
                            <th mat-header-cell *matHeaderCellDef> Related Region </th>
                            <td mat-cell *matCellDef="let related">
                                <button tabindex="-1" mat-stroked-button
                                (click)="selectATP('parcellationId', related.parcellation.id, related.region.name)"
                                class="sxplr-w-100"
                                [disabled]="!related.mapped"
                                mat-dialog-close
                                [matTooltip]="('Explorer ' + related.region.name + ' in ' + related.parcellation.name)">
                                {{ related.region.name }}
                                </button>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="relatedRegionParc">
                            <th mat-header-cell *matHeaderCellDef> Related Region Parcellation </th>
                            <td mat-cell *matCellDef="let related">
                                <button tabindex="-1" mat-stroked-button
                                    (click)="selectATP('parcellationId', related.parcellation.id)"
                                    class="sxplr-w-100"
                                    mat-dialog-close
                                    [matTooltip]="('Explore ' + related.parcellation.name)">
                                    {{ related.parcellation.name }}
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="['currentRegion', 'qualification', 'relatedRegion', 'relatedRegionParc']"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['currentRegion', 'qualification', 'relatedRegion', 'relatedRegionParc'];"></tr>
                    </table>
                </mat-dialog-content>

                <!-- footer -->
                <mat-dialog-actions align="center">
                    <button mat-button mat-dialog-close>close</button>
                </mat-dialog-actions>
            </ng-template>
        </ng-template>

        <!-- features -->
        <ng-template #anchorTmpl>
            <tpbr-viewer [tpbr-concept]="parcFeature.TPRBbox$ | async">
            </tpbr-viewer>
        </ng-template>

        <sxplr-feature-entry
            class="sxplr-d-none"
            [parcellation]="view.selectedATP.parcellation"
            [region]="view.selectedRegions[0]"
            [attr.data-feature-length]="((parcFeature.features$ | async) || []).length"
            #parcFeature="featureEntryCmp">
        </sxplr-feature-entry>

        <ng-template [ngIf]="(parcFeature.totals$ | async) > 0">
            <button mat-icon-button
                [matTooltip]="view.labels.RELATED_DATASETS"
                [sxplr-dialog]="dumbFeatureDialogTmpl"
                [sxplr-dialog-config]="{
                    autoFocus: true
                }"
                [sxplr-dialog-data]="{
                    features: parcFeature.features$ | async,
                    anchorTmpl: anchorTmpl
                }">
                <mat-icon
                    [matBadge]="parcFeature.totals$ | async"
                    aria-hidden="false">dataset_linked</mat-icon>
            </button>
        </ng-template>

        <!-- busy spinner -->
        
        <ng-template [ngIf]="(regionDirective.fetchInProgress$ | async) || (parcFeature.busy$ | async)">
            <mat-spinner class="sxplr-d-inline-block" diameter="24"></mat-spinner>
        </ng-template>
        

    </ng-template>

    <ng-template #multipleRegionActionTmpl>
        <!-- copy multiselect region names -->
        <button mat-icon-button
            [matTooltip]="view.labels.COPY_REGION_NAMES"
            [iav-clipboard-copy]="view.selectedRegions | mapToProperty : 'name' | json">
            <mat-icon fontSet="fas" fontIcon="fa-copy" matListItemIcon></mat-icon>
        </button>
    </ng-template>

</ng-template>

<mat-menu #selectATPMenu="matMenu">
    <ng-template matMenuContent
        let-current="current"
        let-options="options"
        let-groupedOptions="groupedOptions"
        let-type="type"
        let-getSubMenu="getSubMenu"
        let-optionTemplate="optionTemplate">

        <button *ngFor="let opt of (groupedOptions || [])"
            mat-menu-item
            class="menu-button"
            [matMenuTriggerFor]="selectATPSubMenu"
            [matMenuTriggerData]="{
                current: current, 
                type: type,
                options: getSubMenu(opt),
                optionTemplate: optionTemplate
            }">
            <mat-icon fontSet="far" [fontIcon]="(opt | parcellationGroupSelected : current) ? 'fa-circle' : 'fa-none'"></mat-icon>
            
            <ng-template [ngIf]="optionTemplate" [ngIfElse]="defaultOptionTemplate">
                <ng-template
                    [ngTemplateOutlet]="optionTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: opt
                    }">
                </ng-template>
            </ng-template>

            <ng-template #defaultOptionTemplate>
                <span>
                    {{ opt.name }}
                </span>
            </ng-template>
        </button>

        <button *ngFor="let opt of options"
            mat-menu-item
            [matTooltip]="opt.shortName || opt.name"
            (click)="selectATP(type, opt.id)"
            class="menu-button">
            <mat-icon fontSet="fas" [fontIcon]="opt.id === current.id ? 'fa-circle' : 'fa-none'"></mat-icon>
            
            <ng-template [ngIf]="optionTemplate" [ngIfElse]="defaultOptionTemplate">
                <ng-template
                    [ngTemplateOutlet]="optionTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: opt
                    }">
                </ng-template>
            </ng-template>
            
            <ng-template #defaultOptionTemplate>
                <span>
                    {{ opt.shortName || opt.name }}
                </span>
            </ng-template>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #selectATPSubMenu="matMenu">
    <ng-template matMenuContent
        let-current="current"
        let-options="options"
        let-type="type"
        let-optionTemplate="optionTemplate">

        <button *ngFor="let opt of options"
            mat-menu-item
            [matTooltip]="opt.shortName || opt.name"
            (click)="selectATP(type, opt.id)"
            class="menu-button">

            <mat-icon fontSet="fas" [fontIcon]="opt.id === current.id ? 'fa-circle' : 'fa-none'"></mat-icon>

            
            <ng-template [ngIf]="optionTemplate" [ngIfElse]="defaultOptionTemplate">
                <ng-template
                    [ngTemplateOutlet]="optionTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: opt
                    }">
                </ng-template>
            </ng-template>
            
            <ng-template #defaultOptionTemplate>
                <span>
                    {{ opt.shortName || opt.name }}
                </span>
            </ng-template>
        </button>
    </ng-template>
</mat-menu>

<!-- template for dumb feature list  -->
<ng-template #dumbFeatureDialogTmpl let-context>
    <h1 mat-dialog-title>
        Features
    </h1>
    <mat-dialog-content>

        <span>Anchored at:</span>
        <ng-template [ngTemplateOutlet]="context.anchorTmpl"></ng-template>

        <mat-divider></mat-divider>

        <sxplr-dumb-feature-list
            [features]="context.features"
            (feature-clicked)="selectFeature($event); closeBtn.dialogRef.close()">
        </sxplr-dumb-feature-list>
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close #closeBtn="matDialogClose">
            Close
        </button>
    </div>
</ng-template>
