<ng-template [ngIf]="view$ | async" let-view>

    <!-- selected atlas -->
    <div *ngIf="view.selectedATP.atlas; let atlas" class="vbc-card-container atlas-container"
        (click)="!atlasReveal.state && openCard('atlas')"
        sxplr-reveal
        [reveal-state]="!view.minimizedCards.includes('atlas')"
        #atlasReveal="reveal"
        [ngClass]="{
            'vbc-hidden': !(atlasReveal.state$ | async),
            'mat-elevation-z2': (atlasReveal.state$ | async)
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Atlas

                    <span class="show-when-minimized">
                        : {{ atlas.name }}
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button
                        class="top-level-selection"
                        [matTooltip]="view.labels.SELECTED_DIFFERENT_ATLAS"
                        [matMenuTriggerFor]="selectATPMenu"
                        [matMenuTriggerData]="{
                            current: atlas, 
                            type: 'atlasId',
                            options: view.atlases
                        }">
                        <i class="fas fa-dna"></i>
                        <span>
                            {{ atlas.name }}
                        </span>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            
            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template
                    [ngTemplateOutlet]="maximizeBtnTmpl"
                    [ngTemplateOutletContext]="{
                        cardname: 'atlas'
                    }">
                </ng-template>
                <mat-divider [vertical]="true" [inset]="false"></mat-divider>
                <button sxplr-share-view mat-icon-button>
                    <i class="fas fa-share"></i>
                </button>
                <button mat-icon-button sxplrAtlasDownload #dl="atlasDlDct"
                    [disabled]="dl.busy$ | async">
                    
                    <ng-template [ngIf]="dl.busy$ | async" [ngIfElse]="notBusyDlTmpl">
                        <i class="fas fa-spinner spinning"></i>
                    </ng-template>
                    <ng-template #notBusyDlTmpl>
                        <i class="fas fa-download"></i>
                    </ng-template>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <!-- selected template -->
    <div *ngIf="view.selectedATP.template; let template" class="vbc-card-container template-container"
        (click)="!tmplReveal.state && openCard('template')"
        sxplr-reveal
        [reveal-state]="!view.minimizedCards.includes('template')"
        #tmplReveal="reveal"
        [ngClass]="{
            'vbc-hidden': !(tmplReveal.state$ | async),
            'mat-elevation-z2': (tmplReveal.state$ | async),
            'experimental': view.showExperimental
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Space
                    <span class="show-when-minimized">
                        : {{ template.name }}
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button
                        class="top-level-selection"
                        [matTooltip]="view.labels.SELECTED_DIFFERENT_TEMPLATE"
                        [matMenuTriggerFor]="selectATPMenu"
                        [matMenuTriggerData]="{
                            current: template, 
                            type: 'templateId',
                            options: view.templates
                        }">
                        <i class="fas fa-globe"></i>
                        <span>
                            {{ template.shortName }}
                        </span>
                    </button>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <ng-template [ngIf]="view.useViewer === 'nehuba'" [ngIfElse]="notSupportedTmpl">

                        <button mat-button
                            class="top-level-selection"
                            [sxplr-dialog]="editPointTmpl"
                            [sxplr-dialog-config]="{
                                autoFocus: true
                            }"
                            [matTooltip]="view.labels.NAVIGATION_CONTROL">
                            <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
                            <div *ngIf="view.currentViewport">
                                <span>
                                    ({{ view.currentViewport.center | numbers : 2 | addUnitAndJoin: '' : ', ' }})
                                </span>
                                <span>
                                    ±
                                </span>
                                <span>
                                    ({{ (view.currentViewport.maxpoint[0] - view.currentViewport.center[0]) | number : '1.2-2' }}, 
                                    {{ (view.currentViewport.maxpoint[1] - view.currentViewport.center[1]) | number : '1.2-2' }}, 
                                    {{ (view.currentViewport.maxpoint[2] - view.currentViewport.center[2]) | number : '1.2-2' }})
                                </span>
                                <span>
                                    mm
                                </span>
                            </div>
                        </button>
                    
                    </ng-template>
                    <ng-template #notSupportedTmpl>

                        <button mat-button
                            class="top-level-selection"
                            disabled>
                            <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
                            <span>
                                Setting navigation unsupported
                            </span>
                        </button>
                    </ng-template>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template
                    [ngTemplateOutlet]="maximizeBtnTmpl"
                    [ngTemplateOutletContext]="{
                        cardname: 'template'
                    }">
                </ng-template>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-icon-button
                    [matTooltip]="view.labels.DETAILS"
                    [sxplr-dialog]="DoiTemplate"
                    [sxplr-dialog-size]="null"
                    [sxplr-dialog-data]="{
                        title: template.name,
                        desc: template.desc,
                        contributors: template.contributors | dedup, 
                        actions: template | parcTmplDoiPipe
                    }">
                    <i class="fas fa-info"></i>
                </button>

                <ng-template [ngIf]="view.useViewer === 'nehuba'">

                    <button
                        [matTooltip]="view.labels.RESET_ROTATION"
                        color="warn"
                        mat-icon-button
                        (click)="resetNavigation({ rotation: true })">
                        <i class="iavic iavic-rotation"></i>
                    </button>
                    
                </ng-template>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- common template for parcellation/single region/multi region -->
    <ng-template #parcellationOptTmpl let-parcellation>
        
        <span>
            {{ parcellation.shortName || parcellation.name }}
        </span>
        
        <ng-template
            [ngIf]="parcellation | isVersioned : view.parcellations"
            [ngIfElse]="unVersionedParcTemplate">


            <ng-template [ngIf]="parcellation | isNewest : view.parcellations"
                [ngIfElse]="notNewestTmpl">

                <span class="sxplr-custom-cmp default muted-3"
                    matTooltip="Newest version">
                    <i class="fas fa-fire"></i>
                </span>
                
                
            </ng-template>

            <ng-template #notNewestTmpl>
                <span class="sxplr-custom-cmp default muted-3"
                    matTooltip="Newer version available">
                    <i class="fas fa-history"></i>
                </span>
            </ng-template>
        </ng-template>

        <ng-template #unVersionedParcTemplate>
        </ng-template>
    </ng-template>

    <ng-template #parcellationTmpl>
        <button mat-button
            class="top-level-selection"
            [matTooltip]="view.labels.SELECTED_DIFFERENT_PARCELLATION"
            [matMenuTriggerFor]="selectATPMenu"
            [matMenuTriggerData]="{
                current: view.selectedATP.parcellation, 
                type: 'parcellationId',
                options: view.noGroupParcs,
                groupedOptions: view.groupParcs,
                getSubMenu: getSubParcellation,
                optionTemplate: parcellationOptTmpl
            }">
            <i class="fas fa-brain"></i>
            <ng-template [ngTemplateOutlet]="parcellationOptTmpl"
                [ngTemplateOutletContext]="{
                    $implicit: view.selectedATP.parcellation
                }">

            </ng-template>
        </button>
    </ng-template>

    <ng-template #maximizeParcCardTmpl>
        <ng-template
            [ngTemplateOutlet]="maximizeBtnTmpl"
            [ngTemplateOutletContext]="{
                cardname: 'parcellation'
            }">
        </ng-template>
    </ng-template>

    <!-- selected parcellation -->
    <div *ngIf="view.selectedRegions.length === 0 && view.selectedATP.parcellation; let parcellation"
        class="vbc-card-container parcellation-container"
        (click)="!parcReveal.state && openCard('parcellation')"
        sxplr-reveal
        [reveal-state]="!view.minimizedCards.includes('parcellation')"
        #parcReveal="reveal"
        [ngClass]="{
            'vbc-hidden': !(parcReveal.state$ | async),
            'mat-elevation-z2': (parcReveal.state$ | async),
            'experimental': view.showExperimental
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Parcellation
                    
                    <span class="show-when-minimized">
                        <span>
                            :
                        </span>
                        
                        <ng-template [ngTemplateOutlet]="parcellationOptTmpl"
                            [ngTemplateOutletContext]="{
                                $implicit: view.selectedATP.parcellation
                            }">

                        </ng-template>
                    </span>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <ng-template [ngTemplateOutlet]="parcellationTmpl">
                    </ng-template>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <sxplr-sapiviews-core-rich-regionlistsearch
                        [sxplr-sapiviews-core-rich-regionlistsearch-regions]="view.allAvailableRegions"
                        (sxplr-sapiviews-core-rich-regionlistsearch-region-select)="view.labelMappedRegionNames.includes($event.name)
                            ? selectRoi($event)
                            : showHierarchyBtn.onClick({ 'searchTerm': $event.name })">

                        <ng-template region-template let-region>

                            <div class="region-list-search-row"
                                [ngClass]="{
                                    'text-muted': !view.labelMappedRegionNames.includes(region.name)
                                }">
                        
                                <span class="sxplr-m-2">
                                    <i *ngIf="view.leafRegions.includes(region)" class="fas fa-brain"></i>
                                    <i *ngIf="view.branchRegions.includes(region)" class="fas fa-code-branch"></i>
                                </span>

                                <span>
                                    {{ region.name }}
                                </span>
                            </div>

                        </ng-template>
                        <button mat-mini-fab
                            color="primary"
                            search-input-prefix
                            iav-stop="click"
                            [sxplr-dialog]="regionHierarchyTmpl"
                            sxplr-dialog-size="xl"
                            #showHierarchyBtn="sxplrDialog">
                            <i class="fas fa-sitemap"></i>
                        </button>
                    </sxplr-sapiviews-core-rich-regionlistsearch>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>
            <mat-card-actions>
                <ng-template [ngTemplateOutlet]="maximizeParcCardTmpl"></ng-template>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-icon-button
                    [sxplr-dialog]="DoiTemplate"
                    [sxplr-dialog-size]="null"
                    [sxplr-dialog-data]="{
                        title: parcellation.name,
                        desc: parcellation.desc,
                        contributors: parcellation.contributors | dedup, 
                        actions: parcellation | parcTmplDoiPipe
                    }"
                    [matTooltip]="view.labels.DETAILS">
                    <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>
                </button>

                <ng-template [ngIf]="view.parcellationVisible !== null">
                    <button mat-icon-button
                        (click)="toggleParcellationVisibility()"
                        (iav-key-event)="toggleParcellationVisibility()"
                        [iav-key-listener]="[{
                            key: 'q',
                            type: 'keydown',
                            capture: true,
                            target: 'document',
                        }]">
                        <ng-template [ngIf]="view.parcellationVisible">
                            <i class="fas fa-eye"></i>
                        </ng-template>
                        
                        <ng-template [ngIf]="!view.parcellationVisible">
                            <i class="fas fa-eye-slash"></i>
                        </ng-template>
                    </button>
                </ng-template>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- selected single region -->
    <div *ngIf="view.selectedRegions.length === 1"
        class="vbc-card-container region-container single-region-container"
        (click)="!parcReveal.state && openCard('parcellation')"
        sxplr-reveal
        [reveal-state]="!view.minimizedCards.includes('parcellation')"
        #parcReveal="reveal"
        [ngClass]="{
            'vbc-hidden': !(parcReveal.state$ | async),
            'mat-elevation-z2': (parcReveal.state$ | async),
            'experimental': view.showExperimental
        }">
        <mat-card sxplr-sapiviews-core-region
            #regionDirective="sapiViewsCoreRegion"
            (sxplr-sapiviews-core-region-navigate-to)="navigateTo($event)"
            [sxplr-sapiviews-core-region-region]="view.selectedRegions[0]"
            [sxplr-sapiviews-core-region-atlas]="view.selectedATP.atlas"
            [sxplr-sapiviews-core-region-parcellation]="view.selectedATP.parcellation"
            [sxplr-sapiviews-core-region-template]="view.selectedATP.template"
            [sxplr-sapiviews-core-region-detail-flag]="true">

            <mat-card-header>
                <mat-card-subtitle>
                    Parcellation Region
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <ng-template [ngTemplateOutlet]="parcellationTmpl">
                    </ng-template>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button
                        class="top-level-selection"
                        [matTooltip]="view.labels.REGION_HIERARCHY"
                        [sxplr-dialog]="regionHierarchyTmpl"
                        sxplr-dialog-size="xl">
                        <!-- <i class="fas fa-sitemap"></i> -->
                        <mat-icon fontIcon="account_tree"></mat-icon>
                        <span>
                            {{ view.selectedRegions[0].name }}
                        </span>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template [ngTemplateOutlet]="maximizeParcCardTmpl"></ng-template>
                <mat-divider [vertical]="true"></mat-divider>

                <mat-spinner *ngIf="regionDirective.fetchInProgress$ | async" diameter="24"></mat-spinner>

                <!-- detail info -->

                <ng-template [ngIf]="regionDirective.regionPosition$ | async" let-position>
                    <button mat-icon-button [matTooltip]="position | numbers | addUnitAndJoin : 'mm'"
                        (click)="navigateTo(position)">
                        <mat-icon fontSet="fas" fontIcon="fa-map-marker"></mat-icon>
                    </button>
                </ng-template>

                <ng-template [ngIf]="(regionDirective.desc$ | async) || ((regionDirective.dois$ | async) || []).length > 0">
                    
                    <button mat-icon-button
                        [matTooltip]="view.labels.DETAILS"
                        [sxplr-dialog]="DoiTemplate"
                        [sxplr-dialog-size]="null"
                        [sxplr-dialog-data]="{
                            title: view.selectedRegions[0].name,
                            desc: regionDirective.desc$ | async,
                            contributors: regionDirective.contributors$ | async | dedup,
                            actions: regionDirective.dois$ | async
                        }">
                        <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>
                    </button>
                </ng-template>
                <!-- related regions -->
                <ng-template [ngIf]="regionDirective.relatedRegions$ | async | dedupRelatedRegionPipe" let-relatedRegions>
                    <ng-template [ngIf]="relatedRegions.length > 0">
                        <button mat-icon-button
                            [matTooltip]="view.labels.RELATED_REGIONS"
                            [sxplr-dialog]="relatedRegionsTmpl"
                            [sxplr-dialog-data]="{
                                relatedRegions: relatedRegions,
                                region: view.selectedRegions[0]
                            }">

                            <ng-template sxplrExperimentalFlag [experimental]="true">
                            <span [matBadge]="relatedRegions.length">⚭</span>
                            </ng-template>
                            
                            <ng-template sxplrExperimentalFlag [deprecated]="true">
                            <mat-icon fontSet="far" fontIcon="fa-handshake" [matBadge]="relatedRegions.length"></mat-icon>
                            </ng-template>
                        </button>
                        
                    </ng-template>
                    

                    <ng-template #relatedRegionsTmpl>
                        <!-- header -->
                        <h2 mat-dialog-title>Related Regions</h2>

                        <!-- body -->
                        <mat-dialog-content>

                            <!-- iterate over all related -->
                            <table mat-table [dataSource]="relatedRegions">
                                
                                <ng-container matColumnDef="currentRegion">
                                    <th mat-header-cell *matHeaderCellDef> Current Region </th>
                                    <td mat-cell *matCellDef="let related"> {{ view.selectedRegions[0].name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="qualification">
                                    <th mat-header-cell *matHeaderCellDef> Qualification </th>
                                    <td mat-cell *matCellDef="let related"> {{ related.qualification | translateQualificationPipe }} </td>
                                </ng-container>

                                <ng-container matColumnDef="relatedRegion">
                                    <th mat-header-cell *matHeaderCellDef> Related Region </th>
                                    <td mat-cell *matCellDef="let related">
                                        <button tabindex="-1" mat-stroked-button
                                        (click)="selectATP('parcellationId', related.parcellation.id, related.region.name)"
                                        class="sxplr-w-100"
                                        [disabled]="!related.mapped"
                                        mat-dialog-close
                                        [matTooltip]="('Explorer ' + related.region.name + ' in ' + related.parcellation.name)">
                                        {{ related.region.name }}
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="relatedRegionParc">
                                    <th mat-header-cell *matHeaderCellDef> Related Region Parcellation </th>
                                    <td mat-cell *matCellDef="let related">
                                        <button tabindex="-1" mat-stroked-button
                                            (click)="selectATP('parcellationId', related.parcellation.id)"
                                            class="sxplr-w-100"
                                            mat-dialog-close
                                            [matTooltip]="('Explore ' + related.parcellation.name)">
                                            {{ related.parcellation.name }}
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="['currentRegion', 'qualification', 'relatedRegion', 'relatedRegionParc']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['currentRegion', 'qualification', 'relatedRegion', 'relatedRegionParc'];"></tr>
                            </table>
                        </mat-dialog-content>

                        <!-- footer -->
                        <mat-dialog-actions align="center">
                            <button mat-button mat-dialog-close>close</button>
                        </mat-dialog-actions>
                    </ng-template>
                </ng-template>

                <!-- clear selected regions -->
                <button mat-icon-button color="warn" (click)="clearRoi()"
                    [matTooltip]="view.labels.CLEAR_SELECTED_REGION">
                    <i class="fas fa-times"></i>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>

    <!-- selected multiple region -->
    <div *ngIf="view.selectedRegions.length > 1"
        class="vbc-card-container parcellation-container region-container multi-region-container"
        (click)="!parcReveal.state && openCard('parcellation')"
        sxplr-reveal
        [reveal-state]="!view.minimizedCards.includes('parcellation')"
        #parcReveal="reveal"
        [ngClass]="{
            'vbc-hidden': !(parcReveal.state$ | async),
            'mat-elevation-z2': (parcReveal.state$ | async),
            'experimental': view.showExperimental
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Parcellation Regions
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <ng-template [ngTemplateOutlet]="parcellationTmpl">
                    </ng-template>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button
                        class="top-level-selection"
                        [matTooltip]="view.labels.REGION_HIERARCHY"
                        [sxplr-dialog]="regionHierarchyTmpl"
                        sxplr-dialog-size="xl">
                        <i class="fas fa-sitemap"></i>
                        <span>
                            Multiple regions ({{ view.selectedRegions.length }})
                        </span>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template [ngTemplateOutlet]="maximizeParcCardTmpl"></ng-template>
                <mat-divider [vertical]="true"></mat-divider>

                <button mat-icon-button
                    [matTooltip]="view.labels.COPY_REGION_NAMES"
                    [iav-clipboard-copy]="view.selectedRegions | mapToProperty : 'name' | json">
                    <mat-icon fontSet="fas" fontIcon="fa-copy" matListItemIcon></mat-icon>
                </button>
                
                <button [matTooltip]="view.labels.CLEAR_SELECTED_REGION" mat-icon-button color="warn" (click)="clearRoi()">
                    <mat-icon fontSet="fas" fontIcon="fa-times"></mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>

    <!-- features -->
    <div *ngIf="!!view.selectedATP.atlas"
        class="vbc-card-container feature-container"
        (click)="!featureReveal.state && openCard('feature')"
        sxplr-reveal
        [reveal-state]="!view.minimizedCards.includes('feature')"
        #featureReveal="reveal"
        [ngClass]="{
            'vbc-hidden': !(featureReveal.state$ | async),
            'mat-elevation-z2': (featureReveal.state$ | async)
        }">
    
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    Features
                </mat-card-subtitle>
            </mat-card-header>
        
            <div sxplr-sapiviews-core-space-boundingbox
                (sxplr-sapiviews-core-space-boundingbox-changed)="voiFeatureEntryCmp?.pullAll()"
                [sxplr-sapiviews-core-space-boundingbox-atlas]="view.selectedATP.atlas"
                [sxplr-sapiviews-core-space-boundingbox-space]="view.selectedATP.template"
                [sxplr-sapiviews-core-space-boundingbox-spec]="view.currentViewport && [view.currentViewport.minpoint, view.currentViewport.maxpoint]"
                #bbox="sxplrSapiViewsCoreSpaceBoundingBox">
            </div>
            <mat-expansion-panel class="mat-elevation-z0"
                iav-switch
                #switchdir="iavSwitch">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        spatially anchored
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ voiFeatureEntryCmp.totals$ | async }}
                    </mat-panel-description>
        
                </mat-expansion-panel-header>

                <ng-template [ngIf]="!(voiFeatureEntryCmp.busy$ | async) && (voiFeatureEntryCmp.totals$ | async) === 0">
                    <span class="text-muted">
                        No spatially anchored feature found
                    </span>
                </ng-template>
                
                <ng-template [ngIf]="(voiFeatureEntryCmp.totals$ | async) > 0">
                    <div *ngIf="switchdir.switchState$ | async"
                        voiBbox
                        [features]="voiFeatureEntryCmp.features$ | async">
                    </div>
                </ng-template>
                
                <sxplr-feature-entry
                    [template]="view.selectedATP.template"
                    [bbox]="bbox.bbox$ | async | getProperty : 'bbox'"
                    [attr.data-feature-length]="((voiFeatureEntryCmp.features$ | async) || []).length"
                    #voiFeatureEntryCmp="featureEntryCmp">
                </sxplr-feature-entry>
        
            </mat-expansion-panel>
            <mat-expansion-panel class="mat-elevation-z0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        semantically anchored
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ semfeatures.totals$ | async }}
                    </mat-panel-description>
        
                </mat-expansion-panel-header>

                <ng-template [ngIf]="(semfeatures.totals$ | async) === 0">
                    <span class="text-muted">
                        No semantically anchored feature found
                    </span>
                </ng-template>
                
                <sxplr-feature-entry
                    [template]="view.selectedATP.template"
                    [parcellation]="view.selectedATP.parcellation"
                    [region]="view.selectedRegions.length === 1 ? view.selectedRegions[0] : null"
                    #semfeatures="featureEntryCmp">
                </sxplr-feature-entry>
        
            </mat-expansion-panel>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template
                    [ngTemplateOutlet]="maximizeBtnTmpl"
                    [ngTemplateOutletContext]="{
                        cardname: 'feature'
                    }">
                </ng-template>
                <mat-divider [vertical]="true" [inset]="false"></mat-divider>
                <button mat-icon-button
                    [color]="(switchdir.switchState$ | async) ? 'accent' : 'default'"
                    (click)="switchdir.toggle()"
                    matTooltip="Toggle 3D positions.">
                    <i [class]="(switchdir.switchState$ | async) ? 'fas fa-lightbulb' : 'far fa-lightbulb'"></i>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <ng-template #regionHierarchyTmpl let-data>

        <sxplr-sapiviews-core-rich-regionshierarchy
            class="sxplr-w-100 sxplr-flex-var"
            [sxplr-sapiviews-core-rich-regionshierarchy-searchstring]="data.searchTerm || ''"
            [sxplr-sapiviews-core-rich-regionshierarchy-regions]="view.allAvailableRegions"
            [sxplr-sapiviews-core-rich-regionshierarchy-label-mapped-region-names]="view.labelMappedRegionNames"
            [sxplr-sapiviews-core-rich-regionshierarchy-accent-regions]="view.selectedRegions"
            (sxplr-sapiviews-core-rich-regionshierarchy-region-select)="selectRoi($event)"
            (sxplr-sapiviews-core-rich-regionshierarchy-region-toggle)="toggleRoi($event)"
            >
        </sxplr-sapiviews-core-rich-regionshierarchy>

        <mat-card-actions>
            <button mat-button mat-dialog-close>close</button>
        </mat-card-actions>
    </ng-template>

    <ng-template #maximizeBtnTmpl let-cardname="cardname">
        <button mat-icon-button (click)="minimizeCard(cardname)"
            iav-stop="click"
            [matTooltip]="view.labels.MINIMIZE_PANEL">
            <mat-icon fontSet="fas" fontIcon="fa-compress"></mat-icon>
        </button>
    </ng-template>

</ng-template>

<mat-menu #selectATPMenu="matMenu">
    <ng-template matMenuContent
        let-current="current"
        let-options="options"
        let-groupedOptions="groupedOptions"
        let-type="type"
        let-getSubMenu="getSubMenu"
        let-optionTemplate="optionTemplate">

        <button *ngFor="let opt of (groupedOptions || [])"
            mat-menu-item
            class="menu-button"
            [matMenuTriggerFor]="selectATPSubMenu"
            [matMenuTriggerData]="{
                current: current, 
                type: type,
                options: getSubMenu(opt),
                optionTemplate: optionTemplate
            }">
            <mat-icon fontSet="far" [fontIcon]="(opt | parcellationGroupSelected : current) ? 'fa-circle' : 'fa-none'"></mat-icon>
            
            <ng-template [ngIf]="optionTemplate" [ngIfElse]="defaultOptionTemplate">
                <ng-template
                    [ngTemplateOutlet]="optionTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: opt
                    }">
                </ng-template>
            </ng-template>

            <ng-template #defaultOptionTemplate>
                <span>
                    {{ opt.name }}
                </span>
            </ng-template>
        </button>

        <button *ngFor="let opt of options"
            mat-menu-item
            (click)="selectATP(type, opt.id)"
            class="menu-button">
            <mat-icon fontSet="fas" [fontIcon]="opt.id === current.id ? 'fa-circle' : 'fa-none'"></mat-icon>
            
            <ng-template [ngIf]="optionTemplate" [ngIfElse]="defaultOptionTemplate">
                <ng-template
                    [ngTemplateOutlet]="optionTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: opt
                    }">
                </ng-template>
            </ng-template>
            
            <ng-template #defaultOptionTemplate>
                <span>
                    {{ opt.shortName || opt.name }}
                </span>
            </ng-template>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #selectATPSubMenu="matMenu">
    <ng-template matMenuContent
        let-current="current"
        let-options="options"
        let-type="type"
        let-optionTemplate="optionTemplate">

        <button *ngFor="let opt of options"
            mat-menu-item
            (click)="selectATP(type, opt.id)"
            class="menu-button">

            <mat-icon fontSet="fas" [fontIcon]="opt.id === current.id ? 'fa-circle' : 'fa-none'"></mat-icon>

            
            <ng-template [ngIf]="optionTemplate" [ngIfElse]="defaultOptionTemplate">
                <ng-template
                    [ngTemplateOutlet]="optionTemplate"
                    [ngTemplateOutletContext]="{
                        $implicit: opt
                    }">
                </ng-template>
            </ng-template>
            
            <ng-template #defaultOptionTemplate>
                <span>
                    {{ opt.shortName || opt.name }}
                </span>
            </ng-template>
        </button>
    </ng-template>
</mat-menu>

<ng-template #editPointTmpl>
    <form [formGroup]="dialogForm" cdkTrapFocus
        (paste)="onPaste($event)">
        <h1 mat-dialog-title>
            Navigation Coordinate
        </h1>
        <div mat-dialog-content>
            <ng-template ngFor [ngForOf]="['x', 'y', 'z']" let-pos>
    
            <mat-form-field>
                <mat-label>{{ pos }} (mm)</mat-label>
                <input type="text" matInput [formControlName]="pos">
            </mat-form-field>
            </ng-template>
        </div>

        <div mat-dialog-actions align="end">
            
            <ng-template [ngIf]="dialogInputState$ | async" let-state>

                <button mat-raised-button color="primary"
                    type="submit"
                    (click)="selectPoint(state.valueNm)"
                    [disabled]="!state.validated"
                    mat-dialog-close
                    #selectPtBtn>
                    select point
                </button>
            
            </ng-template>
            <button mat-button mat-dialog-close>
                cancel
            </button>
        </div>
    </form>
</ng-template>
