<ng-template [ngIf]="view$ | async" let-view>

    <!-- selected atlas -->
    <div *ngIf="view.selectedATP.atlas; let atlas" class="vbc-card-container"
        (click)="!atlasReveal.state && openCard('atlas')"
        sxplr-reveal
        [reveal-state]="view.openedCardNames.length == 0 || view.openedCardNames.includes('atlas')"
        #atlasReveal="reveal"
        [ngClass]="{
            'sxplr-hidden': !(atlasReveal.state$ | async)
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    <button mat-button
                        [matTooltip]="view.labels.SELECTED_DIFFERENT_ATLAS"
                        [matMenuTriggerFor]="selectATPMenu"
                        [matMenuTriggerData]="{
                            current: atlas, 
                            type: 'atlasId',
                            options: view.atlases
                        }">
                        <i class="fas fa-dna"></i>
                        <span>
                            {{ atlas.name }}
                        </span>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>
            
            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template
                    [ngTemplateOutlet]="maximizeBtnTmpl"
                    [ngTemplateOutletContext]="{
                        cardname: 'atlas'
                    }">
                </ng-template>
                <mat-divider [vertical]="true" [inset]="false"></mat-divider>
                <button sxplr-share-view mat-icon-button>
                    <i class="fas fa-share"></i>
                </button>
                <button mat-icon-button sxplrAtlasDownload #dl="atlasDlDct"
                    [disabled]="dl.busy$ | async">
                    
                    <ng-template [ngIf]="dl.busy$ | async" [ngIfElse]="notBusyDlTmpl">
                        <i class="fas fa-spinner spinning"></i>
                    </ng-template>
                    <ng-template #notBusyDlTmpl>
                        <i class="fas fa-download"></i>
                    </ng-template>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <!-- selected template -->
    <div *ngIf="view.selectedATP.template; let template" class="vbc-card-container"
        (click)="!tmplReveal.state && openCard('template')"
        sxplr-reveal
        [reveal-state]="view.openedCardNames.length == 0 || view.openedCardNames.includes('template')"
        #tmplReveal="reveal"
        [ngClass]="{
            'sxplr-hidden': !(tmplReveal.state$ | async)
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    <button mat-button
                        [matTooltip]="view.labels.SELECTED_DIFFERENT_TEMPLATE"
                        [matMenuTriggerFor]="selectATPMenu"
                        [matMenuTriggerData]="{
                            current: template, 
                            type: 'templateId',
                            options: view.templates
                        }">
                        <i class="fas fa-globe"></i>
                        <span>
                            {{ template.shortName }}
                        </span>
                    </button>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button [sxplr-dialog]="editPointTmpl"
                        [matTooltip]="view.labels.NAVIGATION_CONTROL">
                        <mat-icon fontSet="fas" fontIcon="fa-edit"></mat-icon>
                        <div *ngIf="view.currentViewport && view.currentViewport.minpoint && view.currentViewport.maxpoint">
                            <span>
                                ({{ view.currentViewport.minpoint | numbers : 0 | addUnitAndJoin : '' : ', ' }})
                            </span>
                            <span>
                                to
                            </span>
                            <span>
                                ({{ view.currentViewport.maxpoint | numbers : 0 | addUnitAndJoin : '' : ', ' }})
                            </span>
                            <span>
                                mm
                            </span>
                        </div>
                    </button>
                    
                </mat-card-subtitle>
            </mat-card-header>
            
            <ng-template sxplrExperimentalFlag [deprecated]="true">
            <div sxplr-sapiviews-core-space-boundingbox
                (sxplr-sapiviews-core-space-boundingbox-changed)="voiFeatureEntryCmp?.pullAll()"
                [sxplr-sapiviews-core-space-boundingbox-atlas]="view.selectedATP.atlas"
                [sxplr-sapiviews-core-space-boundingbox-space]="view.selectedATP.template"
                [sxplr-sapiviews-core-space-boundingbox-spec]="view.currentViewport && [view.currentViewport.minpoint, view.currentViewport.maxpoint]"
                #bbox="sxplrSapiViewsCoreSpaceBoundingBox">
            </div>
            <sxplr-feature-entry
                [template]="view.selectedATP.template"
                [bbox]="bbox.bbox$ | async | getProperty : 'bbox'"
                [attr.data-feature-length]="((voiFeatureEntryCmp.features$ | async) || []).length"
                #voiFeatureEntryCmp="featureEntryCmp">
            </sxplr-feature-entry>

            </ng-template>

            <ng-template sxplrExperimentalFlag [experimental]="true">
            <div sxplr-sapiviews-core-space-boundingbox
                (sxplr-sapiviews-core-space-boundingbox-changed)="voiFeatureEntryCmp?.pullAll()"
                [sxplr-sapiviews-core-space-boundingbox-atlas]="view.selectedATP.atlas"
                [sxplr-sapiviews-core-space-boundingbox-space]="view.selectedATP.template"
                [sxplr-sapiviews-core-space-boundingbox-spec]="view.currentViewport && [view.currentViewport.minpoint, view.currentViewport.maxpoint]"
                #bbox="sxplrSapiViewsCoreSpaceBoundingBox">
            </div>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Features
                    </mat-panel-title>
                    <mat-panel-description>
                        {{ voiFeatureEntryCmp.totals$ | async }}
                    </mat-panel-description>

                </mat-expansion-panel-header>
                
                <sxplr-feature-entry
                    [template]="view.selectedATP.template"
                    [bbox]="bbox.bbox$ | async | getProperty : 'bbox'"
                    [attr.data-feature-length]="((voiFeatureEntryCmp.features$ | async) || []).length"
                    #voiFeatureEntryCmp="featureEntryCmp">
                </sxplr-feature-entry>

            </mat-expansion-panel>
            </ng-template>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template
                    [ngTemplateOutlet]="maximizeBtnTmpl"
                    [ngTemplateOutletContext]="{
                        cardname: 'template'
                    }">
                </ng-template>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-icon-button
                    [matTooltip]="view.labels.DETAILS"
                    sxplr-dialog
                    [sxplr-dialog-size]="null"
                    [sxplr-dialog-data]="{
                        title: template.name,
                        descMd: template.desc,
                        actions: template | parcTmplDoiPipe
                    }">
                    <i class="fas fa-info"></i>
                </button>
                <button
                    [matTooltip]="view.labels.RESET_TRANSLATION"
                    color="warn"
                    mat-icon-button
                    (click)="resetNavigation({ position: true })">
                    <i class="iavic iavic-translation"></i>
                </button>
                <button
                    [matTooltip]="view.labels.RESET_ROTATION"
                    color="warn"
                    mat-icon-button
                    (click)="resetNavigation({ rotation: true })">
                    <i class="iavic iavic-rotation"></i>
                </button>
                <button
                    [matTooltip]="view.labels.RESET_ZOOM"
                    color="warn"
                    mat-icon-button
                    (click)="resetNavigation({ zoom: true })">
                    <i class="iavic iavic-scaling"></i>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- common template for parcellation/single region/multi region -->
    <ng-template #parcellationTmpl>
        <button mat-button
            [matTooltip]="view.labels.SELECTED_DIFFERENT_PARCELLATION"
            [matMenuTriggerFor]="selectATPMenu"
            [matMenuTriggerData]="{
                current: view.selectedATP.parcellation, 
                type: 'parcellationId',
                options: view.noGroupParcs,
                groupedOptions: view.groupParcs,
                getSubMenu: getSubParcellation
            }">
            <i class="fas fa-brain"></i>
            <span>
                {{ view.selectedATP.parcellation.shortName }}
            </span>
        </button>
    </ng-template>

    <ng-template #maximizeParcCardTmpl>
        <ng-template
            [ngTemplateOutlet]="maximizeBtnTmpl"
            [ngTemplateOutletContext]="{
                cardname: 'parcellation'
            }">
        </ng-template>
    </ng-template>

    <!-- selected parcellation -->
    <div *ngIf="view.selectedRegions.length === 0 && view.selectedATP.parcellation; let parcellation"
        class="vbc-card-container"
        (click)="!parcReveal.state && openCard('parcellation')"
        sxplr-reveal
        [reveal-state]="view.openedCardNames.length == 0 || view.openedCardNames.includes('parcellation')"
        #parcReveal="reveal"
        [ngClass]="{
            'sxplr-hidden': !(parcReveal.state$ | async)
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    <ng-template [ngTemplateOutlet]="parcellationTmpl">
                    </ng-template>
                </mat-card-subtitle>

            </mat-card-header>

            <mat-divider></mat-divider>
            <mat-card-actions>
                <ng-template [ngTemplateOutlet]="maximizeParcCardTmpl"></ng-template>
                <mat-divider [vertical]="true"></mat-divider>
                <button mat-icon-button
                    sxplr-dialog
                    [sxplr-dialog-size]="null"
                    [sxplr-dialog-data]="{
                        title: parcellation.name,
                        descMd: parcellation.desc,
                        actions: parcellation | parcTmplDoiPipe
                    }"
                    [matTooltip]="view.labels.DETAILS">
                    <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>
                </button>
                <button mat-icon-button
                    [matTooltip]="view.labels.REGION_HIERARCHY"
                    [sxplr-dialog]="regionHierarchyTmpl"
                    sxplr-dialog-size="xl">
                    <i class="fas fa-sitemap"></i>
                </button>

            </mat-card-actions>
        </mat-card>
    </div>

    <!-- selected single region -->
    <div *ngIf="view.selectedRegions.length === 1"
        class="vbc-card-container"
        (click)="!parcReveal.state && openCard('parcellation')"
        sxplr-reveal
        [reveal-state]="view.openedCardNames.length == 0 || view.openedCardNames.includes('parcellation')"
        #parcReveal="reveal"
        [ngClass]="{
            'sxplr-hidden': !(parcReveal.state$ | async)
        }">
        <mat-card sxplr-sapiviews-core-region
            #regionDirective="sapiViewsCoreRegion"
            (sxplr-sapiviews-core-region-navigate-to)="navigateTo($event)"
            [sxplr-sapiviews-core-region-region]="view.selectedRegions[0]"
            [sxplr-sapiviews-core-region-atlas]="view.selectedATP.atlas"
            [sxplr-sapiviews-core-region-parcellation]="view.selectedATP.parcellation"
            [sxplr-sapiviews-core-region-template]="view.selectedATP.template"
            [sxplr-sapiviews-core-region-detail-flag]="true">
            <mat-card-header>
                <mat-card-subtitle>
                    <ng-template [ngTemplateOutlet]="parcellationTmpl">
                    </ng-template>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button
                        [matTooltip]="view.labels.REGION_HIERARCHY"
                        [sxplr-dialog]="regionHierarchyTmpl"
                        sxplr-dialog-size="xl">
                        <i class="fas fa-sitemap"></i>
                        <span>
                            {{ view.selectedRegions[0].name }}
                        </span>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>

            <sxplr-feature-entry
                [template]="view.selectedATP.template"
                [parcellation]="view.selectedATP.parcellation"
                [region]="view.selectedRegions[0]"
                #featureEntryCmp="featureEntryCmp">
            </sxplr-feature-entry>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template [ngTemplateOutlet]="maximizeParcCardTmpl"></ng-template>
                <mat-divider [vertical]="true"></mat-divider>

                <mat-spinner *ngIf="regionDirective.fetchInProgress$ | async" diameter="24"></mat-spinner>

                <!-- detail info -->

                <ng-template [ngIf]="regionDirective.regionPosition$ | async" let-position>
                    <button mat-icon-button [matTooltip]="position | numbers | addUnitAndJoin : 'mm'"
                        (click)="navigateTo(position)">
                        <mat-icon fontSet="fas" fontIcon="fa-map-marker"></mat-icon>
                    </button>
                </ng-template>

                <ng-template [ngIf]="(regionDirective.desc$ | async) || ((regionDirective.dois$ | async) || []).length > 0">
                    
                    <button mat-icon-button
                        [matTooltip]="view.labels.DETAILS"
                        sxplr-dialog
                        [sxplr-dialog-size]="null"
                        [sxplr-dialog-data]="{
                            title: view.selectedRegions[0].name,
                            descMd: regionDirective.desc$ | async,
                            actions: regionDirective.dois$ | async
                        }">
                        <mat-icon fontSet="fas" fontIcon="fa-info"></mat-icon>
                    </button>
                </ng-template>
                <!-- related regions -->
                <ng-template [ngIf]="regionDirective.relatedRegions$ | async | dedupRelatedRegionPipe" let-relatedRegions>
                    <ng-template [ngIf]="relatedRegions.length > 0">
                        <button mat-icon-button
                            [matTooltip]="view.labels.RELATED_REGIONS"
                            [sxplr-dialog]="relatedRegionsTmpl"
                            [sxplr-dialog-data]="{
                                relatedRegions: relatedRegions,
                                region: view.selectedRegions[0]
                            }">
                            <mat-icon fontSet="far" fontIcon="fa-handshake" [matBadge]="relatedRegions.length"></mat-icon>
                        </button>
                        
                    </ng-template>
                    

                    <ng-template #relatedRegionsTmpl>
                        <!-- header -->
                        <h2 mat-dialog-title>Related Regions</h2>

                        <!-- body -->
                        <mat-dialog-content>

                            <!-- iterate over all related -->
                            <table mat-table [dataSource]="relatedRegions">
                                
                                <ng-container matColumnDef="currentRegion">
                                    <th mat-header-cell *matHeaderCellDef> Current Region </th>
                                    <td mat-cell *matCellDef="let related"> {{ view.selectedRegions[0].name }} </td>
                                </ng-container>

                                <ng-container matColumnDef="qualification">
                                    <th mat-header-cell *matHeaderCellDef> Qualification </th>
                                    <td mat-cell *matCellDef="let related"> {{ related.qualification | translateQualificationPipe }} </td>
                                </ng-container>

                                <ng-container matColumnDef="relatedRegion">
                                    <th mat-header-cell *matHeaderCellDef> Related Region </th>
                                    <td mat-cell *matCellDef="let related">
                                        <button tabindex="-1" mat-stroked-button
                                        (click)="selectATP('parcellationId', related.parcellation.id, related.region.name)"
                                        class="sxplr-w-100"
                                        [disabled]="!related.mapped"
                                        mat-dialog-close
                                        [matTooltip]="('Explorer ' + related.region.name + ' in ' + related.parcellation.name)">
                                        {{ related.region.name }}
                                        </button>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="relatedRegionParc">
                                    <th mat-header-cell *matHeaderCellDef> Related Region Parcellation </th>
                                    <td mat-cell *matCellDef="let related">
                                        <button tabindex="-1" mat-stroked-button
                                            (click)="selectATP('parcellationId', related.parcellation.id)"
                                            class="sxplr-w-100"
                                            mat-dialog-close
                                            [matTooltip]="('Explore ' + related.parcellation.name)">
                                            {{ related.parcellation.name }}
                                        </button>
                                    </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="['currentRegion', 'qualification', 'relatedRegion', 'relatedRegionParc']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['currentRegion', 'qualification', 'relatedRegion', 'relatedRegionParc'];"></tr>
                            </table>
                        </mat-dialog-content>

                        <!-- footer -->
                        <mat-dialog-actions align="center">
                            <button mat-button mat-dialog-close>close</button>
                        </mat-dialog-actions>
                    </ng-template>
                </ng-template>

                <!-- clear selected regions -->
                <button mat-icon-button color="warn" (click)="clearRoi()"
                    [matTooltip]="view.labels.CLEAR_SELECTED_REGION">
                    <i class="fas fa-trash"></i>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>

    <!-- selected multiple region -->
    <div *ngIf="view.selectedRegions.length > 1"
        class="vbc-card-container"
        (click)="!parcReveal.state && openCard('parcellation')"
        sxplr-reveal
        [reveal-state]="view.openedCardNames.length == 0 || view.openedCardNames.includes('parcellation')"
        #parcReveal="reveal"
        [ngClass]="{
            'sxplr-hidden': !(parcReveal.state$ | async)
        }">
        <mat-card>
            <mat-card-header>
                <mat-card-subtitle>
                    <ng-template [ngTemplateOutlet]="parcellationTmpl">
                    </ng-template>
                </mat-card-subtitle>
                <mat-card-subtitle>
                    <button mat-button
                        [matTooltip]="view.labels.REGION_HIERARCHY"
                        [sxplr-dialog]="regionHierarchyTmpl"
                        sxplr-dialog-size="xl">
                        <i class="fas fa-sitemap"></i>
                        <span>
                            Multiple regions ({{ view.selectedRegions.length }})
                        </span>
                    </button>
                </mat-card-subtitle>
            </mat-card-header>

            <mat-divider></mat-divider>

            <mat-card-actions>
                <ng-template [ngTemplateOutlet]="maximizeParcCardTmpl"></ng-template>
                <mat-divider [vertical]="true"></mat-divider>

                <button mat-icon-button
                    [matTooltip]="view.labels.COPY_REGION_NAMES"
                    [iav-clipboard-copy]="view.selectedRegions | mapToProperty : 'name' | json">
                    <mat-icon fontSet="fas" fontIcon="fa-copy" matListItemIcon></mat-icon>
                </button>
                
                <button [matTooltip]="view.labels.CLEAR_SELECTED_REGION" mat-icon-button color="warn" (click)="clearRoi()">
                    <mat-icon fontSet="fas" fontIcon="fa-trash"></mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>

    </div>

    <ng-template #regionHierarchyTmpl>
        <sxplr-sapiviews-core-rich-regionshierarchy
            class="sxplr-w-100 sxplr-flex-var"
            [sxplr-sapiviews-core-rich-regionshierarchy-regions]="view.allAvailableRegions"
            [sxplr-sapiviews-core-rich-regionshierarchy-label-mapped-region-names]="view.labelMappedRegionNames"
            [sxplr-sapiviews-core-rich-regionshierarchy-accent-regions]="view.selectedRegions"
            (sxplr-sapiviews-core-rich-regionshierarchy-region-select)="selectRoi($event)"
            (sxplr-sapiviews-core-rich-regionshierarchy-region-toggle)="toggleRoi($event)"
            >
        </sxplr-sapiviews-core-rich-regionshierarchy>
    </ng-template>

    
    <ng-template #maximizeBtnTmpl let-cardname="cardname">
        <button mat-icon-button (click)="focusCard(cardname)"
            iav-stop="click"
            [matTooltip]="view.labels.MAXIMIZE_PANEL">
            <mat-icon fontSet="fas" fontIcon="fa-expand"></mat-icon>
        </button>
    </ng-template>

</ng-template>

<mat-menu #selectATPMenu="matMenu">
    <ng-template matMenuContent
        let-current="current"
        let-options="options"
        let-groupedOptions="groupedOptions"
        let-type="type"
        let-getSubMenu="getSubMenu">

        <button *ngFor="let opt of (groupedOptions || [])"
            mat-menu-item
            class="menu-button"
            [matMenuTriggerFor]="selectATPSubMenu"
            [matMenuTriggerData]="{
                current: current, 
                type: type,
                options: getSubMenu(opt)
            }">
            <mat-icon fontSet="far" [fontIcon]="(opt | parcellationGroupSelected : current) ? 'fa-circle' : 'fa-none'"></mat-icon>
            
            <span>
                {{ opt.name }}
            </span>
        </button>

        <button *ngFor="let opt of options"
            mat-menu-item
            (click)="selectATP(type, opt.id)"
            class="menu-button">
            <mat-icon fontSet="fas" [fontIcon]="opt.id === current.id ? 'fa-circle' : 'fa-none'"></mat-icon>
            <span>
                {{ opt.shortName || opt.name }}
            </span>
        </button>
    </ng-template>
</mat-menu>

<mat-menu #selectATPSubMenu="matMenu">
    <ng-template matMenuContent
        let-current="current"
        let-options="options"
        let-type="type">

        <button *ngFor="let opt of options"
            mat-menu-item
            (click)="selectATP(type, opt.id)"
            class="menu-button">

            <mat-icon fontSet="fas" [fontIcon]="opt.id === current.id ? 'fa-circle' : 'fa-none'"></mat-icon>
            <span>
                {{ opt.shortName || opt.name }}
            </span>
        </button>
    </ng-template>
</mat-menu>

<ng-template #editPointTmpl>
    <form [formGroup]="dialogForm" cdkTrapFocus
        (paste)="onPaste($event)">
        <h1 mat-dialog-title>
            Navigation Coordinate
        </h1>
        <div mat-dialog-content>
            <ng-template ngFor [ngForOf]="['x', 'y', 'z']" let-pos>
    
            <mat-form-field>
                <mat-label>{{ pos }} (mm)</mat-label>
                <input type="text" matInput [formControlName]="pos">
            </mat-form-field>
            </ng-template>
        </div>
    
        <div mat-dialog-actions align="end">
            
            <ng-template [ngIf]="dialogInputState$ | async" let-state>
    
                <button mat-raised-button color="primary"
                    (click)="selectPoint(state.valueNm)"
                    [disabled]="!state.validated"
                    mat-dialog-close>
                    select point
                </button>
            
            </ng-template>
            <button mat-button mat-dialog-close>
                cancel
            </button>
        </div>
    </form>
</ng-template>
