div.vbc-card-container.sxplr-hidden
{
    &::before
    {
        background: linear-gradient(
            to bottom,
            rgba(200, 200, 200, 0) 0%,
            rgba(200, 200, 200, 0.2) 20%,
            rgba(200, 200, 200, 1.0) 100%
        );
    }
}
:host-context([darktheme="true"])
{
    div.vbc-card-container.sxplr-hidden
    {
        &::before
        {
            background: linear-gradient(
                to bottom,
                rgba(40, 40, 40, 0) 0%,
                rgba(40, 40, 40, 0.05) 5%,
                rgba(40, 40, 40, 1.0) 100%
            );
        }
    }
}

div.vbc-card-container
{
    overflow-y: hidden; 
    margin: 0.2rem 0.4rem;

    &:not(.sxplr-hidden)
    {
        .show-when-minimized
        {
            display: none;
        }
    }

    &.sxplr-hidden
    {
        opacity: 0.8;
        position: relative;

        &::before
        {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 9;
        }

        > *
        {
            pointer-events: none;
        }

        &:hover
        {
            opacity: 1.0;
        }
    }

    
    mat-card
    {
        mat-card-header
        {
            ::ng-deep > div
            {
                width: 100%;
            }

            mat-card-title
            {
                overflow: hidden;

                display: inline-flex;
                width: 100%;
                align-items: baseline;

                div
                {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex: 1 1 auto;
                }
                button
                {
                    flex: 0 0 auto;
                }
            }
        }

        mat-card-actions:has(mat-divider)
        {
            align-items: stretch;
        }
    }

}

.menu-button
{
    display: flex;
    align-items: center;

    > mat-icon
    {
        flex: 0 0 auto;
    }
    span
    {
        flex: 1 1 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

sxplr-sapiviews-core-rich-regionshierarchy
{
    height: 100%;
    padding: 0 0 0.4rem 0;
}


table[mat-table] *
{
  white-space: nowrap;
  text-overflow: ellipsis;
}

button[mat-button]
{
    text-wrap: nowrap;
    overflow: hidden;
    justify-content: start;
    width: 100%;

    & > mat-icon
    {
        flex: 0 0 auto;
    }
}