:host
{
    --vbc-overlay-begin-opacity: 0;
    --vbc-overlay-mid-opacity: 0;
    --vbc-overlay-final-opacity: 0;
}

.vbc-row
{
    display: flex;
    align-items: center;

    &> .vbc-row-fixed
    {
        flex: 0 0 auto;
    }
    &> *
    {
        flex: 1 1 0px;
    }
}


.list-hover-icon-container
{
    height: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    transform: translateY(-2rem);
}

div.vbc-card-container.vbc-hidden
{
    &::before
    {
        background: linear-gradient(
            to bottom,
            rgba(200, 200, 200, var(--vbc-overlay-begin-opacity)) 0%,
            rgba(200, 200, 200, var(--vbc-overlay-mid-opacity)) 20%,
            rgba(200, 200, 200, var(--vbc-overlay-final-opacity)) 100%
        );
    }
}
:host-context([darktheme="true"])
{
    div.vbc-card-container.vbc-hidden
    {
        &::before
        {
            background: linear-gradient(
                to bottom,
                rgba(40, 40, 40, var(--vbc-overlay-begin-opacity)) 0%,
                rgba(40, 40, 40, var(--vbc-overlay-mid-opacity)) 5%,
                rgba(40, 40, 40, var(--vbc-overlay-final-opacity)) 100%
            );
        }
    }
}

div.vbc-card-container
{
    overflow-y: hidden; 
    margin: 0.2rem 0.4rem;

    &:not(.vbc-hidden)
    {
        .show-when-minimized
        {
            display: none;
        }
    }

    &.vbc-hidden
    {
        opacity: 1;
        position: relative;
        overflow: hidden;

        &::before
        {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 9;

            pointer-events: none;
        }

        mat-card-subtitle:first-child
        {
            margin-bottom: 1rem;
        }
        

        &:hover
        {
            opacity: 1.0;
        }
    }

    
    mat-card
    {
        mat-card-header
        {
            ::ng-deep > div
            {
                width: 100%;
            }

            mat-card-title
            {
                overflow: hidden;

                display: inline-flex;
                width: 100%;
                align-items: baseline;

                div
                {
                    text-overflow: ellipsis;
                    overflow: hidden;
                    flex: 1 1 auto;
                }
                button
                {
                    flex: 0 0 auto;
                }
            }
        }

        mat-card-actions:has(mat-divider)
        {
            align-items: stretch;
            overflow-x: auto;
            overflow-y: visible;
        }
    }

}

.menu-button
{
    display: flex;
    align-items: center;

    > mat-icon
    {
        flex: 0 0 auto;
    }
    ::ng-deep span
    {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

sxplr-sapiviews-core-rich-regionshierarchy
{
    height: calc(100% - 52px);
    padding: 0 0 0.4rem 0;
}


table[mat-table] *
{
  white-space: nowrap;
  text-overflow: ellipsis;
}

button.top-level-selection
{
    text-wrap: nowrap;
    overflow: hidden;
    justify-content: start;
    width: 100%;

    & > mat-icon
    {
        flex: 0 0 auto;
    }
}

*:has(>.update-parcellation-container)
{
    position: relative;

    >.update-parcellation-container
    {
        position: absolute;
        z-index: 1;
        top: 50%;
        right: 0;
        width: 0px;
        height: 0px;
        overflow: visible;

        display: flex;
        justify-content: end;
        align-items: center;
    }
}

.region-list-search-row
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.action-v-center
{
    margin-top: auto;
    margin-bottom: auto;
}

.whatshot-container
{
    width: 0px;
    max-height: 100px;
    display: inline-flex;

    align-items: center;
    justify-content: center;
}

.small-icon
{
    font-size: 90%;
    position: absolute;
}

mat-accordion
{
    mat-expansion-panel
    {
        mat-panel-title,
        mat-panel-description
        {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        mat-panel-title.category-title
        {
            opacity: 0.5;
            font-size: 85%;
            // TODO if a button exist in the same row as title, margin-top auto messes up the
            // layout. Fix then uncomment
            // margin-top: auto;
        }
    }
}

.title-1-container
{
    display: flex;
    align-items: center;

    h4,h5
    {
        flex: 1 1 0;
    }
    mat-icon
    {
        flex: 0 0 auto;
    }
}

.title-2-container
{
    display: flex;
    flex-direction: column;
}


.disabled-button-container
{
    height: 48px;
}

.fit-to-panel
{
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -16px;

    & > .add-margin
    {
        margin-left: 24px;
        margin-right: 24px;
    }
}

.progressbar-container
{
    overflow: visible;
    display: block;
    height: 0px;
    width: 100%;
    position: relative;

    *
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
}

mat-dialog-content.vbc-dialog-content
{
    display: flex;
    flex-direction: column;
    height: 65vh;
    & > *
    {
        flex: 0 0 0;
    }
    & > sxplr-dumb-feature-list
    {
        flex: 1 1 0;
    }
}

.hoverable.mat-elevation-z1
{
    background-color: rgba(100,100,100,0.2);
    margin-bottom: 1rem;
}

mat-divider.panel-divider
{
    margin: 2rem -4rem 0.5rem -4rem;
    &:first-child
    {
        margin-top: 0;
    }
}

.tab-content-wrapper
{
    mat-card
    {
        margin: 0.5rem 0;
        overflow-x: hidden;
    }
    .hoverable.mat-elevation-z1
    {
        margin-bottom: 0;
    }
}

mat-accordion.panel-accordion
{
    margin: 0 -2rem;
    display: block;
}