<ng-container [ngSwitch]="useLayout">
  <layout-four-panel
    *ngSwitchCase="panelModes.FOUR_PANEL"
    class="d-block sxplr-w-100 sxplr-h-100">
    <ng-container cell-i>
      <ng-content *ngTemplateOutlet="celli"></ng-content>
    </ng-container>
    <ng-container cell-ii>
      <ng-content *ngTemplateOutlet="cellii"></ng-content>
    </ng-container>
    <ng-container cell-iii>
      <ng-content *ngTemplateOutlet="celliii"></ng-content>
    </ng-container>
    <ng-container cell-iv>
      <ng-content *ngTemplateOutlet="celliv"></ng-content>
    </ng-container>
  </layout-four-panel>
  <layout-horizontal-one-three
    *ngSwitchCase="panelModes.H_ONE_THREE"
    class="d-block sxplr-w-100 sxplr-h-100">
    <ng-container cell-i>
      <ng-content *ngTemplateOutlet="celli"></ng-content>
    </ng-container>
    <ng-container cell-ii>
      <ng-content *ngTemplateOutlet="cellii"></ng-content>
    </ng-container>
    <ng-container cell-iii>
      <ng-content *ngTemplateOutlet="celliii"></ng-content>
    </ng-container>
    <ng-container cell-iv>
      <ng-content *ngTemplateOutlet="celliv"></ng-content>
    </ng-container>
  </layout-horizontal-one-three>
  <layout-vertical-one-three
    *ngSwitchCase="panelModes.V_ONE_THREE"
    class="d-block sxplr-w-100 sxplr-h-100">
    <ng-container cell-i>
      <ng-content *ngTemplateOutlet="celli"></ng-content>
    </ng-container>
    <ng-container cell-ii>
      <ng-content *ngTemplateOutlet="cellii"></ng-content>
    </ng-container>
    <ng-container cell-iii>
      <ng-content *ngTemplateOutlet="celliii"></ng-content>
    </ng-container>
    <ng-container cell-iv>
      <ng-content *ngTemplateOutlet="celliv"></ng-content>
    </ng-container>
  </layout-vertical-one-three>
  <layout-single-panel
    *ngSwitchCase="panelModes.SINGLE_PANEL"
    class="d-block sxplr-w-100 sxplr-h-100">
    <ng-container cell-i>
      <ng-content *ngTemplateOutlet="celli"></ng-content>
    </ng-container>
    <ng-container cell-ii>
      <ng-content *ngTemplateOutlet="cellii"></ng-content>
    </ng-container>
    <ng-container cell-iii>
      <ng-content *ngTemplateOutlet="celliii"></ng-content>
    </ng-container>
    <ng-container cell-iv>
      <ng-content *ngTemplateOutlet="celliv"></ng-content>
    </ng-container>
  </layout-single-panel>
  <div *ngSwitchDefault>
    A panel mode which I have never seen before ... {{ useLayout }}
  </div>
</ng-container>

<ng-template #celli>
  <ng-content select="[cell-i]"></ng-content>
</ng-template>
<ng-template #cellii>
  <ng-content select="[cell-ii]"></ng-content>
</ng-template>
<ng-template #celliii>
  <ng-content select="[cell-iii]"></ng-content>
</ng-template>
<ng-template #celliv>
  <ng-content select="[cell-iv]"></ng-content>
</ng-template>