:host > *
{
  flex: 0 0 0;
  margin-right: 0.4em;
  display:inline-block;
}

.loginPopover
{
  width: 0;
  overflow: visible;
  display:flex;
  flex-direction: column;

  align-items: flex-end;
}

:host > dropdown-component
{
  min-width: 10em;
  flex: 1 0 auto;
}

region-hierarchy,
dropdown-component
{
  font-size:80%;

}

.whenMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
}

.whenNotMobile {
  display: flex;
}

.login-icon {
  height: 28px;
  margin: 0 3px;
}

.login-button-panel-mobile {
  order: -1;
  align-self: flex-start;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.login-button-panel-splash {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  text-align: right
}
.login-button-splash > button {
  width: 100%;
  color: #FFFFFF;
  outline: none;
  background-color: coral;
  margin: 3px;
}

.login-button-mobile > button {
  outline: none;
  background-color: transparent;
}
