<div
  class="d-flex"  
  [ngClass]="{ 'flex-column w-100 align-items-stretch' : isMobile}" >

  <!-- help btn -->
  <div class="btnWrapper">
    <div
      *ngIf="!isMobile"
      (click)="showHelp()" 
      class="btn btn-outline-secondary btn-sm rounded-circle login-icon">
      <i class="fas fa-question-circle"></i>
    </div>
  </div>

  <!-- signin -->

  <div class="btnWrapper">

    <div 
      *ngIf="!isMobile"
      (click)="showSignin()"
      class="btn btn-outline-secondary btn-sm rounded-circle login-icon">
      <i
        [ngClass]="user ? 'fa-user' : 'fa-sign-in-alt'"
        class="fas"></i>
    </div>
  </div>

  <div *ngIf="isMobile" class="login-button-panel-mobile">
    <div
      (click)="showSignin()"
      class="login-button-mobile">
      <button mat-button [ngStyle]="{'color': darktheme? '#D7D7D7' : 'black'}">Log In</button>
    </div>

    <div (click)="showHelp()" class="login-button-mobile">
      <button mat-button [ngStyle]="{'color': darktheme? '#D7D7D7' : 'black'}">Help</button>
    </div>

  </div>
</div>
