
:host-context([darktheme="true"]) .btn.btn-default
{
  background-color:rgba(128,128,128,0.5);
  color:rgba(240,240,240,0.9);
  border: none;
}

:host-context([darktheme="true"]) .btn.btn-default > *
{
  font-size: 100%;
}