<ng-template #loadingTmpl>
  <spinner-cmp></spinner-cmp>
</ng-template>

<ng-template [ngIf]="view$ | async" let-view [ngIfElse]="loadingTmpl">
  <mat-action-list>
    <mat-list-item *ngIf="!(useMobile$ | async)" disabled="true">
      <mat-icon [matTooltip]="view.labels.CURSOR_POSITION" fontSet="fas" fontIcon="fa-mouse" matListItemIcon></mat-icon>
      <div matListItemTitle *ngIf="mouseVal$ | async; let mouseVal; else placeHolderTmpl">
        {{ mouseVal | addUnitAndJoin : 'mm' }}
      </div>
      <ng-template #placeHolderTmpl>
        <div matListItemTitle>
          0mm, 0mm, 0mm
        </div>
      </ng-template>

    </mat-list-item>

    <ng-template sxplrExperimentalFlag [experimental]="true">
    <button mat-mini-fab class="align-right-fab"
      [sxplr-dialog]="enterNewCoordTmpl"
      [sxplr-dialog-size]="null"
      [matTooltip]="view.labels.ADD_NEW_COORDINATE_RENDER">
      <mat-icon fontSet="fas" fontIcon="fa-plus"></mat-icon>
    </button>
    </ng-template>

    <!-- coordinate in current space -->
    <mat-list-item
      *ngIf="navigation$ | async; let navigation"
      [iav-clipboard-copy]="navigation | addUnitAndJoin : 'mm'">
      <mat-icon [matTooltip]="view.labels.NAVIGATION_POSITION" fontSet="fas" fontIcon="fa-compass" matListItemIcon></mat-icon>
      <!-- <i class="fas fa-compass" matListItemIcon></i> -->
      <div matListItemTitle>
        {{ navigation | addUnitAndJoin : 'mm' }}
      </div>
      
    </mat-list-item>
    

    <!-- coord in other spaces -->
    <ng-template sxplrExperimentalFlag [experimental]="true">
    <ng-template [ngIf]="hasPosInOtherSpaces$ | async">

      <!-- iterating over all translatable spaces -->
      <ng-template ngFor [ngForOf]="posInOtherSpaces$ | async | keyvalue" let-keyval>

        <!-- if error or pending -->
        <ng-template [ngIf]="keyval.value.status === 'error' || keyval.value.status === 'pending'">
          <mat-list-item>
            <mat-icon [matTooltip]="view.labels.LOADING" fontSet="fas" fontIcon="fa-compass" matListItemIcon matBadge="!" matBadgeSize="small"></mat-icon>
            <div matListItemTitle>
              <ng-template [ngIf]="keyval.value.status === 'error'">
                {{ keyval.value.statusText }}
              </ng-template>
              <ng-template [ngIf]="keyval.value.status === 'pending'">
                <spinner-cmp></spinner-cmp>
              </ng-template>
            </div>
          </mat-list-item>
        </ng-template>

        <!-- if completed or cached -->
        <ng-template [ngIf]="keyval.value.status === 'completed' || keyval.value.status === 'cached'">
          <mat-list-item [iav-clipboard-copy]="keyval.value.result | nmToMm | numbers | addUnitAndJoin : 'mm'">
            <mat-icon fontSet="fas" fontIcon="fa-compass" matListItemIcon matBadge="!" matBadgeSize="small" [matTooltip]="view.labels.NAVIGATION_OTHER_SPACE + keyval.key"></mat-icon>
            <div matListItemTitle>
              {{ keyval.value.result | nmToMm | numbers | addUnitAndJoin : 'mm' }}
            </div>
          </mat-list-item>
        </ng-template>
      </ng-template>

    </ng-template>
    </ng-template>


    <!-- custom coord -->
    <ng-template sxplrExperimentalFlag [experimental]="true">
    <ng-template [ngIf]="view.navigation" let-navigation>
      <mat-list-item *ngFor="let f of additionalSpace$ | async"
        coordinate-text
        [coordinates]="navigation"
        [affine]="f.affine"
        [render]="f.render || renderDefault"
        #coordinateText="coordinateText"
        [iav-clipboard-copy]="coordinateText.inputValue$ | async">
        <mat-icon fontSet="fas"
          fontIcon="fa-compass"
          [matTooltip]="view.labels.CUSTOM_COORDINATE + ' : ' + f.label"
          matListItemIcon
          matBadge="!"
          matBadgeSize="small">
        </mat-icon>
        <div matListItemTitle>
          {{ coordinateText.inputValue$ | async }}
        </div>
      </mat-list-item>
    </ng-template>
    </ng-template>

    <!-- bbox in current space -->
    <mat-list-item 
      *ngIf="bbox$ | async; let bbox"
      [iav-clipboard-copy]="'from ' + (bbox.minpoint | numbers | addUnitAndJoin : 'mm') + ' to ' + (bbox.maxpoint | numbers | addUnitAndJoin : 'mm')">
      <mat-icon fontSet="fas"
        fontIcon="fa-cube"
        matListItemIcon
        [matTooltip]="view.labels.BBOX"></mat-icon>
      <div matListItemTitle>
        {{ 'from ' + (bbox.minpoint | numbers | addUnitAndJoin : 'mm') + ' to ' + (bbox.maxpoint | numbers | addUnitAndJoin : 'mm') }}
      </div>
    </mat-list-item>
    
  </mat-action-list>
  
</ng-template>

<ng-template #fullTmpl>
      <!-- reset -->
      <div class="d-flex"
        quick-tour
        [quick-tour-description]="quickTourData.description"
        [quick-tour-order]="quickTourData.order">
        <span class="flex-grow-0 d-flex align-items-center">
          Reset
        </span>

        <div class="flex-grow-1"></div>

        <button
          mat-icon-button
          (click)="resetNavigation({position:true})"
          matTooltip="Reset position">
          <i class="iavic iavic-translation"></i>
        </button>

        <button
          mat-icon-button
          (click)="resetNavigation({rotation:true})"
          matTooltip="Reset rotation">
          <i class="iavic iavic-rotation"></i>
        </button>

        <button
          mat-icon-button
          (click)="resetNavigation({zoom:true})"
          matTooltip="Reset zoom">
          <i class="iavic iavic-scaling"></i>
        </button>

        <mat-divider [vertical]="true"></mat-divider>
      </div>

      <!-- coord -->
      <div class="d-flex">
        <coordinate-text-input
          [coordinates]="navigation$ | async"
          [render]="renderMm"
          (enter)="textNavigateTo(physCoordInput.inputValue)"
          label="Physical Coord"
          #physCoordInput>

          <ng-container ngProjectAs="[suffix]">
            <button mat-icon-button
              iav-stop="click"
              [attr.aria-label]="COPY_NAVIGATION_STRING"
              (click)="copyString(physCoordInput.inputValue)">
              <i class="fas fa-copy"></i>
            </button>

            <button mat-icon-button
              iav-stop="click"
              sxplr-share-view
              [attr.aria-label]="SHARE_BTN_ARIA_LABEL">
              <i class="fas fa-share-square"></i>
            </button>
          </ng-container>
        </coordinate-text-input>
      </div>

      <!-- coord in other spaces -->
      <ng-template sxplrExperimentalFlag [experimental]="true">
      <ng-template [ngIf]="hasPosInOtherSpaces$ | async">
        <ng-template ngFor [ngForOf]="posInOtherSpaces$ | async | keyvalue" let-keyval>
          <ng-template [ngIf]="keyval.value.status === 'error'">
            <mat-form-field>
              <mat-label>
                {{ keyval.key }}
              </mat-label>
              <input matInput disabled [value]="keyval.value.statusText">
            </mat-form-field>
          </ng-template>
          <ng-template [ngIf]="keyval.value.status === 'pending'">
            <spinner-cmp></spinner-cmp>
          </ng-template>
          
          <ng-template [ngIf]="keyval.value.status === 'completed' || keyval.value.status === 'cached' ">
            <coordinate-text-input
              [label]="keyval.key"
              [coordinates]="keyval.value.result"
              [render]="saneRenderNmInMm"
              #customInput>
              <ng-container ngProjectAs="[suffix]">
                <button mat-icon-button
                  iav-stop="click"
                  [attr.aria-label]="COPY_NAVIGATION_STRING"
                  (click)="copyString(customInput.inputValue)">
                  <i class="fas fa-copy"></i>
                </button>
              </ng-container>
            </coordinate-text-input>

          </ng-template>
        </ng-template>
      </ng-template>
      </ng-template>

      <ng-template sxplrExperimentalFlag [experimental]="true">
      <!-- custom coord -->
      <div class="d-flex" *ngFor="let f of additionalSpace$ | async">
        <coordinate-text-input
          *ngIf="navigation$ | async as navigation"
          [coordinates]="navigation"
          [affine]="f.affine"
          [label]="f.label"
          [render]="f.render || renderDefault"
          #customInput>

          <ng-container ngProjectAs="[suffix]">
            <button mat-icon-button
              iav-stop="click"
              [attr.aria-label]="COPY_NAVIGATION_STRING"
              (click)="copyString(customInput.inputValue)">
              <i class="fas fa-copy"></i>
            </button>
          </ng-container>
        </coordinate-text-input>
      </div>
      </ng-template>

      <ng-template sxplrExperimentalFlag [experimental]="true">
        <button mat-button
          [sxplr-dialog]="enterNewCoordTmpl"
          [sxplr-dialog-size]="null">
          Add Coord Space
        </button>
      </ng-template>

      <!-- cursor pos -->
      <div class="d-flex">
        <coordinate-text-input
          [coordinates]="mouseVal$ | async"
          [render]="renderMm"
          label="Cursor Position">
        </coordinate-text-input>
      </div>

</ng-template>

<ng-template #enterNewCoordTmpl>
  <h2 mat-dialog-title>
    Add a new coordinate space
  </h2>
  <mat-dialog-content>
    <mat-form-field class="d-block">
      <mat-label>
        Label
      </mat-label>
      <input type="text" matInput [value]="defaultLabel" #labelInput>
    </mat-form-field>

    
    <mat-form-field class="d-block">
      <mat-label>
        Affine
      </mat-label>
      <textarea matInput rows="7" #affineInput>{{ idAffStr }}</textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button color="primary"
        (click)="add(labelInput, affineInput)">
        Add
      </button>
      <button mat-button
        (click)="reset(labelInput, affineInput)">
        Reset
      </button>
    </mat-dialog-actions>
    
    
  </mat-dialog-content>
</ng-template>
