<div quick-tour
  [quick-tour-description]="quickTourData.description"
  [quick-tour-order]="quickTourData.order"
  #statusCardQT="quickTour">
  <mat-card *ngIf="showFull; else showMin"
    class="expandedContainer">
    
    <mat-card-content>

      <!-- reset -->
      <div class="d-flex">
        <span class="flex-grow-0 d-flex align-items-center">
          Reset
        </span>

        <div class="flex-grow-1"></div>

        <button
          mat-icon-button
          (click)="resetNavigation({position:true})"
          matTooltip="Reset position">
          <i class="iavic iavic-translation"></i>
        </button>

        <button
          mat-icon-button
          (click)="resetNavigation({rotation:true})"
          matTooltip="Reset rotation">
          <i class="iavic iavic-rotation"></i>
        </button>

        <button
          mat-icon-button
          (click)="resetNavigation({zoom:true})"
          matTooltip="Reset zoom">
          <i class="iavic iavic-scaling"></i>
        </button>

        <mat-divider [vertical]="true"></mat-divider>

        <button mat-icon-button
          [attr.aria-label]="HIDE_FULL_STATUS_PANEL_ARIA_LABEL"
          (click)="statusCardQT.ngOnChanges(); showFull = false">
          <i class="fas fa-angle-up"></i>
        </button>
      </div>

      <!-- coord -->
      <div class="d-flex">
        <coordinate-text-input
          [coordinates]="navigation$ | async"
          [render]="renderMm"
          (enter)="textNavigateTo(physCoordInput.inputValue)"
          label="Physical Coord"
          #physCoordInput>

          <ng-container ngProjectAs="[suffix]">
            <button mat-icon-button
              iav-stop="click"
              [attr.aria-label]="COPY_NAVIGATION_STRING"
              (click)="copyString(physCoordInput.inputValue)">
              <i class="fas fa-copy"></i>
            </button>

            <button mat-icon-button
              iav-stop="click"
              sxplr-share-view
              [attr.aria-label]="SHARE_BTN_ARIA_LABEL">
              <i class="fas fa-share-square"></i>
            </button>
          </ng-container>
        </coordinate-text-input>
      </div>

      <!-- coord in other spaces -->
      <ng-template sxplrExperimentalFlag [experimental]="true">
      <ng-template [ngIf]="hasPosInOtherSpaces$ | async">
        <ng-template ngFor [ngForOf]="posInOtherSpaces$ | async | keyvalue" let-keyval>
          <ng-template [ngIf]="keyval.value.status === 'error'">
            <mat-form-field>
              <mat-label>
                {{ keyval.key }}
              </mat-label>
              <input matInput disabled [value]="keyval.value.statusText">
            </mat-form-field>
          </ng-template>
          <ng-template [ngIf]="keyval.value.status === 'pending'">
            <spinner-cmp></spinner-cmp>
          </ng-template>
          
          <ng-template [ngIf]="keyval.value.status === 'completed' || keyval.value.status === 'cached' ">
            <coordinate-text-input
              [label]="keyval.key"
              [coordinates]="keyval.value.result"
              [render]="saneRenderNmInMm"
              #customInput>
              <ng-container ngProjectAs="[suffix]">
                <button mat-icon-button
                  iav-stop="click"
                  [attr.aria-label]="COPY_NAVIGATION_STRING"
                  (click)="copyString(customInput.inputValue)">
                  <i class="fas fa-copy"></i>
                </button>
              </ng-container>
            </coordinate-text-input>

          </ng-template>
        </ng-template>
      </ng-template>
      </ng-template>

      <ng-template sxplrExperimentalFlag [experimental]="true">
      <!-- custom coord -->
      <div class="d-flex" *ngFor="let f of additionalSpace$ | async">
        <coordinate-text-input
          *ngIf="navigation$ | async as navigation"
          [coordinates]="navigation"
          [affine]="f.affine"
          [label]="f.label"
          [render]="f.render || renderDefault"
          #customInput>

          <ng-container ngProjectAs="[suffix]">
            <button mat-icon-button
              iav-stop="click"
              [attr.aria-label]="COPY_NAVIGATION_STRING"
              (click)="copyString(customInput.inputValue)">
              <i class="fas fa-copy"></i>
            </button>
          </ng-container>
        </coordinate-text-input>
      </div>
      </ng-template>

      <ng-template sxplrExperimentalFlag [experimental]="true">
        <button mat-button
          [sxplr-dialog]="enterNewCoordTmpl"
          [sxplr-dialog-size]="null">
          Add Coord Space
        </button>
      </ng-template>

      <!-- cursor pos -->
      <div class="d-flex">
        <coordinate-text-input
          [coordinates]="mouseVal$ | async"
          [render]="renderMm"
          label="Cursor Position">
        </coordinate-text-input>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<!-- minimised status bar -->
<ng-template #showMin>
  <div class="sxplr-custom-cmp text of-visible text-nowrap d-inline-flex align-items-center m-1 mt-3"
    iav-media-query
    #media="iavMediaQuery">

    <span *ngIf="(media.mediaBreakPoint$ | async) < 3" class="sxplr-pl-2">
      {{ navVal$ | async }}
    </span>

    <button mat-icon-button
      [sxplr-dialog-size]="null"
      [sxplr-dialog]="pointTmpl"
      [sxplr-dialog-config]="{autoFocus: 'input'}"
      (sxplr-dialog-closed)="onCoordEditDialogClose()">
      <i class="fas fa-pen"></i>
    </button>

    <button mat-icon-button
      [attr.aria-label]="SHOW_FULL_STATUS_PANEL_ARIA_LABEL"
      (click)="statusCardQT.ngOnChanges(); showFull = true">
      <i class="fas fa-angle-down"></i>
    </button>
  </div>
</ng-template>

<ng-template #pointTmpl>
  <form [formGroup]="dialogForm" cdkTrapFocus
    (paste)="onPaste($event)">
    <h1 mat-dialog-title>
      Navigation Coordinate
    </h1>
    <div mat-dialog-content>
      <ng-template ngFor [ngForOf]="['x', 'y', 'z']" let-pos>

        <mat-form-field>
          <mat-label>{{ pos }} (mm)</mat-label>
          <input type="text" matInput [formControlName]="pos">
        </mat-form-field>
      </ng-template>
    </div>

    <div mat-dialog-actions align="end">
      
      <ng-template [ngIf]="dialogInputState$ | async" let-state>

        <button mat-raised-button color="primary"
          (click)="selectPoint(state.valueNm)"
          [disabled]="!state.validated"
          mat-dialog-close>
          select point
        </button>
    
      </ng-template>
      <button mat-button mat-dialog-close>
        cancel
      </button>
    </div>
  </form>
</ng-template>

<ng-template #enterNewCoordTmpl>
  <h2 mat-dialog-title>
    Add a new coordinate space
  </h2>
  <mat-dialog-content>
    <mat-form-field class="d-block">
      <mat-label>
        Label
      </mat-label>
      <input type="text" matInput [value]="defaultLabel" #labelInput>
    </mat-form-field>

    
    <mat-form-field class="d-block">
      <mat-label>
        Affine
      </mat-label>
      <textarea matInput rows="7" #affineInput>{{ idAffStr }}</textarea>
    </mat-form-field>

    <mat-dialog-actions>
      <button mat-button color="primary"
        (click)="add(labelInput, affineInput)">
        Add
      </button>
      <button mat-button
        (click)="reset(labelInput, affineInput)">
        Reset
      </button>
    </mat-dialog-actions>
    
    
  </mat-dialog-content>
</ng-template>
