coordinate-text-input
{
  padding: 0 0.2rem;
}

[matListItemTitle]
{
  display: flex;
  align-items: center;

  > span
  {
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  > button
  {
    flex: 0 0 auto;
  }
}

[mat-mini-fab].align-right-fab
{
  position: absolute;
  right: 0;
  margin-right: 1rem;
  z-index: 1;
}