div[citationContainer]
{
  font-size: 90%;
  text-align: left;
  display:block;
  white-space: normal;
  padding-bottom:0px;
  margin-top:1em;
}

div[citationContainer]:not(:first-child)
{
  padding-top: 0px;
}

div[publicationContainer]
{
  margin-top:1em;
}