<div class="preview-panel-container" (click)="$event.stopPropagation()">
    <div class="w-100 d-flex justify-content-center p-2">
        Files
    </div>
    <mat-divider></mat-divider>

    <div class="mr-2 ml-2">
        <mat-form-field class="w-100" (click)="$event.stopPropagation()">
            <input matInput
                   placeholder="Click here to filter"
                   #filterInput>
            <button mat-button *ngIf="filterInput.value" matSuffix mat-icon-button aria-label="Clear"
                    (click)="filterInput.value=''">
                <i class="fas fa-times"></i>
            </button>
        </mat-form-field>
    </div>
    <div class="overflow-auto file-items">
        <div *ngFor="let pf of previewFiles | filterWithString : filterInput.value; let i = index" class="file-item">
            <div class="cursorPointer ml-3 mr-3 pt-2 pb-2 text-wrap d-flex justify-content-between align-items-center"
                 (mouseenter)="ShowIcon.hidden = false" (mouseleave)="ShowIcon.hidden = true"
                  (click)="openPreviewDialog(pf)">
                <div [ngClass]="ShowIcon.hidden? 'mr-3' : 'mr-1'">{{pf.name}}</div>
                <i class="far fa-eye" [ngClass]="niftiLayerIsShowing(pf)? 'fa-eye-slash' : 'fa-eye'" [ngStyle]="niftiLayerIsShowing(pf) && {'color': '#e25241'}" hidden #ShowIcon></i>
            </div>
            <hr *ngIf="i !== previewFiles.length-1" [color]="constantsService.darktheme? '#C6C6C6' : ''" class="m-0">
        </div>
    </div>
</div>

<ng-template #previewFileModal let-previewFile>
    <file-viewer [previewFile]="previewFile"></file-viewer>
</ng-template>
