:host
{
  padding: 0 0.2em;
}

div[container]
{
  display: flex;
  flex-direction: column-reverse;
}

div[heading]
{
  padding: 0.2em 1em;
}
div[body]
{
  padding: 0.1em 1em;
  background-color:rgba(0, 0, 0, 0.1);
}