<!-- n.b. using mousedown for event trigger -->
<!-- Chrome & FF exhibit different behaviours when using click/mouseup as a event handler -->
<!-- in Chrome, it will complain that expression changed after change detection -->
<!-- in FF, the element changes, and focusout event is never fired properly -->

<ng-container *ngIf="nonBaseNgLayers$ | async as nonBaseNgLayers; else noLayerPlaceHolder">
  <mat-accordion *ngIf="nonBaseNgLayers.length > 0; else noLayerPlaceHolder"
    [multi]="true"
    displayMode="flat">
    <mat-expansion-panel
      [disabled]="true"
      *ngFor="let ngLayer of nonBaseNgLayers"
      class="layer-expansion-unit"
      #expansionPanel>
      <mat-expansion-panel-header>
        <div class="align-items-center d-flex flex-nowrap pr-4">
          <!-- toggle opacity -->
          <div matTooltip="opacity">

            <mat-slider
              [disabled]="!ngLayer.visible"
              min="0"
              max="1"
              (input)="changeOpacity(ngLayer.name, $event)"
              [value]="viewer | getInitialLayerOpacityPipe: ngLayer.name"
              step="0.01">

            </mat-slider>
          </div>

          <!-- toggle visibility -->

          <button
            [matTooltipPosition]="matTooltipPosition"
            [matTooltip]="(ngLayer | lockedLayerBtnClsPipe : lockedLayers) ? 'base layer cannot be hidden' : 'toggle visibility'"
            (mousedown)="toggleVisibility(ngLayer)"
            mat-icon-button
            [disabled]="ngLayer | lockedLayerBtnClsPipe : lockedLayers"
            [color]="ngLayer.visible ? 'primary' : null">
            <i [ngClass]="(ngLayer | lockedLayerBtnClsPipe : lockedLayers) ? 'fas fa-lock muted' : ngLayer.visible ? 'far fa-eye' : 'far fa-eye-slash'">
            </i>
          </button>

          <!-- advanced mode only: toggle force show segmentation -->
          <button
            *ngIf="advancedMode"
            [matTooltipPosition]="matTooltipPosition"
            [matTooltip]="ngLayer.type === 'segmentation' ? segmentationTooltip() : 'only segmentation layer can hide/show segments'"
            (mousedown)="toggleForceShowSegment(ngLayer)"
            mat-icon-button>
            <i
              class="fas"
              [ngClass]="ngLayer.type === 'segmentation' ? ('fa-th-large ' + segmentationAdditionalClass) : 'fa-lock muted' ">

            </i>
          </button>

          <!-- remove layer -->
          <button
            color="warn"
            mat-icon-button
            (mousedown)="removeLayer(ngLayer)"
            [disabled]="ngLayer | lockedLayerBtnClsPipe : lockedLayers"
            [matTooltip]="(ngLayer | lockedLayerBtnClsPipe : lockedLayers) ? 'base layers cannot be removed' : 'remove layer'">
            <i [class]="(ngLayer | lockedLayerBtnClsPipe : lockedLayers) ? 'fas fa-lock muted' : 'fas fa-trash'">
            </i>
          </button>

          <!-- layer description -->
          <mat-label
            [matTooltipPosition]="matTooltipPosition"
            [matTooltip]="ngLayer.name | getFilenamePipe "
            [class]="((darktheme$ | async) ? 'text-light' : 'text-dark') + ' text-truncate'">
            {{ ngLayer.name | getFilenamePipe }}
          </mat-label>

          <button mat-icon-button
            (click)="expansionPanel.toggle()">
            <ng-container *ngIf="expansionPanel.expanded; else btnIconAlt">
              <i class="fas fa-chevron-up"></i>
            </ng-container>

            <ng-template #btnIconAlt>
              <i class="fas fa-chevron-down"></i>
            </ng-template>
          </button>

        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <layer-detail-cmp [layerName]="ngLayer.name">
        </layer-detail-cmp>
      </ng-template>

    </mat-expansion-panel>
  </mat-accordion>
</ng-container>

<!-- fall back when no layers are showing -->
<ng-template #noLayerPlaceHolder>
  <small *ngIf="showPlaceholder" class="noLayerPlaceHolder text-muted">
    No additional layers added.
  </small>
</ng-template>
