
.opacity-crossfade
{
  transition: opacity 170ms ease-in-out,
    transform 250ms ease-in-out;
}

.opacity-crossfade
{

  opacity: 0.0;
  pointer-events: none;
}

.opacity-crossfade.onHover,
.opacity-crossfade:hover,
:host-context([ismobile="true"]) .opacity-crossfade.always-show-touchdevice
{
  opacity: 1.0 !important;
  pointer-events: all !important;
}

.screen-overlay
{
  background-color: rgba(255, 255, 255, 0.7);
}

:host-context([darktheme="true"]) .screen-overlay
{
  background-color: rgba(0, 0, 0, 0.7);
}

.nehuba-viewer-container-parent
{
  z-index: 1;
}

current-layout
{
  z-index: 2;
}

.mini-perspective-viewer {
  width: 200px;
  height: 200px;
}
.custom-slider-3d {
  -webkit-appearance: none;
  outline: none;
  opacity: 0.7;
  background-color: rgba(0,0,0,0);
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.custom-slider-3d:hover {
  opacity: 1;
}

.custom-slider-3d::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  height: 200px;
  background: white;
  cursor: pointer;
}
:host-context([darktheme="false"]) .custom-slider-3d::-webkit-slider-thumb {
  background: black;
}

.custom-slider-3d::-moz-range-thumb {
  width: 5px;
  height: 200px;
  background: white;
  cursor: pointer;
}

:host-context([darktheme="false"]) .custom-slider-3d::-moz-range-thumb {
  background: black;
}

.range-value {
  right: 10px;
  bottom: 5px;
}



.custom-slider-3d-highlight {
  -webkit-appearance: none;
  outline: none;
  opacity: 1;
  background-color: rgba(0,0,0,0);
  -webkit-transition: .2s;
  transition: opacity .2s;

  z-index: 200;
  width:200px;
  pointer-events:none;
  overflow: hidden;
}

.custom-slider-3d-highlight::-webkit-slider-runnable-track {
  height: 100%;
}

.custom-slider-3d-highlight::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 5px;
  background: grey;
  height: 100%;
  cursor: pointer;
}
.custom-slider-3d-highlight::-moz-range-thumb {
  width: 5px;
  background: grey;
  height: 100%;
  cursor: pointer;
}
