
.opacity-crossfade
{
  transition: opacity 170ms ease-in-out,
    transform 250ms ease-in-out;
}

.opacity-crossfade
{

  opacity: 0.0;
  pointer-events: none;
}

.opacity-crossfade.onHover,
.opacity-crossfade:hover,
:host-context([ismobile="true"]) .opacity-crossfade.always-show-touchdevice
{
  opacity: 1.0 !important;
  pointer-events: all !important;
}

.screen-overlay
{
  background-color: rgba(255, 255, 255, 0.7);
}

:host-context([darktheme="true"]) .screen-overlay
{
  background-color: rgba(0, 0, 0, 0.7);
}
