<ng-template [ngIf]="mat_icon">
    
    <button mat-raised-button
        [matBadge]="badge"
        [matBadgeColor]="badgeColor"
        [color]="color"
        [style.backgroundColor]="overrideColor"
        [class]="overrideCls"
        (click)="click.next($event)">
        <i>
            <mat-icon>{{ mat_icon }}</mat-icon>
        </i>
    </button>
</ng-template>
<ng-template [ngIf]="!mat_icon">
    <button mat-raised-button
        [matBadge]="badge"
        [matBadgeColor]="badgeColor"
        [color]="color"
        [style.backgroundColor]="overrideColor"
        [class]="overrideCls"
        (click)="click.next($event)">

        <ng-template [ngIf]="!mat_icon">
            <i [class]="icon"></i>
        </ng-template>
    </button>
</ng-template>
