<mat-card>
  <mat-card-content>

    <!-- reset -->
    <div class="d-flex">
      <span class="flex-grow-0 d-flex align-items-center">
        Reset
      </span>

      <div class="flex-grow-1"></div>

      <button
        mat-icon-button
        (click)="resetNavigation({position:true})"
        matTooltip="Reset position">
        <i class="fas fa-crosshairs"></i>
      </button>

      <button
        mat-icon-button
        (click)="resetNavigation({rotation:true})"
        matTooltip="Reset rotation">
        <i class="fas fa-compass"></i>
      </button>

      <button
        mat-icon-button
        (click)="resetNavigation({zoom:true})"
        matTooltip="Reset zoom">
        <i class="fas fa-search-plus"></i>
      </button>
    </div>

    <!-- space -->
    <div class="d-flex">
      <span class="d-flex align-items-center">
        Voxel space
      </span>

      <mat-slide-toggle
        [formControl]="statusPanelFormCtrl"
        class="pl-2 pr-2">
      </mat-slide-toggle>
      
      <span class="d-flex align-items center">
        Physical space
      </span>
    </div>

    <!-- coord -->
    <div class="d-flex">

      <mat-form-field class="flex-grow-1">
        <mat-label>
          {{ (statusPanelRealSpace$ | async) ? 'Physical Coord' : 'Voxel Coord' }}
        </mat-label>
        <input type="text"
          matInput
          (keydown.enter)="textNavigateTo(navInput.value)"
          (keydown.tab)="textNavigateTo(navInput.value)"
          [value]="navVal$ | async"
          #navInput="matInput">
  
      </mat-form-field>

      <div class="w-0 position-relative">
        <button
          (click)="showBottomSheet(shareTmpl)"
          [attr.aria-label]="SHARE_BTN_ARIA_LABEL"
          mat-icon-button
          class="position-absolute share-btn">
          <i class="fas fa-share-square"></i>
        </button>
      </div>
    </div>

    <!-- cursor pos -->
    <mat-form-field *ngIf="!isMobile"
      class="w-100">
      <mat-label>
        Cursor Position
      </mat-label>
      <input type="text"
        matInput
        [readonly]="true"
        [value]="mouseVal$ | async">
    </mat-form-field>

  </mat-card-content>
</mat-card>

<!-- share template -->
<ng-template #shareTmpl>
  <h4 class="mat-h4">
    Share via
  </h4>
  <mat-nav-list>
    <mat-list-item iav-clipboard-copy
      [attr.aria-label]="COPY_URL_TO_CLIPBOARD_ARIA_LABEL"
      [attr.tab-index]="10">
      <mat-icon
        class="mr-4"
        fontSet="fas"
        fontIcon="fa-copy">
      </mat-icon>
      <span>
        Copy link to this view
      </span>
    </mat-list-item>
    <mat-list-item (click)="openDialog(shareSaneUrl, { ariaLabel: SHARE_CUSTOM_URL_DIALOG_ARIA_LABEL })"
      [attr.aria-label]="SHARE_CUSTOM_URL_ARIA_LABEL"
      [attr.tab-index]="10">
      <mat-icon 
        class="mr-4"
        fontSet="fas"
        fontIcon="fa-link">
      </mat-icon>
      
      <span>
        Create custom URL
      </span>

    </mat-list-item>
  </mat-nav-list>
</ng-template>

<ng-template #shareSaneUrl>
  <h2 mat-dialog-title>
    Create custom URL
  </h2>

  <div mat-dialog-content>
    <div iav-auth-authState
      #authState="iavAuthAuthState">

      <!-- Logged in. Explain that links will not expire, offer to logout -->
      <ng-container *ngIf="authState.user$ | async as user; else otherTmpl">
        <span>
          Logged in as {{ user.name }}
        </span>
        <button mat-button
          color="warn"
          tabindex="-1">
          <i class="fas fa-sign-in-alt"></i>
          <span>
            Logout
          </span>
        </button>
      </ng-container>

      <!-- Not logged in. Offer to login -->
      <ng-template #otherTmpl>
        <span>
          Not logged in
        </span>
        <signin-modal></signin-modal>
      </ng-template>
    </div>

    <!-- explain links expiration -->
    <div class="text-muted mat-small">
      {{ (authState.user$ | async) ? 'Links you generate will not expire' : 'Links you generate will expire after 72 hours' }}
    </div>

    <iav-sane-url iav-state-aggregator
      [stateTobeSaved]="stateAggregator.jsonifiedSstate$ | async"
      #stateAggregator="iavStateAggregator">
    </iav-sane-url>
  </div>

  <div mat-dialog-actions
    class="d-flex justify-content-center">
    <button mat-button
      mat-dialog-close>
      close
    </button>
  </div>
</ng-template>
