mat-chip-list >>> .mat-chip-list-wrapper
{
  height: 100%;
}
cdk-virtual-scroll-viewport.cdk-virtual-scroll-orientation-horizontal
{
  overflow-y: hidden;
}
cdk-virtual-scroll-viewport.cdk-virtual-scroll-orientation-horizontal >>> .cdk-virtual-scroll-content-wrapper
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}


cdk-virtual-scroll-viewport.cdk-virtual-scroll-orientation-horizontal mat-chip
{
  flex: 0 0 200px;
}