<mat-chip-list class="p-1 d-block h-100 w-100">
  <ng-container *ngTemplateOutlet="horizontal ? horizontalTmpl : verticalTmpl">
  </ng-container>
</mat-chip-list>

<!-- whilst it would be quite clever to dynamically change the few properties
virtual scroll needs to be re init'ed for it to work well
TODO check if this can be achieved with detach/attach -->
<ng-template #verticalTmpl>

  <cdk-virtual-scroll-viewport
    orientation="vertical"
    class="w-100 h-100 overflow-hidden"
    itemSize="32">

    <mat-chip *cdkVirtualFor="let region of regionsSelected"
      [matTooltip]="region.name"
      class="w-100" >
      <span class="flex-grow-1 flex-shrink-1 text-truncate">
        {{ region.name }}
      </span>
      <button
        *ngIf="region.position"
        iav-stop="mousedown click"
        (click)="gotoRegion.emit(region)"
        mat-icon-button>
        <i class="fas fa-map-marked-alt"></i>
      </button>
      <button
        iav-stop="mousedown click"
        (click)="deselectRegion.emit(region)"
        mat-icon-button>
        <i class="fas fa-trash"></i>
      </button>
    </mat-chip>
  </cdk-virtual-scroll-viewport>
</ng-template>

<ng-template #horizontalTmpl>
  <cdk-virtual-scroll-viewport
    orientation="horizontal"
    class="w-100 h-100"
    itemSize="200">

    <mat-chip *cdkVirtualFor="let region of regionsSelected">
      <span class="flex-grow-1 flex-shrink-1 text-truncate">
        {{ region.name }}
      </span>
      <button
        *ngIf="region.position"
        iav-stop="mousedown click"
        (click)="gotoRegion.emit(region)"
        mat-icon-button>
        <i class="fas fa-map-marked-alt"></i>
      </button>
      <button
        iav-stop="mousedown click"
        (click)="deselectRegion.emit(region)"
        mat-icon-button>
        <i class="fas fa-trash"></i>
      </button>
    </mat-chip>
  </cdk-virtual-scroll-viewport>
</ng-template>