.tool-btn-container
{
    display: flex;
    flex-direction: column-reverse;
}

button
{
  pointer-events: all;

  margin-left: -1rem;
  margin-right: 1rem;
  margin-top: -0.2rem;

  padding-right: 0.75rem;
  text-align: right;
}

.leave-me-alone
{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
