.smart-chip
{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
  border-radius: 1rem;
  height: 1.25rem;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.smart-chip
{
  opacity: 1.0;
  transition: opacity 160ms ease-in-out;
}

.smart-chip:not(.disabled):hover
{
  cursor: default;
}

.smart-chip.disabled
{
  opacity: 0.5;
  pointer-events: none;
}

.smart-chip.disabled:hover
{
  cursor: not-allowed;
}
