:host
{
  margin: 1.5rem 1rem 0.5rem 1rem;
  min-height: 32px;
  height: 1px;
  position: relative;
}


:host-context([experimental=true])
{
  :host
  {
    margin: 0;
    min-height: 44px;
  }

  .smart-chip
  { 
    display: inline-flex;
    flex-direction: row;
    border-radius: 22px;
    justify-content: center;

    >.text
    {
      height: 0px;
      overflow: visible;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
    }

    >.icons
    {
      height: 0px;
      overflow: visible;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .header
  {

    font-size: 80%;
    margin-top:-0.5rem;
    margin-bottom:0.3rem;
    flex-basis: 1rem;
  }

  .body
  {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    align-items: start;

    >.body-content-wrapper
    {
      height: 1px;
      width: 100%;
      overflow: visible;
      display: flex;
      align-items: center;
    }
  }
}

.smart-chip
{
  box-sizing: border-box;
  height: 100%;

  padding: 0.8rem 1.6rem;
  border-radius: 1rem;

  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.smart-chip.body
{
  width: 100%;
}

.smart-chip
{
  opacity: 1.0;
  transition: opacity 160ms ease-in-out;
}

.smart-chip:not(.disabled):hover
{
  cursor: default;
}

.smart-chip.disabled
{
  opacity: 0.5;
  pointer-events: none;
}

.smart-chip.disabled:hover
{
  cursor: not-allowed;
}

.smart-chip.header
{
  position: absolute;
  scale: 0.8;
  top: 0;
  left: 0;
  margin-left: 0.5rem;
  margin-top: -1.4rem;
}


.smart-chip.header::before
{
  content: "";
  background-color: rgba(128, 128, 128, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  opacity: 0.2;
}
