<ng-template [ngIf]="experimental.show$ | async"
  let-tmpl
  sxplrExperimentalFlag
  [experimental]="true"
  #experimental="sxplrExperimentalFlag">

<div [style.background-color]="color"
  [matMenuTriggerFor]="noMenuFlag ? null : mainMenu"
  (menuOpened)="menuOpened.emit()"
  (menuClosed)="menuClosed.emit()"
  matRipple
  [matRippleDisabled]="noMenuFlag"
  [ngClass]="smartChipClass"
  class="mat-body smart-chip sxplr-custom-cmp text">

  <!-- text component -->

  <div class="text">
    <ng-template [ngIf]="headerTmpl?.templateRef" let-tmpl>
      <div class="mat-body sxplr-custom-cmp text header">
        <ng-template [ngTemplateOutlet]="tmpl">
        </ng-template>
      </div>
    </ng-template>
    <div class="body">
      <div class="body-content-wrapper">
        <ng-template [ngTemplateOutlet]="contentTmpl?.templateRef || fallbackContentTmpl">
        </ng-template>
      </div>
    </div>
  </div>

  <div class="icons">
    <ng-template ngFor [ngForOf]="actionTmpls" let-actionTmpl>
      <ng-template [ngTemplateOutlet]="actionTmpl.templateRef">
      </ng-template>
    </ng-template>
  </div>
</div>


</ng-template>



<ng-template [ngIf]="deprecated.show$ | async"

  sxplrExperimentalFlag
  [deprecated]="true"
  #deprecated="sxplrExperimentalFlag">

<div [style.background-color]="color"
  [matMenuTriggerFor]="noMenuFlag ? null : mainMenu"
  matRipple
  [matRippleDisabled]="noMenuFlag"
  [ngClass]="smartChipClass"
  class="mat-body smart-chip body sxplr-custom-cmp text">
  <ng-template [ngTemplateOutlet]="contentTmpl?.templateRef || fallbackContentTmpl">
  </ng-template>
</div>

<!-- header component -->
<ng-template [ngIf]="headerTmpl?.templateRef" let-tmpl>
  <div class="mat-body smart-chip sxplr-custom-cmp text header mat-elevation-z2"
    [style.background-color]="color"
    matRipple
    [matRippleDisabled]="noMenuFlag"
    [matMenuTriggerFor]="noMenuFlag ? null : mainMenu">
    <ng-template [ngTemplateOutlet]="tmpl">
    </ng-template>
  </div>
</ng-template>

</ng-template>


<!-- main menu is fired from chip -->
<mat-menu #mainMenu="matMenu">
  <ng-template ngFor [ngForOf]="items" let-item>

    <!-- if item is has submenu -->
    <ng-template [ngIf]="item | hasSubMenu : getChildren" [ngIfElse]="noSubMenuTmpl">
      <button
        mat-menu-item
        [matMenuTriggerFor]="subMenu"
        [matMenuTriggerData]="{ $implicit: getChildren(item) }">
        <ng-container *ngTemplateOutlet="menuTmpl?.templateRef || fallbackMenu; context: {
          $implicit: item
        }">
        </ng-container>
      </button>

    </ng-template>

    <!-- if item has no submenu -->
    <ng-template #noSubMenuTmpl>
      <ng-container *ngTemplateOutlet="leafTmpl; context: { $implicit: item }"></ng-container>
    </ng-template>

  </ng-template>
</mat-menu>

<!-- submenu (fired from menu item) -->
<mat-menu #subMenu="matMenu">
  <ng-template matMenuContent let-items>
    <ng-template ngFor [ngForOf]="items" let-item>
      <ng-container *ngTemplateOutlet="leafTmpl; context: { $implicit: item }"></ng-container>
    </ng-template>
  </ng-template>
</mat-menu>

<!-- template to render the leaf nodes -->
<ng-template #leafTmpl let-item>
  <button mat-menu-item (click)="itemClicked.emit(item)">
    <ng-container *ngTemplateOutlet="menuTmpl?.templateRef || fallbackMenu; context: {
      $implicit: item
    }">
    </ng-container>
  </button>
</ng-template>

<ng-template #fallbackContentTmpl>
  Fallback Content
</ng-template>

<ng-template #fallbackMenu let-item>
  {{ item.name || 'Item Name' }}
</ng-template>
