input[navigateInput]
{
  background:none;
  border:rgba(255,255,255,0.2) solid 1px;
  width : 16em;
  padding-left: 0.5em;
  font-size:85%;
}
nehubaui-landmark-list
{
  display:none;
}
div#neuroglancer-container
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:1;
}
div#nehubaui-overlay
{
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  z-index:2;
  display:grid;
  grid-template-columns : 50% 50%;
  grid-template-rows : 50% 50%;
  pointer-events:none;
}

.nehubaui-overlay-c
{
  grid-column-end : span 1;
  grid-row-end : span 1;

  overflow:hidden;
  position:relative;
}

#nehubaui-overlay-c1
{
  grid-column-start : 1;
  grid-row-start : 1;
}
#nehubaui-overlay-c2
{
  grid-column-start : 2;
  grid-row-start : 1;
}
#nehubaui-overlay-c3
{
  grid-column-start : 1;
  grid-row-start : 2;
}
#nehubaui-overlay-c4
{
  grid-column-start : 2;
  grid-row-start : 2;
}

span[nametagSelectedRegions]
{
  margin-bottom:0.5em;
}
div#viewerStatus
{
  position:absolute;
  left:1em;
  bottom:1em;
  z-index:9;
  overflow:hidden;
  box-sizing: border-box;
  padding:0.5em;
  white-space: nowrap;
}

  div#viewerStatus .btn-link
  {
    padding: 0px;
  }

floatingPopover
{
  white-space:nowrap;
  pointer-events:none;
}
[floatingPopoverContent]
{
  padding: 0.5em 1em;
  white-space:nowrap;
}