<NehubaViewer 
  (mousemove)="mouseEventHandler('mousemove',$event)"
  (click) = "mouseEventHandler('click',$event)"
  (mousedown) = "mouseEventHandler('mousedown',$event)"
  (mouseup) = "mouseEventHandler('mouseup',$event)">

</NehubaViewer>

<div *ngIf = "mainController.selectedTemplate">

  <nehubaui-searchresult-region-list 
    [title] = "'Receptor Data Browser'"
    (mouseEnterRegion)="receptorMouseEnter($event)"
    (mouseLeaveRegion)="receptorMouseLeave($event)"
    [regions] = " mainController.selectedRegions "
    *ngIf = "mainController.viewingMode == 'Receptor Data'">

    <readmoreComponent
      *ngIf="mainController.selectedTemplate[mainController.viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="mainController.selectedTemplate[mainController.viewingMode]">
      </datasetBlurb>
    </readmoreComponent>

  </nehubaui-searchresult-region-list>
  
  <nehubaui-searchresult-region-pill-list 
    [startingMode] = "'docked'"
    [title] = "'Selected Regions'"
    [regions] = " mainController.selectedRegions "
    *ngIf = "mainController.viewingMode == 'Select atlas regions'">
    
    <readmoreComponent
      *ngIf="mainController.selectedTemplate[mainController.viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="mainController.selectedTemplate[mainController.viewingMode]">
      </datasetBlurb>
    </readmoreComponent>

  </nehubaui-searchresult-region-pill-list>

  <nehubaui-searchresult-region-pill-list 
    [additionalContent] = "'nifti'"
    [startingMode] = "'docked'"
    [title] = "'Cytoarchitectonic Probabilistic Map'"
    [regions] = " mainController.selectedRegions "
    *ngIf = "mainController.viewingMode == 'Cytoarchitectonic Probabilistic Map'">
    
    
    <readmoreComponent
      *ngIf="mainController.selectedTemplate[mainController.viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="mainController.selectedTemplate[mainController.viewingMode]">
      </datasetBlurb>
    </readmoreComponent>
    
  </nehubaui-searchresult-region-pill-list>

  <nehubaui-landmark-list 
    *ngIf = "mainController.viewingMode == 'iEEG Recordings'">

    <readmoreComponent
      *ngIf="mainController.selectedTemplate[mainController.viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="mainController.selectedTemplate[mainController.viewingMode]">
      </datasetBlurb>
    </readmoreComponent>
  </nehubaui-landmark-list>
  
</div>

<nehuba-ui-splash-screen>
  
</nehuba-ui-splash-screen>