<NehubaViewer 
  (mousemove)="mouseEventHandler('mousemove',$event)"
  (click) = "mouseEventHandler('click',$event)"
  (mousedown) = "mouseEventHandler('mousedown',$event)"
  (mouseup) = "mouseEventHandler('mouseup',$event)">

</NehubaViewer>

<ng-template #receptorDataWidget>
  <nehubaui-searchresult-region-list 
    [title] = "'Receptor Data Browser'"
    (mouseEnterRegion)="receptorMouseEnter($event)"
    (mouseLeaveRegion)="receptorMouseLeave($event)"
    [regions] = " selectedRegions ">

    <readmoreComponent
      *ngIf="mainController.selectedTemplate[mainController.viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="mainController.selectedTemplate[mainController.viewingMode]">
      </datasetBlurb>
    </readmoreComponent>

  </nehubaui-searchresult-region-list>
</ng-template>
  
<!-- TODO remove -->
<ng-template #testing>
  test test haha
</ng-template>

<ng-template #defaultWidget>
  <nehubaui-searchresult-region-pill-list 
    [startingMode] = "'docked'"
    [title] = "'Selected Regions'"
    [regions] = " selectedRegions ">
    
    <readmoreComponent
      *ngIf="selectedTemplate && selectedTemplate[viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="selectedTemplate[viewingMode]">
      </datasetBlurb>
    </readmoreComponent>

  </nehubaui-searchresult-region-pill-list>
</ng-template>

<ng-template #cytopmapWidget>
  <nehubaui-searchresult-region-pill-list 
    [additionalContent] = "'nifti'"
    [startingMode] = "'docked'"
    [title] = "'Cytoarchitectonic Probabilistic Map'"
    [regions] = " selectedRegions ">
    
    
    <readmoreComponent
      *ngIf="selectedTemplate && selectedTemplate[viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="selectedTemplate[viewingMode]">
      </datasetBlurb>
    </readmoreComponent>
    
  </nehubaui-searchresult-region-pill-list>
</ng-template>

<ng-template #landmarkWidget>
  <nehubaui-landmark-list >

    <readmoreComponent
      *ngIf="selectedTemplate && selectedTemplate[viewingMode]"
      [style.background-color]="'rgba(0,0,0,0.2)'">
      <datasetBlurb
        [dataset]="selectedTemplate[viewingMode]">
      </datasetBlurb>
    </readmoreComponent>
  </nehubaui-landmark-list>
</ng-template>

<nehuba-ui-splash-screen>
</nehuba-ui-splash-screen>