:host
{
  display: inline-flex;
  width: 0px;
  height: 0px;
  position: relative;
}

mat-card
{
  position: absolute;
  margin: 0;
  z-index: 10;
}

.progress-dot
{
  transition: opacity ease-in-out 300ms;
}

.progress-dot:hover
{
  opacity: 0.8!important;
}

mat-card-actions
{
  flex-wrap: wrap;
  justify-content: center;
}

.progress-dots-container
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.5;
  width: 100%;
  margin: 0 1rem;
}
