<div regionContainer>  
  <div 
    multilevelContainer>
    <div selectionSummary>
      <div style = "display:inline-block;padding-top:6px;padding-bottom:6px;">{{ mainController.selectedRegions.length }} regions selected 
      </div>
      <a *ngIf = "mainController.selectedRegions.length > 0" (click)="clearAllSelections()" class = "btn btn-link">clear all</a>
    </div>
    <multilevel 
      [isVisible] = "region | multilevelSelectorVisiblePipe : multilevelProvider.searchTerm"
      [muteFilter] = "muteFilter"
      [highlightFilter] = "highlightFilter"
      [getValueToShow] = "getValueToShow"
      (singleClick) = "multilevelSingleClick($event)"
      (doubleClick) = "multilevelDoubleClick($event)"
      (mouseoverMultilevel) = "mouseoverMultilevel($event)"
      (mouseoutMultilevel) = "mouseoutMultilevel($event)"
      class = "menuItemContentText"  
      *ngFor = "let region of regions"
      [data]= "region" >
    </multilevel>
  </div>
</div>
