
div[treeHeader]
{
  height: 55px;
}

div[treeHeader] > span 
{
  display:inline-block;
  padding: 12px 0px;
  line-height:2em;
  border:none;
}

div[treeHeader] > span.btn.btn-link
{
  margin-left:2em;
}

div[treeContainer]
{
  padding:1em;
  z-index: 3;

  max-height:20em;
  width: calc(100% + 2em);
  overflow-y:auto;
  overflow-x:hidden;


  /* color:white;
  background-color:rgba(12,12,12,0.8); */
}

:host-context([darktheme="false"]) div[treeContainer]
{
  background-color:rgba(240,240,240,0.8);
}

:host-context([darktheme="true"]) div[treeContainer]
{
  background-color:rgba(30,30,30,0.8);
  color:rgba(255,255,255,1.0);
}

div[hideScrollbarcontainer]
{
  width: 20em;
  overflow:hidden;
  margin-top:2px;
}

div[searchRegionPopover]
{
  /* height:2em; */
}

input[type="text"]
{
  border:none;
}

:host-context([darktheme="false"]) input[type="text"]
{
  background-color:rgba(245,245,245,0.85);
  box-shadow: inset 0 4px 6px 0 rgba(5,5,5,0.1);
}

:host-context([darktheme="true"]) input[type="text"]
{
  background-color:rgba(30,30,30,0.85);
  box-shadow: inset 0 4px 6px 0 rgba(0,0,0,0.2);
  color:rgba(255,255,255,0.8);
}

.regionSearch
{
  width:20em;
}