<ng-template [ngIf]="view$ | async" let-view>
    <div feature-filter-directive
        [items]="view.categories"
        [initValue]="true"
        #catFilter="featureFilterDirective">

    </div>

    <div feature-filter-directive
        [items]="view.modalities"
        [initValue]="true"
        #modFilter="featureFilterDirective">
        
    </div>

    <!-- filter -->
    <section class="filter-section">
        
        <ng-template #allTmpl>
            <span class="text-muted">
                <i>(all)</i>
            </span>
        </ng-template>

        <ng-template #allCheckedTmpl>
            <mat-checkbox [checked]="true"
                (change)="modFilter.setAll(false)"
                class="all-toggle">
                <ng-template [ngTemplateOutlet]="allTmpl"></ng-template>
            </mat-checkbox>
        </ng-template>
        <ng-template #indeterminateTmpl>
            <mat-checkbox [indeterminate]="true"
                (change)="modFilter.setAll(false)"
                class="all-toggle">
                <ng-template [ngTemplateOutlet]="allTmpl"></ng-template>
            </mat-checkbox>
        </ng-template>
        <ng-template #nonCheckedTmpl>
            <mat-checkbox [checked]="false"
                (change)="modFilter.setAll(true)"
                class="all-toggle">
                <ng-template [ngTemplateOutlet]="allTmpl"></ng-template>
            </mat-checkbox>
        </ng-template>

        <ng-template #notAllCheckedTmpl>
            <ng-template [ngIf]="(modFilter.checked$ | async).length === 0"
                [ngIfThen]="nonCheckedTmpl"
                [ngIfElse]="indeterminateTmpl">
            </ng-template>
        </ng-template>

        <ng-template [ngIf]="(modFilter.unchecked$ | async).length === 0"
            [ngIfThen]="allCheckedTmpl"
            [ngIfElse]="notAllCheckedTmpl">
        </ng-template>

        <mat-divider></mat-divider>

        <!-- categories -->
        <ng-template ngFor [ngForOf]="view.categories" let-cat>
            <mat-checkbox
                class="sxplr-d-none"
                [checked]="catFilter.checked$ | async | includes : cat"
                (change)="catFilter.setValue(cat, $event.checked)">
                <span *ngIf="cat; else fallbackTmpl">
                    {{ cat }}
                </span>
                <ng-template #fallbackTmpl>
                    <span class="muted">
                        (uncategorized)
                    </span>
                </ng-template>
                <span class="text-muted">
                    (
                        {{ (
                            view.features
                            | filterArray : filteredFeatures("cat", [cat])
                        ).length
                        }}
                    )
                </span>
            </mat-checkbox>
        </ng-template>

        <!-- modalities -->
        <ng-template ngFor [ngForOf]="view.modalities" let-mod>
            <mat-checkbox
                [checked]="modFilter.checked$ | async | includes : mod"
                (change)="modFilter.setValue(mod, $event.checked)">
                <span *ngIf="mod; else fallbackTmpl">
                    {{ mod }}
                </span>
                <ng-template #fallbackTmpl>
                    <span class="muted">
                        (other)
                    </span>
                </ng-template>
                <span class="text-muted">
                    (
                        {{ (
                            view.features
                            | filterArray : filteredFeatures("mod", [mod])
                        ).length
                        }}
                    )
                </span>
            </mat-checkbox>
        </ng-template>

    </section>


    <ng-template [ngIf]="catFilter.checked$ | async" let-catCheched>
        <ng-template [ngIf]="modFilter.checked$ | async" let-modCheched>
            <ng-template [ngIf]="
                view.features
                | filterArray : filteredFeatures('mod', modCheched)
                | filterArray : filteredFeatures('cat', catCheched)"
                let-filteredFeatures>

                <mat-divider></mat-divider>
                <div class="feature-list-container">
                    <cdk-virtual-scroll-viewport
                        itemSize="36"
                        class="virtual-scroll-viewport">
                
                        <ng-template cdkVirtualFor
                            [cdkVirtualForOf]="filteredFeatures"
                            let-feature
                            let-last="last">
                            <button mat-button
                                (click)="featureClicked.emit(feature)"
                                class="virtual-scroll-item sxplr-w-100">
                                <span class="ws-no-wrap"> {{ feature.name }} </span>
                            </button>
                
                        </ng-template>
                
                    </cdk-virtual-scroll-viewport>
                </div>
            </ng-template>

            
        </ng-template>
    </ng-template>


</ng-template>
