.feature-list-container
{
    height: 40dvh;

    > cdk-virtual-scroll-viewport
    {
        height: 100%;

        button[mat-button]
        {
            justify-content: start;
        }
    }
}

.filter-section
{
    max-height: 10dvh;
    overflow: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
