<mat-card cdkDrag
  [cdkDragDisabled]="state === 'docked'"
  [ngClass]="{'blinkOn': blinkOn, 'bodyCollapsable': state === 'docked'}"
  class="widget-body">

  <!-- body -->
  <mat-card-content>
    <!-- top bar, drag handle etc -->
    <div class="d-flex align-items-center">
      <!-- drag handle -->
      <span class="hover-grab p-2"
        cdkDragHandle>
        <i class="fas fa-grip-vertical"></i>
      </span>

      <div class="flex-grow-1"></div>

      <!-- close btn -->
      <button mat-icon-button
        (click)="exit($event)">
        <i class="fas fa-times"></i>
      </button>
    </div>

    <h4 class="mat-h4">
      <ng-template [ngTemplateOutlet]="titleTmpl">
      </ng-template>
    </h4>
    <ng-template #container>
    </ng-template>
  </mat-card-content>
</mat-card>


<!-- title tmpl -->
<ng-template #titleTmpl>
  <div *ngIf="!titleHTML">
    {{ title }}
  </div>
  <div [innerHTML]="titleHTML" *ngIf="titleHTML">
  </div>
</ng-template>
