[hbpLogoContainer]
{
  display:inline-block;
  background-size: cover;
  pointer-events: none;
  height:80px;
}

[hbpLogoContainer] > img
{
  visibility: hidden;
  height:80px;
  pointer-events: none;
}
