.region-wrapper
{
  height: 55px;
}

/* exactly 1.5 line height */

.h-117px
{
  min-height:117px!important;
}

.mat-divider-full-width
{
  margin-right:-1.5rem;
  margin-left:-1.5rem;
  width: calc(100% + 3rem);
}
