.region-wrapper
{
  height: 55px;
}

.mat-divider-full-width
{
  margin-right:-1.5rem;
  margin-left:-1.5rem;
  width: calc(100% + 3rem);
}

connectivity-browser {
  max-height: calc(100% - 220px);
}

.min-w-50vw
{
  min-width: 50vw!important;
}

.min-h-50vh
{
  min-height: 50vh!important;
}
