<div class="d-flex flex-column h-100">
  
  <region-text-search-autocomplete
    *ngIf="false"
    [showBadge]="true"
    class="d-block w-100">
  </region-text-search-autocomplete>

  <ng-container *ngIf="(sidePanelExploreCurrentViewIsOpen$ | async)" [ngSwitch]="(sidePanelCurrentViewContent | async)">
    <connectivity-browser class="pe-all flex-grow-5 flex-shrink-1"
                          *ngSwitchCase = "'Connectivity'">

    </connectivity-browser>
  </ng-container>

</div>

<div class="d-none">
  <layer-browser
    (nonBaseLayersChanged)="handleNonbaseLayerEvent($event)"
    #layerBrowser>
  </layer-browser>
</div>

<ng-template #layerBrowserTmpl>
  <mat-dialog-content
    iav-switch
    #showLayerBrowserSwitch="iavSwitch"
    [hidden]="!showLayerBrowserSwitch.switchState">
    <div class="d-flex flex-column">
      <layer-browser></layer-browser>
    </div>
  </mat-dialog-content>

  <div class="d-flex justify-content-center position-static h-0 mt-4">
    <button mat-mini-fab
      aria-label="Toggle expansion state of additional layer browser"
      [matBadge]="showLayerBrowserSwitch.switchState ? null : (layerBrowser.nonBaseNgLayers$ | async).length"
      class="position-absolute layerBrowserToggleBtn"
      matTooltip="Toggle the visiblity of the additional layer browser"
      [attr.toggle-open]="showLayerBrowserSwitch.switchState"
      (click)="showLayerBrowserSwitch.toggle()">
      <i class="fas" [ngClass]="{'fa-chevron-down': !showLayerBrowserSwitch.switchState, 'fa-chevron-up': showLayerBrowserSwitch.switchState}">
      </i>
    </button>
  </div>
</ng-template>  
