<div class="d-flex flex-column h-100">
  <viewer-state-controller class="pe-all flex-grow-0 flex-shrink-0 mb-2" #viewerStateController>

    <!-- content append -->
    <ng-container card-content="append">
      <region-text-search-autocomplete
        [showBadge]="true"
        class="d-block w-100">
      </region-text-search-autocomplete>
    </ng-container>

    <!-- footer content -->
    <div class="d-flex flex-row justify-content-center" card-footer>
      <button mat-stroked-button
        *ngIf="!showDataset"
        (click)="showDataset = true"
        class="m-1 flex-grow-1 overflow-hidden" >
        <i class="fas fa-chevron-down"></i>
        <ng-container *ngIf="viewerStateController.regionsSelected$ | async as regionsSelected">
          {{ regionsSelected.length === 0 ? 'Explore the current view' : regionsSelected.length === 1 ? ('Explore ' + regionsSelected[0].name) : ('Explore selected regions (' + regionsSelected.length + ' selected)') }}
        </ng-container>
      </button>
    </div>
  </viewer-state-controller>

  <data-browser
    class="pe-all flex-grow-1 flex-shrink-1"
    *ngIf="showDataset"
    [template]="viewerStateController.templateSelected$ | async"
    [parcellation]="viewerStateController.parcellationSelected$ | async"
    [regions]="viewerStateController.regionsSelected$ | async"
    (dataentriesUpdated)="availableDatasets = $event.length">

    <!-- content prepend -->
    <ng-container *ngIf="viewerStateController.regionsSelected$ | async as regionsSelected" card-content="prepend">
      <mat-card-content [ngClass]="{'h-10em': regionsSelected.length > 1}">

        <!-- show when no region is selected -->
        <ng-template [ngIf]="regionsSelected.length === 0" [ngIfElse]="showBrainRegions">
          <div class="d-flex flex-row align-items-center flex-nowrap">
            <span class="font-weight-bold">
              In the current view
            </span>
          </div>
        </ng-template>

        <!-- show when regions are selected -->
        <ng-template #showBrainRegions>

          <!-- single region -->
          <ng-template [ngIf]="regionsSelected.length === 1" [ngIfElse]="multiRegionTemplate">

            <!-- selected brain region -->
            <div class="pt-2 pb-2 d-flex flex-row align-items-center flex-nowrap">
              <i class="fas fa-brain font-2x mr-2"></i>
  
              <span class="font-weight-bold">
                {{ regionsSelected[0].name }}
              </span>
  
              <button (click)="removeRegion(regionsSelected[0])" mat-icon-button>
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </ng-template>

          <!-- multi region -->
          <ng-template #multiRegionTemplate>
            <cdk-virtual-scroll-viewport class="h-100" itemSize="78">
              <div *cdkVirtualFor="let region of regionsSelected; trackBy: trackByFn ; let index = index"
                class="region-wrapper d-flex flex-column" >
                <!-- divider if index !== 0 -->
                <mat-divider class="flex-grow-0 flex-shrink-0" *ngIf="index !== 0"></mat-divider>
  
                <!-- selected brain region -->
                <div class="flex-grow-1 flex-shrink-1 pt-2 pb-2 d-flex flex-row align-items-center flex-nowrap">
                  <i class="fas fa-brain font-2x mr-2"></i>
      
                  <span class="font-weight-bold">
                    {{ region.name }}
                  </span>
      
                  <button (click)="removeRegion(region)" mat-icon-button>
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </div>
            </cdk-virtual-scroll-viewport>
          </ng-template>

        </ng-template>
      </mat-card-content>
    </ng-container>

    <!-- footer content -->
    <div class="d-flex flex-row justify-content-center" card-footer>
      <button mat-stroked-button
        class="m-1"
        (click)="showDataset = false" >
        <i class="fas fa-chevron-up"></i>
      </button>
    </div>
  </data-browser>
</div>

<div [hidden]>
  <layer-browser (nonBaseLayersChanged)="handleNonbaseLayerEvent($event)" #layerBrowser>
  </layer-browser>
</div>