<ng-template [ngIf]="view$ | async" let-view>

  <ng-template #headerTmpl>
    <ng-template [ngIf]="view.prevCmpFeat">
      <button mat-button class="sxplr-mb-2"
        (click)="showSubfeature(view.prevCmpFeat)">
        <i class="fas fa-chevron-left"></i>
        <span class="ml-1">
          Back
        </span>
      </button>
    </ng-template>

    <ng-template [ngIf]="!view.prevCmpFeat">

      <button mat-button
        (click)="clearSelectedFeature()"
        class="sxplr-mb-2">
        <span class="ml-1">
          Dismiss
        </span>
        <i class="fas fa-times"></i>
      </button>
    </ng-template>
    
  </ng-template>

  <mat-card class="mat-elevation-z4 sxplr-z-4 header-card">
    
    <mat-card-header>
      <mat-card-subtitle>
        <ng-template [ngTemplateOutlet]="headerTmpl"></ng-template>
      </mat-card-subtitle>

      <mat-card-subtitle>
        <span class="sxplr-m-a sxplr-pr-1">
          {{ view.category }}
        </span>
      </mat-card-subtitle>

      <mat-card-title>
        <div class="feature-title">
          {{ view.name }}
        </div>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>

  <ng-template [ngIf]="view.busy">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>

  <mat-tab-group>
    <mat-tab label="Overview">

      <mat-action-list class="overview-container">

        <ng-template ngFor [ngForOf]="view.warnings" let-warning>
          <button mat-list-item>
            <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-map-marker"></mat-icon>
            <div matListItemTitle>{{ warning }}</div>
          </button>
        </ng-template>

        <!-- code -->
        <ng-template sxplrExperimentalFlag [experimental]="true">
        <button mat-list-item
          code-snippet
          [routeParam]="{
            route: '/feature/{feature_id}',
            param: {
              path: {
                feature_id: view.featureId
              }
            }
          }"
          #codeSnippet="codeSnippet"
          [disabled]="codeSnippet.busy$ | async">
          <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-code"></mat-icon>
          <div matListItemTitle>
            <ng-template [ngIf]="codeSnippet.busy$ | async">
              loading code ...
            </ng-template>
            <ng-template [ngIf]="!(codeSnippet.busy$ | async)">
              code
            </ng-template>
          </div>
        </button>
        </ng-template>

        <!-- anchor -->
        <ng-template [ngIf]="view.concept">
          <button mat-list-item
            [sxplr-dialog]="queriedConceptsTmpl"
            [sxplr-dialog-size]="null">
            <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-anchor"></mat-icon>
            <div matListItemTitle>Queried Concepts</div>
          </button>

          <ng-template #queriedConceptsTmpl>
            <mat-card>
              <mat-card-header class="sxplr-custom-cmp text">
                <mat-card-title>
                  Queried Concepts
                </mat-card-title>
                <mat-card-subtitle>
                  Concepts queried to get this feature. Please note this property is session dependent.
                </mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="sxplr-custom-cmp text">
                <tpbr-viewer [tpbr-concept]="view.concept"></tpbr-viewer>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button matDialogClose>close</button>
              </mat-card-actions>
            </mat-card>
          </ng-template>
        </ng-template>

        <!-- doi -->
        <ng-template ngFor [ngForOf]="view.links" let-url>
          <a [href]="url.href" mat-list-item target="_blank" class="no-hover">
            <mat-icon matListItemIcon fontSet="ai" fontIcon="ai-doi"></mat-icon>
            <div matListItemTitle>{{ url.text || url.href }}</div>
          </a>
        </ng-template>
        
        <!-- additional links -->
        <ng-template ngFor [ngForOf]="view.additionalLinks" let-url>
          <a [href]="url" mat-list-item target="_blank" class="no-hover">
            <mat-icon matListItemIcon fontSet="ai" fontIcon="ai-doi"></mat-icon>
            <div matListItemTitle>{{ url }}</div>
          </a>
        </ng-template>

        <a [href]="view.downloadLink" mat-list-item target="_blank" class="no-hover">
          <mat-icon matListItemIcon fontSet="fas" fontIcon="fa-download"></mat-icon>
          <div matListItemTitle>Download</div>
        </a>
        
      </mat-action-list>
      
      <markdown-dom class="sxplr-m-2 sxplr-muted" [markdown]="view.desc">
      </markdown-dom>
    </mat-tab>

    <ng-template [ngIf]="view.cmpFeatElmts" let-cmpFeatElmts>
      <mat-tab label="Elements">
        <ng-template matTabContent>
          <compound-feature-indices [indices]="cmpFeatElmts"
            [selected-template]="view.selectedTemplate"
            (on-click-index)="showSubfeature($event)">
          </compound-feature-indices>
        </ng-template>
      </mat-tab>
    </ng-template>

    <!-- voi special view -->
    <ng-template [ngIf]="view.voi" let-voi>
      <mat-tab label="Volume Control">
        <ng-layer-ctl
          [ng-layer-ctl-name]="voi.ngVolume.url"
          [ng-layer-ctl-format]="voi.ngVolume.format"
          [ng-layer-ctl-src]="voi.ngVolume.url"
          [ng-layer-ctl-transform]="voi.ngVolume.transform"
          [ng-layer-ctl-info]="voi.ngVolume.info"
          [ng-layer-ctl-opacity]="1.0"
          [ng-layer-ctl-meta]="voi.ngVolume.meta"
          [ng-layer-ctl-show]="true">
        </ng-layer-ctl>
      </mat-tab>
    </ng-template>

    <!-- plotly view -->
    <ng-template [ngIf]="view.plotly" let-plotly>
      <mat-tab label="Visualization">
        <ng-template matTabContent>
          <sxplr-plotly-component
            (plotly-label-clicked)="navigateToRegionByName($event)"
            [plotly-json]="plotly"></sxplr-plotly-component>
        
          <!-- Other generic intents -->
          <!-- For now, only used for colorization of atlas -->
          <!-- <atlas-colormap-intents [intents]="intents$ | async"
            (actions)="onAction($event)">
          </atlas-colormap-intents> -->
        </ng-template>
      </mat-tab>
    </ng-template>

  </mat-tab-group>

</ng-template>
