.feature-title
{
    max-height: 12rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.feature-detail
{
    width: 100%;
}

spinner-cmp
{
    margin: auto;
    margin-left: 0.5rem;
}

readmore-component
{
    width: 100%;
}

.header-card {
    background-color: #fee;
}

:host-context([darktheme="true"])
{
    .header-card {
        background-color: #433;
    }
}