<panel-component
  [style.transform] = "transform"
  [containerClass] = "containerClass"
  widgetUnitPanel
  [bodyCollapsable] = "state === 'docked'"
  [cdkDragDisabled]="state === 'docked'"
  cdkDrag
  [ngStyle]="{'max-width': isMobile? '100%' : '300px',
              'margin-bottom': isMobile? '5px': '0'}">
  <div 
    widgetUnitHeading
    heading
    cdkDragHandle>
    <div #emptyspan emptyspan>.</div>
    <div title>
      <div *ngIf="!askBeforeExit && !titleTextBoxVisible">
        <div *ngIf="!titleHTML">
          {{ title }}
        </div>
        <div [innerHTML]="titleHTML" *ngIf="titleHTML">

        </div>
      </div>
      <div *ngIf="askBeforeExit" class="d-flex justify-content-between">
        <span>Exit without pin? </span>
        <div>
          <button class="exitButtons" (click)="exit($event)">exit</button>
          <button class="exitButtons" (click)="askBeforeExit = false">cancel</button>
        </div>
      </div>
      <div *ngIf="titleTextBoxVisible" class="d-flex justify-content-between">
        <input type="text" [placeholder]="title" #widgetTitleInput class="w-100">
        <div class="float-right">
          <button class="exitButtons" (click)="pinWidget(widgetTitleInput.value)">save</button>
          <button class="exitButtons" (click)="titleTextBoxVisible = false">cancel</button>
        </div>
      </div>
    </div>
    <div icons>


    <span *ngIf="!isMobile && !askBeforeExit && !titleTextBoxVisible" class="dock-icons">
      <span *ngIf="!widgetUnitIncludesWidget(this); else WidgetIncluded" class="d-flex align-items-center">
        <div class="pin-icon-div">
          <i (click)="showTitleTextBox()"
             class="fas fa-thumbtack"
             [hoverable] ="{translateY: -1}">
          </i>
        </div>
        <i *ngIf = "exitable"
           (click) = "this.askBeforeExit = true"
           class = "fas fa-times"
           [hoverable] ="{translateY: -1}">
        </i>
      </span>
      <ng-template #WidgetIncluded >
        <span class="d-flex align-items-center">
          <span class="pin-icon-div" (click)="dataBrowserService.removeWidgetUnitInstance(this)">
            <span style="width: 15px; max-width: 15px;"
                  class="fa-stack crossed-out"
                  [hoverable] ="{translateY: -1}">
              <i class="fas fa-thumbtack">
              </i>
            </span>
          </span>
          <i (click)="widgetServices.minimise(this)"
             class="fas fa-window-minimize"
             [hoverable] ="{translateY: -1}">
          </i>
        </span>
      </ng-template>
    </span>

      <span>
        <i *ngIf = "canBeDocked && state === 'floating' && !isMobile"
          (click) = "dock($event)"
          class = "fas fa-window-minimize"
          hoverable></i>
        <i *ngIf = "state === 'docked' && !isMobile"
          (click) = "undock($event)"
          class = "fas fa-window-restore"
          hoverable></i>
      </span>


    </div>
  </div>
  <div widgetUnitBody body>
    <ng-template #container>

    </ng-template>
  </div>

</panel-component>