<panel-component
  [style.transform] = "transform"
  [containerClass] = "containerClass"
  widgetUnitPanel
  [bodyCollapsable] = "state === 'docked'"
  [cdkDragDisabled]="state === 'docked'"
  cdkDrag
  [ngStyle]="{'max-width': isMobile? '100%' : '300px',
              'margin-bottom': isMobile? '5px': '0'}">
  <div 
    widgetUnitHeading
    heading
    cdkDragHandle>
    <div #emptyspan emptyspan>.</div>
    <div title>
      <div *ngIf="!titleHTML">
        {{ title }}
      </div>
      <div [innerHTML]="titleHTML" *ngIf="titleHTML">

      </div>
    </div>
    <div icons>
      <i
        *ngIf="!isMobile && minimizable"
        (click)="widgetServices.minimise(this)"
        class="fas fa-window-minimize"
        [hoverable] ="{translateY: -1}">

      </i>
      <i *ngIf = "canBeDocked && state === 'floating' && !isMobile && minimizable"
        (click) = "dock($event)" 
        class = "fas fa-window-minimize" 
        hoverable></i>
      <i *ngIf = "state === 'docked' && !isMobile"
        (click) = "undock($event)" 
        class = "fas fa-window-restore"
        hoverable></i>
      <i *ngIf = "exitable"
        (click) = "exit($event)" 
        class = "fas fa-times" 
        [hoverable] ="{translateY: -1}"></i>
    </div>
  </div>
  <div widgetUnitBody body>
    <ng-template #container>

    </ng-template>
  </div>
</panel-component>