:host
{
  pointer-events: all;
  display:block;
}

div[widgetUnitHeading]
{
  font-size:110%;
  padding : 0.5em 0.7em;
  display:flex;
  white-space: nowrap;
}

  div[widgetUnitHeading] > div[title]
  {
    flex : 1 1 0px;
    overflow:hidden;
    text-overflow: ellipsis;
  }

  div[widgetUnitHeading] > div[icons]
  {
    flex : 0 0 0px;
    display:flex;
  }

  div[widgetUnitHeading] > div[icons] > i
  {
    margin-left:0.5em;
  }

panel-component[widgetUnitPanel]
{
  display:block;
  min-width:280px;
}

:host-context([state='floating']) div[widgetUnitHeading]:hover
{
  cursor : move;
}

[emptyspan]
{
  opacity:0.01;
}

.crossed-out:after {
  content: '|';
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: -14px;
  max-width: 15px !important;
  width: 15px !important;
  mix-blend-mode: difference;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.exitButtons {
  border: 1px solid black;
  border-radius: 10px;
  padding: 1px 5px;
  margin-left: 3px;
}