<panel-component
  widgetUnitPanel
  [ngClass]="{'blinkOn': blinkOn}"
  [bodyCollapsable] = "state === 'docked'"
  [cdkDragDisabled]="state === 'docked'"
  cdkDrag>
  <div 
    widgetUnitHeading
    heading
    cdkDragHandle>
    <div title>
      <div *ngIf="!titleHTML">
        {{ title }}
      </div>
      <div [innerHTML]="titleHTML" *ngIf="titleHTML">

      </div>
    </div>
    <div icons>
      <i
        *ngIf="useMobileUI$ | async"
        (click)="widgetServices.minimise(this)"
        class="fas fa-window-minimize"
        [hoverable] ="hoverableConfig">

      </i>

      <ng-container *ngIf="!(useMobileUI$ | async)">
        <i *ngIf="canBeDocked && state === 'floating'"
          (click)="dock($event)" 
          class="fas fa-window-minimize" 
          [hoverable]="hoverableConfig"></i>
        <i *ngIf="state === 'docked'"
          (click)="undock($event)" 
          class="fas fa-window-restore"
          [hoverable]="hoverableConfig"></i>
      </ng-container>

      <i *ngIf="exitable"
        (click)="exit($event)" 
        class="fas fa-times" 
        [hoverable] ="hoverableConfig"></i>
    </div>
    <progress-bar [progress]="progressIndicator" *ngIf="showProgress" progressBar>

    </progress-bar>
  </div>
  <div widgetUnitBody body>
    <ng-template #container>

    </ng-template>
  </div>
</panel-component>