@function gray($percent){
  @return rgb($percent*255,$percent*255,$percent*255)
};
@function tgray($percent,$alpha){
  @return rgba($percent*255,$percent*255,$percent*255,$alpha)
};

/** 
 * styles only, no layouts
 */

img
{
  max-width:100%;
  pointer-events: all;
}

span.highlight
{
  background-color:#770 !important;
}

div#ATLASContainer
{
  a
  {
    &:hover
    {
      cursor:pointer;
      text-decoration:none;
    }
  }
  .close
  {
    margin-left:0.2em;
  }

  background-color:gray(1);
  color:gray(0);
  width:100%;
  height:100%;

  .app-input-group
  {
    position:relative;
    height:2em;

    .app-input-placeholder
    {
      position:absolute;
      z-index:2;
      pointer-events: none;

      padding-left:12px;
      padding-top:6px;
      padding-bottom:6px;
      padding-right:12px;
    }

    input[type="text"]
    {
      position:absolute;
      z-index:1;
    }
  }

  .inputSearchContainer,
  .inputModeSearchContainer
  {
    margin-top:2px;
    border:none;
    max-height:40em;
    overflow:hidden;
    
    .popover-content
    {
      padding : 0px;
      height:100%;
      max-height:40em;
      width:20em;
    }
  }

  .glyphicon
  {
    background-color:rgba(0,0,0,0);
  }
  
  span.highlight
  {
    background-color:#770 !important;
  }
  
  ul.list-group
  {
    li.list-group-item
    {
      border:none;
      border-radius:0px;
      padding:10px 15px;

    }
  }

  .well
  {
    border-radius:0px;
    border:none;
  }

  .panel
  {
    border:none;
    border-radius:0px;
    margin:0px;
    overflow:hidden;

    background-color:gray(0.95);
    box-shadow: 0 4px 6px 0 tgray(0,0.12);

    .panel-heading
    {
      border:none;
      border-radius:0px;
      position:relative;
      z-index:1;
      box-shadow: 0 4px 6px 0 tgray(0,0.08);

      background:none;
    }
    .panel-body
    {
      padding:0px;
      padding-bottom:0px;

      background:none;

      position:relative;
      &:before
      {
        display : block;
        z-index : 9;
        content : ' ';
        position:absolute;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        pointer-events: none;

        background-color:tgray(0,0.1);
      }
    }
  }

  .btn:not(.btn-link)
  {
    border:none;
    border-color:tgray(0.9,0.5);
    box-shadow: 0 4px 6px 0 tgray(0.9,0.5);
    background-color:tgray(1.0,0.8);
    border-radius:0px;

    &:hover
    {
      background-color:tgray(0.97,0.99);
    }
  }

  atlasbanner
  {
    background-color:rgba(0,0,0,0);
    height:0px;

    div.input-group
    {
      vertical-align: middle;
    }

    input[type="text"]
    {
      background-color:tgray(0.95,0.8);
      box-shadow: inset 0 4px 6px 0 tgray(0.9,0.8);
      border:none;
      border-radius:0px;
    }
    .glyphicon.helpbtn
    {
      font-size:1.5em;
      vertical-align: middle;

      text-shadow: 0 4px 6px tgray(0.9,0.8);
      
      &:hover
      {
        color:rgba(0,0,0,0.5);
      }
    }
    .popover.bottom
    {
      background-color:tgray(1.0,0.8);
    }
  }

  atlascontrol
  {
    box-shadow: 0em 0em 1em tgray(0,0.25);

    .glyphicon-overlay
    {
      color:gray(0.5);

      &:hover
      {
        color:gray(0.3);
      }
    }

    multilevel
    {
      span.regionHasMoreInfo:hover
      {
        color:goldenrod;
      }

      .multilevel-icon:hover
      {
        color:goldenrod;
        background-color:tgray(0.5,0.2);
      }
    }
  }

  atlasviewer
  {
    background-color:gray(1);
    box-shadow: 0em 0em 1.5em -0.5em gray(0);
  }

  nehubaModal
  {
    color:gray(0);
  }

  ATLASViewer
  {
    div#viewerStatus
    {
      background-color:tgray(0.99,0.5);
      color:gray(0.1);
      border: 1px solid tgray(0,0);
      box-shadow: 0 4px 6px 0 tgray(0.9,0.8);
    }

    div#neuroglancer-container
    {

      label.perspective-panel-show-slice-views
      {
        color:gray(0.3);

        /* special case, since the checkbox + container is dynamically generated, has to be applied as global css */
        
        visibility: hidden;

        &:hover
        {
          cursor:pointer;
          text-decoration: underline;
          text-decoration-color: #337ab7;
        }
        &:before
        {
          margin-left:0.2em;
          content : 'show / hide frontal octant';
          visibility: visible;
          pointer-events: all;
          color:#337ab7;
        }

        /* :before and :after pseudo classes for input does not conform for w3c see https://stackoverflow.com/a/4660434/6059235 */
        /* strange behaviour, works fine in chrome, but not in FF */
        // input[type="checkbox"]
        // {
        //   visibility: hidden;
        //   width:10em;

        //   &:hover
        //   {
        //     cursor: pointer;
        //     &:before
        //     {
        //       text-decoration: underline;
        //       text-decoration-color: #337ab7;
        //     }
        //   }

        //   &:before
        //   {
        //     content : 'Hide frontal block';
        //     visibility: visible;
        //     color:#337ab7;

        //   }
        //   &:checked
        //   {
        //     &:before
        //     {
        //       content : 'Show frontal block';
        //     }
        //   }
        // }
      }

      .neuroglancer-panel
      {
        border : 2px solid gray(0.95);

        &:hover
        {
          border : 2px solid gray(0.8);
        }

        .scale-bar-container
        {
          font-weight:500;
          color:gray(0.1);
          background-color:tgray(0.8,0.5);
        }
      }
    }
  }

  WidgetsContainer
  {

    FloatingWidgetContainer,
    DockedWidgetContainer
    {

      .panel
      {
        .panel-heading
        {
          padding-top:0.5em;
          padding-bottom:0.5em;

          .glyphicon
          {
            font-size:0.8em;
          }
        }
      }
    }

    MinimisedContainer
    {
      .popover
      {
        border:none;
      }
    }
  }

  // div#dockResizeSliver,
  // div#atlasResizeSliver
  // {
  //   background-color:tgrey(0,0);
  // }
}

div#ATLASContainer.darktheme
{
  .glyphicon.helpbtn
  {
    color:gray(0.0);
    text-shadow:0 0 0.5em rgb(128,128,128);

    &:hover
    {
      color:gray(1);
    }
  }
  
  .close
  {
    color:gray(1);
    opacity:0.35;
    text-shadow:0 1px 0 gray(0.2);
    &:hover
    {
      color:gray(0.8);
      opacity:0.35;
    }
  }
  a
  {
    color:#94b6d3;

    &:hover
    {
      color:#337ab7;
    }
  }
  %darktheme
  {
    border-color:gray(0.35);
    color:gray(0.95);
    background-color:gray(0.2);
  }

  span.badge
  {
    background-color:rgba(128,128,128,0.4);
    box-shadow: 0 4px 6px 0 tgray(0,0.12);
    margin:0em 0.4em 0.5em 0.2em;
    padding:0.5em;
    border-radius:0em;
  }

  .btn:not(.btn-link)
  {
    box-shadow:none;
  }

  div.panel
  {
    background-color:gray(0.2);

    div.panel-heading
    {
      @extend %darktheme;
      background:none;

      span
      {
        background-color:tgray(0,0);
      }
    }
    
    .panel-body
    {
      border:none;
      @extend %darktheme;
      background:none
    }
  }

  .text-muted
  {
    color:rgba(255,255,255,0.5);
    background-color:transparent;
  }
  ul.list-group
  {
    @extend %darktheme;
    
    li.list-group-item
    {
      @extend %darktheme;
    }
  }
  atlasbanner
  {
    @extend %darktheme;

    .tooltip.popover.bottom
    {
      background-color:tgray(0.5,0.3);
    }

    .popover.bottom
    {
      border-color:tgray(0.1,0.5);
      color:gray(0.95);
      background-color:tgray(0.06,0.8);

      .popover-title
      {
        display:none;
      }

      .popover-arrow
      {
        display:none;
      }

      .popover-content
      {
        .moreInfo-icon
        {
          &:hover
          {
            color:goldenrod;
            cursor:default;
          }
        }
      }
    }

    span.btn-default
    {
      color:gray(0.8);
      background-color:tgray(0.06,0.8);
      border-color:tgray(0.20,0.5);

      &:hover
      {
        background-color:tgray(0.1,0.8);
      }
    }

    span.input-group-addon
    {
      background-color:tgray(0.1,0.8);
      color:gray(1);
      border-color:tgray(0.35,0.5);
    }

    input
    {
      color:gray(1);
      border-color:gray(0.1);
      background-color:tgray(0.06,0.8);
      box-shadow:inset 0 0 1em -0.3em gray(0);
      
      &::-moz-placeholder
      {
        color:tgray(1,0.4);
      }
      &::-webkit-input-placeholder{
        color:tgray(1,0.4);
      }
    }
  }

  multilevel
  {
    color:gray(0.85);

    span.regionHasMoreInfo:hover
    {
      color:goldenrod;
    }

    span.multilevel-name.text-active
    {
      color:rgb(219, 181, 86);

      > span
      {
        color:rgb(219, 181, 86);
      }
    }

    span.multilevel-name.text-muted
    {
      color:tgray(1,0.5);

      > span
      {
        color:tgray(1,0.5);
      }

      &.text-active
      {

        color:rgba(219, 181, 86,0.5);

        > span
        {
          color:rgba(219, 181, 86,0.5);
        }
      }
    }
  }

  atlascontrol
  {
    // background-color : gray(0.2);

    .glyphicon-overlay
    {

      &:hover
      {
        color:gray(0.7);
      }
    }

  }

  ATLASViewer
  {
    floatingPopover
    {

      .popover.down
      {
        border-color:gray(0.35);
        color:gray(0.95);
        background-color:gray(0.25);

        .popover-title
        {
          background-color:gray(0.3);
          border-color:gray(0.35);
        }

        .popover-content
        {
          .moreInfo-icon
          {
            &:hover
            {
              color:goldenrod;
              cursor:default;
            }
          }
        }
      }
    }

    div#viewerStatus
    {
      box-shadow:none;
      background-color:tgray(0.2,0.5);
      color:gray(0.75);
    }

    div#neuroglancer-container
    {
      .neuroglancer-panel
      {
        border : 2px solid gray(0.05);

        &:hover
        {
          border : 2px solid gray(0.2);
        }

        label.perspective-panel-show-slice-views
        {
          color:gray(0.8);
          &:hover
          {
            color:gray(0.9);
          }
        }

        .scale-bar-container
        {
          color:gray(0.95);
          background-color:tgray(0.6,0.2);
        }
      }
    }

    > span.glyphicon
    {
      text-shadow:0 0 0.3em gray(1);
    }
  }

  WidgetsContainer
  {
    %widgetDarkTheme
    {
      border-color:gray(0.35);
      color:gray(0.95);
      background-color:gray(0.2);
    }

    DockedWidgetContainer,
    FloatingWidgetContainer
    {
      color:gray(0.95);
      background-color:gray(0.1);

      div[regionContainer]
      {
        background-color:gray(0.2);
        overflow-x:hidden;
      }

      div.panel.panel-success[floatingWidgetUnit],
      div.panel.panel-success[dockedWidgetUnit]
      {
        > div.panel-heading
        {
          background-color:rgba(0,20,0,0.5);
        }
      }
      
      span
      {
        @extend %widgetDarkTheme;
        background-color:tgray(0,0);
      }

      .alert
      {
        border:none;
        &.alert-danger
        {
          background-color:rgba(242,222,222,0.2);
        }
      }
      
      .popover
      {
        @extend %widgetDarkTheme;
        .popover-title
        {
          @extend %widgetDarkTheme;
          background-color:gray(0.3);
        }
      }

      .btn
      {
        @extend %widgetDarkTheme;
        &.btn-primary
        {
          background-color:gray(0.35);
        }
        &.btn-success
        {
          border:1px solid rgba(214,233,198,0.5);
        }
        &.btn-warning
        {
          border:1px solid rgba(250,235,204,0.5);
        }
        &.btn-danger
        {
          border:1px solid rgba(235,204,209,0.5);
        }
        &:hover{
          background-color:gray(0.35);
        }
      }
      input, input[readonly]
      {
        @extend %widgetDarkTheme;
      }

      hr
      {
        border-top: 1px solid gray(0.3);
      }

      div.well
      {
        @extend %widgetDarkTheme;
        background-color:tgray(0.0,0.2);
      }

      .table
      {
        @extend %widgetDarkTheme;

        tr
        {
          @extend %widgetDarkTheme;
          td
          {
            @extend %widgetDarkTheme;
          }
        }
      }
    }

    MinimisedContainer
    {

      .btn
      {
        @extend %widgetDarkTheme;
        &.btn-default
        {
          background-color:tgray(0.5,0.2);
          color:gray(0.8);
        }
        &.btn-success
        {
          background-color:rgba(0,20,0,0.5);
        }
      }

      .popover
      {
        background-color:tgray(0,0.4);
        color:gray(0.8);
        border:none;
        .popover-arrow
        {
          &:after
          {
            border-left-color:tgray(0,0.4);
          }
        }
      }
    }
  }

  // div#dockResizeSliver,
  // div#atlasResizeSliver
  // {
  //   background-color:tgray(0,0);
  // }
}

.darktheme
{
  &.popover.popover-left
  {
    .popover-arrow
    {
      &:after
      {
        border-left-color:tgray(0.12,0.8);
      }
    }
  }
  &.popover.popover-bottom
  {
    .popover-arrow
    {
      &:after
      {
        border-bottom-color: tgray(0.12,0.8);
      }
    }
  }
  &.popover
  {
    // border-color:tgray(0.35,0.5);
    border:none;
    color:gray(0.95);
    background-color:tgray(0.12,0.8);

    .popover-title
    {
      background-color:gray(0.3);
      border-color:gray(0.35);
    }

    .popover-content
    {
      .moreInfo-icon
      {
        &:hover
        {
          color:goldenrod;
          cursor:default;
        }
      }
    }
  }
}

ul.dropdown-menu
{
  border:none;
  border-radius:0px;
  padding:0px;
  background-color:tgray(1.0,0.8);

  li
  {
    padding:0px;

    a.dropdown-item
    {
      color:gray(0.2);
      padding:10px 10px;
      &:hover
      {
        color:gray(0.1);
        background-color:tgray(0.5,0.1);
      }
    }
  }
}

ul.darktheme.dropdown-menu
{
  background-color:tgray(0.06,0.8);

  li
  {
    &.dropdown-header
    {
      color:gray(0.7);
    }

    &.divider.dropdown-divider
    {
      background-color:gray(0.15);
    }

    .dropdown-menu
    {
      padding:0px;
    }

    .dropdown-item
    {
      color:gray(0.8);

      &:hover
      {
        color:gray(0.9);
        background-color:tgray(0.5,0.1);
      }
    }
  }
}


modal-container
{
  color:gray(0);
  // *
  // {
  //   color:gray(0);
  // }

  /* not yet active */
  &.darktheme
  {
    background-color:gray(0.2);
    color:gray(1);
    *
    {
      background-color:gray(0.2);
      color:gray(1);
    }
  }
}

/* styles, only if necessary */

div#ATLASContainer
{

  NehubaViewer
  {
    div#nehubaui-overlay
    {
      nehubaui-overlay.nehubaui-overlay-c
      {
        .glyphicon-container
        {
          position:absolute;

        }
      }
    }
    img
    {
      width:100%;
    }
  }
}
.popover
{
  border-radius:0px;
}
ul#statusContainer
{
  display:none;
}

body > .tooltip.top.landmarkTooltip
{
  margin-bottom : 1.5em;
  margin-right : 0.5em;
}

.inputModeSearchContainer
{
  margin-top:1em;
  width:100%;
  background-color:tgray(1,0.8);
  padding:0px;

  .popover-body.popover-content
  {
    padding:0px;
    background:transparent;

    ul#modeSelector
    {
      width:100%;

      list-style-type:none;
      padding-left:0px;
      margin-bottom:0px;
      background: transparent;

      li
      {
        background:transparent;
        width:100%;

        &:hover
        {
          background-color:tgray(0.5,0.2);
        }

        a
        {
          color:gray(0.1);
          width:100%;
          padding:10px;
          display:inline-block;
        }
      }

      &.darktheme
      {

        li
        {
          &:hover
          {
            color:gray(0.9);
            background-color:tgray(0.5,0.1);
          }

          a
          {
            color:gray(0.85);

            &:hover
            {
              color:gray(0.9);
            }
          }
        }
      }
    }
  }
}
