:host
{
  opacity: 0.5;
  transition: opacity ease-in-out 160ms;
  margin-bottom: 1rem;

  &:hover,
  &[data-menu-open="some"],
  &[data-menu-open="all"]
  {
    opacity: 1;
  }
}

:host
{
  display: flex;
  flex-wrap: nowrap;
}

sxplr-smart-chip.region-chip
{
  margin-left: -2.5rem;
}

sxplr-smart-chip.region-chip .regionname
{
  margin-left: 0.5rem;
}

sxplr-smart-chip [mat-icon-button]
{
  margin-right: -1.5rem;
}
