<div class="w-100 d-inline-flex flex-row align-items-center">

  <form *ngIf="showAutoComplete" class="d-flex flex-row flex-nowrap flex-grow-1 flex-shrink-1">
    <mat-form-field class="w-0 flex-grow-1 flex-shrink-1">
      <input
        placeholder="Search for regions"
        #autoTrigger
        #trigger="matAutocompleteTrigger"
        type="text"
        matInput
        [attr.aria-label]="ariaLabel"
        [formControl]="formControl"
        [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete
      (opened)="focused = true"
      (closed)="focused = false"
      panelWidth="auto"
      (optionSelected)="optionSelected($event)"
      autoActiveFirstOption
      #auto="matAutocomplete">
      <mat-option
        class="regionAutocompleteOption"
        *ngFor="let region of autocompleteList$ | async"
        [value]="region.labelIndexId">

        <simple-region
          #simpleRegion
          (click)="simpleRegion.toggleRegionSelected()"
          iav-stop="click"
          [region]="region"
          [isSelected]="regionsSelected$ | async | includes : region : compareFn">

        </simple-region>
      </mat-option>
    </mat-autocomplete>
  </form>
    
  <button
    matBadgeColor="accent"
    [matBadge]="showBadge && (regionsSelected$ | async).length ? (regionsSelected$ | async).length : null"
    class="flex-grow-0 flex-shrink-0"
    (click)="showHierarchy($event)"
    mat-icon-button
    color="primary">
    <i class="fas fa-sitemap"></i>
  </button>
</div>

<ng-template #regionHierarchyDialog>
  <div class="h-100 d-flex flex-column">
    <mat-dialog-content class="flex-grow-1 flex-shrink-1">
      <ng-container *ngTemplateOutlet="regionHierarchy">
      </ng-container>
    </mat-dialog-content>
  
    <mat-dialog-actions class="justify-content-center">
      <button mat-dialog-close mat-flat-button>
        close
      </button>
    </mat-dialog-actions>
  </div>
</ng-template>

<ng-template #regionHierarchy>
  <region-hierarchy
    [useMobileUI]="useMobileUI$ | async"
    [selectedRegions]="regionsSelected$ | async | filterNull"
    (singleClickRegion)="handleRegionClick({ mode: 'single', region: $event })"
    (doubleClickRegion)="handleRegionClick({ mode: 'double', region: $event })"
    (clearAllRegions)="deselectAllRegions($event)"
    [parcellationSelected]="parcellationSelected$ | async">
  
  </region-hierarchy>
</ng-template>
