<div class="w-100 d-inline-flex flex-row align-items-center">

  <form *ngIf="showAutoComplete" class="flex-grow-1 flex-shrink-1">
    <mat-form-field class="w-100">
      <input
        placeholder="Search for regions"
        #autoTrigger
        #trigger="matAutocompleteTrigger"
        type="text"
        matInput
        [formControl]="formControl"
        [matAutocomplete]="auto">
    </mat-form-field>
    <mat-autocomplete
      (opened)="focused = true"
      (closed)="focused = false"
      (optionSelected)="optionSelected($event)"
      autoActiveFirstOption
      #auto="matAutocomplete">
      <mat-option
        *ngFor="let region of autocompleteList$ | async"
        [value]="region.labelIndexId">
        {{ region.name }}
      </mat-option>
    </mat-autocomplete>
  </form>
    
  <button
    matBadgeColor="accent"
    [matBadge]="showBadge && (regionsSelected$ | async).length ? (regionsSelected$ | async).length : null"
    class="flex-grow-0 flex-shrink-0"
    (click)="showHierarchy($event)"
    mat-icon-button
    color="primary">
    <i class="fas fa-sitemap"></i>
  </button>
</div>

<ng-template #regionHierarchy>
  <region-hierarchy
    [selectedRegions]="regionsSelected$ | async | filterNull"
    (singleClickRegion)="handleRegionClick({ mode: 'single', region: $event })"
    (doubleClickRegion)="handleRegionClick({ mode: 'double', region: $event })"
    (clearAllRegions)="deselectAllRegions($event)"
    [parcellationSelected]="parcellationSelected$ | async">
  
  </region-hierarchy>
</ng-template>
