:host
{
    padding: 0.5rem 0;
}

.nglayer-container
{
    display: flex;
    width: 100%;
    align-items: center;
}

.nglayer-ctl-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

button
{
    flex: 0 0 auto;
}

.layer-name
{
    flex: 1 1 0px;
    overflow: hidden;
}

spinner-cmp:has(+ .hydrated)
{
    display: none;
}

