<ul
  [ngClass]="ulClass"
  class="radioListMenu"
  role="menu">

  <li
    *ngFor="let input of inputArray; let i = index"
    class="d-flex justify-content-between"
    [ngClass]="checkSelected(selectedItem, input) ? 'selected' : 'notselected'"
    role="menuitem"
    (click)="itemSelected.emit({previous: selectedItem, current: input})">
    
    <span class="dropdown-item-1 textSpan"
      #DropDownText
      [innerHTML]="listDisplay(input)"
      [ngClass]="checkSelected(selectedItem, input) ? 'font-weight-bold' : ''"
      [matTooltip]="overflowText(DropDownText)? DropDownText.innerText: ''">
    </span>

    <ng-container *ngIf="input.extraButtons as extraButtons">
      <span *ngFor="let extraBtn of extraButtons"
        [ngClass]="extraBtn.class"
        (click)="handleExtraBtnClick(extraBtn, input, $event)">
        <i [ngClass]="extraBtn.faIcon"></i>
      </span>
    </ng-container>
  </li>
</ul>