<ul
  [ngClass]="ulClass"
  [ngStyle]="{'opacity': isMobile? '1' : '0.8', 'border-color': darktheme? 'white' : 'black'}"
  role="menu">
  <li 
    *ngFor="let input of inputArray" 
    [ngClass]="selectedItem === input ? 'selected' : 'notselected'" 
    role="menuitem">
    
    <span *ngIf="input['properties'] && input['properties']['publications']" class="infoIcon" (click)="showToast(input)">
      i
    </span>

    <span 
      (click)="itemSelected.emit({previous: selectedItem, current: input})" 
      class="dropdown-item-1 textSpan" 
      [innerHTML] = "listDisplay(input)">
    </span>



    
<ng-template #publicationTemplate>
    <div *ngIf="input['properties'] && input['properties']['publications']" class="timerToast">
        <button mat-mini-fab color="primary" class="downloadPublications" (click)="downloadPublications(input)">↓</button>
          <p>{{input['name']}} Publication(s)</p>
          <div *ngFor="let p of input['properties']['publications']">
            <a [href]="p['doi']" target="_blank">{{p['citation']}}</a>
          </div>
      </div>
</ng-template>



  </li>
</ul>