:host-context([darktheme="true"]) ul
{
  background-color:rgba(30,30,30);
}

:host-context([darktheme="true"]) li[role="menuitem"]
{
  color:rgba(255,255,255,0.8);
}

:host-context([darktheme="true"]) li[role="menuitem"]:hover
{
  cursor:default;
  background-color:rgba(128,128,128,0.2);
}


:host-context([darktheme="false"]) ul
{
  background-color:rgba(255,255,255);
}
:host-context([darktheme="false"]) li[role="menuitem"]:hover
{
  cursor:default;
  background-color:rgba(128,128,128,0.2);
  opacity:0.85;
}
li[role="menuitem"]
{
  transition : opacity 0.3s ease,background-color 0.2s ease ;
  opacity:0.75;
}



li[role="menuitem"]
{
  padding:0.5em 0.8em;
  border-radius:0px;
  cursor:default;
}

ul
{
  width:100%;
  overflow-x:hidden;
  display:inline-block;
}

ul,span.dropdown-item-1
{
  padding:0px;
  border-radius:0px;
  white-space: nowrap;
  border:none;
  overflow: hidden;
  text-overflow: ellipsis
}


.infoIcon {
  margin-left: 5px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 15px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
}

.timerToast {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  max-height: 500px;
  padding-right: 10px;
  overflow-y: auto;
}

.download-buttons-panel {
  align-self: flex-end;
}
.downloadPublications {
  margin: 5px;
  outline: none;
}

.textPartInPublications {
  text-align: justify;
}


.timerToast:hover::-webkit-scrollbar-thumb{
  background: #888;
  border-radius: 10px;
}
.timerToast::-webkit-scrollbar {
  width: 7px;
}
.timerToast::-webkit-scrollbar-track {
  background: transparent;
}
.timerToast::-webkit-scrollbar-thumb {
  background: #CCC;
}
.timerToast::-webkit-scrollbar-thumb:hover {
  background: #555;
}