@import '~@angular/material/theming';

@include  mat-core();

$iv-theme-primary: mat-palette($mat-indigo);
$iv-theme-accent: mat-palette($mat-amber);
$iv-theme-warn: mat-palette($mat-red);

$iv-theme: mat-light-theme($iv-theme-primary, $iv-theme-accent, $iv-theme-warn);

@include angular-material-theme($iv-theme);

$iv-dark-theme-primary: mat-palette($mat-blue);
$iv-dark-theme-accent:  mat-palette($mat-amber, A200, A100, A400);
$iv-dark-theme-warn:    mat-palette($mat-red);
$iv-dark-theme:   mat-dark-theme($iv-dark-theme-primary, $iv-dark-theme-accent, $iv-dark-theme-warn);

[darktheme=true]
{
  @include angular-material-theme($iv-dark-theme);
}

.iav-dialog-class
{

  @media (min-width: 576px) { 
    
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) { 
    
    max-width: 50vw!important;
  }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) { 
    
    max-width: 50vw!important;
  }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { 
    
    max-width: 50vw!important;
  }
}
