<div container>
  <div maincontent>
    <ng-content select="[maincontent]">
    </ng-content>
  </div>
  <div
    *ngIf = "showResizeSliver" 
    (click) = "togglePanelShow()"
    resizeSliver
    hoverable>
    <i class = "glyphicon"
      [ngClass]="showSide ? 'glyphicon-chevron-right' : 'glyphicon-chevron-left'">
    </i>
  </div>
  <div 
    [@collapseSide] = "{ value : showSide ? 'visible' : 'collapsed' , params : { sideWidth : sideWith } }"
    (@collapseSide.start) = "animationStart()"
    (@collapseSide.done) = "animationEnd()"
    sidecontent>
    <ng-content select="[sidecontent]">
    </ng-content>
  </div>
</div>