<ng-template [ngIf]="busy$ | async" [ngIfElse]="contenttmpl">
  <spinner-cmp></spinner-cmp>
</ng-template>

<ng-template #contenttmpl>
  <ng-container *ngFor="let result of results$ | async">
    <ng-container *ngFor="let item of result | getProperty : '__electrodes' | keyvalue">
      <ng-template [ngIf]="item.value.inRoi">
        <ng-container *ngTemplateOutlet="electrodeTmpl; context: { $implicit: item.value }">
        </ng-container>
      </ng-template>
    </ng-container>
  </ng-container>
</ng-template>

<!-- template for electrode -->
<ng-template #electrodeTmpl let-electrode>

  <mat-expansion-panel
    [expanded]="openElectrodeId$ | async | arrayContains : electrode.id"
    (opened)="handleDatumExpansion(electrode.id, true)"
    (closed)="handleDatumExpansion(electrode.id, false)"
    togglePosition="before">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Electrode
      </mat-panel-title>
      <mat-panel-description class="text-nowrap">
        {{ electrode.id }}
      </mat-panel-description>
    </mat-expansion-panel-header>


    <!-- <label for="task-list" class="d-block mat-h4 mt-4 text-muted">
      Tasks
    </label>
    <section class="d-flex align-items-center mt-1">
      <section id="task-list" class="flex-grow-1 flex-shrink-1 overflow-x-auto">
        <div role="list">
          <mat-chip *ngFor="let task of datum['tasks']" class="ml-1">
            {{ task }}
          </mat-chip>
        </div>
      </section>
    </section> -->

    <mat-divider></mat-divider>

    <label for="contact-points-list" class="d-block mat-h4 mt-4 text-muted">
      Contact Points
    </label>
    <section class="d-flex align-items-center mt-1">
      <section id="contact-points-list" class="flex-grow-1 flex-shrink-1 overflow-x-auto">
        <div role="list">
          <mat-chip *ngFor="let cp_kv of electrode['__contact_points'] | keyvalue"
            [matTooltip]="cp_kv['value']['coord']"
            (click)="handleContactPtClk(cp_kv['value'])"
            class="ml-1">
            {{ cp_kv['key'] }}
          </mat-chip>
        </div>
      </section>
    </section>

  </mat-expansion-panel>
</ng-template>
