<nehubaModal></nehubaModal>
<atlasbanner (showRegionDialog)="showRegionDialog()" overlayBanner>
</atlasbanner>

<atlascontrol *ngIf="showRegion">
</atlascontrol>

<div [ngClass]="{'darktheme':mainController.darktheme}" [style.grid-template-columns]="calcGridTemplateColumn()" containerDiv>
  <ATLASViewer 
    id = "ATLASViewer" >
  </ATLASViewer>
  <div 
    id = "dockResizeSliver" 
    [hidden]="!hasDockedComponents()" 
    (mousedown)="resizeDockedWidgetPanel=true;enableUIInteraction(false)" 
    (mousemove)="mousemove($event)" 
    (mouseup)="mouseup()">
  </div>
  <WidgetsContainer 
    [ngClass]="{'darktheme':mainController.darktheme}"
    [hasDockedComponents]="hasDockedComponents()" 
    [dockedWidgetPanelWidth] = "dockedWidgetPanelWidth">
  </WidgetsContainer>
</div>