<div [ngClass]="{darktheme : darktheme}" bannerContainer >
  <img [src] = "darktheme ? 'src/assets/images/HBP_Primary_RGB_WhiteText.png' : 'src/assets/images/HBP_Primary_RGB_BlackText.png'" />
  <div  textContainer>
    <h4>Atlas Viewer </h4>
    <span class = "glyphicon glyphicon-chevron-down"></span>
    <br />
    <small class = "text-muted" selectedInformation>
      {{ mainController.selectedTemplate ? mainController.selectedTemplate.name : ' ' }} <br />
      {{ mainController.selectedParcellation ? mainController.selectedParcellation.name : ' ' }} <br />
    </small>
  </div>
</div>
