div#bannerContainer
{
height:100%;
}

img
{
height:100%;
}

img#cofundedbyEU{
margin:auto;
height:70%;
}

div#bannerTitle h2{
text-align: center;
vertical-align: middle;
font-weight: 100;
font-size : 2.2vw;
}

div#bannerTitle small{
color: #c33;
}

/*<!-- dark theme -->*/


div.darkTheme#bannerContainer
{
height:100%;
background-color:rgb(0,0,0);
}


div.darkTheme#bannerTitle h2{
text-align: center;
vertical-align: middle;
font-weight: 100;
font-size : 2.2vw;
color : rgb(255,255,255)
}

div.darkTheme#bannerTitle small{
color: #f99;
}