<div
  class = " hierarchyContainer" 
  *ngFor = "let singleData of data | multilevelHasVisibleChildren : multilevelProvider.searchTerm"
  multilevelContainer>

  <span class="hierarchy">
    <span 
      [ngClass]="{'glyphicon-none':singleData.children.length == 0,'glyphicon-chevron-right':singleData.children.length > 0 && !singleData.isExpanded,'glyphicon-chevron-down':singleData.children.length > 0 && singleData.isExpanded }" 
      (click) = "toggleExpansion( singleData )" 
      class = "unicodeSymbols glyphicon" 
      glyphiconChevron>
    </span>

    <span (click)="chooseLevel(singleData)" class = "glyphicon glyphicon-stop" *ngIf = "false && singleData.hasDisabledChildren() && singleData.hasEnabledChildren()">
          <!-- <span class = "unicodeSymbols">&#x25A3;</span> -->
    </span>
    <span (click)="chooseLevel(singleData)" class = "glyphicon glyphicon-check" *ngIf = "false && !singleData.hasDisabledChildren() && singleData.hasEnabledChildren()">
          <!-- <span class = "unicodeSymbols">&#x2611;</span> -->
    </span>
    <span (click)="chooseLevel(singleData)" class = "glyphicon glyphicon-unchecked" *ngIf = "false && singleData.hasDisabledChildren() && !singleData.hasEnabledChildren()">
          <!-- <span class = "unicodeSymbols">&#x2610;</span> -->
    </span>

    <span 
      *ngIf="singleData.moreInfo.length == 0" 
      class = "multilevel-name">

      <span 
        class = "regionHasMoreInfo"
        (click) = "toggleExpansion( singleData )"
        [innerHtml]="singleData.name | searchHighlight : multilevelProvider.searchTerm : singleData"
        spanName>
      </span>
    </span>

    <span class = "multilevel-name"
    
      [popover]="moreInfo"
      container="body"
      [containerClass]="mainController.darktheme ? 'darktheme' : 'nodarktheme'"
      [outsideClick]="true"
      placement="bottom"
      *ngIf = "singleData.moreInfo.length > 0" >

      <span 
        class="regionHasMoreInfo"
        [innerHtml]="singleData.name | searchHighlight : multilevelProvider.searchTerm"
        spanName>
      </span>

      <span 
        *ngIf = "false"
        class = "multilevel-icon unicodeSymbols" >
          <i class = "glyphicon glyphicon-option-vertical"></i>
      </span>
    </span>
  </span>
  <multilevel 
    [hidden]="!singleData.isExpanded" 
    *ngIf = "singleData.children.length>0" 
    class = "menuItemContentText" 
    [data]="singleData.children" 
    [selectedData]="selectedRegions" >
  </multilevel>

  <ng-template #moreInfo>
    <div 
      *ngFor = "let moreInfo of singleData.moreInfo" 
      class = "moreInfo-icon" 
      (click) = "moreInfo.action()">
      <span 
        class = "glyphicon"
        [ngClass]="'glyphicon-' + moreInfo.icon">
      </span>
      <span>
        {{ moreInfo.name }}
      </span>
    </div>
  </ng-template>
</div>