
<div class = "col-sm-12 col-md-12 col-lg-12" *ngIf="!mainController.selectedTemplate">
  <h3>Start by selecting a template:</h3>
  <a *ngFor="let template of mainController.loadedTemplates" href = "#" (click)="mainController.loadTemplate(template)" class = "btn btn-link">{{template.name}}</a>
  <p>A default parcellation will be loaded with the template selected.</p>
</div>

<div *ngIf="mainController.selectedParcellation && !mainController.selectedParcellation">
  Loading Parcellation... 
</div>

<div *ngIf="mainController.selectedParcellation" regionContainer>
  <div inputContainer>
    <input placeholder = "Search regions ... " type = "text" [(ngModel)]="searchTerm" class = "form-control" />
    <span (click)="searchTerm=''" [hidden]="searchTerm==''" class = "glyphicon-overlay glyphicon glyphicon-remove-sign">
    </span>
    <!-- <div (click)="refreshSelectedRegions()" class = "list-group-item nohover">
    </div> -->
  </div>

  <div (click)="mainController.sendUISelectedRegionToViewer()" multilevelContainer>
    <multilevel class = "menuItemContentText"  [data]="mainController.selectedParcellation.regions | searchTreePipe : searchTerm" [searchTerm]="searchTerm">
    </multilevel>
  </div>
</div>
