<div [ngClass]="{darktheme : darktheme}" bannerContainer >
  <img 
    [src] = "darktheme ? 'src/assets/images/HBP_Primary_RGB_WhiteText.png' : 'src/assets/images/HBP_Primary_RGB_BlackText.png'" 
    hbplogo/>
  <div  textContainer>
    <div 
      container = "body"
      dropdown
      containerClass="dropdownMenu">

      <span 
        (click)="showTemplateSelection = !showTemplateSelection" 
        class = "btn btn-default" 
        btnCustom
        dropdownToggle>

        <small>Template</small>
        <small class="text-muted" *ngIf="mainController.selectedTemplate">({{mainController.selectedTemplate.name}})</small>
        <span class="caret"></span>
        
      </span>

      <ul 
        [ngClass]="{'darktheme':mainController.darktheme}"
        class="dropdown-menu"
        role="menu"
        *dropdownMenu>
        <li 
          [ngClass]="{'selected':template == mainController.selectedTemplate}" 
          *ngFor="let template of mainController.loadedTemplates" 
          role="menuitem">
          
          <a class="dropdown-item" 
            (click)="mainController.loadTemplate(template)" 
            href="#">
            
            {{template.name}}</a>
        </li>
      </ul>
    </div>
    
    <div 
      *ngIf = "mainController.selectedTemplate"
      container = "body"
      [isDisabled]="!mainController.selectedTemplate"
      dropdown
      containerClass="dropdownMenu">

      <span 
      [ngClass]="{'disabled' : !mainController.selectedTemplate}" 
      class = "btn btn-default" 
      btnCustom 
      dropdownToggle>
        <span>
          <small>Parcellation</small>
          <small class="text-muted">({{ !mainController.selectedTemplate ? 'select a template' : mainController.selectedParcellation ?  mainController.selectedParcellation.name : 'select a parcellation'}})</small>
          <span *ngIf="mainController.selectedTemplate" class="caret"></span>
        </span>
      </span>

      <ul 
        [ngClass]="{'darktheme':mainController.darktheme}"
        class="dropdown-menu"
        role="menu"
        *dropdownMenu>
        <li 
          [ngClass]="{'selected':parcellation == mainController.selectedParcellation}" 
          *ngFor="let parcellation of mainController.selectedTemplate.parcellations" 
          role="menuitem">
          
          <a class="dropdown-item" 
            (click)="mainController.loadParcellation(parcellation)" 
            href="#">
            
            {{parcellation.name}}</a>
        </li>
      </ul>
    </div>

    <div 
      *ngIf = "mainController.selectedTemplate && !widgetiseSearchRegion"
      class = "input-group" 
      [popover] = "searchRegion"
      placement = "bottom"
      [outsideClick] = "true"
      triggers = ""
      #popover = "bs-popover"
      inputSearchRegion>

      <input 
        (keydown.esc)="popover.hide();$event.target.blur();searchTerm=''"
        [(ngModel)]="searchTerm"
        class = "form-control" 
        (click)="popover.show()"
        type="text" 
        placeholder="Search region hierachy ..."/>
    </div>

    <span 
      class = "btn btn-default"
      btnCustom
      placement = "bottom"
      [tooltip]="widget.name.split('.')[2]"
      (click) = "mainController.loadWidget(widget)"
      *ngFor = "let widget of mainController.loadedWidgets">
      {{widget.name.split('.')[2][0]}}
    </span>

  </div>
</div>

<ng-template #searchRegion>
  <atlascontrol [searchTerm]="searchTerm" #atlascontrol>

  </atlascontrol>
</ng-template>