<nehubaModal (fetchTemplate)="modalAddTemplateFetch($event)"></nehubaModal>

<div [ngClass]="{darktheme : darktheme}">
    <button (click)="toggleDefaultPanel('templatesPanelState',false)" class = "btn btn-default btn-block btn-lg">
        Templates <small *ngIf = "selectedTemplate">({{selectedTemplate.name}})</small>
    </button>
    <div class = "list-group" *ngIf="fetchedTemplatesData" [@panelExpansion]="defaultPanelsState.templatesPanelState" >
        <div *ngFor = "let template of fetchedTemplatesData.templates"
                        popover = "Short description/Other info"
                        popoverTitle = "{{template.name}}" 
                        triggers = "mouseenter:mouseleave"
                        placement = "right" >
            <div (click)="chooseTemplate(template)" class = "list-group-item" [ngClass]="{active : template === selectedTemplate}" >
                <span class = "list-group-item-name">
                    {{template.name}}
                </span>
                <span class = "list-group-item-icon unicodeSymbols" (click) = "showMoreInfo(template);$event.stopPropagation()"  >
                    &#x24d8;
                </span>
            </div>
        </div>
        
        <div (click) = "showInputModal('Template')" class = "list-group-item flex-center">
            &#x2295; Add New Template
        </div>
    </div>
    <button class = "btn btn-default btn-block btn-lg" (click)="toggleDefaultPanel('parcellationsPanelState',selectedTemplate == undefined)" [ngClass]="{inactive: selectedTemplate == undefined}">
        Parcellations <small *ngIf = "selectedParcellation">({{selectedParcellation.name}})</small>
    </button>
    <div class = "list-group" *ngIf="selectedTemplate" [@panelExpansion]="defaultPanelsState.parcellationsPanelState" >
        <div *ngFor = "let parcellation of selectedTemplate.parcellations">
            <div (click)="chooseParcellation(parcellation)" class = "list-group-item" [ngClass]="{active : parcellation == selectedParcellation} " >
                
                <span class = "list-group-item-icon unicodeSymbols" (click) = "parcellation.isShown = !parcellation.isShown;$event.stopPropagation() "  >
                    <span *ngIf = "parcellation.isShown" class = "glyphicon glyphicon-eye-open"></span>
                    <span *ngIf = "!parcellation.isShown" class = "glyphicon glyphicon-eye-close"></span>
                </span>
                <span [ngClass] = "{'text-muted' : !parcellation.isShown}" class = "list-group-item-name">
                    {{ parcellation.name }}   
                </span>
                <span class = "list-group-item-icon unicodeSymbols" (click) = "parcellation.subPanelShown = !parcellation.subPanelShown;$event.stopPropagation()"  >
                    <i class = "glyphicon glyphicon-cog"></i>
                </span>
                <span class = "list-group-item-icon unicodeSymbols" (click) = "showMoreInfo(parcellation);$event.stopPropagation()"  >
                    &#x24d8;
                </span>
            </div>
            <div class = "well">
                <div class = "col-md-2">
                    Opacity: 
                </div>
                <div class = "col-md-4">
                    <input class = "form-control" [(ngModel)]="parcellation.masterOpacity" type = "number" max = "1" min = "0" step = "0.01">
                </div>
                <div class = "col-md-4">
                    <input [(ngModel)]="parcellation.masterOpacity" type = "range" max = "1" min = "0" step = "0.01">
                </div>
            </div>
        </div>
        <div (click) = "showInputModal('Parcellation')" class = "list-group-item flex-center">
            &#x2295; Add New Parcellation
        </div>
    </div>
    <button class = "btn btn-default btn-block btn-lg" (click)="toggleDefaultPanel('regionsPanelState',selectedParcellation == undefined)" [ngClass]="{inactive: selectedParcellation == undefined}">
        Regions <small *ngIf = "selectedParcellation && ( selectedParcellation.regions | selectTreePipe ).length>0">({{( selectedParcellation.regions | selectTreePipe ).length}})</small>
    </button>
    <div class = "list-group" *ngIf="selectedParcellation" [@panelExpansion]="defaultPanelsState.regionsPanelState">
        <div class = "list-group-item nohover">
            <input class = "form-control" placeholder = "Search regions ... " [(ngModel)]="searchTerm" name = "searchRegionInput">
        </div>
        <div class = "list-group-item nohover">
            <multilevel (callModal)="showMoreInfo($event)" class = "menuItemContentText" [data]="selectedParcellation.regions | searchTreePipe : searchTerm" [searchTerm]="searchTerm">
            </multilevel>
        </div>
    </div>
    <div class = "list-group" *ngIf="selectedParcellation && (selectedParcellation.regions | selectTreePipe).length > 0" [@panelExpansionExtra]="defaultPanelsState.regionsPanelState">
        <div class = "multiSelectPills" *ngFor = "let region of (selectedParcellation.regions | selectTreePipe)">
            {{region.name}}
            <span class = "unicodeSymbols" (click) = "region.enabled = false">&times;</span>
        </div>
    </div>
    <button class = "hidden btn btn-default btn-block btn-lg" (click) = "toggleDefaultPanel('navigationPanelState')">
        Navigation
     </button>
    <!-- <div class = "menuItemContentList HBPWidget form-horizontal" [@panelExpansion]="defaultPanelsState.navigationPanelState">
        <div class = "row">
            <div class = "col-md-12">
                <h5>Position</h5>
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label" >
                x
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.position[0]">
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label">
                y
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.position[1]">
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label">
                z
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.position[2]">
            </div>
        </div>
        <div class = "row">
            <hr>
        </div>
        <div class = "row">
            <div class = "col-md-12">
                <h5>Rotation</h5>
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label" >
                Deg
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.rotation[0]">
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label" >
                Axis-x
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.rotation[1][0]">
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label">
                Axis-y
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.rotation[1][1]">
            </div>
        </div>
        <div class = "form-group">
            <label class = "col-md-2 control-label">
                Axis-z
            </label>
            <div class = "col-md-10">
                <input class = "form-control" (change)="nehubaNavigator.navigateView()" [(ngModel)] = "nehubaNavigator.navigation.rotation[1][2]">
            </div>
        </div>
        <div class = "row">
            <button (click) = "nehubaNavigator.resetView()" class = "col-md-push-2 col-md-5 btn btn-default">Reset View</button>
            <button (click) = "nehubaNavigator.testbutton()" class = "col-md-push-2 col-md-5 btn btn-default">Debug Button</button>
        </div>
    </div>  -->
</div>
