
div.multiSelectPills
{
display:inline-block;
padding:0.4em 0.8em;
border-radius: 1.2em;
margin-right:0.2em;
margin-bottom:0.1em;
color:#696969;
background-color: #ffa;
}

span.unicodeSymbols
{
display:inline-block;
font-size: large;
vertical-align: middle
}
    span.unicodeSymbols:hover
    {
    cursor:default
    }

div.menuItem
{
width:100%;
overflow:hidden;
display:block;
padding:0em;
font-family:'Montserrat', Helvetica, sans-serif;

/* debug only */
/*outline-style:dashed;
outline-width:1px;
outline-color:#fff;*/
}

    div.menuItem:hover
    {
    /* debug only */
    /*outline-style:dashed;
    outline-width:1px;
    outline-color:#cacaca;*/
    }

    div.menuItem > div.menuItemTitle
    {
    width:100%;
    font-size:1.4em;
    padding:1.0em 10%;
    font-weight: 100;
    color:#636363;
    background-color:#eef;
    transition: 300ms;

    overflow:hidden;
    white-space: nowrap;
    }

        div.menuItem > div.menuItemTitle:hover
        {
        background-color:#bbf;
        color:#000000;
        cursor:pointer;
        }

        div.menuItem > div.menuItemTitle.inactive
        {
        background-color:#eeeeee;
        color:#aeaeae;
        }

            div.menuItem > div.menuItemTitle.inactive:hover
            {
            background-color:#dddddd;
            cursor:not-allowed;
            }


    div.menuItem > div.menuItemContentExtra
    {
    width:100%;
    padding-left:2.6em;
    padding-right:2.6em;
    padding-top:0.8em;
    padding-bottom:0.4em;
    overflow:hidden;
    }

    div.menuItem > div.menuItemContent
    {
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    transition: height 250ms;
    }

        div.menuItem > div.menuItemContent .menuItemContentText
        {
        color:#636363;
        padding-left:2.6em;
        padding-right:2.6em;
        padding-top:0.8em;
        padding-bottom:0.4em;
        width:100%;
        }

        div.menuItem > div.menuItemContent .menuItemContentList
        {
        color:#636363;
        padding-left:2.6em;
        padding-right:2.6em;
        padding-top:0.8em;
        padding-bottom:0.4em;
        transition: 300ms;
        }

            div.menuItem > div.menuItemContent .menuItemContentList:hover
            {
            color:#000;
            background-color:#f5f5f5;
            cursor:pointer;
            }

            div.menuItem > div.menuItemContent .menuItemContentList.active
            {
            background-color:#ffa;
            }

div.collapse
{
transition: height 300ms;
}

.HBPWidget
{
padding:0em 1.2em;
overflow:hidden
}

span.highlight{
background-color:#ff3
}

.flex-center
{
justify-content: center
}

/* overwritting bootstrap styles */
.list-group{
overflow:hidden;
margin-bottom:0px;
}
    .list-group-item
    {
    display:flex
    }

    .list-group-item .list-group-item-name
    {
    flex: 1 1 auto;
    align-self: center;
    }

    .list-group-item .list-group-item-icon
    {
    flex: 0 0 3em;
    align-self: center;
    text-align:center;
    }

        .list-group-item .list-group-item-icon:hover
        {
        color:goldenrod;
        cursor:pointer;
        background-color:#FFF;
        }

    .list-group-item:hover
    {
    background-color:#f5f5f5;
    cursor:pointer;
    }

    .list-group-item.nohover:hover
    {
    cursor:default;
    background-color:#fff;
    }


.btn.btn-block.btn-default
{
margin-top:0px;
overflow:hidden;
}

.btn.inactive
{
color:#999;
}

    .btn.inactive:hover{
    cursor:not-allowed;
    }

multilevel
{
width:100%;
}