<mat-form-field class="w-100">
  <input 
    #searchTermInput
    matInput
    (keydown.esc)="escape($event)"
    (focus)="showRegionTree = true"
    [value]="searchTerm"
    type="text" 
    autocomplete="off"
    [placeholder]="placeHolderText"/>
</mat-form-field>

<div class="d-flex flex-grow-1 flex-shrink-1">

  <div class="d-flex flex-column" selectedRegionsChipsContainer>
    <div class="flex-grow-0 flex-shrink-0 d-flex align-items-center justify-content-between">
      <div>
        {{ selectedRegions.length }} {{ selectedRegions.length > 1 ? 'regions' : 'region' }} selected
      </div>
      <div
        (click)="clearRegions($event)"
        [ngClass]="{ 'invisible': selectedRegions.length === 0 }"
        class="btn btn-link">
        clear all
      </div>
    </div>

    <div hideScrollbarcontainer>
      <mat-chip-list
        class="w-100 flex-grow-1 flex-shrink-1">
        <cdk-virtual-scroll-viewport
          hideScrollbarInnerContainer
          class="h-100 p-4 overflow-x-hidden"
          [itemSize]="32">
          <mat-chip
            *cdkVirtualFor="let region of (selectedRegions | filterRowsByVisbilityPipe : null : filterTreeBySearch)"
            class="w-90">

            <span class="dot mr-1 flex-grow-0 flex-shrink-0" [ngStyle]="{backgroundColor: (region | regionBackgroundToRgbPipe)}"></span>
            <span class="flex-grow-1 flex-shrink-1 text-truncate">
              {{ region.name }}
            </span>
            <button
              *ngIf="region.position"
              (click)="gotoRegion(region)"
              mat-icon-button>
              <i class="fas fa-map-marked-alt"></i>
            </button>
            <button
              (click)="deselectRegion(region)"
              mat-icon-button>
              <i class="fas fa-trash"></i>
            </button>
          </mat-chip>
        </cdk-virtual-scroll-viewport>
      </mat-chip-list>
    </div>
  </div>

  <div hideScrollbarContainer>
    <div
      class="d-flex flex-column h-100"
      treeContainer
      hideScrollbarInnerContainer
      #treeContainer>
      
      <div
        *ngIf="parcellationSelected && parcellationSelected.regions as regions"
        class="tree-body">
        <flat-tree-component
          (treeNodeClick)="handleClickRegion($event)"
          (totalRenderedListChanged)="handleTotalRenderedListChanged($event)"
          [inputItem]="aggregatedRegionTree"
          [renderNode]="displayTreeNode"
          [searchFilter]="filterTreeBySearch">
          
        </flat-tree-component>
      </div> 
    </div>
  </div>
</div>
  