
div[treeContainer]
{
  padding:1em;
  z-index: 3;

  height:20em;
  overflow-y:auto;
  overflow-x:hidden;

  /* color:white;
  background-color:rgba(12,12,12,0.8); */
}

.flex-basis-33-pc
{
  flex-basis: 33%;
}

.flex-basis-auto
{
  flex-basis: auto;
}

input[type="text"]
{
  border:none;
}


.regionSearch
{
  width:20em;
}

.tree-body
{
  flex: 1 1 auto;
}

:host
{
  display: flex;
  flex-direction: column;
}

:host > mat-form-field
{
  flex: 0 0 auto;
}

.horizontal-mode .cdk-viewport-wrapper
{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  height:4rem;
}

.horizontal-mode .cdk-viewport-wrapper region-list-simple-view
{
  width: 200px;
}

.cdk-viewport-wrapper region-list-simple-view
{
  width: 100%;
}

.cdk-virtual-scroll-viewport-container.horizontal-mode
{
  height: 6rem;
}