
div[treeContainer]
{
  padding:1em;
  z-index: 3;

  height:20em;
  overflow-y:auto;
  overflow-x:hidden;

  /* color:white;
  background-color:rgba(12,12,12,0.8); */
}

.flex-basis-20-pc
{
  flex-basis: 20%;
}

.flex-basis-auto
{
  flex-basis: auto;
}

[hideScrollbarcontainer]
{
  overflow:hidden;
}

input[type="text"]
{
  border:none;
}


.regionSearch
{
  width:20em;
}

.tree-body
{
  flex: 1 1 auto;
}

:host
{
  display: flex;
  flex-direction: column;
}

:host > mat-form-field
{
  flex: 0 0 auto;
}
