
.hierarchy
{
display:flex;
position:relative;
z-index:1;
}

.hierarchy-0
{
margin-left:0em;
width:100%;
}

.hierarchyContainer
{
  margin-left:1em;
  width:calc(100% - 1em);
}

multilevel:not(:last-child) div[multilevelContainer]:before
{
  pointer-events: none;
  top:-0.8em;
  left:-0.5em;
  height:100%;
  box-sizing: border-box;
}

multilevel:not(:last-child) div[multilevelContainer] > span 
{
  position:relative;
}

multilevel:not(:last-child) div[multilevelContainer] > span:before
{
  pointer-events: none;
  content : '';
  position:absolute;
  width:1.5em;
  height:100%;
  top:-50%;
  left:-0.5em;
  z-index: 0;
}
multilevel:last-child div[multilevelContainer] > span
{
  position:relative;
}


multilevel:last-child div[multilevelContainer] > span:before
{
  pointer-events: none;
  content : '';
  position:absolute;
  width:1.5em;
  height:100%;
  top:-50%;
  left:-0.5em;
  z-index: 0;
}

multilevel:not(:last-child) div[multilevelContainer]:before
{
  border-left: rgba(128,128,128,0.6) 1px dashed;
}

multilevel:not(:last-child) div[multilevelContainer] > span:before
{
  border-bottom: rgba(128,128,128,0.6) 1px dashed;
}

multilevel div[multilevelContainer]:last-child > span:before
{
  border-bottom: rgba(128,128,128,0.6) 1px dashed;
  border-left : rgba(128,128,128,0.6) 1px dashed;
}

/* TODO use golden dashed line to indicate selected region(s), siblin selectors??? */

/* multilevel div[multilevelContainer].has-text-active:before,
multilevel div[multilevelContainer].has-text-active:not(:last-child):before,
multilevel div[multilevelContainer].has-text-active:not(:last-child) > span:before,
multilevel div[multilevelContainer].has-text-active:last-child:before,
multilevel div[multilevelContainer].has-text-active:last-child >span :before
{
  border-color:rgb(219,181,86);
} */

div[multilevelContainer]
{
  position:relative;
}
div[multilevelContainer]:before
{
  content:' ';
  position:absolute;
  z-index: 0;
}

/* 
.hierarchy-0
{
padding-left:0%;
}
.hierarchy-1
{
padding-left:5%
}
.hierarchy-2
{
padding-left:10%
}
.hierarchy-3
{
padding-left:15%
}
.hierarchy-4
{
padding-left:20%
}
.hierarchy-5
{
padding-left:25%
}
.hierarchy-6
{
padding-left:30%
}
.hierarchy-7
{
padding-left:35%
}
.hierarchy-8
{
padding-left:40%
}
.hierarchy-9
{
padding-left:45%
}
.hierarchy-10
{
padding-left:50%
} */
