<div
  [hidden] = "!(data | multilevelSelectorVisiblePipe : multilevelProvider.searchTerm)"
  [ngClass]="{'has-text-active':highlightFilter(data)}"
  class = " hierarchyContainer" 
  multilevelContainer>

  <span class="hierarchy">
    <span 
      [ngClass]="{'glyphicon-none':data.children.length == 0,'glyphicon-chevron-right':data.children.length > 0 && !data.isExpanded,'glyphicon-chevron-down':data.children.length > 0 && data.isExpanded }" 
      (click) = "toggleExpansion( data )" 
      class = "unicodeSymbols glyphicon" 
      glyphiconChevron>
    </span>

    <span 
      class = "multilevel-name"
      [ngClass]="{'text-muted': muteFilter(data),'text-active':highlightFilter(data)}"
      (click)="multilvlClick( data )" >

      <span 
        class="regionHasMoreInfo"
        [innerHtml]="data.name | searchHighlight : multilevelProvider.searchTerm"
        spanName>
      </span>
    </span>
  </span>
  <multilevel 
    [isVisible] = "singleData | multilevelSelectorVisiblePipe : multilevelProvider.searchTerm"
    (doubleClick) = "doubleClick.emit($event)"
    (singleClick) = "singleClick.emit($event)"
    [muteFilter] = "muteFilter"
    [highlightFilter] = "highlightFilter"
    [hidden]="!data.isExpanded" 
    class = "menuItemContentText" 
    [data]="singleData" 
    *ngFor = "let singleData of data.children"
    [selectedData]="selectedRegions" >
  </multilevel>
</div>