<mat-form-field
  class="sxplr-w-100"
  subscriptSizing="dynamic"
  floatLabel="auto">
  <div matPrefix>
    <ng-content select="[search-input-prefix]"></ng-content>
  </div>
  <input
    [placeholder]="currentSearch || 'Search for regions'"
    #trigger="matAutocompleteTrigger"
    type="text"
    matInput
    name="searchTerm"
    [attr.aria-label]="ARIA_LABELS.TEXT_INPUT_SEARCH_REGION"
    [formControl]="searchFormControl"
    [matAutocomplete]="auto">

  <!-- search input suffix -->
  <div matSuffix class="search-suffix" iav-stop="click">
    <ng-content select="[search-input-suffix]"></ng-content>
  </div>

</mat-form-field>

<mat-autocomplete
  (optionSelected)="optionSelected($event)"
  [hideSingleSelectionIndicator]="true"
  autoActiveFirstOption
  #auto="matAutocomplete"
  [displayWith]="displayFn">
  <mat-option
    *ngFor="let region of autocompleteList$ | async"
    [value]="region">

    <ng-template [ngIf]="regionTmplDirective">

      <ng-template
        [ngTemplateOutlet]="regionTmplDirective.tmplRef"
        [ngTemplateOutletContext]="{
          $implicit: region
        }">
      </ng-template>
    </ng-template>

  </mat-option>
  <ng-template [ngIf]="searchedList$ | async" let-searchedList>

    <mat-option *ngIf="searchedList.length > showNOptions"
      [value]="{
        extra: { showMore: true }
      }">

      <ng-template [ngIf]="regionTmplDirective">

        <ng-template
          [ngTemplateOutlet]="regionTmplDirective.tmplRef"
          [ngTemplateOutletContext]="{
            $implicit: {
              name: '... and ' + (searchedList.length - showNOptions) + ' more'
            }
          }">
        </ng-template>
      </ng-template>
    </mat-option>

    <mat-option *ngIf="searchedList.length === 0"
      [value]="{
        extra: { noneFound: true }
      }">

      <ng-template [ngIf]="regionTmplDirective">

        <ng-template
          [ngTemplateOutlet]="regionTmplDirective.tmplRef"
          [ngTemplateOutletContext]="{
            $implicit: {
              name: 'None found.'
            }
          }">
        </ng-template>
      </ng-template>
    </mat-option>
  </ng-template>
</mat-autocomplete>