<div [@collapseState] = "{
    value: show
      ? 'visible'
      : 'collapsed',
    params: {
      collapsedHeight: collapsedHeight,
      fullHeight: fullHeight,
      animationLength: animationLength
    }}"
  class="readmore-content"
  [ngClass]="show ? 'full' : 'veil'">
  <div #contentContainer>
    <ng-content>
    </ng-content>
  </div>
</div>

<div class="read-more-btn-container">

  <button mat-button (click)="toggle($event)" >
    <i [ngClass] = "show ? 'fa-chevron-up' : 'fa-chevron-down'" 
      class = "fas">
    </i>
  </button>
</div>