<ng-container *ngIf="meetsRequirement; else doesNotMeetReqTemplate">

  <ng-container *ngTemplateOutlet="viewerBody">
  </ng-container>
</ng-container>

<!-- kg tos -->
<ng-template #kgToS>
  <h2 mat-dialog-title>Knowledge Graph ToS</h2>
  <mat-dialog-content>
    <small>
      <kgtos-component>
      </kgtos-component>
    </small>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-end">
    <button color="primary" mat-raised-button (click)="kgTosClickedOk()" cdkFocusInitial>
      Ok
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- cookie -->
<ng-template #cookieAgreementComponent>
  <h2 mat-dialog-title>Privacy Policy</h2>
  <mat-dialog-content>
    <small>
      <cookie-agreement>
      </cookie-agreement>
    </small>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-end">
    <button color="primary" mat-raised-button (click)="cookieClickedOk()" cdkFocusInitial>
      Ok
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- atlas template -->
<ng-template #viewerBody>
  <div class="atlas-container" (drag-drop)="localFileService.handleFileDrop($event)">
    <!-- prevent default is required so that user do not zoom in on UI or scroll on mobile UI -->
    <ui-nehuba-container
      (touchmove)="$event.preventDefault()"
      iav-viewer-touch-interface
      [iav-viewer-touch-interface-v-panels]="uiNehubaContainer.viewPanels"
      [iav-viewer-touch-interface-vp-to-data]="uiNehubaContainer.nehubaViewer?.viewportToDatas"
      [iav-viewer-touch-interface-ngviewer]="uiNehubaContainer.nehubaViewer?.nehubaViewer?.ngviewer"
      [iav-viewer-touch-interface-nehuba-config]="uiNehubaContainer.selectedTemplate?.nehubaConfig"
      #iavNehubaViewerTouch="iavNehubaViewerTouch"

      #uiNehubaContainer="uiNehubaContainer"
      iav-mouse-hover
      #iavMouseHoverEl="iavMouseHover"
      [currentOnHoverObs$]="iavMouseHoverEl.currentOnHoverObs$"
      [currentOnHover]="iavMouseHoverEl.currentOnHoverObs$ | async"
      iav-captureClickListenerDirective
      [iav-captureClickListenerDirective-captureDocument]="true"
      (iav-captureClickListenerDirective-onUnmovedClick)="mouseClickDocument($event)">
    </ui-nehuba-container>

    <div class="z-index-10 position-absolute pe-none w-100 h-100">

      <!-- dataset search side nav -->
      <mat-drawer-container
        *ngIf="uiNehubaContainer.nehubaViewerLoaded | async"
        [hasBackdrop]="false"
        class="w-100 h-100 bg-none mat-drawer-content-overflow-visible">
        <mat-drawer mode="push"
          class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-3 col-xxl-2 p-2 bg-none box-shadow-none overflow-visible"
          [disableClose]="true"
          [autoFocus]="false"
          [opened]="sidePanelIsOpen$ | async"
          [attr.mat-drawer-opened]="sidePanelIsOpen$ | async"
          #sideNavDrawer>
          <search-side-nav (dismiss)="toggleSideNavMenu(true)"
            class="h-100 d-block overflow-visible" #searchSideNav>
          </search-side-nav>

        </mat-drawer>

        <div class="d-inline-block iv-custom-comp background pl-4 pt-2 pr-4">
          <atlas-dropdown-selector class="pe-all">
          </atlas-dropdown-selector>
        </div>
      </mat-drawer-container>
    </div>

    <div class="d-flex flex-row justify-content-end z-index-10 position-absolute pe-none w-100 h-100">
      <signin-banner
        signinWrapper
        [parcellationIsSelected]="!!selectedParcellation">
      </signin-banner>
    </div>

    <layout-floating-container zIndex="13" #floatingOverlayContainer>
      <div floatingContainerDirective>

      </div>

      <div class="fixed-bottom muted-7 pe-none mb-8 d-flex justify-content-end m-4">
        <ng-container *ngTemplateOutlet="logoTmpl">
        </ng-container>
      </div>

      <div floatingMouseContextualContainerDirective>

        <div *ngIf="!ismobile"
          class="d-inline-block"
          iav-mouse-hover
          #iavMouseHoverContextualBlock="iavMouseHover"
          contextualBlock>

          <ng-container
            *ngFor="let labelText of iavMouseHoverContextualBlock.currentOnHoverObs$ | async | mouseOverTextPipe">

            <mat-list dense>

              <mat-list-item class="h-auto">

                <mat-icon
                  [fontSet]="(labelText.label | mouseOverIconPipe).fontSet"
                  [fontIcon]="(labelText.label | mouseOverIconPipe).fontIcon"
                  mat-list-icon>

                </mat-icon>

                <div matLine *ngFor="let text of labelText.text" [innerHTML]="text"></div>

              </mat-list-item>
            </mat-list>
          </ng-container>
        </div>
        <!-- TODO Potentially implementing plugin contextual info -->
      </div>

      <div class="floating-container"
        [attr.aria-label]="CONTEXT_MENU_ARIA_LABEL"
        fixedMouseContextualContainerDirective
        #fixedContainer="iavFixedMouseCtxContainer">

        <!-- on click segment menu -->
        <ng-container *ngIf="(onhoverSegmentsForFixed$ | async) as onHoverSegments">
          <ng-container *ngFor="let onHoverRegion of onHoverSegments; let first = first">

            <!-- ToDo it should change - we should get information about connectivity existence from API-->
            <div class="d-flex flex-column">
              <region-menu
                class="pe-all"
                [region]="onHoverRegion"
                [isSelected]="selectedRegions$ | async | includes : onHoverRegion : compareFn"
                [hasConnectivity]="selectedParcellation?.hasAdditionalViewMode?.includes('connectivity')"
                (closeRegionMenu)="rClContextualMenu.hide()">
              </region-menu>
            </div>
          </ng-container>
        </ng-container>

        <!-- on click landmark menu -->
        <ng-container *ngIf="onhoverLandmarkForFixed$ | async as onHoverLandmark">
          
          <landmark-ui
            class="pe-all"
            (relayout)="fixedContainer.recalculatePosition()"
            [fullId]="onHoverLandmark.fullId"
            [name]="onHoverLandmark.name"
            [datasets]="onHoverLandmark.dataset">

          </landmark-ui>
        </ng-container>
      </div>

    </layout-floating-container>

    <!-- required for manufacturing plugin templates -->
    <div pluginFactoryDirective>
    </div>
  </div>
</ng-template>

<!-- does not meet req template -->
<ng-template #doesNotMeetReqTemplate>
  <div class="d-flex flex-column w-100 h-100" *ngIf="!meetsRequirement">
    <div class="jumbotron bg-light text-center mb-0">
      <div>
        <h1 class="mb-3">
          <i class="fas fa-exclamation-triangle"></i> Unsupported browser detected
        </h1>
        <p>
          We recommend using the latest version of <a target="_blank" href="https://www.google.com/chrome/">Google
            Chrome</a>
          or <a target="_blank" href="https://www.mozilla.org/firefox/">Mozilla Firefox)</a> for viewing the interactive
          viewer.
        </p>
        <div class="col-6 d-inline-block text-left">
          <readmore-component [collapsedHeight]="0">
            <markdown-dom [markdown]="MIN_REQ_EXPLAINER">

            </markdown-dom>
          </readmore-component>
        </div>

      </div>
    </div>
    <ng-container *ngFor="let preview of unsupportedPreviews; let idx = index">
      <div [hidden]="idx !== unsupportedPreviewIdx" class="text-center mb-3" imageContainer
        [style.backgroundImage]="'url(' + preview.previewSrc + ')'">
        <div class="mt-2 card d-inline-block displayCard">
          <div class="card-body">
            {{ preview.text }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- logo tmpl -->
<ng-template #logoTmpl>
  <logo-container></logo-container>
</ng-template>

<ng-template #idleOverlay>
  <tryme-component></tryme-component>
</ng-template>
