:host, :host > .atlas-container
{
  display:block;
  width:100%;
  height:100%;
}

:host[darktheme="true"]
{
  background-color:black;
}

ui-nehuba-container
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* zindex of banner wrapper needs to be lower than zindex of floating layer */
div[bannerWrapper]
{
  z-index:12;
  position:absolute;

  width:100%;
  display:flex;
  height:0px;

  justify-content: space-between;
}


layout-floating-container
{
  width:100%;
  height:100%;
  overflow:hidden;
}

[iconWrapper]
{
  margin-left: 1em;
}

[signinWrapper]
{
  margin: 0.8em 0.4em;
}

[toastContainer]
{
  pointer-events: none;
  position : absolute;
  bottom: 1.7em;
  width : 100%;

  display: flex;
  flex-direction: column;
}

[toastContainer] > *
{
  flex : 0 0 auto;
}

div[floatingMouseContextualContainer]
{
  position : absolute;
  left: 0;
  top : 0;
  width : 0px;
  height: 0px;
}

div[contextualBlock]
{
  margin-top: 1px;
  white-space: nowrap;
  display:inline-block;
  width:auto;
  padding: 0.3em 0.5em;
  background-color:rgba(200,200,200,0.8);
}

:host-context([darktheme="true"]) div[contextualBlock]
{
  background-color : rgba(30,30,30,0.8);
  color : rgba(250,250,250,0.8);
}


[dockedContainer]
{
  margin-top:0.2em;
}

[mobileMenu]
{
  min-height:50em;
  margin-top: 1em;
}

[mobileMenu] > *
{
  position: relative;
}

[mobileMenu] > atlas-banner
{
  z-index: 9999;
}

[mobileMenu] > template-parcellation-citation-container
{
  z-index: 9;
}

[mobileTemplateCitation]
{
  padding: 1.5em;
  display:block;
}

[fixedMouseContextualContainerDirective]
{
  width: 15rem;
}

[fixedMouseContextualContainerDirective] div[body]
{
  overflow: hidden;
}

div[minReq]
{
  width: 100%;
  height: 100%;
}

div[imageContainer]
{
  flex-grow: 1;
  background: no-repeat center / contain;
}

div.displayCard
{
  opacity: 0.8;
}

.mobileNavigationPanel { 
  background-color: white;
  width: 80%;
}

.menuButtonMobile {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 9;
}

.logoContainerMobile {
  width: 100%; 
  display:flex; 
  justify-content: center;
}

mat-sidenav {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mobileMenuTabs {
  margin: 40px 0 0 5px;
}

.help-guide-button {
  margin-top: 20px;
  outline: none
}