:host, :host > .atlas-container
{
  display:block;
  width:100%;
  height:100%;
}

:host[darktheme="true"]
{
  background-color:black;
}

layout-mainside
{
  width:100%;
  height:100%;
}

div[maincontent]
{
  position:relative;
  height:100%;
}

ui-nehuba-container
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

atlas-banner
{
  z-index:5;
  position:absolute;
  top : 1em;
  left: 1em;

  width:100%;
}

div[sidecontent]
{
  height:100%;
  overflow-y:auto;
  overflow-x:hidden;
}

layout-floating-container
{
  width:100%;
  height:100%;
  overflow:hidden;
}

div[toastContainer]
{
  pointer-events: none;
  position : absolute;
  bottom: 1.7em;
  width : 100%;

  display: flex;
  flex-direction: column;
}

div[toastContainer] > *
{
  flex : 0 0 auto;
}

[dedicatedviewertext]
{
  vertical-align: middle;
}

div[floatingMouseContextualContainer]
{
  position : absolute;
  left: 0;
  top : 0;
  width : 0px;
  height: 0px;
}

div[contextualInnerContainer]
{
  margin-top :1em;
  margin-left :1em;
  display:inline-block;
  width:auto;
}

div[contextualInnerContainer]
{
  background-color:rgba(200,200,200,0.8);
}

:host-context([darktheme="true"]) div[contextualInnerContainer]
{
  background-color : rgba(30,30,30,0.8);
  color : rgba(250,250,250,0.8);
}

div[contextualBlock]
{
  margin: 0.3em 0.5em;
  white-space: nowrap;
}


:host-context([darktheme="false"]) div[resizeSliver] > span.tabContainer
{
  background-color:rgba(235,235,235,0.8);
}

:host-context([darktheme="true"]) div[resizeSliver] > span.tabContainer
{
  background-color:rgba(50,50,50,0.8);
  color:rgba(245,245,245,0.8);
}

.pointer-events
{
  pointer-events: all;
}

.no-pointer-events
{
  pointer-events: none;
}

span.tabContainer > *:not(.pointer-events)
{
  pointer-events: none;
}

[resizeSliver]
{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

[resizeSliver] span.badge:hover
{
  cursor:default;
}

[heading]
{
  padding: 0.5em 0.7em;
  font-size: 1.5em;
  background-color:rgba(128, 128, 128, 0.2);
  white-space: nowrap;
}

span.tabContainer
{
  display:inline-block;
  box-sizing: border-box;
  white-space: nowrap;
  padding:1em 0.5em;
  margin-top:1em;
  position: relative;
  opacity : 0.5;
  transition: all 200ms;
}
span.tabContainer:hover
{
  opacity: 0.7;
}

span.tabContainer > span.highlightContainer
{
  position : absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background-color : #dbb556;
  opacity : 0
}

span.tabContainer > span.badge
{
  margin-left:0.5em;
  position:relative;
  z-index:1;
}

span.tabContainer.active-tab
{
  opacity : 1.0;
  position:relative;
}
span.tabContainer.active-tab:before
{
  content: ' ';
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  pointer-events: none;
}

:host-context([darktheme="true"]) span.tabContainer.active-tab:before
{
  background-color:rgba(20,20,20,0.8);
}

[dockedContainer]
{
  margin-top:0.2em;
}