:host
{
  display:block;
  width:100%;
  height:100%;
}

:host[darktheme="true"]
{
  background-color:black;
}

ui-nehuba-container
{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

layout-floating-container
{
  width:100%;
  height:100%;
  overflow:hidden;
}

[signinWrapper]
{
  margin: 0.8em 0.4em;
}

[contextualBlock]
{
  background-color:rgba(200,200,200,0.8);
}

:host-context([darktheme="true"]) [contextualBlock]
{
  background-color : rgba(30,30,30,0.8);
}

[fixedMouseContextualContainerDirective]
{
  max-width: 100%;
}

div[imageContainer]
{
  flex-grow: 1;
  background: no-repeat center / contain;
}

div.displayCard
{
  opacity: 0.8;
}

mat-sidenav {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mobileMenuTabs {
  margin: 40px 0 0 5px;
}

landmark-ui,
region-menu
{
  display:inline-block;
}
