<ng-container *ngIf="meetsRequirement; else doesNotMeetReqTemplate">

  <ng-container *ngTemplateOutlet="viewerBody">
  </ng-container>
</ng-container>

<!-- kg tos -->
<ng-template #kgToS>
  <h2 mat-dialog-title>Knowledge Graph ToS</h2>
  <mat-dialog-content>
    <small>
      <kgtos-component>
      </kgtos-component>
    </small>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-end">
    <button color="primary" mat-raised-button (click)="kgTosClickedOk()" cdkFocusInitial>
      Ok
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- cookie -->
<ng-template #cookieAgreementComponent>
  <h2 mat-dialog-title>Privacy Policy</h2>
  <mat-dialog-content>
    <small>
      <cookie-agreement>
      </cookie-agreement>
    </small>
  </mat-dialog-content>

  <mat-dialog-actions class="justify-content-end">
    <button color="primary" mat-raised-button (click)="cookieClickedOk()" cdkFocusInitial>
      Ok
    </button>
  </mat-dialog-actions>
</ng-template>

<!-- atlas template -->
<ng-template #viewerBody>
  <div class="atlas-container"
    (drag-drop)="localFileService.handleFileDrop($event)"
    iav-media-query
    #media="iavMediaQuery">
    <!-- prevent default is required so that user do not zoom in on UI or scroll on mobile UI -->
    <ui-nehuba-container
      class="z-index-10"
      #uiNehubaContainer="uiNehubaContainer"
      iav-mouse-hover
      #iavMouseHoverEl="iavMouseHover"
      [currentOnHoverObs$]="iavMouseHoverEl.currentOnHoverObs$"
      [currentOnHover]="iavMouseHoverEl.currentOnHoverObs$ | async"
      iav-captureClickListenerDirective
      [iav-captureClickListenerDirective-captureDocument]="true"
      (iav-captureClickListenerDirective-onUnmovedClick)="mouseClickDocument($event)">

      <!-- top right content transclusion -->
      <div ui-nehuba-container-overlay-top-right class="d-inline-flex flex-row justify-content-end align-items-start z-index-6 position-absolute pe-none w-100 h-100">

        <signin-banner
          class="mt-3 mr-2"
          [parcellationIsSelected]="!!selectedParcellation"
          [ismobile]="(media.mediaBreakPoint$ | async) > 3">
        </signin-banner>

        <!-- atlas selector -->
        <div *ngIf="uiNehubaContainer.viewerLoaded"
          class="iv-custom-comp bg card m-2 mat-elevation-z2">
          <atlas-dropdown-selector class="pe-all mt-2">
          </atlas-dropdown-selector>
        </div>

      </div>

      <!-- bottom left content transclusion -->
      <div ui-nehuba-container-overlay-bottom-left class="d-inline-flex pe-none w-100 align-items-end m-2 mb-4">

        <!-- only load atlas layer selector and chips if viewer is loaded -->
        <ng-template [ngIf]="uiNehubaContainer.viewerLoaded">

          <!-- Viewer Selector Container-->
          <atlas-layer-selector
            #alSelector="atlasLayerSelector"
            class="pe-all"
            (iav-outsideClick)="alSelector.selectorExpanded = false">
          </atlas-layer-selector>
          <mat-chip-list class="mb-2">
            <!-- additional layer -->
            <ng-container *ngIf="!alSelector.selectorExpanded">
              <ng-container *ngTemplateOutlet="currParcellationTmpl; context: { addParc: (selectedAdditionalLayers$ | async), parc: selectedParcellation }">
              </ng-container>
            </ng-container>

            <!-- any selected region(s) -->
            <ng-container *ngIf="!uiNehubaContainer.navSideDrawerMainSwitch.switchState || !uiNehubaContainer.navSideDrawerMinorSwitch.switchState">
              <ng-container *ngTemplateOutlet="selectedRegionTmpl">
              </ng-container>
            </ng-container>

            <!-- controls for iav volumes -->
            <div class="hidden" iav-shown-previews #previews="iavShownPreviews"></div>
            <ng-container *ngTemplateOutlet="selectedDatasetPreview; context: { layers: previews.iavAdditionalLayers$ | async | filterPreviewByType : [previews.FILETYPES.VOLUMES] }">
            </ng-container>

          </mat-chip-list>
          
          <!-- current layer tmpl -->
          <ng-template #currParcellationTmpl let-parc="parc" let-addParc="addParc">
            <ng-template [ngIf]="addParc.length > 0" [ngIfElse]="defaultParcTmpl">
              <ng-container *ngFor="let p of addParc">
                <ng-container *ngTemplateOutlet="chipTmpl; context: {
                  parcel: p,
                  selected: true,
                  dismissable: true
                }">
                </ng-container>
              </ng-container>
            </ng-template>
            <ng-template #defaultParcTmpl>
              <ng-container *ngTemplateOutlet="chipTmpl; context: {
                parcel: parc,
                selected: false,
                dismissable: false
              }">
              </ng-container>
            </ng-template>

            <!-- render parc templ -->
            <ng-template #chipTmpl
              let-parcel="parcel"
              let-selected="selected"
              let-dismissable="dismissable">
              <mat-chip class="pe-all"
                (click)="alSelector.selectorExpanded = true"
                [selected]="selected">
                
                {{ parcel?.groupName ? (parcel?.groupName + ' - ') : '' }}{{ parcel?.name }}

                <!-- info icon -->
                <ng-template [ngIf]="parcel?.originDatasets?.length > 0"
                    [ngIfElse]="infoIconBasic">

                  <mat-icon
                    *ngFor="let ds of parcel.originDatasets"
                    fontSet="fas"
                    fontIcon="fa-info-circle"
                    iav-stop="click"
                    iav-dataset-show-dataset-dialog
                    [iav-dataset-show-dataset-dialog-kgid]="ds['kgId']"
                    [iav-dataset-show-dataset-dialog-kgschema]="ds['kgSchema']"
                    [iav-dataset-show-dataset-dialog-name]="parcel?.properties?.name"
                    [iav-dataset-show-dataset-dialog-description]="parcel?.properties?.description">
                  </mat-icon>

                </ng-template>

                <ng-template #infoIconBasic>
                  <mat-icon *ngIf="parcel?.properties?.name && parcel?.properties?.description"
                    fontSet="fas"
                    fontIcon="fa-info-circle"
                    iav-stop="click"
                    iav-dataset-show-dataset-dialog
                    [iav-dataset-show-dataset-dialog-name]="parcel.properties.name"
                    [iav-dataset-show-dataset-dialog-description]="parcel.properties.description">

                  </mat-icon>
                </ng-template>

                <!-- dismiss icon -->
                <mat-icon
                  *ngIf="dismissable"
                  (click)="clearAdditionalLayer(parcel)"
                  fontSet="fas"
                  iav-stop="click"
                  fontIcon="fa-times">
                </mat-icon>
              </mat-chip>
            </ng-template>
          </ng-template>

          <ng-template #selectedRegionTmpl>
            <ng-container *ngFor="let r of (selectedRegions$ | async)">

              <!-- region chip for discrete map -->
              <mat-chip
                iav-region
                (click)="uiNehubaContainer.matDrawerMinor.open() && uiNehubaContainer.navSideDrawerMainSwitch.open()"
                [region]="r"
                class="pe-all position-relative z-index-1"
                [ngClass]="{
                  'darktheme':regionDirective.rgbDarkmode === true,
                  'lighttheme': regionDirective.rgbDarkmode === false
                }"
                [style.backgroundColor]="regionDirective.rgbString"
                #regionDirective="iavRegion">
                <span class="iv-custom-comp text text-truncate d-inline">
                  {{ r.name }}
                </span>
                <mat-icon
                  class="iv-custom-comp text"
                  (click)="clearSelectedRegions()"
                  fontSet="fas"
                  iav-stop="click"
                  fontIcon="fa-times">
                </mat-icon>
              </mat-chip>

              <!-- chips for previewing origin datasets/continous map -->
              <ng-container *ngFor="let originDataset of (r.originDatasets || []); let index = index">
                <div class="hidden"
                  iav-dataset-preview-dataset-file
                  [iav-dataset-preview-dataset-file-kgid]="originDataset.kgId"
                  [iav-dataset-preview-dataset-file-filename]="originDataset.filename"
                  #previewDirective="iavDatasetPreviewDatasetFile">
                </div>
                <mat-chip *ngIf="previewDirective.active"
                  (click)="uiNehubaContainer.matDrawerMinor.open() && uiNehubaContainer.navSideDrawerMainSwitch.open()"
                  class="pe-all position-relative ml-8-n">
                  <span class="pl-4">
                    {{ regionDirective.regionOriginDatasetLabels$ | async | renderViewOriginDatasetlabel : index }}
                  </span>
                  <mat-icon (click)="previewDirective.onClick()"
                    fontSet="fas"
                    iav-stop="click"
                    fontIcon="fa-times">
                  </mat-icon>
                </mat-chip>
              </ng-container>
            </ng-container>
          </ng-template>

          <ng-template #selectedDatasetPreview let-layers="layers">

            <ng-container *ngFor="let layer of layers">
              <div class="hidden"
                iav-dataset-preview-dataset-file
                [iav-dataset-preview-dataset-file-kgid]="layer.datasetId"
                [iav-dataset-preview-dataset-file-filename]="layer.filename"
                #preview="iavDatasetPreviewDatasetFile">
                
              </div>
              <mat-chip class="pe-all"
                (click)="uiNehubaContainer.matDrawerMinor.open() && uiNehubaContainer.navSideDrawerMainSwitch.open()">
                {{ layer.file?.name || layer.filename || 'Unknown data preview' }}
                <mat-icon fontSet="fas" fontIcon="fa-times"
                  (click)="preview.onClick()"
                  iav-stop="click">
                </mat-icon>
              </mat-chip>
            </ng-container>
          </ng-template>

        </ng-template>
      </div>

      <!-- top left content transclusion -->
      <div ui-nehuba-container-overlay-top-left class="d-inline-flex pe-none w-100 align-items-start m-2">
        <ui-status-card
          *ngIf="uiNehubaContainer.viewerLoaded"
          class="pe-all muted-7"
          [selectedTemplateName]="uiNehubaContainer?.selectedTemplate?.name"
          [nehubaViewer]="uiNehubaContainer?.nehubaViewer">
        </ui-status-card>
      </div>
    </ui-nehuba-container>

    <layout-floating-container
      zIndex="13"
      #floatingOverlayContainer>
      <div floatingContainerDirective>
      </div>

      <div
        *ngIf="(media.mediaBreakPoint$ | async) < 3"
        class="fixed-bottom pe-none mb-2 d-flex justify-content-center">
        <ng-container *ngTemplateOutlet="logoTmpl">
        </ng-container>
      </div>

      <div floatingMouseContextualContainerDirective>

        <div *ngIf="!ismobile"
          class="d-inline-block"
          iav-mouse-hover
          #iavMouseHoverContextualBlock="iavMouseHover"
          contextualBlock>

          <ng-container
            *ngFor="let labelText of iavMouseHoverContextualBlock.currentOnHoverObs$ | async | mouseOverTextPipe">

            <mat-list dense>

              <mat-list-item class="h-auto">

                <mat-icon
                  [fontSet]="(labelText.label | mouseOverIconPipe).fontSet"
                  [fontIcon]="(labelText.label | mouseOverIconPipe).fontIcon"
                  mat-list-icon>

                </mat-icon>

                <div matLine *ngFor="let text of labelText.text" [innerHTML]="text"></div>

              </mat-list-item>
            </mat-list>
          </ng-container>
        </div>
        <!-- TODO Potentially implementing plugin contextual info -->
      </div>

      <div class="floating-container"
        [attr.aria-label]="CONTEXT_MENU_ARIA_LABEL"
        fixedMouseContextualContainerDirective
        #fixedContainer="iavFixedMouseCtxContainer">

        <!-- mouse on click context menu, currently not used -->

      </div>

    </layout-floating-container>

    <!-- required for manufacturing plugin templates -->
    <div pluginFactoryDirective>
    </div>
  </div>
</ng-template>

<!-- does not meet req template -->
<ng-template #doesNotMeetReqTemplate>
  <div class="d-flex flex-column w-100 h-100" *ngIf="!meetsRequirement">
    <div class="jumbotron bg-light text-center mb-0">
      <div>
        <h1 class="mb-3">
          <i class="fas fa-exclamation-triangle"></i> Unsupported browser detected
        </h1>
        <p>
          We recommend using the latest version of <a target="_blank" href="https://www.google.com/chrome/">Google
            Chrome</a>
          or <a target="_blank" href="https://www.mozilla.org/firefox/">Mozilla Firefox)</a> for viewing the interactive
          viewer.
        </p>
        <div class="col-6 d-inline-block text-left">
          <readmore-component [collapsedHeight]="0">
            <markdown-dom [markdown]="MIN_REQ_EXPLAINER">

            </markdown-dom>
          </readmore-component>
        </div>

      </div>
    </div>
    <ng-container *ngFor="let preview of unsupportedPreviews; let idx = index">
      <div [hidden]="idx !== unsupportedPreviewIdx" class="text-center mb-3" imageContainer
        [style.backgroundImage]="'url(' + preview.previewSrc + ')'">
        <div class="mt-2 card d-inline-block displayCard">
          <div class="card-body">
            {{ preview.text }}
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>

<!-- logo tmpl -->
<ng-template #logoTmpl>
  <logo-container></logo-container>
</ng-template>

<ng-template #idleOverlay>
  <tryme-component></tryme-component>
</ng-template>
