<div
  (mouseleave)="mouseleavetree.emit({inputItem:inputItem,node:this});handleEv($event)"
  (mouseenter)="mouseentertree.emit({inputItem:inputItem,node:this});handleEv($event)"
  (click)="mouseclicktree.emit({inputItem:inputItem,node:this});handleEv($event)"
  itemMasterContainer>
  <div itemContainer>
    <i
      (click) = "toggleChildrenShow($event)"
      [ngClass] = "chevronClass"
      class = "glyphicon"
      glyphicon>
    </i>
    <span 
      [innerHTML] = "renderNode(inputItem)"
      itemName>
    </span>
  </div>
  <tree
    *ngFor = "let child of (findChildren(inputItem) | treeSearch : searchFilter : findChildren )"
    [hidden] = "!childrenExpanded"
    [childrenExpanded] = "childrenExpanded"
    [inputItem] = "child"
    [renderNode]="renderNode"
    [searchFilter]="searchFilter"
    [findChildren] = "findChildren"
    (mouseentertree)="mouseentertree.emit($event)"
    (mouseleavetree)="mouseleavetree.emit($event)"
    (mouseclicktree)="mouseclicktree.emit($event)">

  </tree>
</div>