<div
  itemMasterContainer>
  <div itemContainer>
    <i
      (click) = "toggleChildrenShow($event)"
      [ngClass] = "chevronClass"
      class = "glyphicon"
      glyphicon>
    </i>
    <span 
      (mouseleave)="handleMouseLeave({inputItem:inputItem,node:this});handleEv($event)"
      (mouseenter)="handleMouseEnter({inputItem:inputItem,node:this});handleEv($event)"
      (click)="handleMouseClick({inputItem:inputItem,node:this});handleEv($event)"
      [innerHTML] = "treeService ? treeService.renderNode(inputItem) : inputItem.name"
      itemName>
    </span>
  </div>
  <div childrenOverflowContainer>
    <div
      [@collapseState] = "{ value :  childrenExpanded ? 'visible' : 'collapsed' , params : { fullHeight : fullHeight }}"
      #childrenContainer>
      <tree-component
        *ngFor = "let child of ( treeService ? (treeService.findChildren(inputItem) | treeSearch : treeService.searchFilter : treeService.findChildren ) : inputItem.children )"
        [childrenExpanded] = "childrenExpanded"
        [inputItem] = "child">
    
      </tree-component>
    </div>
  </div>
</div>