<ng-template #noCurrStateTmpl>
  No current state recorded
</ng-template>

<div *ngIf="currState; else noCurrStateTmpl"
  class="controller-container m-4">

  <form [formGroup]="autoRotateFormGrp">
    <mat-slide-toggle formControlName="autorotate">Auto Rotate</mat-slide-toggle>

    <div>
      <mat-slider
        min="1"
        max="10"
        step="0.2">
        <input matSliderThumb formControlName="autoRotateSpeed">
      </mat-slider>
      <span>Speed</span>
    </div>
    
    <mat-slide-toggle formControlName="autorotateReverse">
      Reverse
    </mat-slide-toggle>

  </form>

  <form [formGroup]="frameFormGrp">

    <mat-divider class="m-2"></mat-divider>

    <mat-slide-toggle formControlName="loop">Loop</mat-slide-toggle>
    <mat-slide-toggle formControlName="linearCamera">Linear Camera</mat-slide-toggle>
  
    <button mat-button
      (click)="togglePlay()">
      <ng-template [ngIf]="isPlaying" [ngIfElse]="isNotPlayingTmpl">
        <i class="fas fa-stop"></i>
        Stop
      </ng-template>
      <ng-template #isNotPlayingTmpl>
        <i class="fas fa-play"></i>
        Play
      </ng-template>
    </button>

    <mat-divider class="m-2"></mat-divider>

    <button
      (click)="addKeyFrame()"
      matTooltip="Add key frame. Shortcut: [a]"
      mat-button
      color="primary">
      <i class="fas fa-plus"></i>
      Add Key Frame
    </button>
    
    <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-list-item *ngFor="let state of internalStates" cdkDrag>
        <button mat-icon-button
          cdkDragHandle>
          <i class="fas fa-grip-vertical"></i>
        </button>

        <span>{{ state.name }}</span>
        <span class="text-muted">({{ (state.duration / 1e3).toFixed(1) }}s)</span>

        <!-- pass the whole state, to avoid the spread operator dereferencing the state object -->
        <!-- the whole point is to use two-way binding to easily update the name/duration. -->
        <button mat-icon-button
          [sxplr-dialog]="dialogTmpl"
          [sxplr-dialog-data]="{state: state}"
          sxplr-dialog-size="auto">
          <i class="fas fa-cog"></i>
        </button>
       
        <button mat-icon-button
          (click)="gotoFrame(state)">
          <i class="fas fa-map-marker-alt"></i>
        </button>
        
        <button mat-icon-button
          color="warn"
          (click)="removeFrame(state)">
          <i class="fas fa-trash"></i>
        </button>
        
      </mat-list-item>
    </mat-list>
  </form>
</div>

<ng-template #dialogTmpl let-data>
  <h1 mat-dialog-title>Update frame detail</h1>
  <div mat-dialog-content>
    <div>
      <mat-form-field>
        <mat-label>name</mat-label>
        <input type="text" matInput [(ngModel)]="data.state.name">
      </mat-form-field>
    </div>
    <div>
      <mat-label>duration</mat-label>
      <mat-slider min="100" max="10000" step="100" discrete [displayWith]="displayWith">
        <input matSliderThumb [(ngModel)]="data.state.duration">
      </mat-slider>
    </div>
  </div>
</ng-template>
