<ng-template #noCurrStateTmpl>
  No current state recorded
</ng-template>

<div *ngIf="currState; else noCurrStateTmpl"
  class="controller-container m-4">

  <form [formGroup]="autoRotateFormGrp">
    <mat-slide-toggle formControlName="autorotate">Auto Rotate</mat-slide-toggle>

    <div>
      <mat-slider
        min="1"
        max="10"
        step="0.2">
        <input matSliderThumb formControlName="autoRotateSpeed">
      </mat-slider>
      <span>Speed</span>
    </div>
    
    <mat-slide-toggle formControlName="autorotateReverse">
      Reverse
    </mat-slide-toggle>

  </form>

  <ng-template [ngIf]="currViewerType === 'ThreeSurfer'">
    <button mat-button
      (click)="togglePlay()">
      <ng-template [ngIf]="isPlaying" [ngIfElse]="isNotPlayingTmpl">
        <i class="fas fa-stop"></i>
        Stop
      </ng-template>
      <ng-template #isNotPlayingTmpl>
        <i class="fas fa-play"></i>
        Play
      </ng-template>
    </button>

    <mat-divider class="m-2"></mat-divider>

    <button
      (click)="addKeyFrame()"
      matTooltip="Add key frame. Shortcut: [a]"
      mat-button
      color="primary">
      <i class="fas fa-plus"></i>
      Add Key Frame
    </button>
    
    <mat-list cdkDropList (cdkDropListDropped)="drop($event)">
      <mat-list-item *ngFor="let state of internalStates" cdkDrag>
        <button mat-icon-button
        cdkDragHandle>
          <i class="fas fa-grip-vertical"></i>
        </button>

        <!-- <mat-form-field>
          <mat-label>name</mat-label>
          <input type="text" matInput [(ngModel)]="state.name">
        </mat-form-field>
        
        <mat-form-field class="duration-container">
          <mat-label>ms</mat-label>
          <input type="number" matInput [(ngModel)]="state.duration">
        </mat-form-field>
        -->
        <button mat-icon-button
          (click)="gotoFrame(state)">
          <i class="fas fa-map-marker-alt"></i>
        </button>
        
        <button mat-icon-button
          color="warn"
          (click)="removeFrame(state)">
          <i class="fas fa-trash"></i>
        </button>
        
      </mat-list-item>
    </mat-list>
  </ng-template>


</div>
