:host
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

:host > *
{
  margin-top: 1em;
  display:inline-block;
}

:host >>> .tooltip-inner
{
  background-color: rgba(128, 128, 128, 0.5);
}

:host >>> .tooltip.right .tooltip-arrow::before,
:host >>> .tooltip.right .tooltip-arrow
{
  border-right-color: rgba(128, 128, 128, 0.5);
}


.search-fab {
  width: 32px;
  height: 32px;
  line-height: 14px;
  font-size: 14px;
  background-color: #6c757d;
  outline: none
}
.search-fab:hover {
  background-color: #596268;
}
.search-fab ::ng-deep .mat-button-wrapper {
  line-height: 14px;
  padding: 0;
}
.mat-icon {
  font-size: 14px;
  padding-right: 4px;
  padding-top: 4px;
}

.search-list {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.minimised-fab {
  background-color: #337ab7;
}

.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 22px;
  min-height: 22px;
  text-align: center;
  align-items: center;
  top: -20px;
  right: -22px;
  background-color: #596268;
}

.mat-menu-item {
  width: 100%;
  max-height: 30px;
  display: flex;
  align-items: center;
}

.mat-menu-item-minimised {
  background-color: #6c757d;
}

.opened-search-icon {
  font-size: 5px;
  margin-right: 5px;
}

.search-opened-icon {
  margin-left: 3px;
}

.textForDark > * {
  color: rgba(255,255,255,0.8);
  background-color: rgba(30,30,30,1);
}

.textForDarkLight > * {
  color: rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,1);
}

.removeSelectedRegionIcon {
  margin: 0 10px;
  cursor: pointer;
}

.menuThemColorsDark {
  color: rgba(255,255,255,0.8);
  background-color: rgba(30,30,30,1);
}

.menuThemColorsLight {
  color: rgba(0,0,0,0.5);
  background-color: rgba(255,255,255,1);
}

pill-component {
  width: 100%;
  cursor: pointer;
}

::ng-deep .mat-menu-content {
  background-color: rgba(255, 255, 255, 0) !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
::ng-deep .mat-menu-panel {
  background-color: rgba(255, 255, 255, 0) !important;
}