<mat-divider class="mt-2 mb-2"></mat-divider>

<h3 class="sxplr-custom-cmp text mat-h3">
  Perspective View
</h3>

<mat-slide-toggle [(ngModel)]="removeOctantFlag"
  [aria-label]="ARIA_LABELS.TOGGLE_FRONTAL_OCTANT"
  name="remove-frontal-octant">
  <span class="sxplr-custom-cmp text">
    Remove frontal octant
  </span>
</mat-slide-toggle>

<ng-container *ngIf="auxMeshes$ | async as auxMeshes">
  <mat-divider class="mt-1 mb-1"></mat-divider>
  <form [formGroup]="auxMeshFormGroup">
    <mat-slide-toggle *ngFor="let auxMesh of auxMeshes; trackBy: trackByAtId"
      [formControlName]="auxMesh['@id']"
      class="d-block"
      [name]="'toggle-aux-mesh-' + auxMesh['@id']">
      <span class="sxplr-custom-cmp text">
        {{ auxMesh.displayName || auxMesh.name }}
      </span>
    </mat-slide-toggle>
  </form>
</ng-container>

<app-change-perspective-orientation></app-change-perspective-orientation>
