<div class="jumbotron">
  <div class="container">
    <h1>
      Selection
      <small class="text-muted">
        Select templates, parcellations and regions
      </small>
    </h1>
  </div>
</div>
<div class="container">


    <div class="row">
        <p style="font-style: italic">
          Please click on image to run an animation
        </p>
      </div>
      <hr>

  <!-- Select Template -->
  <div class="row">
    <div [ngClass]="{'d-flex': !isMobile}">
      <!-- text -->
      <div class="text-container">



        <h2>Selecting template</h2>
        <p>
          On the first page of interactive atlas, you can see the list of templates. Click to select one of them.
        </p>
        <p>
          Also, you can select or change template from top menu. Open the template selection list and select desired template.
        </p>
      </div>
      <div class="image-container">
        <img [src]="runGif === 's_t_1'? 'http://coresofts.com/image-data/select_template_1.gif' : 'http://coresofts.com/image-data/select_template_1.jpg'"
              alt="Selectiong template Big Brain Histology."
              (click)="runGif = 's_t_1'">
      </div>

      <div class="image-container ml-1">
        <img [src]="runGif === 's_t_2'? 'http://coresofts.com/image-data/select_template_2.gif' : 'http://coresofts.com/image-data/select_template_2.jpg'"
              alt="Changing template to MNI Colin 27"
              (click)="runGif = 's_t_2'">
      </div>
    </div>
  </div>

  <hr>

  <!-- Select Parcellation -->
  <div class="row">
    <div [ngClass]="{'d-flex': !isMobile}">

      <!-- text -->
      <div class="text-container">
        <h2>Selecting Parcellation</h2>
        <p>
          You can select parcellation from top menu. Open the parcellation selection list and select desired parcellation.
        </p>
      </div>

    <div class="image-container">
      <img [src]="runGif === 'pa'? 'http://coresofts.com/image-data/parcellation.gif' : 'http://coresofts.com/image-data/parcellation.jpg'"
            alt="Changing parselation to Fibre Bundle Atlass"
            (click)="runGif = 'pa'">
    </div>
    </div>
  </div>

  <hr>

  <div class="row">
      <div [ngClass]="{'d-flex': !isMobile}">

        <!-- text -->
        <div class="text-container">
          <h2>Selecting regions</h2>
          <p>
            Open the parcellation selection list and select the desired parcellation. You can select regions with two ways
          </p>
          <p>
            Select region from top menu. It is possible to search for a region and click on it. (See picture 1)
          </p>
          <p>
            By double-clicking on it in orthogonal 2D cross sections or 3D volume of the brain volume. (See picture 2)
          </p>
        </div>

        <div class="image-container">
            <img [src]="runGif === 's_r_1'? 'http://coresofts.com/image-data/select_region_1.gif' : 'http://coresofts.com/image-data/select_region_1.png'"
                  alt="Selecting regions from top menu."
                  (click)="runGif = 's_r_1'">
          </div>

          <div class="image-container ml-1">
            <img [src]="runGif === 's_r_2'? 'http://coresofts.com/image-data/select_region_2.gif' : 'http://coresofts.com/image-data/select_region_2.png'"
                  alt="Selecting regions by double click"
                  (click)="runGif = 's_r_2'">
        </div>

      </div>
    </div>


</div>


<hr>  <hr>  <hr>


<div class="jumbotron">
  <div class="container">
    <h1>
      Search
      <small class="text-muted">
        the <a href = "https://kg.humanbrainproject.org/">knowledge graph (KG)</a> for datasets.
      </small>
    </h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <p>
      The interactive viewer is natively setup to query KG for any datasets related to specific parcellation area(s).
      <!-- TODO add coming soon spatial search -->
    </p>
  </div>

  <hr>

  <!-- single area search -->
  <div class="row">
    <div [ngClass]="{'d-flex': !isMobile}">
      <!-- text -->
      <div class="text-container">
        <h2>Single area search</h2>
        <p>
          To conduct a single area search, right click on any parcellation area. In the context menu, select
          <mark>Search KG for ...</mark>
          and a data browser window will be launched, fetching data sets associated with this area.
        </p>
      </div>
      <!-- screenshot 1 -->
      <div class="image-container">
        <img src="http://coresofts.com/image-data/rightclick.png" alt="Screenshot of right clicking the parcellation region of Area hOc1 of JuBrain in MNI Colin 27.">
      </div>

      <div class="image-container ml-1">
        <img src="http://coresofts.com/image-data/databrowser.png" alt="Screenshot of the databrowser, showing datasets fetched for Area hOc1 of JuBrain in MNI Colin 27">
      </div>
    </div>
  </div>

  <hr>

  <!-- multi area search -->
  <div class="row">
    <div [ngClass]="{'d-flex': !isMobile}">

      <!-- text -->
      <div class="text-container">
        <h2>Multi area search</h2>
        <p>
          To conduct a multi area search, double click as many areas in the search scope as necessary. When the region selection is complete, right click the viewer and select
          <mark>Search KG for ... selected regions</mark>,
          similar to single area search, a data browser will be launched, fetching data sets associated with all of the areas selected.
        </p>
      </div>

      <!-- screenshot 1 -->
    <div class="image-container">
      <img src="http://coresofts.com/image-data/multiregionSelect.png" alt="TODO alt text">
    </div>
    <!-- screenshot 2 -->
    <div class="image-container ml-1">
      <img src="http://coresofts.com/image-data/multiregionQuery.png" alt="TODO alt text">
    </div>

    </div>
  </div>
</div>

<hr>  <hr>  <hr>
<div class="jumbotron">
    <div class="container">
      <h1>
        Navigation
      </h1>
    </div>
</div>

<div class="container">
  <div class="row">
    <p style="font-style: italic">
      Please click on image to run an animation
    </p>
  </div>
  <hr>


  <div class="row">
      <div [ngClass]="{'d-flex': !isMobile}">
        <!-- text -->
        <div class="text-container">



          <h2>Change coordinates</h2>
          <p>
            There are several ways to change navigation position (coordinates of intersection of planar views):
          </p>
          <p>
            1. Drag orthogonal 2D cross sections with a mouse to desired position.
          </p>
          <p>
            2. Type coordinates in navigation field (input field located at left bottom side).
          </p>
          <p>
            3. Scrolling with mouse wheel while holding a ctrl key will scroll through the slices in the corresponding 2D view under the mouse cursor. Simultaneously holding shift key in addition to ctrl key will increase the speed of scrolling to 10 slices at a time instead of one.
          </p>
        </div>
        <div class="image-container">
          <img [src]="runGif === 'm_f_1'? 'http://coresofts.com/image-data/move_full.gif' : 'http://coresofts.com/image-data/move_full.jpg'"
                alt="Selectiong template Big Brain Histology."
                (click)="runGif = 'm_f_1'">
        </div>

        <div class="image-container ml-1">
          <img [src]="runGif === 'm_f_2'? 'http://coresofts.com/image-data/move_full_2.gif' : 'http://coresofts.com/image-data/move_full_2.png'"
                alt="Changing template to MNI Colin 27"
                (click)="runGif = 'm_f_2'">
        </div>
      </div>
    </div>

    <hr>
  <div class="row">
      <div [ngClass]="{'d-flex': !isMobile}">
        <!-- text -->
        <div class="text-container">
          <h2>Change zoom level</h2>
          <p>
            Mouse scroll wheel is used to increase or decrease zoom level of 2D cross sections and 3D overview.
          </p>
        </div>
        <div class="image-container ml-1">
            <img [src]="runGif === 'zo'? 'http://coresofts.com/image-data/zoom.gif' : 'http://coresofts.com/image-data/zoom.png'"
                  alt="Changing template to MNI Colin 27"
                  (click)="runGif = 'zo'">
        </div>
      </div>
    </div>

    <hr>
  <div class="row">
      <div [ngClass]="{'d-flex': !isMobile}">
        <!-- text -->
        <div class="text-container">
          <h2>Rotation (oblique slicing)</h2>
          <p>
            Arbitrary orientation of planar views (oblique slicing) can be achieved by dragging orthogonal 2D cross sections while pressing the shift key.
          </p>
        </div>
        <div class="image-container ml-1">
            <img [src]="runGif === 'ro'? 'http://coresofts.com/image-data/rotate.gif' : 'http://coresofts.com/image-data/rotate.png'"
                  alt="Changing template to MNI Colin 27"
                  (click)="runGif = 'ro'">
        </div>
      </div>
    </div>

    <hr> <hr> <hr>
</div>
