:host
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1000;

  pointer-events: none;
}

:host [screen]
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  color : black;
  background-color: rgba(255, 255, 255, 0.5);
}

:host-context([darktheme="true"]) [screen]
{
  color : white;
  background-color: rgba(0, 0, 0, 0.5);
}

[mobileMenuContainer]
{
  z-index: 1000;
  transform: translate(0, 155px);
}

.scrollFocus:after
{
  content: ' ';
  position:absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  
  background-color: rgba(0, 0, 128, 0.2);
}

:host-context([darktheme="true"]) .scrollFocus:after
{
  background-color: rgba(128, 128, 200, 0.2);
}

[guide]
{
  z-index:9999;
}
