:host
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9;

  pointer-events: none;
}

:host [screen]
{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 99999;

  color : black;
  background-color: rgba(255, 255, 255, 0.5);

  transition: all 200ms linear;
}

:host-context([darktheme="true"]) [screen]
{
  color : white;
  background-color: rgba(0, 0, 0, 0.5);
}

[intersector]
{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

[mobileMenuContainer]
{
  z-index: 1000;
}

.scrollFocus:after
{
  content: ' ';
  position:absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  
  background-color: rgba(0, 0, 128, 0.2);
}

:host-context([darktheme="true"]) .scrollFocus:after
{
  background-color: rgba(128, 128, 200, 0.2);
}

.base-container
{
  position: relative;
  width: 100%;
  left: 0;
  top: 50%;
  height: 0;
  z-index: 9999;
}

div[delta]
{
  white-space: nowrap
}

.popup
{
  transition: all 120ms linear;
  transform-origin: 50% 100%;
}

.scale-y-0
{
  transform: scale(0.5, 0);
  opacity: 0;
}

.subMenu
{
  bottom: 15px;
}

.w-50
{
  width: 50%;
}

.sliver
{
  width: 1px;
}