div[containerDiv]
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:row;
}

div#dockResizeSliver
{
  position:relative;
  flex: 0 0 0px;
  z-index:6;
}

  div#dockResizeSliver > div
  {
    position:absolute;
    top : 0;
    right:0;
    display: flex;
    justify-content:center;
    flex-direction:column;
    margin-top:1em;
    padding-left:0.3em;
    padding-right:0.3em;
    width:1.6em;
    height:3em;
  }

  div#dockResizeSliver > div
  {
    background-color:rgba(210,210,210,0.9);
    box-shadow : 2px 4px 4px -2px rgba(180,180,180,0.7);
  }

  div#dockResizeSliver > div
  {
    background-color:rgba(235,235,235,0.9);
  }

  div.darktheme#dockResizeSliver > div
  {
    background-color:rgba(40,40,40,0.9);
    box-shadow : 0 4px 4px -2px rgba(20,20,20,0.7);
  }


  div.darktheme#dockResizeSliver > div:hover
  {
    background-color:rgba(50,50,50,0.9);
  }

WidgetsContainer
{
  flex: 0 0 0px;
}

ATLASViewer
{
  flex: 1 1 auto;
  z-index:5;
  position:relative;
}
div[atlasBannerContainer]
{
  display:flex;
  flex-direction:row;
  position:absolute;
  z-index:6;
}
atlasbanner[overlayBanner]
{
  flex: 1 1 0px;
}
