div[containerDiv]
{
  height:100%;
  width:100%;
  display:flex;
  flex-direction:row;
}

div#dockResizeSliver
{
  position:relative;
  flex: 0 0 0px;
  z-index:6;
}

  div#dockResizeSliver > div
  {
    position:absolute;
    top : 0;
    right:0;
    display: flex;
    justify-content:center;
    flex-direction:column;
    margin-top:3em;
    padding-left:0.5em;
    padding-right:0.5em;
    width:2em;
    height:3em;
    background-color:rgba(128,128,128,0.35);
  }



  div#dockResizeSliver > div:hover
  {
    background-color:rgba(128,128,128,0.5);
  }

WidgetsContainer
{
  flex: 0 0 0px;
}

ATLASViewer
{
  flex: 1 1 auto;
  z-index:5;
  position:relative;
}
div[atlasBannerContainer]
{
  display:flex;
  flex-direction:row;
  position:absolute;
  z-index:6;
}
atlasbanner[overlayBanner]
{
  flex: 1 1 0px;
}
