
<!-- classic UI -->
<ng-template [ngIf]="useClassicUi" [ngIfElse]="modernUi">
  <mat-card-subtitle>
    <ng-container *ngTemplateOutlet="nameTmpl">
    </ng-container>
  </mat-card-subtitle>


  <!-- desc -->
  <small>
    <ng-container *ngTemplateOutlet="descTmpl"></ng-container>
  </small>


  <!-- footer -->
  <mat-card-actions iav-media-query #iavMediaQuery="iavMediaQuery">
    <ng-container *ngTemplateOutlet="actionBtnsTmpl; context: {
      $implicit: (iavMediaQuery.mediaBreakPoint$ | async) > 1
    }" >
    </ng-container>
  </mat-card-actions>

  <ng-template #actionBtnsTmpl let-useSmallIcon>
    <!-- explore -->
    <ng-container>

      <a *ngFor="let kgRef of (urls || [])"
        [href]="kgRef.doi | doiParserPipe"
        class="color-inherit"
        mat-icon-button
        [matTooltip]="ARIA_LABELS.EXPLORE_DATASET_IN_KG"
        target="_blank">
        <iav-dynamic-mat-button
          [iav-dynamic-mat-button-style]="useSmallIcon ? 'mat-icon-button' : 'mat-raised-button'"
          iav-dynamic-mat-button-color="primary">

          <span *ngIf="!useSmallIcon">
            Explore
          </span>
          <i class="fas fa-external-link-alt"></i>
        </iav-dynamic-mat-button>
      </a>
    </ng-container>
  </ng-template>
</ng-template>

<!-- modern UI -->
<ng-template #modernUi>
  <!-- header -->
  <mat-card class="mat-elevation-z4">

    <div class="sidenav-cover-header-container bg-50-grey-20">
      <mat-card-title>
        <ng-content select="[region-of-interest]"></ng-content>
        <ng-container *ngTemplateOutlet="nameTmpl">
        </ng-container>
      </mat-card-title>

      <mat-card-subtitle class="d-inline-flex align-items-center">
        <mat-icon fontSet="fas" fontIcon="fa-database"></mat-icon>
        <span>
          ebrains regional dataset
        </span>

        <button *ngIf="isGdprProtected"
          [matTooltip]="CONST.GDPR_TEXT"
          mat-icon-button color="warn">
          <i class="fas fa-exclamation-triangle"></i>
        </button>

        <mat-divider [vertical]="true" class="ml-2 h-2rem"></mat-divider>

        <!-- explore btn -->
        <a *ngFor="let kgRef of (urls || [])"
          [href]="kgRef.doi | doiParserPipe"
          class="color-inherit"
          mat-icon-button
          [matTooltip]="ARIA_LABELS.EXPLORE_DATASET_IN_KG"
          target="_blank">
          <i class="fas fa-external-link-alt"></i>
        </a>
        
      </mat-card-subtitle>
    </div>

  </mat-card>

  <!-- description -->
  <div class="text-muted d-block mat-body m-4"
    *ngIf="!loadingFlag">
    <ng-container *ngTemplateOutlet="descTmpl">
    </ng-container>
  </div>
</ng-template>

<ng-template #nameTmpl>
  <span *ngIf="!loadingFlag; else isLoadingTmpl">
    {{ name || nameFallback }}
  </span>
</ng-template>

<!-- desc -->
<ng-template #descTmpl>
  <markdown-dom 
    [markdown]="description || descriptionFallback">
  </markdown-dom>
</ng-template>

<!-- is loading tmpl -->
<ng-template #isLoadingTmpl>
  <spinner-cmp></spinner-cmp>
</ng-template>
